<mat-toolbar class="mlt-toolbar">
  <span class="mlt-toolbar-title">Query Paraphrase Step</span>
</mat-toolbar>

<div class="mlt-mainbody">
  <form [formGroup]="hiddenFormGroup">
    <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper"
                            formArrayName="formArray"
                            (selectionChange)="changeStep($event)">
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
        <ng-template matStepLabel>{{steps[0].label}}</ng-template>
        <mat-form-field [hidden]="true">
          <input matInput placeholder="hidden" formControlName="hiddenForm" required>
        </mat-form-field>
      </mat-step>
      <mat-step [formGroupName]="index+1" [stepControl]="formArray?.get([index+1])"
                *ngFor="let step of userClickStep; let index=index;">
        <ng-template matStepLabel>{{steps[index + 1].label}}</ng-template>
        <mat-form-field [hidden]="true">
          <input matInput placeholder="hidden" formControlName="hiddenForm" required>
        </mat-form-field>
      </mat-step>
    </mat-horizontal-stepper>
  </form>

  <div [hidden]="!isHidden">
    <mat-card class="content-card">
      <div class="">
        <section class="section">
          <mat-card-title>
            Ready Step
            <mat-form-field class="mlt-input" [floatLabel]="'never'">
              <input matInput placeholder="Sentence" [(ngModel)]="readySearchKeyword"
                     (keyup)="getReadyList(0)">
            </mat-form-field>
            <button mat-button (click)="removeReadySentence()" [disabled]="removeReadyFlag"
                    [hidden]="steps[stepIdx].confirm">
              <mat-icon [ngClass]=" removeReadyFlag ?
            'mlt-disabled' : 'mlt-not-disabled'">
                delete_sweep
              </mat-icon>
              <span [ngClass]="removeReadyFlag ? 'mlt-disabled' : 'mlt-not-disabled'">remove</span>
            </button>
            <div style="display:inline" [hidden]="steps[0].confirm">
              <button mat-button color="accent" type="button" (click)="hiddenFileButton.click()">
                <form hidden="true">
                  <input #hiddenFileButton id="file" type="file" (change)="fileUpload()">
                </form>
                <mat-icon>file_upload</mat-icon>
                <span>Upload a File</span>
              </button>
            </div>
            <div [hidden]="steps[stepIdx].confirm"
                 style="margin: 0 10px 0 10px; font-size: 14px; display:inline">
              <mat-checkbox (change)="setSteps()" [(ngModel)]="inversion">Inversion
              </mat-checkbox>
              <mat-checkbox (change)="setSteps()" [(ngModel)]="wordEmbedding">Word Embedding
              </mat-checkbox>
              <mat-checkbox (change)="setSteps()" [(ngModel)]="synonym">Synonym</mat-checkbox>
              <mat-checkbox (change)="setSteps()" [(ngModel)]="ending">Ending/PostPosition
              </mat-checkbox>
            </div>
          </mat-card-title>
        </section>
        <app-table #readyTableComponent [rows]="readys" [headers]="readyHeader"
                   [dataSource]="readyDataSource" [length]="readyPageTotalCount"
                   (outputSelectedHeader)="setSortReady($event)"
                   (outputPaginator)="setReadyPage($event)"
                   (outputCheckedRow)="isReadyChecked($event)"></app-table>
      </div>
    </mat-card>
    <div style="float:right; margin-right: 19px">
      <button [hidden]="steps[stepIdx].confirm"
              [disabled]="queryParaphraseId && userClickStep.length !== 0 ? false : true"
              (click)="confirm()" mat-raised-button
              [color]="queryParaphraseId && userClickStep.length !== 0 ? '' : ''">Confirm
      </button>
    </div>
  </div>

  <div [hidden]="isHidden">
    <mat-card class="content-card">
      <div class="left">
        <section class="section">
          <mat-card-title>
            Previous Step
            <mat-form-field class="mlt-input" [floatLabel]="'never'">
              <input matInput placeholder="Sentence" [(ngModel)]="prevSearchKeyword"
                     (keyup)="getPrevList(0)">
            </mat-form-field>

            <button mat-button (click)="fileDownload('prev')">
              <mat-icon color="primary">file_download</mat-icon>
              <span style="color: #2979ff;">Download</span>
            </button>
          </mat-card-title>
        </section>
        <app-table #prevTableComponent [rows]="prevs" [headers]="prevHeader"
                   [dataSource]="prevDataSource" [length]="prevPageTotalCount"
                   (outputSelectedHeader)="setSortPrev($event)"
                   (outputPaginator)="setPrevPage($event)"></app-table>
      </div>

      <div class="center">
        <!-- margin div -->
      </div>

      <div class="right">
        <section class="section">
          <mat-card-title>
            Current Step
            <mat-form-field class="mlt-input" [floatLabel]="'never'">
              <input matInput placeholder="Sentence" [(ngModel)]="currentSearchKeyword"
                     (keyup)="getCurrentList(0)">
            </mat-form-field>
            <button mat-button (click)="removeCurrentSentence()" [disabled]="removeCurrentFlag"
                    [hidden]="steps[stepIdx].confirm">
              <mat-icon [ngClass]="removeCurrentFlag ? 'mlt-disabled' : 'mlt-not-disabled'">
                delete_sweep
              </mat-icon>
              <span
                [ngClass]="removeCurrentFlag ? 'mlt-disabled' : 'mlt-not-disabled'">remove</span>
            </button>
            <button mat-button (click)="fileDownload('current')">
              <mat-icon color="primary">file_download</mat-icon>
              <span style="color: #2979ff;">Download</span>
            </button>
          </mat-card-title>
        </section>
        <app-table #currentTableComponent [rows]="currents" [headers]="currentHeader"
                   [dataSource]="currentDataSource" [length]="currentPageTotalCount"
                   (outputSelectedHeader)="setSortCurrent($event)"
                   (outputPaginator)="setCurrentPage($event)"
                   (outputCheckedRow)="isCurrentChecked($event)"></app-table>
      </div>

    </mat-card>
    <div style="float:right; margin-right: 19px;" *ngIf="steps.length !== stepIdx+1">
      <button [hidden]="steps[stepIdx].confirm" mat-raised-button
              (click)="confirm()">Confirm
      </button>
    </div>

    <div style="float:right; margin-right: 19px;" *ngIf="steps.length === stepIdx+1">
      <button [hidden]="steps[stepIdx].confirm" mat-raised-button color="accent"
              (click)="complete()">Complete
      </button>
    </div>
  </div>

</div>
