.content-card {
  box-shadow: none !important;
  overflow: auto;
  height: 100%;
  padding-top: 0px !important;
  padding-right: 24px !important;
  padding-bottom: 24px !important;
  padding-left: 24px !important;

  .left {
    float: left;
    width: 48%;
    //height: 80%;
  }

  .center {
    width: 4%;
    //height: 80%;
  }

  .right {
    float: right;
    width: 48%;
    //height: 80%;
  }

  .section {
    padding-top: 0px !important;
    padding-right: 24px !important;
    padding-bottom: 24px !important;
    padding-left: 0px !important;
  }
}
