.itf-policy-detail {
  margin-left: 40px;
  margin-top: 20px;
}

// basic information
.itf-policy-detail .mat-card {
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: relative;
  padding: 0px;
  border-radius: 2px;
  border-left: 1px solid #d3d3d3;
}

.itf-policy-detail .mat-card-style {
  width: 465px;
  margin-top: 15px;
}

.itf-policy-detail .mat-card-style .box-size {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.itf-policy-detail .mat-card-style .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  padding-left: 17px;
  background-color: #f3f3f3;
}

.itf-policy-detail .mat-card-style .content-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  min-height: 36px;
  padding: 0 16px;
  margin: 5px 0px;
  position: relative;
}

.itf-policy-detail .mat-card-style .content-data .left {
  color: rgba(0, 0, 0, .54);
  float: left;
  padding-right: 60px;
  width: 166px;
}

.itf-policy-detail .mat-card-style .content-data .right {
  float: left;
  width: 385px;
  word-break: break-all;
}

// steps
.itf-policy-detail .mat-card-step-style {
  width: 500px;
  float: left;
}

.itf-policy-detail .mat-card-step-style .box-size {
  width: 100%;
  height: 450px;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.itf-policy-detail .mat-card-step-style .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 1px !important;
  padding-left: 17px;
  background-color: #f3f3f3;
}

.itf-policy-detail .mat-card-step-style .steps {
  height: 450px;
  width: 100%;
  overflow-y: auto;
}

.itf-policy-detail .mat-card-step-style .steps .priority-item {
  cursor: pointer;
}

.itf-policy-detail .mat-card-step-style .steps .slected {
  background-color: #c1d9ff;
}

.itf-policy-detail .mat-card-step-style .steps .step-number {
  width: 0px !important;
  font-size: 15px !important;
}

.itf-policy-detail .mat-card-step-style .steps .step-text {
  width: 90%;
  text-overflow: ellipsis;
}

.itf-policy-detail .mat-card-step-style .steps .step-run-style {
  width: 24px !important;
  font-size: 16px !important;
}

.itf-policy-detail .mat-card-step-style .steps .step-run-style-text {
  margin-left: 7px;
}

.itf-policy-detail .mat-card-step-style .steps .step-type {
  color: #a1a1a1;
  font-size: 13px;
}

.itf-policy-detail .mat-card-step-style .steps .step-category-length {
  font-size: 13px;
  color: #a1a1a1;
}

.itf-policy-detail .mat-card-step-style .steps .step-category-length-icon {
  color: #297A80;
  cursor: default;
}

//step 한개에 대한 categories
.itf-policy-detail .mat-card-categories-style {
  width: 400px;
  margin-left: 60px;
  float: left;
}

.itf-policy-detail .mat-card-categories-style .itf-policy-detail-categories {
  padding-top: 0 !important;
  width: 400px;
  height: 500px;
  overflow-y: auto;
}

.itf-policy-detail .mat-card-categories-style .itf-policy-detail-categories .box-size {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.itf-policy-detail .mat-card-categories-style .itf-policy-detail-categories .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  padding-left: 17px;
  background-color: #f3f3f3;
}

.itf-policy-detail .mat-card-categories-style .itf-policy-detail-categories /deep/ .mat-chip-list-wrapper {
  padding-bottom: 10px;
  padding-left: 10px;
}


.itf-policy-detail .mat-card-categories-style .content-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  min-height: 36px;
  padding: 0 16px;
  margin: 5px 0px;
  position: relative;
}

.itf-policy-detail .mat-card-categories-style .content-data .left {
  color: rgba(0, 0, 0, .54);
  float: left;
  padding-right: 60px;
  width: 420px;
}

.itf-policy-detail .mat-card-categories-style .content-data .right {
  float: left;
  width: 385px;
  word-break: break-all;
}
