.category-select {
  width: 140px;
}

.bqa-question-left-data {
  width: 140px;

  .bqa-question-ntop {
    /deep/ .mat-form-field-underline {
      display: none;
    }
  }
}

.bqa-question-right-data {
  margin-left: 30px;

  .input-ntop {
    .mat-error {
      width: 190px;
    }
  }
}

.select-search-form {
  height: 42px;
  padding-left: 10px;

  .select-search-form-input {
    height: 100%;
  }
}
