<div class="default-content-wrap">
  <div class="default-content-container">
    <div class="content-header">
      <div class="content-header-title">
        <div class="header-title">Script Guide</div>
        <div class="progress-content-wrap train-progress-bar" *ngIf="visibleTraining">
          <div class="progress-content-title">Train Progress:</div>
          <p-progressBar [value]="value" styleClass="progress-content-bar"></p-progressBar>
          <div class="progress-content-status">{{value}}%</div>
          <div class="title-button-wrap">
            <button mat-raised-button color="primary" class="btn-title" *ngIf="isTraining"
                    (click)="stopTraining()">Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="docs-wrap docs-content-wrap">
      <div class="docs-container">
        docs-content
      </div>
    </div>
    <div class="docs-wrap docs-list-wrap">
      <div class="docs-container">
        docs-list
      </div>
    </div>
  </div>
</div>
