/* START Script Guide style*/
@import "../../dialog-model-common";

mark {
  background: orange;
  color: black;
  padding: 0;
}

mark2 {
  background: red;
  color: white;
  padding: 0;
}

.docs-wrap {
  display: inline-block;
  vertical-align: top;
  height: calc(100% - 114px);
  padding: 25px 0 25px 20px;

  .docs-container {
    overflow: scroll;
    width: calc(100% - 25px);
    height: 100%;
    padding-right: 25px;
  }
}

.docs-content-wrap {
  width: calc(100% - 400px);
  border-right: 1px solid #CCCCCC;
}

.docs-list-wrap {
  width: 350px;

}

/* END Script Guide style*/
