/deep/ .main {
  width: 1500px;
}

.itf-upsert {
  margin-top: 10px;
  display: inline-flex;

  .itf-left {
    width: 350px;
  }

  .mat-list-item {
    margin-top: 25px;
  }

  .mat-list-item-description {
    margin-top: 43px;
  }

  .mat-list-item-select {
    margin-top: 25px;
  }

  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 270px;
  }

  margin-left: 10px;
  height: 800px;

  .input-size {
    width: 270px;
  }

  .input-size-description {
    width: 270px;
    height: 70px;
  }

  .input-size-condition {
    width: 270px;
    height: 70px;
  }
}

.inputdemoErrors .inputErrorsApp {
  min-height: 48px;
}

.inputdemoErrors mat-form-field > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}

.itf-stepper {
  width: 100%;
}

.itf-stepper /deep/ .mat-horizontal-stepper-header-container {
  width: 66% !important
}

.itf-stepper /deep/ .mat-step-icon {
  background-color: #3f51b5;
}

.drag-setting-title {
  display: flex;
  margin-top: 13px;
}

.used-icon-text {
  color: #2979ff;
}

.priority-item {
  cursor: move;
}

.itf-upsert-button-line {
  margin-top: 50px;
  margin-left: 17px;
}

.steps {
  border: 1px solid #d3d3d3;
  height: 545px;
  width: 100%;
  overflow-y: auto;
}

.steps-right-radio-group /deep/ .mat-radio-button {
  margin-right: 15px;
}

.itf-policy-upsert-step3 .itf-policy-left-step3 {
  width: 25%;
  float: left;

  .input-add-step .mat-form-field {
    width: 335px;
  }
}

.itf-policy-upsert-step3 .itf-policy-right-step3 {
  width: 73%;
  float: right;
}

.itf-policy-upsert-step3 .itf-policy-right-step3 .itf-policy-right-step3-view-left {
  width: 28%;
  padding-left: 3px;
  float: left;

  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 270px;
  }

  .mat-list-item {
    margin-top: 25px;
  }

  .mat-list-item-description {
    margin-top: 43px;
  }

  .mat-list-item-condition {
    margin-top: 43px;
  }

  .mat-list-item-select {
    margin-top: 25px;
  }

}

.itf-policy-right-step3-view {
  width: 98%;
  height: 608px;
}

.itf-policy-upsert-step3 .itf-policy-right-step3 .itf-policy-right-step3-view-middle {
  width: 30%;
  float: left;
}

.itf-policy-upsert-step3 .itf-policy-right-step3 .itf-policy-right-step3-view-right {
  width: 30%;
  margin-left: 31px;
  float: left;
}

.itf-policy-right-classifying {
  border: 1px solid #d3d3d3;
  height: 590px;
  overflow-y: auto;
  width: 86%;
  float: right;
  cursor: pointer;
}

.itf-policy-right-categories {
  border: 1px solid #d3d3d3;
  height: 590px;
  overflow-y: auto;
  width: 86%;
  float: right;
}

.itf-list {
  border-bottom: 1px solid #d3d3d3;
}

.itf-model-list-zero {
  margin-top: 226px;
  margin-left: 17px;
  font-size: 18px;
  color: #d3d3d3;
}

//.itf-list-pcre {
//  color: #0d8bff;
//}

.model-title {
  display: flex;
  margin-top: 13px;
  margin-left: 26px;
}

.next-icon {
  margin-top: 176px;
  font-size: 40px;
  color: #0d8bff;
}

.contain-icon {
  margin-top: 176px;
  font-size: 40px;
  color: #a1a1a1;
}

.step-tip {
  color: #a1a1a1;
  margin-left: 49px;
  margin-top: 250px;
  text-align: center;
  font-size: 18px;
}

.step-number {
  width: 0px !important;
  font-size: 15px !important;
}

.step-text {
  width: 90%;
  text-overflow: ellipsis;
}

.step-cut-text {
  width: 40%;
  height: 34%;
  border: 1px solid #d3d3d3;
  text-align: left;
}

.step-run-style {
  width: 24px !important;
  font-size: 16px !important;
}

.step-run-style-text {
  margin-left: 7px;
}

.step-type {
  color: #a1a1a1;
  font-size: 13px;
}

.step-category-length {
  font-size: 13px;
  color: #a1a1a1;
}

.step-category-length-icon {
  color: #297A80;
  cursor: default;
}

.step-input-add-icon {
  color: #2979ff;
  cursor: pointer;
}

.step-able-edit {
  color: #5667a3;
  cursor: pointer;
}

.step-disable {
  color: #a1a1a1;
}

.step-delete {
  color: #2979ff;
  cursor: pointer;
}

.final-rule-existence {
  font-size: 17px;
  color: #a1a1a1;
}

.final-button-line {
  margin-top: 48px;
  margin-left: 43px;
  padding-bottom: 5px;
}

.itf-policy-right-categories /deep/ .mat-chip-list-wrapper {
  padding-bottom: 10px;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the users the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
  display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the users is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
  background-color: #ddd;
  display: block;
  min-height: 42px;
}

.simpleDemo ul[dnd-list] li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
  background-color: #dff0d8;
  color: #3c763d;
}
