<app-tools [name]="dialogTitle" [goBack]="backPage" [showMoreVert]=false></app-tools>

<mat-sidenav-container class="m2u-mainbody">
  <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper" class="itf-stepper">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Policy</ng-template>
        <div class="itf-upsert">
          <div class="itf-left">
            <mat-list>
              <mat-list-item class="mat-list-item">
                <mat-form-field>
                  <input class="input-size" matInput [placeholder]="'Name *'"
                         formControlName="name">
                  <mat-error *ngIf="firstFormGroup.controls['name'].getError('required')">
                    Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </mat-list-item>

              <mat-list-item>
                <mat-form-field>
                  <mat-select [placeholder]="'Language *'" formControlName="lang"
                              (selectionChange)="changePolicyLang()">
                    <mat-option *ngFor="let language of languages" [value]="language">
                      {{language}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="firstFormGroup.controls['lang'].getError('required')">
                    Language is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </mat-list-item>

              <mat-list-item class="mat-list-item">
                <mat-form-field>
                  <input class="input-size" matInput [placeholder]="'Default Skill *'"
                         formControlName="default_skill">
                  <mat-error
                    *ngIf="firstFormGroup.controls['default_skill'].getError('required')">
                    Default Skill is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </mat-list-item>

              <!--description-->
              <mat-list-item class="mat-list-item-description">
                <mat-form-field mat-no-float>
                  <textarea
                    class="input-size-description" matInput formControlName="description"
                    [placeholder]="'Description'"></textarea>
                </mat-form-field>
              </mat-list-item>
            </mat-list>

            <div class="itf-upsert-button-line">
              <button mat-raised-button matStepperNext>Next</button>
              <button mat-raised-button class="cancel-btn" type="button" (click)="backPage()">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Steps</ng-template>
        <perfect-scrollbar style="max-width: 1500px; max-height: 700px;">
        <div class="itf-policy-upsert-step3">
          <div class="itf-policy-left-step3">
            <div class="drag-setting-title">
              <mat-icon class="used-icon-text">low_priority</mat-icon>
              <span class="used-icon-text">Steps</span>
            </div>

            <div class="input-add-step">
              <mat-form-field>
                <input matInput required [placeholder]="'Add Step'" #inputStep
                       (keydown)="inputAddStep($event, false)" formControlName="inputStep"
                       id="input-add-step">
                <mat-error *ngIf="secondFormGroup.controls['inputStep'].getError('required')">
                  Step name is <strong>required.</strong>
                </mat-error>
                <mat-error *ngIf="secondFormGroup.controls['inputStep'].getError('pattern')">
                  Use alpha-numeric characters only.
                </mat-error>
                <mat-error *ngIf="secondFormGroup.controls['inputStep'].getError('duplicated')">
                  Step name is <strong>duplicated.</strong>
                </mat-error>
              </mat-form-field>
              <button mat-icon-button (click)="inputAddStep(inputStep.value, true)"
                      [disabled]="changeAddInputModeFlag">
                <mat-icon
                  [ngClass]="changeAddInputModeFlag ? 'step-disable' : 'step-input-add-icon'">
                  add_circle_outline
                </mat-icon>
              </button>
            </div>

            <mat-list [dragula]='"evented-bag"' [dragulaModel]='steps' class="steps">
              <ng-container *ngIf="steps.length === 0">
                <mat-list-item class="step-tip">Please Add Step.<br>
                  First select Classifying Method.
                </mat-list-item>
              </ng-container>

              <mat-list-item *ngFor="let step of steps; let index = index;" class="priority-item"
                             #stepList id="step{{step.key}}">
                <mat-chip mat-list-icon color="accent" class="step-run-style" selected="true">
                  <a class="step-run-style-text">{{step.stepRunStyle}}</a>
                </mat-chip>
                <span mat-list-icon class="step-number">{{step.seq}}.</span>
                <span class="step-text" mat-line>
                  <input class="input-size" matInput [value]="step.name" [disabled]="true">
                </span>

                <input class="step-cut-text" *ngIf="step.type === 'CLM_DNN_CLASSIFIER'"
                       [disabled]="true"
                       [value]="step.dnn_cl_mod?.cut_coefficient?.toFixed(3)" #stepCut>

                <a mat-icon-button *ngIf="step.secondRunStyle === 'IFC_SKILL_FOUND_RETURN'">
                  <mat-icon>keyboard_return</mat-icon>
                </a>

                <a mat-icon-button *ngIf="step.secondRunStyle ==='IFC_SKILL_FOUND_COLLECT_HINTS'
                || step.run_style === 'IFC_HINT'">
                  <mat-icon>arrow_downward</mat-icon>
                </a>

                <a mat-icon-button class="step-category-length">
                  <mat-icon class="step-category-length-icon">import_contacts</mat-icon>
                  <ng-container *ngIf="step.hasOwnProperty('categories')">
                    {{step.categories.length}}
                  </ng-container>
                  <ng-container *ngIf="!step.hasOwnProperty('categories')">0</ng-container>
                </a>

                <button mat-icon-button (click)="changeEditMode(step, 'step' + step.key)"
                        [disabled]="step?.key === this.clickEditData?.key">
                  <mat-icon class="step-edit"
                            [ngClass]="step?.key === this.clickEditData?.key ? 'step-disable' : 'step-able-edit'">
                    mode_edit
                  </mat-icon>
                </button>
                <button mat-icon-button (click)="deleteStep(step)">
                  <mat-icon class="step-delete">delete</mat-icon>
                </button>
                <div class="step-type" mat-line>{{step.stepType}}</div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>

            <div class="final-button-line">
              <button mat-raised-button class="margin-btn" color="accent" matStepperPrevious>Back</button>
              <button mat-raised-button
                      [disabled]="isDone()" (click)="submit()">
                Done
              </button>
              <button mat-raised-button class="cancel-btn" (click)="backPage()">Cancel</button>
              <!--<button mat-raised-button [routerLink]="'../itfp'">Cancel</button>-->
            </div>
          </div>

          <div class="itf-policy-right-step3" id="itf-policy-right-stefp3">
            <div class="itf-policy-right-step3-view">

              <mat-list class="itf-policy-right-step3-view-left">
                <div class="drag-setting-title">
                  <mat-icon class="used-icon-text">settings</mat-icon>
                  <span class="used-icon-text">Edit Step</span>
                </div>

                <mat-list-item>
                  <mat-form-field>
                    <mat-select [placeholder]="'ClassifyingMethod'"
                                formControlName="classifyingMethods"
                                (selectionChange)="getClassifyingMethods()">
                      <mat-option *ngFor="let classifyingMethod of classifyingMethods"
                                  [value]="classifyingMethod">
                        {{classifyingMethod.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-list-item>

                <!--final rule start-->
                <div [hidden]="selectedMethod.attr !== 'final_rule'">
                  <div [hidden]="finalRuleFlag">
                    <mat-list-item class="mat-list-item">
                      <mat-form-field>
                        <input class="input-size" matInput required [placeholder]="'Step Name'"
                               formControlName="name" (keyup)="viewSynchronization()">
                        <mat-error *ngIf="secondFormGroup.controls['name'].getError('required')">
                          Step name is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="secondFormGroup.controls['name'].getError('pattern')">
                          Use alpha-numeric characters only.
                        </mat-error>
                        <mat-error *ngIf="secondFormGroup.controls['name'].getError('duplicated')">
                          Step name is <strong>duplicated.</strong>
                        </mat-error>
                      </mat-form-field>
                    </mat-list-item>

                    <div formGroupName="final_rule"
                         [hidden]="selectedMethod.attr !== 'final_rule'">
                      <mat-list-item class="mat-list-item">
                        <mat-form-field>
                          <input class="input-size" matInput [placeholder]="'Final Rule'"
                                 formControlName="final_skill" (keyup)="viewSynchronization()">
                        </mat-form-field>
                      </mat-list-item>
                    </div>

<!--                    <mat-list-item class="mat-list-item-condition">-->
<!--                      <mat-form-field mat-no-float>-->
<!--                        <input class="input-size-condition" matInput-->
<!--                               formControlName="step_condition"-->
<!--                               [placeholder]="'Step Condition'" (keyup)="viewSynchronization()">-->
<!--                      </mat-form-field>-->
<!--                    </mat-list-item>-->

                    <!--description-->
                    <mat-list-item class="mat-list-item-description">
                      <mat-form-field mat-no-float>
                 <textarea
                   class="input-size-description" matInput formControlName="description"
                   [placeholder]="'Step Description'"></textarea>
                      </mat-form-field>
                    </mat-list-item>

                    <mat-list-item>
                      <mat-radio-group class="steps-right-radio-group" formControlName="run_style">
                        <mat-radio-button *ngFor="let runStyle of runStyles;"
                                          [value]="runStyle.value"
                                          class="steps-right-radio-group-button"
                                          (change)="isSkill(runStyle)">
                          {{runStyle.viewValue}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </mat-list-item>

                    <mat-list-item>
                      <mat-radio-group *ngIf="selectedRunStyle !== null"
                                       class="steps-right-radio-group"
                                       formControlName="secondRunStyle">
                        <mat-icon>subdirectory_arrow_right</mat-icon>
                        <mat-radio-button *ngFor="let skillRunStyle of skillRunStyles;"
                                          [value]="skillRunStyle.value"
                                          class="steps-right-radio-group-button"
                                          (change)="isSkill(skillRunStyle)">
                          {{skillRunStyle.viewValue}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </mat-list-item>
                  </div>

                  <div [hidden]="!finalRuleFlag">
                    <mat-list-item>
                      <span
                        class="final-rule-existence">Only one final rule can be registered.</span>
                    </mat-list-item>
                  </div>

                  <mat-list-item class="mat-list-item">
                    <button mat-raised-button color="primary" style="float: right;"
                            (click)="editStep()"
                            [disabled]="stepAddFlag">Edit Step
                    </button>

                    <button mat-raised-button style="float: right; margin-left: 5px;"
                            (click)="editCancel(true)"
                            [hidden]="!isCustomEditMode">Cancel
                    </button>
                  </mat-list-item>
                </div>
                <!--final rule end-->

                <ng-container *ngIf="selectedMethod.attr !== 'final_rule'">
                  <mat-list-item class="mat-list-item">
                    <mat-form-field>
                      <input class="input-size" matInput required [placeholder]="'Step Name'"
                             formControlName="name" (keyup)="viewSynchronization()">
                      <mat-error *ngIf="secondFormGroup.controls['name'].getError('required')">
                        Step name is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="secondFormGroup.controls['name'].getError('pattern')">
                        Use alpha-numeric characters only.
                      </mat-error>
                      <mat-error *ngIf="secondFormGroup.controls['name'].getError('duplicated')">
                        Step name is <strong>duplicated.</strong>
                      </mat-error>
                    </mat-form-field>
                  </mat-list-item>

                  <!--dnn start-->
                  <div formGroupName="dnn_cl_mod"
                       [hidden]="selectedMethod.attr !== 'dnn_cl_mod'">
                    <ng-container *ngIf="categories.length > 1 && dnnCurrentClickData">
                      <mat-list-item class="mat-list-item">
                        <mat-form-field>
                          <input class="input-size" type="number" matInput
                                 [placeholder]="'Cut Coefficient'"
                                 formControlName="cut_coefficient" (keyup)="viewSynchronization()">
                          <mat-error
                            *ngIf="secondFormGroup.get('dnn_cl_mod')['controls'].cut_coefficient['hasError']('required')">
                            Cut coefficient is <strong>required</strong>
                          </mat-error>
                          <mat-error
                            *ngIf="
                          !secondFormGroup.get('dnn_cl_mod')['controls'].cut_coefficient['hasError']('required') &&
                          secondFormGroup.get('dnn_cl_mod')['controls'].cut_coefficient['hasError']('rangeExceeding')">
                            Cut coefficient is range exceeding.<br>
                            <strong>range : 0 < Cut Coefficient < 1 </strong>
                          </mat-error>
                        </mat-form-field>
                      </mat-list-item>
                    </ng-container>
                  </div>
                  <!--dnn end-->

                  <!-- custom script rule start -->
                  <div formGroupName="custom_script_mod"
                       [hidden]="selectedMethod.attr !== 'custom_script_mod'">
                    <mat-list-item class="mat-list-item">
                      <mat-form-field>
                        <input class="input-size" matInput [placeholder]="'Filename'"
                               formControlName="filename" (keyup)="viewSynchronization()" readonly>
                      </mat-form-field>
                    </mat-list-item>

                    <mat-list-item class="mat-list-item">
                      <mat-form-field>
                        <input class="input-size" matInput [placeholder]="'Classify Function'"
                               formControlName="classify_func" (keyup)="viewSynchronization()">
                      </mat-form-field>
                    </mat-list-item>
                  </div>
                  <!-- custom script rule end -->

<!--                  <mat-list-item class="mat-list-item-condition">-->
<!--                    <mat-form-field mat-no-float>-->
<!--                      <input class="input-size-condition" matInput formControlName="step_condition"-->
<!--                             [placeholder]="'Step Condition'" (keyup)="viewSynchronization()">-->
<!--                    </mat-form-field>-->
<!--                  </mat-list-item>-->

                  <!--description-->
                  <mat-list-item class="mat-list-item-description">
                    <mat-form-field mat-no-float>
                 <textarea
                   class="input-size-description" matInput formControlName="description"
                   [placeholder]="'Step Description'"></textarea>
                    </mat-form-field>
                  </mat-list-item>

                  <mat-list-item>
                    <mat-radio-group class="steps-right-radio-group" formControlName="run_style">
                      <mat-radio-button *ngFor="let runStyle of runStyles;"
                                        [value]="runStyle.value"
                                        class="steps-right-radio-group-button"
                                        (change)="isSkill(runStyle)">
                        {{runStyle.viewValue}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </mat-list-item>

                  <mat-list-item>
                    <mat-radio-group *ngIf="selectedRunStyle !== null"
                                     class="steps-right-radio-group"
                                     formControlName="secondRunStyle">
                      <mat-icon>subdirectory_arrow_right</mat-icon>
                      <mat-radio-button *ngFor="let skillRunStyle of skillRunStyles;"
                                        [value]="skillRunStyle.value"
                                        class="steps-right-radio-group-button"
                                        (change)="isSkill(skillRunStyle)">
                        {{skillRunStyle.viewValue}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </mat-list-item>

                  <mat-list-item class="mat-list-item">
                    <button mat-raised-button style="float: right;"
                            (click)="editStep()"
                            [disabled]="stepAddFlag">Edit Step
                    </button>

                    <button mat-raised-button style="float: right; margin-left: 5px;"
                            (click)="editCancel(true)"
                            [hidden]="!isCustomEditMode">Cancel
                    </button>
                  </mat-list-item>
                </ng-container>

              </mat-list>

              <mat-list class="itf-policy-right-step3-view-middle"
                        [hidden]="selectedMethod.attr === null ||
                        selectedMethod.attr === 'final_rule' ">
                <div class="model-title">
                  <mat-icon class="used-icon-text">pageview</mat-icon>
                  <span class="used-icon-text">Models</span>
                </div>

                <mat-icon mat-line class="next-icon">arrow_forward</mat-icon>
                <mat-list class="itf-policy-right-classifying">

                  <!-- customscript list start -->
                  <div [hidden]="selectedMethod.attr !== 'custom_script_mod'">
                    <mat-list-item *ngFor="let cs of customscript;" class="itf-list"
                                   (click)="clickCustomScriptModel(cs)" id="cs-model-{{cs.model}}"
                                   [hidden]="!!cs['hidden']">
                      <span class="itf-list-customscript">{{cs.model}}</span>
                    </mat-list-item>

                    <ng-container *ngIf="allHidden">
                      <mat-list-item class="itf-model-list-zero">
                        CustomScript Model does not exist.
                      </mat-list-item>
                    </ng-container>
                  </div>
                  <!-- customscript list end -->

                  <!-- pcre list start -->
                  <div [hidden]="selectedMethod.attr !== 'pcre_mod'">
                    <mat-list-item *ngFor="let pcre of pcres;" class="itf-list"
                                   (click)="clickPcreModel(pcre)" id="pcre-model-{{pcre.name}}"
                                   [hidden]="!!pcre['hidden']">
                      <span class="itf-list-pcre">{{pcre.name}}</span>
                    </mat-list-item>

                    <ng-container *ngIf="allHidden">
                      <mat-list-item class="itf-model-list-zero">
                        Pcre Model does not exist.
                      </mat-list-item>
                    </ng-container>
                  </div>
                  <!-- pcre list end -->


                  <!-- hmd-model list start -->
                  <div [hidden]="selectedMethod.attr !== 'hmd_mod'">
                    <mat-list-item *ngFor="let hmd of hmds;" class="itf-list"
                                   (click)="clickHmdModel(hmd)" id="hmd-model-{{hmd.model}}"
                                   [hidden]="!!hmd['hidden']">
                      {{hmd.model}}
                    </mat-list-item>

                    <ng-container *ngIf="allHidden">
                      <mat-list-item class="itf-model-list-zero">
                        HMD Models does not exist.
                      </mat-list-item>
                    </ng-container>
                  </div>
                  <!-- hmd-model list end -->

                  <!--dnn list start-->
                  <div [hidden]="selectedMethod.attr !== 'dnn_cl_mod'">
                    <mat-list-item *ngFor="let dnn of dnns;" class="itf-list"
                                   (click)="clickDnnModel(dnn)" id="dnn-model-{{dnn.model}}"
                                   [hidden]="!!dnn['hidden']">
                      {{dnn.model}}
                    </mat-list-item>

                    <ng-container *ngIf="allHidden">
                      <mat-list-item class="itf-model-list-zero">
                        DNN Models does not exist.
                      </mat-list-item>
                    </ng-container>
                  </div>
                  <!--dnn list end-->

                </mat-list>
              </mat-list>

              <ng-container *ngIf="categoryFlag">
                <mat-list class="itf-policy-right-step3-view-right">
                  <div class="model-title">
                    <mat-icon class="used-icon-text">description</mat-icon>
                    <span class="used-icon-text">Categories({{categories.length}})</span>
                  </div>

                  <mat-icon mat-line class="contain-icon">linear_scale</mat-icon>

                  <mat-list class="itf-policy-right-categories">
                    <mat-chip-list *ngFor="let category of categories">
                      <mat-chip class="category-chip">{{category}}</mat-chip>
                    </mat-chip-list>
                  </mat-list>
                </mat-list>
              </ng-container>

            </div>
          </div>
        </div>
        </perfect-scrollbar>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-sidenav-container>
