<table style="height:300px;overflow-y: scroll" fxLayout="row" id="merong">
  <tr #tr fxLayout="row" style="padding:5px;" *ngFor="let script of scripts;let idx=index;"
      (dblclick)="onDblClickScript(script, idx)">
    <td fxFlex="20%" style="vertical-align:top;">call</td>
    <td fxFlex="70%">{{script.txt}}</td>
  </tr>
</table>
