.main-container {
  margin: 20px;
}

/deep/ .root .layout .sidenav {
  box-shadow: 0 0 0 0 !important;
}

/deep/ mat-toolbar-row {
  justify-content: space-between;
}

/deep/ .mat-tab-labels {
  display: flex;
  margin-left: 40px !important;
}

.main-container .statistics-category {
  min-height: 0px;
  height: fit-content;
}

.statistics-item {
  width: 110px;
  margin-left: 10px;
}

.statistics-frequency {
  width: 100px;
  margin-left: 20px;
}

.analyse-button {
  margin-left: 35px;
}

.mat-form-field.filter-keyword-input {
  width: 170px;
  margin-left: 130px;
}

.download-button {
  margin-left: 35px;
}

