<!-- 상단 toolbar 정의 -->
<mat-toolbar class="mlt-toolbar">
  <span class="mlt-toolbar-title">NQA Category</span>

  <!-- search 정의 -->
  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Category Name" (keyup)="getList()" [(ngModel)]="inputName">
  </mat-form-field>

  <!-- category add,delete,edit 정의 -->
  <button mat-button *ngFor="let action of actions" (click)="doAction(action)">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>
</mat-toolbar>

<!-- category list 정의 -->
<div>
  <section>
    <mat-card-title>Category</mat-card-title>
    <!-- (outputSelectedRow)="editModel($event)" -->
    <app-table #tableComponent [rows]="data" [headers]="header"
               [length]="length"
               [pageIndex]="pageParam?.pageIndex"
               [dataSource]="dataSource"
               <!--(outputSelectedHeader)="setSort($event)"-->
               <!--(outputPaginator)="getpaginator($event)"-->
    </app-table>
  </section>
</div>

