<section class="transcript">
  <header>
    <h2>{{title}}</h2>
  </header>

  <main>
    <app-audio-player [url]="audioURL"></app-audio-player>
    <app-transcript-text #transcriptTextComponent [langCode]="langCode"></app-transcript-text>
  </main>

  <footer>
    <button mat-button (click)="dialogRef.close()" type="button">close</button>
  </footer>
</section>
