<div class="body">
  <mat-tab-group (selectedTabChange)="onTabClick($event)">
    <mat-tab *ngFor="let svdg of newSvdgList"
             label="{{svdg.group}}">

      <div *mat-tab-label>
        {{svdg.group}}
      </div>

      <app-table #tableComponent
                 [rows]="rows" [headers]="header" [dataSource]="dataSource"
                 [isServerPagination]="false">
      </app-table>

      <div class="process-group-tip">
        <p>
          <mat-icon>help_outline</mat-icon>
          Contain Process List : {{svdg.group}}
        </p>
        <div class="description">If there is no data, the group is operating normally.</div>
        <ul *ngFor="let process of svdg.names; let index = index;">
          <li><b>{{index + 1}}.</b>{{process}}</li>
        </ul>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
