.body {
  padding-top: 15px;
  padding-left: 10px;
  margin-bottom: 5px;
  height: auto;

  /deep/ .mat-tab-label {
    max-width: 16.5%;
    padding: 0 0 0 0 !important;

    .error {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: red !important;
    }

    .none {
    }
  }

  .mat-tab-label {
    height: 33px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
  }

  .process-group-tip {
    border-top: 1px solid #eee;
    margin-top: 20px;

    .description {
      color: red;
      font-size: 13px;
      margin-left: 9px;
      margin-bottom: 5px;
    }

    p {
      font-size: 16px;
      color: #333;
      margin: 15px 0 10px 0;

      mat-icon {
        vertical-align: -4px;
        font-size: 20px;
        color: #333;
      }

      small {
        margin-left: 10px;
        color: #777;
        font-size: 13px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 15px;
      color: #555;

      li {
        margin-left: 20px;
        line-height: 160%;

        b {
          width: 30px;
          color: #333;
          display: inline-block;
        }
      }
    }
  }

  ::ng-deep .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
    opacity: 0;
  }

  ::ng-deep .mat-sort-header-pointer-left.ng-trigger.ng-trigger-leftPointer {
    transform: rotate(-45deg);
  }

  ::ng-deep .mat-sort-header-pointer-right.ng-trigger.ng-trigger-rightPointer {
    transform: rotate(45deg);
  }

}
