<div class="popup-default-wrap">
  <div class="popup-default-container">
    <div class="mat-dialog-title">
      Delete {{domain}}
    </div>
    <mat-dialog-content>
      <span *ngIf="message" [innerHtml]="message"></span>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button [mat-dialog-close]="true" class="btn-close">Cancel</button>
      <button mat-button mat-raised-button color="primary" (click)="onDelete(domain)">Delete
      </button>
    </mat-dialog-actions>
  </div>
</div>
