<div class="popup-default-wrap">
  <div class="popup-default-container">
    <div class="mat-dialog-title">
      <span *ngIf="!title">Network 오류</span>
      <span *ngIf="title" [innerHtml]="title"></span>
      <button class="icon-close" [mat-dialog-close]="true" mat-icon-button color="primary">
        <i class="material-icons">&#xE5CD;</i>
      </button>
    </div>
    <mat-dialog-content>
      <span *ngIf="!message">API 호출 시 문제가 발생하였습니다. 다시 시도해주세요.</span>
      <span *ngIf="message" [innerHtml]="message"></span>
    </mat-dialog-content>
    <mat-dialog-actions class="btn-confirm">
      <button [mat-dialog-close]="true" mat-button mat-raised-button color="primary">Confirm
      </button>
    </mat-dialog-actions>
  </div>
</div>
