<div class="popup-table-wrap">
  <div class="popup-table-container">
    <div class="mat-dialog-title">
      Select Dialog Model
    </div>
    <mat-dialog-content>
      <div class="table-filter-wrap">
        <input class="table-filter" matInput (keyup)="applyFilter($event.target.value)"
               placeholder="Select Dialog Model Name">
        <i class="material-icons btn-add" (click)="createAdd()">add_circle</i>
      </div>
      <div class="table-content-wrap mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="radio">
            <mat-header-cell *matHeaderCellDef class="table-check">
            </mat-header-cell>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef class="table-name"> Name</mat-header-cell>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef class="table-id"> ID</mat-header-cell>
          </ng-container>

          <!-- Created At Column -->
          <ng-container matColumnDef="created">
            <mat-header-cell *matHeaderCellDef class="table-created"> Created At</mat-header-cell>
          </ng-container>

          <!-- setting Column -->
          <ng-container matColumnDef="setting">
            <mat-header-cell *matHeaderCellDef class="table-setting"></mat-header-cell>
          </ng-container>
          <ng-container matColumnDef="download">
            <mat-header-cell *matHeaderCellDef class="table-download"></mat-header-cell>
          </ng-container>
          <ng-container matColumnDef="remove">
            <mat-header-cell *matHeaderCellDef class="table-remove"></mat-header-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        </mat-table>
        <mat-table #table [dataSource]="dataSource" class="table-content-lists">
          <ng-container matColumnDef="radio">
            <mat-cell *matCellDef="let row" class="table-check">
              <mat-radio-button color="primary"></mat-radio-button>
            </mat-cell>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-cell *matCellDef="let element" class="table-name"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <mat-cell *matCellDef="let element" class="table-id"> {{element.id}} </mat-cell>
          </ng-container>

          <!-- Created Column -->
          <ng-container matColumnDef="created">
            <mat-cell *matCellDef="let element"
                      class="table-created"> {{element.created}} </mat-cell>
          </ng-container>

          <!-- setting Column -->
          <ng-container matColumnDef="setting">
            <mat-cell *matCellDef="let element" class="table-setting">
              <i class="material-icons" (click)="modelSetting()">settings</i>
            </mat-cell>
          </ng-container>

          <!-- download Column -->
          <ng-container matColumnDef="download">
            <mat-cell *matCellDef="let element" class="table-download">
              <i class="material-icons">file_download</i>
            </mat-cell>
          </ng-container>
          <!-- download Column -->
          <ng-container matColumnDef="remove">
            <mat-cell *matCellDef="let element" class="table-remove">
              <i class="material-icons btn-add-remove">remove_circle</i>
            </mat-cell>
          </ng-container>
          <mat-row *matRowDef="let row; columns: displayedColumns;"
                   (click)="selection.toggle(row)"
                   class="table-content-row">
          </mat-row>
        </mat-table>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button [mat-dialog-close]="true" class="btn-close">Close</button>
      <button mat-button mat-raised-button color="primary">Select</button>
    </mat-dialog-actions>
  </div>
</div>
