<div class="popup-default-wrap popup-train">
  <div class="popup-default-container">
    <div class="mat-dialog-title">
      Training
    </div>
    <mat-dialog-content>
      <div class="train-content-wrap">
        <div class="train-content-container">
          <div class="train-content train-indri">
            <div class="train-text">Indri_Threshold
              <i class="material-icons">help_outline</i>
              <div class="train-help">
                <p>
                  Indri_Threshold help
                </p>
              </div>
            </div>
            <input class="train-num" value="0.5" disabled>
          </div>
          <div class="train-content train-svm">
            <div class="train-text">SVM_Threshold
              <i class="material-icons train-i-question">help_outline</i>
              <div class="train-question">
                <p>
                  SVM_Threshold help
                </p>
              </div>
            </div>
            <input class="train-num" value="0.0" disabled>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button [mat-dialog-close]="true" class="btn-close">Close</button>
      <button [mat-dialog-close]="true" mat-button mat-raised-button color="primary"
              (click)="clickTrain()">
        <i class="material-icons">&#xE80C;</i>
        Train
      </button>
    </mat-dialog-actions>
  </div>
</div>
