<div class="popup-default-wrap">
  <div class="popup-default-container">
    <div class="mat-dialog-title">
      Dialog Model Test
      <button class="icon-close" [mat-dialog-close]="true" mat-icon-button color="primary">
        <i class="material-icons">&#xE5CD;</i>
      </button>
    </div>
    <mat-dialog-content>
      Dialog Model Testing is not possible : No task information available.
    </mat-dialog-content>
    <mat-dialog-actions class="btn-confirm">
      <button [mat-dialog-close]="true" mat-button mat-raised-button color="primary">Confirm
      </button>
    </mat-dialog-actions>
  </div>
</div>
