<div class="popup-default-wrap">
  <div class="popup-default-container">
    <div class="mat-dialog-title">
      Dialog Model Test
    </div>
    <mat-dialog-content>
      Please Select Dialog Model
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-raised-button color="primary" (click)="selectModel()">Select</button>
    </mat-dialog-actions>
  </div>
</div>
