/* START Popup style*/
@import "../../../dialog-model-common";
//default
.popup-default-wrap {
  padding: 20px 35px;
  position: relative;

  .mat-dialog-content {
    padding: 10px;
    margin: 0;
  }

  .mat-dialog-title {
    border-bottom: $popup-title-border;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

.popup-default {
  padding: 20px 35px 60px;
}

.icon-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #FFFFFF;
  color: $main-color;

  i {
    font-weight: bold;
  }
}

.mat-button.mat-primary .mat-button-focus-overlay, .mat-icon-button.mat-primary .mat-button-focus-overlay {
  background-color: transparent;
}

//table
.popup-table-wrap {
  padding: 30px 35px 15px;
  position: relative;

  .mat-dialog-content {
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 50%;
  }

  .mat-elevation-z8 {
    box-shadow: none;
  }

  .table-filter-wrap {
    width: 100%;

    .btn-add {
      color: $main-color;
      font-size: $font-popup-add;
      cursor: pointer;
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  .table-filter {
    width: calc(100% - 80px);
    height: 24px;
    padding: 7px 10px;
    margin: 0;
    font-size: $font-input;
    border-radius: 5px;
    border: 1px #cccccc solid;

    &:focus {
      outline: none;
    }
  }

  .table-content-wrap {
    height: 420px;
    width: 100%;
    margin: 25px 0 20px;
    position: relative;
    overflow: hidden;

    .mat-header-row, .mat-row {
      padding: 0 0 0 15px;
    }

    .mat-header-cell {
      font-size: $font-popup-table;
      color: #CCC;
      font-weight: normal;
      text-align: center;
    }

    .mat-cell {
      color: #585858;
    }

    .table-check {
      max-width: 35px;
      text-align: left;
    }

    .table-name {
      min-width: 200px;
      padding: 10px;
    }

    .table-id {
      min-width: 50px;
      max-width: 100px;
      padding: 10px;
    }

    .table-created {
      min-width: 100px;
      max-width: 120px;
      padding: 10px;
    }

    .table-setting, .table-download, .table-remove {
      min-width: 24px;
      max-width: 35px;
      color: $main-color;
      vertical-align: middle;
      cursor: pointer;
    }

    .table-setting {
      margin-left: 10px;
    }

    .table-remove {
      margin-right: 10px;
    }

    .mat-column-check {
      overflow: visible;
    }

    .mat-checkbox-frame {
      border-color: transparent;
      transition: none;
    }

    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: #FFFFFF;
    }

    .mat-checkbox-mixedmark {
      background-color: $main-color;
    }

    .mat-checkbox-checkmark {
      fill: $main-color !important;
    }

    .mat-checkbox-checkmark-path {
      stroke: $main-color !important;
    }

    .mat-table {
      height: 57px;
    }

    .table-content-lists {
      overflow: auto;
      height: 363px;
    }

    .table-content-row {
      &:hover {
        background: #f9f9fa;
      }
    }

    .mat-radio-outer-circle {
      border-color: transparent;
      transition: none;
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
      border-color: $main-color;
    }
  }
}

.mat-dialog-actions {
  display: block;
  text-align: right;

  &:last-child {
    margin: 0;
  }

  &.btn-confirm {
    margin-top: 10px;
    text-align: center;
    padding: 0;
  }
}


//train
.popup-train, .popup-script {
  .mat-dialog-content {
    overflow: visible;
  }

  .mat-dialog-actions {
    padding: 0;
  }
}

.train-content-container {
  position: relative;
}

.train-content {
  text-align: center;
  position: relative;
  margin: 15px 0;

  .train-text {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    padding: 5px 10px;

    div {
      display: none;
      position: absolute;
      z-index: 10;
      height: 100px;
      width: 200px;
      top: 15px;
      right: -215px;
      background: #FFF;
    }
  }

  i {
    position: absolute;
    color: $main-color;
    top: 0;
    right: -20px;
    font-size: 16px;
    cursor: pointer;
  }

  .train-num {
    text-align: center;
    width: 40px;
    height: 20px;
    padding: 5px;
    font-size: $font-input;
  }
}

.popup-error {
  display: inline-block;
  vertical-align: top;
}

//script
.popup-script {
  display: inline-block;
  width: 600px;
  vertical-align: top;

  .mat-dialog-title {
    button {
      float: right;
    }
  }

  .popup-default-container {
    .mat-dialog-content {
      textarea {
        min-width: 574px;
        max-width: 574px;
        min-height: 155px;
        max-height: 155px;
        border: $content-title-border;
      }
    }
  }

}

.popup-script-guide {
  display: none;
  width: 350px;
  padding-left: 0;
  vertical-align: top;

  .popup-default-container {
    height: 277px;
    background: #CCCCCC;
    box-shadow: $border-shadow;
    overflow: auto;
    border-radius: 5px;
  }

  ul, li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 10px;
  }

  li {
    padding: 5px;
  }
}

.popup-log-wrap {
  height: calc(100% - 40px);

  .popup-default-container {
    height: 100%;
  }

  .mat-dialog-content {
    padding-right: 0;
    height: calc(100% - 73px);
    max-height: calc(100% - 73px);
    width: calc(100% - 10px);
  }

  .log-content-wrap {
    height: 100%;
    overflow: auto;
  }

  .log-content-container {
    height: auto;
    width: calc(100% - 10px);
    margin-right: 10px;
  }
}

/* END Popup style*/
