<div class="popup-default-wrap popup-log-wrap">
  <div class="popup-default-container">
    <div class="mat-dialog-title">
      Dialog Log
      <button mat-icon-button color="primary" (click)="downloadLog()">
        <i class="material-icons">file_download</i>
      </button>
      <button class="icon-close" [mat-dialog-close]="true" mat-icon-button color="primary">
        <i class="material-icons">&#xE5CD;</i>
      </button>
    </div>
    <mat-dialog-content>
      <div class="log-content-wrap">
        <div class="log-content-container" [innerHtml]="errorlog"></div>
      </div>
    </mat-dialog-content>
  </div>
</div>
