<div class="popup-default-wrap popup-script">
  <div class="popup-default-container">
    <div class="mat-dialog-title">
      task,action,transition
      <button mat-button mat-raised-button [color]="btnScript" (click)="scriptOpen()">
        Script Guide
      </button>
    </div>
    <mat-dialog-content>
      <textarea name="" id="" rows="10"></textarea>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button [mat-dialog-close]="true" class="btn-close">Close</button>
      <button mat-button mat-raised-button>
        Save
      </button>
    </mat-dialog-actions>
  </div>
</div>
<div class="popup-default-wrap popup-script-guide">
  <div class="popup-default-container">
    <ul>
      <li>a</li>
      <li>b</li>
      <li>c</li>
      <li>d</li>
      <li>e</li>
      <li>f</li>
      <li>g</li>
      <li>h</li>
      <li>i</li>
      <li>j</li>
      <li>a</li>
      <li>b</li>
      <li>c</li>
      <li>d</li>
      <li>e</li>
      <li>f</li>
      <li>g</li>
      <li>h</li>
      <li>i</li>
      <li>j</li>
    </ul>
  </div>
</div>
