.dictionary-list {
  font-size: 12px;
  height: 40px;
  cursor: pointer;
}

.mbutton {
  margin: 5px;
}

mat-chip {
  margin: 10px;
  max-width: 280px;
  font-color: white;
  cursor: pointer;
}

span {
  vertical-align: middle;
}

.test-btn {
  margin-top: 20px;

}

mat-checkbox {
  margin: 20px 20px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.mat-chip-list-stacked {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 95%;
  align-text: center;

}

::ng-deep .ag-theme-balham .ag-root {
  border: none;
}

::ng-deep .mlt-main {
  overflow: auto;
  height: 100%;
}

::ng-deep .mlt-mainbody {
  height: 92%;
}

.table-section {
  height: 75%;
}

.info {
  display: block;
  font-size: 10pt;
  vertical-align: bottom;
  align-items: right;
  text-align: end;
  margin-right: 80px;
}
