<mat-toolbar class="mrc-toolbar-qas">
  <div>
    <a class="mrc-toolbar-title">MRC Questions & Answers</a>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="goList()">List</button>
  </div>
</mat-toolbar>

<div class="mlt-mainbody">
  <div class="question-list">
    <div class="first-line">
      <mat-button-toggle-group #tableKindToggle>
        <mat-button-toggle value="qas" aria-label="Questions & Answers"
                           (change)="changeTableKind($event.value)">
          <mat-icon class="color">question_answer</mat-icon>
          <span class="color">Q&A List</span>
        </mat-button-toggle>
        <mat-button-toggle value="invalid-answers" aria-label="Query Invalid Answers"
                           (change)="changeTableKind($event.value)">
          <mat-icon class="color">spellcheck</mat-icon>
          <span class="color">Invalid Answers</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="second-line">
      <mat-form-field style="width:220px; margin-right: 10px;" floatLabel="never">
        <input matInput [(ngModel)]="searchQA" rows="1" placeholder="Question / Answer"
               (keydown)="searchKeydown($event)">
      </mat-form-field>
      <mat-form-field style="width:95px; margin-right: 10px;" floatLabel="never">
        <input matInput [(ngModel)]="searchHeading1" rows="1" placeholder="Major Heading"
               (keydown)="searchKeydown($event)">
      </mat-form-field>
      <mat-form-field style="width:135px; margin-right: 10px;" floatLabel="never">
        <input matInput [(ngModel)]="searchHeading2" rows="1" placeholder="Other Heading"
               (keydown)="searchKeydown($event)">
      </mat-form-field>

      <!-- Search Button -->
      <button mat-raised-button color="primary" (click)="onClickSearchButton(0)">Search</button>
      <button mat-raised-button color="primary" (click)="onClickResetButton()">Reset</button>
    </div>
    <div>
      <p style="margin: 5px 0 0 10px;" [innerHTML]="summary"></p>
    </div>
    <div fxLayout="row">
      <div fxFlex>
        <app-table class="mlt-table" #lineTableComponent [headers]="header" [rows]="passageList"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputSelectedRow)="editPassage($event)"
                   (outputSelectedHeader)="search($event)"
                   (outputPaginator)="setPage($event)">
        </app-table>
        <ng-template let-row="row" #questionTemplate>
          <div class="question-row">
            <a class="idCursor" (click)="detailPassage(row)">{{row.question}}</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
