.sc-detail {
  margin-left: 40px;
  margin-top: 20px;

  .mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 2px;
    border-left: 1px solid #d3d3d3;
  }

  .mat-card-style {
    width: 700px;
    margin-top: 30px;
    padding-bottom: 16px;

    .box-size {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 40px;
      padding-bottom: 10px;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 40px;
      padding-left: 17px;
      background-color: #f3f3f3;
    }

    .content-data {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      min-height: 36px;
      padding: 0 16px;
      position: relative;

      .left {
        color: rgba(0, 0, 0, .54);
        float: left;
        padding-right: 60px;
        width: 166px;
      }

      .right {
        float: left;
        width: 258px;
        max-width: 358px;
        word-break: break-all;
      }
    }

    .content-desc {
      .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}


.toolbars {
  background-color: white;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap
}

.arrowTool {
  display: flex;
}

.contentTool {
  margin: 0 0 0px 500px;
}

.mat-expansion-panel {
  max-width: 1000px;
  min-width: 400px;
  width: 95%;
  margin-left: 17px;

  .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .mat-expanded {
    background-color: #f1f1f1;
  }

  .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
  }
}

