<div *ngIf="control.dirty">
  <!-- custom -->
  <p *ngIf="
      control.hasError('custom')
    ">{{control.errors.custom}}</p>

  <div *ngIf="
      control.hasError('html')
    " [innerHTML]="control.errors?.html"></div>

  <!-- global -->
  <p *ngIf="
    control.hasError('required') ||
    control.hasError('presence') ||
    control.hasError('length.blank')
  ">{{label | titleCase}} is required.</p>

  <p *ngIf="
      control.hasError('matchWithControl')
    ">{{label | titleCase}} does not match {{params.matchControl}}.</p>

  <p *ngIf="
      control.hasError('matchWithValue')
    ">{{label | titleCase}} does not match '{{params.matchValue}}'.</p>

  <p *ngIf="
    control.hasError('minlength') ||
    control.hasError('length.min')
  ">{{label | titleCase}} should be at least {{params.length}} characters</p>

  <p *ngIf="
    control.hasError('uniqueness') ||
    control.hasError('exclusion')
  ">'{{control.value}}' cannot be used.</p>

  <p *ngIf="
    !control.hasError('required') &&
    (control.hasError('email') || control.hasError('custom.email'))
  ">Invalid email format.</p>

  <p *ngIf="
    !control.hasError('required') &&
    (control.hasError('engNumber'))
  ">Invalid name format. please use english, number and character of '_'.</p>
</div>
