<section>
  <mat-card-title>Versions of the {{getTitle}}</mat-card-title>
  <p>Compare versions of the {{getTitle}}.</p>
  <div class="diff">
    <div class="diff-tools">
      <button class="mlt-download" mat-raised-button type="button"
              (click)="download()">
        <mat-icon>file_download</mat-icon>
        <span>Download <b
          *ngIf="selectedCommit1">[{{getShortId(selectedCommit1.hashKey)}}]</b></span>
      </button>
    </div>

    <mat-list class="mlt-transcript-bottom">
      <mat-list-item>
        <mat-form-field class="mlt-transcript-left-select">
          <mat-select placeholder="Old Version" [(ngModel)]="selectedCommit1"
                      (click)="getCommitList()"
                      (selectionChange)="changeVersion()">
            <mat-option *ngFor="let data of commitList" [value]="data">
              <strong>[{{data.commitTime}} ({{getShortId(data.hashKey)}})]</strong>
              <small>updated by {{data.updaterId}}</small>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mlt-transcript-right-select">
          <mat-select placeholder="New Version" [(ngModel)]="selectedCommit2"
                      (click)="getCommitList()"
                      (selectionChange)="changeVersion()">
            <mat-option *ngFor="let data of commitList" [value]="data">
              <strong>[{{data.commitTime}} ({{getShortId(data.hashKey)}})]</strong>
              <small>updated by {{data.updaterId}}</small>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item class="diff-commit" *ngIf="selectedCommit1&&selectedCommit2">
        <div class="mlt-transcript-left-select">
          <p class="author"> {{selectedCommit1.updaterId || ''}}
            {{selectedCommit1.updaterEmail ? ('<' + selectedCommit1.updaterEmail + '>') : ''}}
            <small>{{selectedCommit1.commitTime | date:'mediumDate'}}</small>
          </p>
        </div>
        <div class="mlt-transcript-right-select">
          <p class="author"> {{selectedCommit2.updaterId || ''}}
            {{selectedCommit2.updaterEmail ? ('<' + selectedCommit1.updaterEmail + '>') : ''}}
            <small>{{selectedCommit2.commitTime | date:'mediumDate'}}</small>
          </p>
        </div>
      </mat-list-item>
      <mat-list-item class="diff-empty" [hidden]="!emptyDiff">
        No differences between two versions.
      </mat-list-item>
      <div #diffContainer [hidden]="emptyDiff"></div>
    </mat-list>
  </div>
</section>
