<section fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="85%" fxLayout="row" fxLayoutAlign="center top">
    <!-- column 1 -->
    <!--<div fxFlex="25%" *ngIf="isUseSttTa.stt">-->

    <!-- STT progress -->
    <!--<mat-card class="box primary">-->
    <!--<mat-card-content>-->
    <!--<h2>STT Models</h2>-->

    <!--<p class="subtitle">-->
    <!--<mat-icon>lightbulb_outline</mat-icon>-->
    <!--{{sttTrainedModels.length}} models have been prepared.-->
    <!--</p>-->
    <!--<ul>-->
    <!--<li *ngFor="let model of sttTrainedModels">{{model.name}}</li>-->
    <!--</ul>-->

    <!--<p class="subtitle">-->
    <!--<mat-icon>lightbulb_outline</mat-icon>-->
    <!--{{sttTrainingsModels.length}} trainings are in progress.-->
    <!--</p>-->
    <!--<ul>-->
    <!--<li *ngFor="let training of sttTrainingsModels">-->
    <!--<span>{{training.name}}</span>-->
    <!--<mat-progress-bar mode="buffer" color="primary" [value]="training.progress"-->
    <!--[bufferValue]="training.progress"></mat-progress-bar>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</mat-card-content>-->
    <!--<mat-card-actions>-->
    <!--<ul>-->
    <!--<li (click)="click('/mlt/stt/training')">-->
    <!--<mat-icon>exit_to_app</mat-icon>-->
    <!--<span>Go to STT training</span>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</mat-card-actions>-->
    <!--</mat-card>-->

    <!--<mat-card class="box">-->
    <!--<mat-card-content>-->
    <!--<h2>STT Transcriptions</h2>-->
    <!--<p class="subtitle">-->
    <!--<mat-icon>lightbulb_outline</mat-icon>-->
    <!--{{sttFileCount}} audio files uploaded.-->
    <!--</p>-->
    <!--<p class="subtitle">-->
    <!--<mat-icon>lightbulb_outline</mat-icon>-->
    <!--{{sttTransCount}} transcribed.-->
    <!--</p>-->
    <!--<p class="subtitle">-->
    <!--<mat-icon>lightbulb_outline</mat-icon>-->
    <!--{{sttQaCount}} quality verified.-->
    <!--</p>-->
    <!--<p class="subtitle">-->
    <!--<mat-icon>lightbulb_outline</mat-icon>-->
    <!--{{sttFileGroups.length}} file groups have been made.-->
    <!--</p>-->

    <!--<ul>-->
    <!--<li *ngFor="let group of sttFileGroups">{{group.name}} has-->
    <!--{{group.fileTotalCount}} files of {{group.fileTotalDuration | secondsToTime }}-->
    <!--</li>-->
    <!--</ul>-->
    <!--</mat-card-content>-->
    <!--<mat-card-actions>-->
    <!--<ul>-->
    <!--<li (click)="click('/mlt/stt/transcription/transcription')">-->
    <!--<mat-icon>exit_to_app</mat-icon>-->
    <!--<span>Go to STT Transcription</span>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</mat-card-actions>-->
    <!--</mat-card>-->
    <!--</div>-->

    <!-- column 2 -->
    <div fxFlex="25%" *ngIf="isUseSttTa.ta">

      <!-- TA progress -->
      <mat-card class="box">
        <mat-card-content>
          <h2>DNN Models</h2>

          <p class="subtitle">
            <mat-icon>lightbulb_outline</mat-icon>
            {{taDnnTotalLength}} models have been prepared.
          </p>
          <ul>
            <li *ngFor="let model of taDnnDics">{{model.name}}</li>
            <ng-container *ngIf="taDnnTotalLength > 5">
              <li>
                <mat-icon>more_horiz</mat-icon>
              </li>
            </ng-container>
          </ul>

          <p class="subtitle">
            <mat-icon>lightbulb_outline</mat-icon>
            {{taDnnTrainings.length}} trainings are in progress.
          </p>
          <ul>
            <li *ngFor="let training of taDnnTrainings">
              <span>{{training.name}}</span>
              <mat-progress-bar mode="buffer" color="primary" [value]="training.progress"
                                [bufferValue]="training.progress"></mat-progress-bar>
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <ul>
            <li (click)="click('m2u-builder/dnncl-models')">
              <mat-icon>exit_to_app</mat-icon>
              <span>Go to DNN</span>
            </li>
          </ul>
        </mat-card-actions>
      </mat-card>

      <mat-card class="box">
        <mat-card-content>
          <h2>HMD Dictionaries</h2>

          <p class="subtitle">
            <mat-icon>lightbulb_outline</mat-icon>
            {{taHmdTotalLength}} dictionaries have been made.
          </p>
          <ul>
            <li *ngFor="let dic of taHmdDics">{{dic.name}} has <!--{{dic.versions.length}}-->
              revisions.
            </li>
            <ng-container *ngIf="taHmdTotalLength > 5">
              <li>
                <mat-icon>more_horiz</mat-icon>
              </li>
            </ng-container>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <ul>
            <li (click)="click('/m2u-builder/hmd-models')">
              <mat-icon>exit_to_app</mat-icon>
              <span>Go to HMD</span>
            </li>
          </ul>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- column 3 -->
    <div fxFlex="50%">
      <div fxLayout="row">
        <div fxFlex="50%" fxLayout="column">
          <mat-card class="box">
            <mat-card-content>
              <h2>Basic QA Indexing</h2>
              <p class="subtitle">
                <mat-icon>lightbulb_outline</mat-icon>
                {{bsqaSkillCount}} skills have been prepared.
              </p>
              <ul>
                <span>{{bsqaSkills}}</span>
              </ul>

              <p class="subtitle">
                <mat-icon>lightbulb_outline</mat-icon>
                <ng-container *ngIf="bsqaIndexing">
                  {{bsqaIndexing.length}} Indexing are in progress.
                </ng-container>
                <ng-container *ngIf="!bsqaIndexing">
                  0 Indexing are in progress.
                </ng-container>
              </p>
              <ul>
                <ng-container *ngIf="bsqaProgressStatus">
                  <mat-progress-bar mode="buffer" color="primary" [value]="bsqaIndexing.progress"
                                    [bufferValue]="bsqaIndexing.progress"></mat-progress-bar>
                </ng-container>
              </ul>
              <p class="subtitle">
                <mat-icon>lightbulb_outline</mat-icon>
                The latest basicQA history
              </p>
              <ul>
                <ng-container *ngIf="bsqaLatestHistory != null">
                  <span *ngIf="bsqaLatestHistory.stopYn">
                  {{bsqaLatestHistory.type}} (Total {{bsqaLatestHistory.total}} Stopped)
                  </span>
                  <span *ngIf="!bsqaLatestHistory.stopYn">
                  {{bsqaLatestHistory.type}} (Total {{bsqaLatestHistory.total}} Success)
                  </span>
                </ng-container>
              </ul>
            </mat-card-content>
            <mat-card-actions>
              <ul>
                <li (click)="click('/m2u-builder/bqa/categories/schedule')">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Go to Basic QA Schedule</span>
                </li>
              </ul>
            </mat-card-actions>
          </mat-card>
        </div>
<!--        <div fxFlex="50%" fxLayout="column">-->
<!--          <mat-card class="box">-->
<!--            <mat-card-content>-->
<!--              <h2>MRC Models</h2>-->

<!--              <p class="subtitle">-->
<!--                <mat-icon>lightbulb_outline</mat-icon>-->
<!--                {{mrcDataGroups.length}} data-groups have been prepared.-->
<!--              </p>-->
<!--              <ul>-->
<!--                <li *ngFor="let dataGroup of mrcDataGroups">{{dataGroup.dataGroupName}}</li>-->
<!--              </ul>-->

<!--              <p class="subtitle">-->
<!--                <mat-icon>lightbulb_outline</mat-icon>-->
<!--                {{mrcTrainings.length}} trainings have been prepared.-->
<!--              </p>-->
<!--              <ul>-->
<!--                <li *ngFor="let training of mrcTrainings">-->
<!--                  <span>{{training.name}}</span>-->
<!--                  <mat-progress-bar mode="buffer" color="primary" [value]="training.progress"-->
<!--                                    [bufferValue]="training.progress"></mat-progress-bar>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </mat-card-content>-->
<!--            <mat-card-actions>-->
<!--              <ul>-->
<!--                <li>-->
<!--&lt;!&ndash;                  (click)="click('/mlt/mrc/training')">&ndash;&gt;-->
<!--                  <mat-icon>exit_to_app</mat-icon>-->
<!--                  <span>Go to MRC training</span>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </mat-card-actions>-->
<!--          </mat-card>-->
<!--        </div>-->
      </div>
      <!-- Histories -->
      <mat-card class="list">
        <mat-card-content>
          <h2>Workspace Recent Histories</h2>
          <ul>
            <li *ngFor="let history of histories">
<!--              (click)="click('/mlt/management/histories')">-->
              <a href="javascript:;">
                <mat-icon>label_outline</mat-icon>
                {{history.message || history.code}}</a>
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <ul>
            <li>
<!--              (click)="click('/mlt/management/histories')">-->
              <mat-icon>history</mat-icon>
              <span>Check out all the histories</span>
            </li>
          </ul>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</section>
