<div class="mlt-mainbody">
  <app-git #gitComponent
           [getTitle]=model.name
           [getCommitListUrl]="full_path + '/getCommitList'"
           [getDiffUrl]="full_path + '/getDiff'"
           [getFileByCommitUrl]="full_path + '/getFileByCommit'"
           [fileId]="model.id"></app-git>
</div>
