.toolbars {
  background-color: white;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.arrowTool {
  display: flex;
}

.contentTool {
  margin: 0 0 0px 500px;
}

.da-detail-all {
  margin-left: 20px;
  margin-top: 20px;
  width: 60%;
  padding-bottom: 15px;
  overflow-y: auto;

  .infoContent {
    margin-left: 15px;
  }

  .mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 2px;
    border-left: 1px solid #d3d3d3;
  }

  .mat-card-style {
    width: 700px;
    margin-top: 15px;

    .box-size {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 40px;
      padding-bottom: 10px;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 40px;
      padding-left: 17px;
      background-color: #f3f3f3;
    }

    .content-data {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      min-height: 36px;
      padding: 0 16px;
      margin: 5px 0px;
      position: relative;

      .left {
        color: rgba(0, 0, 0, .54);
        float: left;
        padding-right: 60px;
        width: 166px;
      }

      .right {
        float: left;
        width: 385px;
        word-break: break-all;
      }
    }
  }
}

.rolling {
  display: block;
  width: 100%;
  height: 50px;
}

.active_icon {
  color: #43f436;
  padding-left: 15px;
  text-align: center;
}

.stop_icon {
  color: #a0a0a0;
  padding-left: 15px;
  text-align: center;
}

.jsonData {
  padding-top: 12px;
  overflow: auto;
  height: auto;
}

.instanceDivider {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.check_circle {
  color: #43f436;
  text-align: center;
}

.block {
  color: #a0a0a0;
  text-align: center;
}

.cached {
  color: #43f436;
  text-align: center;
}
