<mat-toolbar class="mrc-toolbar-list" style="justify-content: normal">
  <div style="margin-right: 60px">
    <a class="mrc-toolbar-title">MRC Passage</a>
  </div>
  <div style="width: 100%; min-width: 820px">
    <div style="float: left">
      <!-- Upload a File -->
      <app-uploader-button
          #uploader [title]="'Import'"
          [url]="'/mrc/passage/' + workspaceId + '/upload-file'"
          (preUploadCallback)=confirmUpload()
          (uploadCallback)=onClickResetButton()></app-uploader-button>
      <!-- Merge a File -->
      <app-uploader-button
          #merger [title]="'Merge'"
          [url]="'/mrc/passage/' + workspaceId + '/merge-file'"
          (preUploadCallback)=confirmMerge()
          (uploadCallback)=onClickResetButton()></app-uploader-button>
      <!-- Download All Passage set -->
      <button mat-button color="accent"
              (click)="downloadFile('passage')">
        <mat-icon class="color">file_download</mat-icon>
        <span class="color">Backup</span>
      </button>
      <!-- Download Learning set -->
      <button mat-button color="accent"
              (click)="downloadFile('learning')">
        <mat-icon class="color">file_download</mat-icon>
        <span class="color">Learning Set</span>
      </button>
      <!-- Download All Passage/Question/Answer set -->
      <button mat-button color="accent"
              (click)="downloadFile('pqa-xlsx')">
        <mat-icon class="color">file_download</mat-icon>
        <span class="color">P-Q-A set</span>
      </button>
    </div>
    <div style="float: right">
      <button style="float:right;" mat-raised-button color="primary" (click)="goQAs()">Q&As</button>
    </div>
  </div>
</mat-toolbar>

<div class="mlt-mainbody">
  <div class="passage-list">
    <div class="first-line">
      <mat-form-field style="width:220px; margin-right: 10px;" floatLabel="never">
        <!--          <textarea autoresize matInput [(ngModel)]="searchPassage" rows="1" placeholder="Passage"-->
        <!--                    (keydown)="searchKeydown($event)"></textarea>-->
        <input matInput [(ngModel)]="searchPassage" rows="1" placeholder="Passage"
               (keydown)="searchKeydown($event)">
      </mat-form-field>
      <!--      <mat-form-field style="width:200px; margin-right: 10px;" floatLabel="never">-->
      <!--        <input matInput [(ngModel)]="searchQuestion" rows="1" placeholder="Question"-->
      <!--               (keydown)="searchKeydown($event)">-->
      <!--      </mat-form-field>-->
      <mat-form-field style="width:95px; margin-right: 10px;" floatLabel="never">
        <input matInput [(ngModel)]="searchHeading1" rows="1" placeholder="Major Heading"
               (keydown)="searchKeydown($event)">
      </mat-form-field>
      <mat-form-field style="width:135px; margin-right: 10px;" floatLabel="never">
        <input matInput [(ngModel)]="searchHeading2" rows="1" placeholder="Other Heading"
               (keydown)="searchKeydown($event)">
      </mat-form-field>

      <!-- Search Button -->
      <button mat-raised-button color="primary" (click)="onClickSearchButton(0)">Search</button>
      <button mat-raised-button color="primary" (click)="onClickResetButton()">Reset</button>
    </div>
    <div>
      <p style="margin: 5px 0 0 10px;" [innerHTML]="summary"></p>
    </div>
    <div fxLayout="row">
      <div fxFlex>
        <app-table class="mlt-table" #lineTableComponent [headers]="header" [rows]="passageList"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputSelectedRow)="editPassage($event)"
                   (outputSelectedHeader)="search($event)"
                   (outputPaginator)="setPage($event)">
        </app-table>
        <ng-template let-row="row" #passageTemplate>
          <div class="passage-row">
            <a class="idCursor" (click)="detailPassage(row)">{{row.passage}}</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
