.select-search-form {
  height: 42px;
  padding-left: 10px;

  .select-search-form-input {
    height: 100%;
  }
}

.mlt-model-info-section {
  padding-left: 24px;
  padding-top: 24px;

  mat-form-field {
    padding-right: 50px;
  }
}

.sentence-tools {
  cursor: default;

  button {
    font-size: 12px;
    color: rgba(0, 0, 0, .8);
    margin: 5px;
    min-width: 50px;
  }
}

.mat-menu {
  text-align: center;
  vertical-align: bottom;
}

.mlt-table {
  input {
    width: 90%;
  }
}
