<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <button mat-button class="go-back" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mlt-toolbar-title">  XDC model : {{selectedXdcDic?.name}}  </span>
  </div>
  <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
          [hidden]="action.hidden || !isCreated">
    <mat-icon color="primary">{{action?.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action?.text}}</span>
  </button>

  <button mat-button [matMenuTriggerFor]="test" [hidden]="editable || !isCreated">
    <mat-icon color="primary">streetview</mat-icon>
    <span style="color: #3b78e7"> Test </span>
  </button>
  <mat-menu #test="matMenu">
    <button class="mat-menu" mat-menu-item (click)="testWithFiles()">Test with files</button>
    <button class="mat-menu" mat-menu-item (click)="testWithText()">Test with text</button>
  </mat-menu>

  <ng-container *ngIf="editable">
    <app-uploader-button [url]="'/ta/xdc/training-data/upload-files'" accept=".txt"
                         [data]="selectedXdcDic.xdcDicId"  #uploader
                         (preUploadCallback)=confirmUpload()
                         (uploadCallback)=onUploadFile()></app-uploader-button>
  </ng-container>

</mat-toolbar>
<div class="mlt-mainbody">
  <div class="mlt-model-info-section">
    <form [formGroup]="infoGroup2">
      <mat-form-field>
        <input [hidden]="model_actions.hidden" matInput formControlName="name"
               placeholder="Xdc model name1" [readonly]="false"
               [value]="selectedXdcDic.name" (change)="changeModelName($event.target.value)">
        <input [hidden]="!model_actions.hidden" matInput formControlName="name"
               placeholder="Xdc model name2" [readonly]="'readOnly'"
               [value]="selectedXdcDic.name" [disabled]="true">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="manDesc" placeholder="Description" [readonly]="isReadOnly"
               [(value)]="selectedXdcDic.manDesc" (change)="changeModelDesc($event.target.value)">
      </mat-form-field>
      <button mat-button [hidden]="model_actions.hidden" class="mat-button-enable"
              (click)="doAction(model_actions)" [disabled]="model_actions.hidden">
        <mat-icon color="primary">{{model_actions.icon}}</mat-icon>
        <span class="mat-button-enable">{{model_actions.text}}</span></button>
    </form>
  </div>
  <section [hidden]="!isCreated">
    <h2>Dataset {{selectedXdcDic.name}}</h2>
    <p>Edit dataset used in XDC training.</p>
    <div fxLayout="row">
      <app-tree style="margin-right: 10px;" fxFlex="none" [nodes]="categories" [editable]="editable"
                [callback]="categoryCallback" #appTree></app-tree>
      <div fxFlex>
        <div *ngIf="selectedXdcDic?.xdcDicId !== undefined" class="sentence-tools">
          <form [formGroup]="infoGroup1">
            <button mat-button [hidden]="!editable" (click)="addLine()">Add a sentence</button>
            <button mat-button [hidden]="!editable" (click)="deleteLine()">Remove sentences</button>
            <button mat-button [hidden]="!editable" (click)="deleteDupLine()">Remove duplicates
            </button>
            <mat-form-field class="mlt-input" [floatLabel]="'never'">
              <input matInput placeholder="sentence search" formControlName="sentence"
                     name="sentence" (keyup)="getXdcDicLineAllList(0)"
                     [(ngModel)]="searchSentence">
            </mat-form-field>
          </form>
        </div>
        <div [hidden]="!editable" class="tree-tools">

        </div>
        <app-table class="mlt-table" #lineTableComponent [headers]="header" [rows]="xdcDicLineList"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputPaginator)="setPage($event)" (outputRowInput)="changeSentence($event)">
        </app-table>
      </div>
    </div>
  </section>
</div>
