<p-growl [(value)]="msgs"></p-growl>

<div class="default-content-wrap">
  <div class="default-content-container">
    <div class="content-header">
      <div class="content-header-title">
        <div class="header-title">Entities</div>
        <div class="progress-content-wrap train-progress-bar" *ngIf="visibleTraining">
          <div class="progress-content-title">Train Progress:</div>
          <p-progressBar [value]="value" styleClass="progress-content-bar"></p-progressBar>
          <div class="progress-content-status">{{value}}%</div>
          <div class="title-button-wrap">
            <button mat-raised-button color="primary" class="btn-title" (click)="stopTraining()"
                    *ngIf="isTraining">Cancel
            </button>
          </div>
        </div>
        <div class="title-button-wrap">
          <button mat-raised-button color="primary" class="btn-title" (click)="downloadEntities()">
            <i class="material-icons">cloud_download</i>Download
          </button>

          <label for="upload"><i class="material-icons">cloud_upload</i>Upload</label>
          <input #upload id="upload" class="btn-upload" type="file" multiple="false"
                 (change)="uploadEntities($event)"/>

          <button mat-raised-button color="primary" class="btn-title" (click)="trainOpen()">
            <i class="material-icons">school</i>Training
          </button>

          <!--<button mat-raised-button color="primary" class="btn-title" (click)="saveEntityData()">-->
          <!--<i class="material-icons">save</i>Save-->
          <!--</button>-->
        </div>
      </div>
    </div>

    <mat-tab-group class="default-tab" (focusChange)="onToggleEntityTabs($event)">
      <mat-tab label="Entities">
        <div class="content-wrap content-grid">
          <div class="content-container">
            <!--default entities-->
            <div class="content-grid-wrap">
              <div class="entities-title-wrap">
                <div class="entities-btn-wrap">
                  <i class="material-icons btn-add" (click)="addEntity()">add</i>
                  <i class="material-icons btn-add-remove" (click)="removeEntity()">remove</i>
                  <!--<i class="material-icons btn-copy">content_copy</i>-->
                </div>
              </div>
              <div class="entities-content-wrap">
                <div class="content-tree-wrap tree-table">
                  <p-treeTable #entityTreeTable [value]="entityList | entityTreeNode : true"
                               selectionMode="single"
                               [(selection)]="selectedNode"
                               (onNodeSelect)="onNodeSelect($event)">
                    <p-column>
                      <ng-template let-col let-node="rowData" pTemplate="body" field="entityName">
                        <input [(ngModel)]="node.data.name" type="text" disabled>
                        <i class="material-icons icon-link"
                           *ngIf="node.data.sharedYn === 'Y'">link</i>
                      </ng-template>
                    </p-column>
                  </p-treeTable>
                </div>
              </div>
            </div>

            <!--parent entities-->
            <div class="content-grid-wrap add-entities-wrap"
                 *ngIf="selectedNode !== null && selectedNode !== undefined && selectedNode.data.hasOwnProperty('className')">
              <div class="add-entities-container">
                <div class="entity-default-wrap">
                  <div class="entity-default-container">
                    <div class="entity-default-title">Class Name</div>
                    <div class="entity-name-text name_on">
                      <input type="text" [(ngModel)]="selectedNode.data.className"
                             (change)="onEntityChange()"
                             [disabled]="selectedNode.data.original.sharedYn === 'Y' && !onShared">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--menuitem entities-->
            <div class="content-grid-wrap add-entities-wrap"
                 *ngIf="selectedNode !== null && selectedNode !== undefined && !selectedNode.data.hasOwnProperty('className')">
              <div class="add-entities-container">
                <div class="entity-default-wrap">
                  <div class="entity-default-container">
                    <div class="entity-default-title">Entity Name</div>
                    <div class="entity-name-text name_on">
                      <input type="text" [(ngModel)]="selectedNode.data.name"
                             (change)="onEntityChange('entityName')"
                             [disabled]="selectedNode.data.original.sharedYn === 'Y' && !onShared">
                    </div>
                  </div>
                  <div class="entity-default-container">
                    <div class="entity-default-title">Type</div>
                    <div class="entity-type-select">
                      <p-dropdown
                        styleClass="custom-dropdown gray-dropdown"
                        [style]="{'width':'100%'}"
                        [options]="slotTypeOptions"
                        (onChange)="onEntityChange()"
                        [(ngModel)]="selectedNode.data.original.entityType"
                        [disabled]="selectedNode.data.original.sharedYn === 'Y' && !onShared">
                      </p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="entity-data-wrap">
                  <div class="entity-data-button">
                    <button class="btn-entity-data" (click)="addEntityData()">
                      <i class="material-icons">add</i>
                    </button>
                  </div>
                  <div class="entity-data-container"
                       *ngFor="let slot of selectedNode.data.original.entityData; let idx = index;">
                    <div class="entity-default-container">
                      <button class="btn-entity-data" (click)="removeEntityData(idx)">
                        <i class="material-icons">remove</i>
                      </button>
                      <div class="entity-default-title entity-data">Entity Data</div>
                      <div class="entity-data-text">
                        <input type="text" [(ngModel)]="slot.entityData" placeholder="내용을 입력해주세요."
                               (change)="entityDataChanged(idx)"
                               [disabled]="selectedNode.data.original.sharedYn === 'Y' && !onShared">
                      </div>
                    </div>
                    <div class="entity-default-container">
                      <div class="entity-default-title">Synonym</div>
                      <div class="entity-data-text">
                        <input type="text" placeholder="내용을 입력해주세요."
                               (keypress)="synonymEnterEvent($event, idx)"
                               [disabled]="selectedNode.data.original.sharedYn === 'Y' && !onShared">
                      </div>
                      <div class="word-add-wrap">
                        <button class="btn-word"
                                *ngFor="let syn of slot.entityDataSynonym; let idx=index;">
                          {{syn.entityDataSynonym}} <i class="material-icons"
                                                       (click)="removeSynonym(slot, idx)"
                                                       *ngIf="selectedNode.data.original.sharedYn !== 'Y' || onShared">clear</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Shared Entity">
        <div class="content-wrap content-grid">
          <div class="content-container">
            <!--default entities-->
            <div class="content-grid-wrap">
              <div class="entities-title-wrap">
                <div class="entities-btn-wrap">
                  <i class="material-icons btn-add"></i>
                  <i class="material-icons btn-add-remove"></i>
                  <!--<i class="material-icons btn-add" (click)="addEntity()">add</i>-->
                  <!--<i class="material-icons btn-add-remove" (click)="removeEntity()">remove</i>-->
                  <!--<i class="material-icons btn-copy">content_copy</i>-->
                </div>
              </div>
              <div class="entities-content-wrap">
                <div class="content-tree-wrap tree-table">
                  <p-treeTable #sharedEntityTreeTable
                               [value]="sharedEntityList | entityTreeNode : true"
                               selectionMode="single"
                               [(selection)]="selectedSharedNode"
                               (onNodeSelect)="onNodeSelect($event)">
                    <p-column>
                      <ng-template let-col let-node="rowData" pTemplate="body">
                        <input [(ngModel)]="node.data.name" type="text" disabled>
                      </ng-template>
                    </p-column>
                  </p-treeTable>
                </div>
              </div>
            </div>

            <!--parent entities-->
            <div class="content-grid-wrap add-entities-wrap"
                 *ngIf="selectedSharedNode !== null && selectedSharedNode !== undefined && selectedSharedNode.data.hasOwnProperty('className')">
              <div class="add-entities-container">
                <div class="entity-default-wrap">
                  <div class="entity-default-container">
                    <div class="entity-default-title">Class Name</div>
                    <div class="entity-name-text name_on">
                      <input type="text" [(ngModel)]="selectedSharedNode.data.className"
                             (change)="onEntityChange()">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--menuitem entities-->
            <div class="content-grid-wrap add-entities-wrap"
                 *ngIf="selectedSharedNode !== null && selectedSharedNode !== undefined && !selectedSharedNode.data.hasOwnProperty('className')">
              <div class="add-entities-container">
                <div class="entity-default-wrap">
                  <div class="entity-default-container">
                    <div class="entity-default-title">Entity Name</div>
                    <div class="entity-name-text name_on">
                      <input type="text" [(ngModel)]="selectedSharedNode.data.name"
                             (change)="onEntityChange('entityName')">
                    </div>
                  </div>
                  <div class="entity-default-container">
                    <div class="entity-default-title">Type</div>
                    <div class="entity-type-select">
                      <p-dropdown
                        styleClass="custom-dropdown gray-dropdown"
                        [style]="{'width':'100%'}"
                        [options]="slotTypeOptions"
                        (onChange)="onEntityChange()"
                        [(ngModel)]="selectedSharedNode.data.original.entityType">
                      </p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="entity-data-wrap">
                  <div class="entity-data-button">
                    <button class="btn-entity-data" (click)="addEntityData()">
                      <i class="material-icons">add</i>
                    </button>
                  </div>
                  <div class="entity-data-container"
                       *ngFor="let slot of selectedSharedNode.data.entityData; let idx = index;">
                    <div class="entity-default-container">
                      <button class="btn-entity-data" (click)="removeEntityData(idx)">
                        <i class="material-icons">remove</i>
                      </button>
                      <div class="entity-default-title entity-data">Entity Data</div>
                      <div class="entity-data-text">
                        <input type="text" [(ngModel)]="slot.entityData" placeholder="내용을 입력해주세요."
                               (change)="entityDataChanged(idx)">
                      </div>
                    </div>
                    <div class="entity-default-container">
                      <div class="entity-default-title">Synonym</div>
                      <div class="entity-data-text">
                        <input type="text" placeholder="내용을 입력해주세요."
                               (keypress)="synonymEnterEvent($event, idx)">
                      </div>
                      <div class="word-add-wrap">
                        <button class="btn-word"
                                *ngFor="let syn of slot.entityDataSynonym; let idx=index;">
                          {{syn.entityDataSynonym}} <i class="material-icons"
                                                       (click)="removeSynonym(slot, idx)">clear</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
