/* START Entities style*/
@import "../../dialog-model-common";

.entities-btn-wrap {
  text-align: right;
  border-bottom: $content-title-border;
  padding-bottom: 5px;

  i {
    font-size: $font-itag;
    padding: 5px;
    font-weight: bold;
  }
}

.entities-content-wrap {
  width: 100%;
  height: calc(100% - 60px);
  margin: 20px 0 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.add-entities-wrap {
  margin-left: 20px;
  font-size: 14px;

  .add-entities-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    input {
      width: calc(100% - 22px);
      border-radius: 2px;
      border: 1px solid #e2e2e2;
      font-size: 14px;
      height: 26px;
    }

    button {
      border: none;
      padding: 0;
      border-radius: 2px;
    }

    .btn-entity-data {
      i {
        border: 1px $main-color solid;
        border-radius: 3px;
        color: $main-color;
      }
    }
  }

  .entity-default-container {
    margin-bottom: 15px;
  }

  .entity-default-title {
    margin-bottom: 10px;

    &.entity-data {
      display: inline-block;
      margin-bottom: 5px;
      line-height: 28px;
      vertical-align: top;
    }
  }

  .entity-name-text {
    background: #e2e2e2;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    width: 100%;

    input {
      display: inline-block;
      width: calc(100% - 55px);
      height: 36px;
      padding: 0 10px;
      background: transparent;
      border: none;
    }

    button {
      margin: 5px 0;
      width: 24px;
      height: 24px;
      background: transparent url("../../../../../assets/img/edit.svg") center no-repeat;
      background-size: 13px;
      vertical-align: top;
    }

    &.name_on {
      background: #FFFFFF;

      button {
        background: $main-color url("../../../../../assets/img/edit2.svg") center no-repeat;
        background-size: 13px;
      }
    }
  }

  .entity-type-select {
    .ui-state-default {
      border: 1px solid #e2e2e2;
    }

    .ui-dropdown-trigger {
      border: none;

      .fa {
        line-height: 36px;
        margin-top: 0;
      }
    }

    .ui-dropdown label.ui-dropdown-label {
      width: 100%;
      height: 34px;
      font-size: 14px;
      line-height: 32px;
      padding: 2px 15px 2px 10px;
    }

    .ui-dropdown.ui-state-focus, .ui-multiselect.ui-state-focus, .ui-inputtext.ui-state-focus, .ui-inputtext:focus {
      box-shadow: none;
    }

    .ui-state-highlight {
      background: $main-color;
    }
  }
}

.entity-data-wrap {
  padding-top: 20px;
  margin-top: 25px;
  border-top: 1px solid #e2e2e2;

  .word-add-wrap {
    min-height: 35px;
    max-height: 200px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    margin-top: 5px;
    padding: 0 10px 10px;
    overflow-y: auto;
    width: calc(100% - 22px);
  }

  button.btn-word {
    height: 24px;
    border-radius: 1px;
    background: $main-color;
    color: #FFFFFF;
    padding: 0 5px 0 10px;
    line-height: 25px;
    margin: 10px 10px 0 0;
    font-weight: normal;

    i {
      font-size: 14px;
      vertical-align: text-top;
      margin-left: 3px;
    }
  }
}

.entity-data-button {
  text-align: right;
}

.default-tab {
  height: calc(100% - 65px);

  .mat-tab-body-wrapper {
    height: calc(100% - 50px);

    .content-wrap {
      height: calc(100% - 80px);

      .add-entities-wrap {
        padding-right: 0;

        .add-entities-container {
          width: calc(100% - 20px);
          padding-right: 20px;
        }
      }

      .icon-link {
        color: #222222;
        line-height: 36px;
        vertical-align: top;
      }
    }
  }
}

/* END Entities style*/
