<app-tools name=" DNN models " [actions]="actions">
  <!--todo action.disabled에따라 다른 스타일 적용 필요-->
  <!--<button mat-button *ngFor="let action of actions" (click)="doAction(action)"-->
  <!--[hidden]="action.hidden">-->
  <!--<mat-icon [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.icon}}</mat-icon>-->
  <!--<span [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.text}}</span>-->
  <!--</button>-->
</app-tools>

<div class="mlt-mainbody">
  <section>
    <mat-card-title></mat-card-title>
    <app-table #tableComponent [rows]="data" [headers]="header"
               [length]="length"
               [pageIndex]="pageParam?.pageIndex"
               [dataSource]="dataSource"
               (outputSelectedRow)="editModel($event)"
               (outputSelectedHeader)="setSort($event)"
               (outputPaginator)="getpaginator($event)"
    ></app-table>
  </section>
</div>
