.tools {
  background-color: #FFFFFF;
  border-bottom: 1.1px solid #d3d3d3;
  height: 57px !important;

  button {
    padding: 0 10px;
    margin: 0 0;
    letter-spacing: .01em;
    font-weight: 400;
    font-size: 15px;
  }

  button:not(:disabled) {
    color: rgb(59, 120, 231);
  }

  button.go-back {
    margin-left: 0px !important;
    background-color: #FFFFFF;

    mat-icon {
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }

  h2.title {
    font-weight: 400;
    letter-spacing: .005em;
    font-size: 18px;
    line-height: 35px;
    padding: 0px 0px 0px 0px;
  }

  div.section {
    margin: 0 0 0 32px;
    flex: none !important;
  }

  div.section-right {
    width: 160px;
    margin: 0 0 0 32px;
  }

  div.section-right .more {
    color: darkgray;
    float: left;
    margin: 6px 12px 0 0;
  }

  div.section-left {
    display: inline-block;
    flex: 0 0 auto;
    box-sizing: border-box;
    position: relative;
    user-select: none;
    outline: 0;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
  }

  div.section-search {
    margin-left: auto;
  }

  button.disabled-btn {
    background-color: #a0a0a0;
  }
}
