<!-- 위지윅에디터용 상담지원봇 2단 영역 -->
<div #divScroll class="preview_section" id="section02">
  <!-- 채팅리스트 -->
  <ul class="chatList">
    <li *ngFor="let node of flowNodes; let flowIdx = index;"> <!-- AI 답변 부모 템플릿 -->
      <div class="robotR {{isFinal(node) ? 'bg_end' : ''}}" id="{{guid}}-answer">
        <ng-container *ngFor="let msg of node?.attr; let msgIdx = index;">
          <!-- 멘트 템플릿 -->
          <ng-container *ngIf="msg.dtlsMsgTypeCd === AI_TEMP.COMMENT">
            <p *ngIf="msgIdx > 0" class="in_info mt15"><strong class="badge01">멘트</strong></p>
            <p *ngIf="msgIdx == 0" class="in_info"><strong class="badge01">멘트</strong><time>{{node.time}}</time><span class="name"></span></p>
            <div class='wecoms-edit-area'>
              <div *ngIf="msg.tmplCtt || msg.tmplCtt !== ''" [innerHTML]="removeScriptTag(msg.tmplCtt)"></div>
              <ng-container *ngIf="!msg.tmplCtt || msg.tmplCtt === ''">등록된 멘트가 없습니다.</ng-container>
            </div>
          </ng-container>

          <!-- 버튼 템플릿 -->
          <ng-container *ngIf="msg.dtlsMsgTypeCd === AI_TEMP.BUTTON">
            <span class="btn_chat_wrap">
              <!--button 한줄에 2개 -->
              <ng-container *ngIf="msg.tmplCtt.items.length <= 12">
                <ng-container *ngFor="let item1 of generateNumArray(msg.tmplCtt.items.length, 2); let itemIdx1 = index;">
                  <p class="btn_chat_area area_2_btn">
                    <a *ngIf="msg.tmplCtt.items[0 + item1]" (click)="clickButton(node.id, msg.tmplCtt.items[0 + item1], flowIdx, msg.tmplCtt.items)"
                       data-utter="{{msg.tmplCtt.items[0 + item1].selectedUtter}}" class="{{msg.tmplCtt.items[0 + item1].selected ? 'btn_chat_body line' : 'btn_chat_body'}}">
                    <span class="vac"><span class="choice">{{removeScriptTag(msg.tmplCtt.items[0 + item1].title)}}</span></span></a>
                    <a *ngIf="msg.tmplCtt.items[1 + item1]" (click)="clickButton(node.id, msg.tmplCtt.items[1 + item1], flowIdx, msg.tmplCtt.items)"
                       data-utter="{{msg.tmplCtt.items[1 + item1].selectedUtter}}" class="{{msg.tmplCtt.items[1 + item1].selected ? 'btn_chat_body line' : 'btn_chat_body'}}">
                      <span class="vac"><span class="choice">{{removeScriptTag(msg.tmplCtt.items[1 + item1].title)}}</span></span></a>
                  </p>
                </ng-container>
              </ng-container>
              <!--button 한줄에 3개 -->
              <ng-container *ngIf="msg.tmplCtt.items.length > 12">
                <ng-container *ngFor="let item1 of generateNumArray(msg.tmplCtt.items.length, 3); let itemIdx1 = index;">
                  <p class="btn_chat_area area_3_btn">
                    <a *ngIf="msg.tmplCtt.items[0 + item1]" (click)="clickButton(node.id, msg.tmplCtt.items[0 + item1], flowIdx, msg.tmplCtt.items)"
                       data-utter="{{msg.tmplCtt.items[0 + item1].selectedUtter}}" class="{{msg.tmplCtt.items[0 + item1].selected ? 'btn_chat_body line' : 'btn_chat_body'}}">
                    <span class="vac"><span class="choice">{{removeScriptTag(msg.tmplCtt.items[0 + item1].title)}}</span></span></a>
                    <a *ngIf="msg.tmplCtt.items[1 + item1]" (click)="clickButton(node.id, msg.tmplCtt.items[1 + item1], flowIdx, msg.tmplCtt.items)"
                       data-utter="{{msg.tmplCtt.items[1 + item1].selectedUtter}}" class="{{msg.tmplCtt.items[1 + item1].selected ? 'btn_chat_body line' : 'btn_chat_body'}}">
                      <span class="vac"><span class="choice">{{removeScriptTag(msg.tmplCtt.items[1 + item1].title)}}</span></span></a>
                    <a *ngIf="msg.tmplCtt.items[2 + item1]" (click)="clickButton(node.id, msg.tmplCtt.items[2 + item1], flowIdx, msg.tmplCtt.items)"
                       data-utter="{{msg.tmplCtt.items[2 + item1].selectedUtter}}" class="{{msg.tmplCtt.items[2 + item1].selected ? 'btn_chat_body line' : 'btn_chat_body'}}">
                      <span class="vac"><span class="choice">{{removeScriptTag(msg.tmplCtt.items[2 + item1].title)}}</span></span></a>
                  </p>
                </ng-container>
              </ng-container>
            </span>
          </ng-container>

          <!-- 최종 템플릿 -->
          <ng-container *ngIf="msg.dtlsMsgTypeCd === AI_TEMP.FINAL">
            <p *ngIf="msgIdx > 0" class="in_info mt15"><strong class="badge01">멘트</strong></p>
            <p *ngIf="msgIdx == 0" class="in_info"><strong class="badge01">멘트</strong><time>{{node.time}}</time><span class="name"></span></p>
            <div class='wecoms-edit-area'>
              <div *ngIf="msg.tmplCtt || msg.tmplCtt !== ''" [innerHTML]="removeScriptTag(msg.tmplCtt)"></div>
              <ng-container *ngIf="!msg.tmplCtt || msg.tmplCtt === ''">등록된 최종 답변이 없습니다.</ng-container>
            </div>
          </ng-container>

          <!-- 전산 최종 템플릿 -->
          <ng-container *ngIf="msg.dtlsMsgTypeCd === AI_TEMP.FINAL_DATA">
            <p *ngIf="msgIdx > 0" class="in_info mt15"><strong class="badge01">전산</strong></p>
            <p *ngIf="msgIdx == 0" class="in_info"><strong class="badge01">전산</strong><time>{{node.time}}</time><span class="name"></span></p>
            <div class='wecoms-edit-area'>
              <div *ngIf="msg.tmplCtt || msg.tmplCtt !== ''" [innerHTML]="removeScriptTag(msg.tmplCtt)"></div>
              <ng-container *ngIf="!msg.tmplCtt || msg.tmplCtt === ''">등록된 전산최종 답변이 없습니다.</ng-container>
            </div>
          </ng-container>

          <!-- 업무 최종 템플릿 -->
          <ng-container *ngIf="msg.dtlsMsgTypeCd === AI_TEMP.FINAL_TASK">
            <p *ngIf="msgIdx > 0" class="in_info mt15"><strong class="badge01">업무</strong></p>
            <p *ngIf="msgIdx == 0" class="in_info"><strong class="badge01">업무</strong><time>{{node.time}}</time><span class="name"></span></p>
            <div class='wecoms-edit-area'>
              <div *ngIf="msg.tmplCtt || msg.tmplCtt !== ''" [innerHTML]="removeScriptTag(msg.tmplCtt)"></div>
              <ng-container *ngIf="!msg.tmplCtt || msg.tmplCtt === ''">등록된 업무최종 답변이 없습니다.</ng-container>
            </div>
          </ng-container>

          <!-- 전산 템플릿 -->
          <ng-container *ngIf="msg.dtlsMsgTypeCd === AI_TEMP.DATA">
            <p *ngIf="msgIdx > 0" class="in_info mt15"><strong class="badge01">전산</strong></p>
            <p *ngIf="msgIdx == 0" class="in_info"><strong class="badge01">전산</strong><time>{{node.time}}</time><span class="name"></span></p>
            <div class='wecoms-edit-area'>
              <div *ngIf="msg.tmplCtt || msg.tmplCtt !== ''" [innerHTML]="removeScriptTag(msg.tmplCtt)"></div>
              <ng-container *ngIf="!msg.tmplCtt || msg.tmplCtt === ''">등록된 전산 답변이 없습니다.</ng-container>
            </div>
          </ng-container>

          <!-- 업무 템플릿 -->
          <ng-container *ngIf="msg.dtlsMsgTypeCd === AI_TEMP.TASK">
            <p *ngIf="msgIdx > 0" class="in_info mt15"><strong class="badge01">업무</strong></p>
            <p *ngIf="msgIdx == 0" class="in_info"><strong class="badge01">업무</strong><time>{{node.time}}</time><span class="name"></span></p>
            <div class='wecoms-edit-area'>
              <div *ngIf="msg.tmplCtt || msg.tmplCtt !== ''" [innerHTML]="removeScriptTag(msg.tmplCtt)"></div>
              <ng-container *ngIf="!msg.tmplCtt || msg.tmplCtt === ''">등록된 업무 답변이 없습니다.</ng-container>
            </div>
          </ng-container>

          <!-- TRANSITION - BQA 템플릿 -->
          <ng-container *ngIf="msg.dtlsMsgTypeCd === AI_TEMP.BQA">
            <p *ngIf="msg.tmplCtt?.goto">GO TO BQA : {{msg.tmplCtt.goto}}</p>
          </ng-container>

          <!-- TRANSITION - GO TO SKILL 템플릿 -->
          <ng-container *ngIf="msg.dtlsMsgTypeCd === AI_TEMP.TRANSITION_GO_TO_SKILL">
            <p *ngIf="msg.tmplCtt?.goto">GO TO SKILL : {{msg.tmplCtt.goto}}</p>
          </ng-container>

          <!-- TRANSITION - GO TO STACK 템플릿 -->
          <ng-container *ngIf="msg.dtlsMsgTypeCd === AI_TEMP.TRANSITION_GO_TO_STACK">
            <p *ngIf="msg.tmplCtt?.goto">GO TO STACK : {{msg.tmplCtt.goto}}</p>
          </ng-container>

        </ng-container>

        <ng-container *ngIf="node?.attr.length === 0">
          <p>등록된 메세지가 없습니다.</p>
        </ng-container>

      </div>
    </li>
  </ul>
</div>
