@charset "utf-8";

/**************************************************************/
/*                         상담지원봇 2단창                                    */
/**************************************************************/
#section02 {top:0px;height:94%;width:99%;background:#eff1f6;float:left;box-shadow:-2px 0px 8px rgba(0,0,0,.1) inset; overflow-y: scroll}
#preview {top:0px !important; height:100% !important; width:100%}

#section02 ol, #section02 ul,  #section02 li {list-style:none;}
#section02 img {border:0;}
#section02 table {border-collapse:collapse; border-spacing:0;}
#section02 table caption {display: none;}
#section02 th {font-style:normal; font-weight:normal; text-align:left;}
#section02 td {border-collapse:collapse; border-spacing:0;border: 1px solid #000000;}
#section02 input, #section02 select, #section02 button{vertical-align:middle}
#section02 q:before, #section02 q:after {content:'';}
#section02 sup {vertical-align:text-top;} #section02 sub {vertical-align:text-bottom;}
#section02 textarea {resize:none;}
#section02 button {cursor:pointer;}

#section02 a:link {color:#006400; cursor:pointer; text-decoration: underline;}
#section02 a:visited {color:#2FB427; text-decoration: underline;}
#section02 a:hover {color:#006400; cursor:pointer; text-decoration: underline;}
#section02 a:active {color:#006400; text-decoration: underline;}

#section02 .final_answer{cursor:pointer;}
#section02 .catting_area {position:relative;clear:both;height:calc(100% - 41px);}
#section02 .catting_area > .btn_arrow {position:absolute;left:15px;bottom:0px; z-index:4;}
#section02 .catting_area > .btn_arrow img {display:block;margin-bottom:7px;}
#section02 .catting_area > .btnBack {position:absolute;right:32px;bottom:10px;}
#section02 .catting_area > .sort {position:absolute;right:32px;bottom:10px;}
#section02 .catting_area > .sort.on {bottom:70px;}
#section02 .catting_area > .info_talk_num {position:absolute;left:0;bottom:0px;width:100%;height:60px;line-height:58px;padding:0 70px;box-sizing:border-box;color:#fff;background:#363d45; opacity:0.7;z-index:3;}
#section02 .catting_area > .info_talk_num .btn_down {position:absolute;top:20px;right:20px;display:inline-block;background:url("/assets/img/simulator/btn_arrow_down_bottom.png") no-repeat 50% 50%;width:20px;height:20px;}
#section02 .catting_area > .scrollArea2 {height:100%; overflow-y:auto;}
#section02 .chatList {width:100%; padding:18px 18px 30px; box-sizing: border-box;}
#section02 .chatList > li {position:relative;width:100%; display:inline-block; margin:6px 0;}
#section02 .chatList > li > div {width:calc(100% - 66px);padding:15px 18px;}
#section02 .chatList > li > .rating {min-width:100%;top:8px;}

#section02 .counselorL {position:relative;float:left;padding:15px 18px; background:#fff; border-radius:6px;box-shadow:0 2px 0 rgba(0,0,0,.05);}
#section02 .counselorL:before {position:absolute; width:0; height:0; content:""; top:-8px; left:28px; border-style:solid; border-width:8px 8px 0 0; border-color: transparent #fff transparent transparent;}
#section02 .counselorL:after {position:absolute; width:0; height:0; content:""; top:-8px; left:36px; border-style:solid; border-width: 8px 0 0 8px; border-color:transparent transparent transparent #fff;}
#section02 .counselorL .rink {float:left;display:inline-block;width:20px; height:20px;background:url("/assets/img/simulator/icon_rink.png") no-repeat 0 0/20px 20px;}
#section02 .counselorL .rink.on {background:url("/assets/img/simulator/icon_rink_on.png") no-repeat 0 0/20px 20px;}
#section02 .counselorL .rink + p {margin:0 0 0 25px;}

#section02 .name {margin-bottom:6px; font-size:12px; color:#767676;}
#section02 .name > span {background:url("/assets/img/simulator/icon_person.png") no-repeat 1px 0/16px 20px;margin:-9px 8px 0 0;display:inline-block;width:16px;height:20px;vertical-align:middle;}
#section02 .name > span.man {background:url("/assets/img/simulator/icon_customer_man.png") no-repeat 1px 0/18px 20px;margin:-9px 8px 0 0;}
#section02 .name > span.girl {background:url("/assets/img/simulator/icon_customer_girl.png") no-repeat 0 0/18px 20px;margin:-9px 8px 0 0;}
#section02 .name > span.CS {background:url("/assets/img/simulator/icon_counselor.png") no-repeat 0 0/18px 20px;margin:-9px 0 0 8px;}/*counselor*/
#section02 .name > span.CC {width:30px;height:30px;background:url("/assets/img/simulator/icon_counselor02.png") no-repeat 0 0/30px 30px;margin:-9px 2px 0 -6px;}/*coustomer&counselor*/
#section02 .name > time {display:inline-block;color:#9a9a9a;font-size:12px;margin:-1px 0 0 8px;vertical-align:middle;}
#section02 .nL {left:0; text-align:left;}
#section02 .nL > strong {color:#23a094;}
#section02 .nL > .man +  strong {color:#4b61eb;}
#section02 .nR {right:0; text-align:right;}
#section02 .nR > strong {color:#23a094;}

.robotR {float:right;padding:15px 18px; background:#fff; border-radius:6px;box-shadow:0 2px 0 rgba(0,0,0,.05);}
.robotR:before {position:absolute; width:0; height:0; content:""; top:-8px; right:28px; border-style:solid; border-width:8px 8px 0 0; border-color: transparent #fff transparent transparent;}
.robotR:after {position:absolute; width:0; height:0; content:""; top:-8px; right:20px; border-style:solid; border-width: 8px 0 0 8px; border-color:transparent transparent transparent #fff;}
.robotR > .ft01 {color:#1d9596;}
.robotR > .ft02 {color:#3498db;}
.robotR > .ft04 {color:#9971bd;}
.robotR.start {min-width:100% !important;box-sizing: border-box;}
.robotR.bg_end {background:#ffd4e1;border: 1px solid #ff91b8;}
.robotR.bg_end:before {width:14px; height:9px; border:0; background:url(/assets/img/simulator/bg_end_arrow.png) 0 0 no-repeat;}
.robotR.bg_end:after {border:0;}

.robotR .in_info {position:relative;height:40px;margin-bottom:2px;}
.robotR .in_info > .name {position:absolute;width:40px;height:40px;right:-10px;top:-8px;background:url("/assets/img/simulator/avata.png") no-repeat 0 0/40px 40px;}
.robotR .in_info > time {position:absolute;top:3px;right:40px;font-size:12px; color:#9a9a9a;}
.robotR .in_info > a.pen {position:absolute;width:25px;height:25px;left:38px;top:0;background:url("/assets/img/simulator/icon_pen.png") no-repeat 0 0/25px 25px;}
.robotR .in_info > a.pen.on {background:url("/assets/img/simulator/icon_pen_on.png") no-repeat 0 0/25px 25px;}
.robotR .in_info > a.sms {position:absolute;width:60px;height:25px;left:75px;background:url("/images/icon_sms_on.png") no-repeat;}
.robotR .in_info > strong {position:absolute;display:inline-block;width:30px;height:30px;font-size:11px;color:#fff;text-align:center;left:0;top:0;border-radius:50%;background:#1d9596;}
.robotR .in_info > strong.badge01 {background:#5c6064;line-height:28px;}
.robotR .in_info > strong.badge02 {background:#3498db;line-height:28px;}
.robotR .in_info > strong.badge03 {background:#f84484;line-height:28px;}
.robotR .in_info > strong.badge04 {background:#9971bd;line-height:28px;}

.basic_catting_area02 {padding:40px 20px 0;text-align:center;}
.basic_catting_area02 > .robotR {position:relative;padding:30px;}
.basic_catting_area02 > .robotR > img {margin-bottom:10px;}
.study_icon {width:21px;height:21px;float:right; cursor: pointer; position:relative; margin-top:-10px; top:5px; left:7px; background:url("/assets/img/simulator/img_check_off.png")0 0/21px 21px;}
.study_icon.off{background:url("/assets/img/simulator/img_check_on.png")no-repeat 0 0/21px 21px;}

#section02 .btn_chat_wrap {padding:10px 0 6px;}
#section02 .btn_chat_wrap:after {content:'';display:block;clear:both;}
#section02 .btn_chat_area {margin-bottom:-10px;display:flex;justify-content:space-between;width:calc(100% - 30px);max-width:calc(100% - 30px);float:right;}
#section02 .btn_chat_body {display:table;}
#section02 .area_2_btn .btn_chat_body:nth-child(odd) {padding-right:3px}
#section02 .area_2_btn .btn_chat_body:nth-child(even) {padding-left:3px}
#section02 .btn_chat_body .choice:before {content:'';display:block;position:absolute;top:50%;left:0;margin-top:-7px;width:16px; height:16px;/* background:url(/assets/img/simulator/radio_normal2.png) 0 0 no-repeat; */}
#section02 .btn_chat_body:hover {}
#section02 .btn_chat_area.area_3_btn > a {width:33%;min-width:1px;padding-left:3px;}
#section02 .btn_chat_area.area_3_btn > a .vac {text-align:left !important;}
#section02 .btn_chat_area.area_2_btn > a {width:50%;min-width:1px;}
#section02 .btn_chat_body .vac {display:table-cell;background:#fff;padding:0 14px;margin-bottom:6px;text-align:center;font-size:13px;height:45px;width:49%;min-width:110px;/* min-width:180px; */line-height:1.2;border-radius:5px;box-sizing:border-box;letter-spacing:-.8px;cursor:pointer;color:#23a094; border:1px solid #23a094; font-weight:bold;vertical-align:middle;}
#section02 .btn_chat_body.on .vac {background:#23a094 !important;color:#fff;}
#section02 .btn_chat_body.sent .vac {background:#3300CC !important;color:#fff;}
#section02 .line .vac {border:2px solid #23a094;line-height:1.2;}
#section02 .btn_chat_body.line {line-height:1.2;}
#section02 .btn_chat_body.line .vac {background: #3300CC; color: #fff}
#section02 .btn_chat_body .choice {position:relative;/* padding-left:18px; */margin:0;display:inline-block;width:auto;height:auto;background:none;vertical-align:top;}
#section02 .btn_chat_body.on .choice {background:none;}

/**************************************************************/
/*                   상담지원봇 2단창 답변평가                                    */
/**************************************************************/
.rating {position:relative;background:#fdfdfe;border:1px solid #cdcdcd;/*margin0:5px 15px 0 40px;*/margin: 10px 0 0 0;padding:10px !important;box-sizing:border-box;font-size:12px;overflow:hidden;}
.rating a {color:#333 !important}
.rating > a.btn_close_pop {position:absolute;top:8px;right:10px;}
.rating ul li a{display:inline-block;color:#767676;height:18px;float:left;margin-right:20px;}
.rating ul li a.active01 {background:url("/assets/img/simulator/icon_face01.png") no-repeat 0 0;padding:0 0 0 25px;}
.rating ul li a.active01.on {background:url("/assets/img/simulator/icon_face01_on.png") no-repeat 0 0;}
.rating ul li a.active02 {background:url("/assets/img/simulator/icon_face02.png") no-repeat 0 0;padding:0 0 0 25px;}
.rating ul li a.active02.on {background:url("/assets/img/simulator/icon_face02_on.png") no-repeat 0 0;padding:0 0 0 25px;}
.rating ul li a.active03 {background:url("/assets/img/simulator/icon_face03.png") no-repeat 0 0;padding:0 0 0 25px;}
.rating ul li a.active03.on {background:url("/assets/img/simulator/icon_face03_on.png") no-repeat 0 0;padding:0 0 0 25px;}
.rating div > textarea {width:100%;border:1px solid #e3e3e3;font-size:12px;padding:5px;margin:8px 0 3px 0;box-sizing:border-box;}
