<app-tools [name]="'Session List'" [showMoreVert]="false">
  <div app-tools-left>
    <mat-form-field class="session-search-input">
      <input matInput id="start-date-input" [matDatepicker]="picker1" placeholder="Start Date"
             [(formControl)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="session-search-input">
      <input matInput id="end-date-input" [matDatepicker]="picker2" placeholder="LastTalkedAt Date"
             [formControl]="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="session-search-input">
      <mat-select [(ngModel)]="selectedSearchOption" placeholder="Search Option">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let key of searchOptionKeys" [value]="key">
          {{searchOption[key]}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="session-search-input">
      <input class="input-size" matInput name="name" (keydown)="onKeyPress($event)"
             [(ngModel)]="keyword" [placeholder]="'Keyword'">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="getSessionList()">
      <mat-icon>trending_up</mat-icon>
      <span>Search</span>
    </button>

    <button mat-raised-button class="download-button" color="primary"
            (click)="excelDownload()">
      <mat-icon>file_download</mat-icon>
      <span>Download</span>
    </button>
  </div>
</app-tools>

<mat-sidenav-container class="m2u-mainbody">
  <div class="main-container">
    <app-table #tableComponent
               [headers]="header" [rows]="rows" [dataSource]="dataSource"
               [isServerPagination]="false">
    </app-table>
    <ng-template let-row="row" #sessionListTemplate>
      <div class="session-list-row">
        <a class="idCursor" (click)="chatLogDetailView(row)">{{row.ID}}</a>
      </div>
    </ng-template>
  </div>
</mat-sidenav-container>

