.session-search-input {
  font-size: 15px;
  padding-top: 20px;
  margin-right: 50px;
  width: 10%;
}

.userSearchInput {
  margin-left: 30px;
}

.analyse-button {
  margin-left: 35px;
}

.main-container {
  margin: 20px;
}

.download-button {
  margin-left: 10px;
  width: 10%;
}

.session-list-row {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .idCursor {
    cursor: pointer;
    color: #3367d6;
    font-weight: 600;
  }
}

/deep/ .root .layout .sidenav {
  box-shadow: 0 0 0 0 !important;
}
