.desc {
  max-width: 360px;
  margin: auto;
  word-break: break-all;
}

.sc-panel {
  margin-top: 20px;

  .full-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    padding: 0 16px;
    position: relative;

    .panel-icon {
      min-width: 24px;
      color: #d3d3d3;
    }

    .left {
      color: rgba(0, 0, 0, .54);
      float: left;
      width: 166px;
    }

    .right {
      float: left;
      width: 258px;
    }

    .skill-list-icon {
      padding-left: 30px;
      color: #d3d3d3;
      padding-right: 3px;
    }

    .left-skills {
      float: left;
      width: 300px;
    }
  }
}
