<div class="table">
  <table>
    <colgroup *ngIf="headers.length !==0">
      <col *ngFor="let col of headers; let i = index" [width]="col.width || ''"/>
    </colgroup>
    <tr *ngIf="headers.length !==0">
      <th *ngFor="let col of headers; let i = index" style="text-align: center">
        <a (click)="sort(i)" *ngIf="col.sortable">
          <span [innerHTML]="col.name"></span>
          <mat-icon *ngIf="(sorter && sorter.col === col && sorter.order)">expand_more</mat-icon>
          <mat-icon *ngIf="!(sorter && sorter.col === col && sorter.order)">expand_less</mat-icon>
        </a>
        <a *ngIf="!col.sortable" [innerHTML]="col.name"></a>
      </th>
    </tr>

    <!--json 데이터가 들어 있는 테이블쪽-->
    <tr *ngFor="let row of rows">
      <td *ngFor="let col of headers" [ngClass]="col.class || ''" style="text-align: center">
        <ng-container *ngIf="col.inArray">
          <ng-container *ngFor="let instance of row[col.inArray]; let i = index;">
            <div class="detail-dainstance-state">
              <mat-icon *ngIf="col.attr === 'state'" [ngClass]="getStateIcon(row, col, instance)"
                        [innerHTML]="getStateIcon(row, col, instance)"></mat-icon>
            </div>
            <div *ngIf="col.attr !== 'state'" class="arrayData"
                 [innerHTML]="instance[col.attr]"></div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!col.inArray && !col.asIcon">
          <div [innerHTML]="getContent(row,col)"></div>
        </ng-container>
        <ng-container *ngIf="!col.inArray && col.asIcon">
          <mat-icon [ngClass]="getColIcon(row,col)" [innerHTML]="getColIcon(row,col)"></mat-icon>
        </ng-container>
      </td>
    </tr>
  </table>
  <!--<input type="hidden" #paginationControls>-->
  <pagination-controls class="page-style" [id]="tableId" #paginationControls
                       [hidden]="paginationOff"></pagination-controls>
  <div class="rolling" [hidden]="!fetching"></div>
</div>
