/*
.basicqa-items .toolbar {
  background-color: white;
  border-bottom: 1.1px solid #d3d3d3;
  margin-top: 1px;
}

.basicqa-items .select {
  font-size: 14px;
  width: 10%;
  margin-left: 15px;
}
*/

.mrc-toolbar-upsert {
  background-color: #ffffff;
  border-bottom: 1.1px solid #d3d3d3;
  justify-content: space-between;
  margin-top: 1px;
}

[hidden] {
  display: none !important;
}

.mrc-passage-upsert-form {
  margin-left: 30px;
  margin-top: 30px;
  width: 100%;

  .left {
    float: left;
    width: 50%;

    .text-data {
      font-size: 16px;
      width: 900px;
      height: 500px;
    }
  }

  .right {
    float: left;
    width: 46%;

    .primary-button {
      color: #2979ff;
    }

    .question-list {
      width: 100%;
      //margin-top: 20px;
      height: 410px;
      overflow-y: auto;

      .question-list-table {
        width: 100%;
        height: 99%;
        overflow-y: auto;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;

        mat-table {
          overflow: hidden;
          min-height: 98%;
        }
      }
    }
  }

  .mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 2px;
    border-left: 1px solid #d3d3d3;
  }

  .mat-card-content {
    font-size: 16px;
  }

  .mat-card-style {
    width: 100%;
    margin-top: 15px;

    .box-size {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 40px;

      .question-list {
        border-bottom: 1px solid #d3d3d3;
        margin-bottom: 20px;
      }

      .question-list:last-child {
        border-bottom: 0px;
        margin-bottom: 10px;
      }

      .title {
        font-size: 18px;
        font-weight: 600;
        line-height: 40px;
        padding-left: 17px;
        background-color: #f3f3f3;
      }

      .content-data {
        display: flex;
        flex-direction: row;
        //align-items: center;
        box-sizing: border-box;
        min-height: 36px;
        padding: 0 16px;
        //margin: 5px 0px;
        position: relative;

        .left {
          color: rgba(0, 0, 0, .54);
          float: left;
          padding-right: 60px;
          width: 15%;
        }

        .right {
          float: left;
          width: 75%;
          word-break: break-all;

          p {
            margin: 0 0 0 0;
          }
        }

      }
    }
  }

  //.mat-row {
  //  height: 0 !important;
  //}
}
