<mat-toolbar class="mrc-toolbar-upsert">
  <div>
    <span class="mrc-toolbar-title">MRC Passage Edit</span>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="goDetail()">Detail</button>
    <button mat-raised-button color="primary" (click)="goList()">List</button>
    <button mat-raised-button color="primary" (click)="goQAs()">Q&As</button>
  </div>
</mat-toolbar>
<div class="mrc-passage-upsert-form">
  <div class="left">
    <mat-card class="mat-card-style">
      <div class="box-size">
        <mat-card-title class="title">Headings</mat-card-title>
        <div class="content-data">
          <mat-card-content>{{passageEntity.headings}}</mat-card-content>
        </div>
      </div>
    </mat-card>
    <mat-card class="mat-card-style">
      <div class="box-size">
        <mat-card-title class="title">Passage</mat-card-title>
        <div class="content-data">
          <mat-card-content [innerHTML]="passageEntity.passage"></mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="right">
    <mat-list>
      <mat-list-item>
        <mat-form-field style="width:100%;margin:auto">
          <input matInput placeholder="Question" [formControl]="questionFormControl"
                 class="text-data" [(ngModel)]="questionEntity.question">
          <mat-error *ngIf="questionFormControl.invalid">
            {{getErrorMessage(questionFormControl)}}
          </mat-error>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item style="padding-top:20px;padding-bottom:90px">
        <mat-form-field style="width:100%;margin:auto">
          <textarea matInput placeholder="Answer" [formControl]="answerFormControl"
                    [(ngModel)]="questionEntity.answerEntity.answer" [readonly]="false"
                    class="text-data" rows="5" maxlength="2999" required></textarea>
          <mat-error *ngIf="answerFormControl.invalid">
            {{getErrorMessage(answerFormControl)}}
          </mat-error>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="addPassageQuestion()">
          <mat-icon color="primary">add_circle_outline</mat-icon>
          <span style="color: #2979ff; font-size: 14px;">Add</span>
        </button>
      </mat-list-item>
      <mat-list-item style="padding-top:0px">
        <h3 mat-subheader>Question List</h3>
      </mat-list-item>
      <mat-list-item class="question-list">
        <app-table class="question-list-table" #lineTableComponent [headers]="header"
                   [rows]="questionEntities"
                   [isShowPaginator]="false" [dataSource]="dataSource"
                   (outputSelectedRow)="deletePassageQuestion($event)">
        </app-table>
      </mat-list-item>
      <mat-list-item style="margin-top:6px;float:right">
        <button mat-flat-button color="primary"
                (click)="upsertPassageQuestion()"
                [disabled]="invalidFlag">Save
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
