<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <button mat-button class="go-back" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <span class="train-title"> Training : {{selectedDnnDic?.name}} </span>

  <span class="mlt-label">Node</span>
  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Node" [(ngModel)]="node" (change)="readyToTrain()"
           [formControl]="nodeFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>

  <span class="mlt-label">Repeat</span>
  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Repeat" [(ngModel)]="repeat" (change)="readyToTrain()"
           [formControl]="repeatFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>

  <button mat-button *ngFor="let action of actions"
          (click)="doAction(action)" [disabled]="isTrain">
    <mat-icon [ngClass]="getClassButton()">{{action.icon}}</mat-icon>
    <span [ngClass]="getClassButton()">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">

  <section>
    <div class="mlt-title">DNN Training Progress</div>
    <div class="mlt-subtitle">Train Deep Neural Network models.</div>

    <div fxLayout="row" *ngFor="let training of trainings">
      <mat-card class="mlt-card" fxFlex="100%" fxFlex.gt-md="960px">
        <mat-card-title>{{training.name}}</mat-card-title>
        <mat-card-content>
          <p>
            <span>Progress: {{training.progress | number:'2.1-1'}}%</span>
            <span>Node: {{training.node}}</span>
            <span>Repeat: {{training.repeat}}</span>
          </p>
          <mat-progress-bar
            [mode]="(training.stopped || training.error) ? 'determinate' : 'buffer'"
            [value]="training.progress"
            [bufferValue]="training.progress">
          </mat-progress-bar>
          <p class="mlt-error" *ngIf="training.error">
            <span>{{training.error}}</span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="" [disabled]="training.stopped || training.error"
                  (click)="stopTraining(training.dnnKey)" type="button">Stop
          </button>
          <!--<button mat-raised-button color="accent"-->
          <!--[disabled]="!(training.stopped || training.error)"-->
          <!--(click)="deleteTraining(training.dnnKey)" type="button">Remove</button>-->
        </mat-card-actions>
      </mat-card>
    </div>
  </section>

  <section [hidden]="models.length === 0">
    <div class="mlt-title">Trained DNN Models</div>

    <div fxLayout="row" *ngFor="let model of models">
      <mat-card class="mlt-card" fxFlex="100%" fxFlex.gt-md="960px"
                *ngIf="model.name != 'baseline'">
        <mat-card-title>{{model.name}}</mat-card-title>
        <mat-card-content>
          <p>
            <span>Key : {{model.dnnKey}}</span>
          </p>
          <p>
            <span>Binary : {{model.dnnBinary}}</span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="button" color="accent"
                  (click)="deleteModel(model.dnnKey)">
            Remove
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
