<app-tools [actions]=actions name="Intent Finder Policy">
  <app-form-control-input app-tools-left class="inline" [control]="filterKeyword" label="Search.."
                          type="text">
  </app-form-control-input>
</app-tools>

<mat-sidenav-container class="m2u-mainbody">
  <div class="main-container">
    <app-table #tableComponent
               [rows]="rows" [headers]="header" [dataSource]="dataSource"
               [isServerPagination]="false"
               (outputCheckedRow)="whenCheckChanged($event)">
    </app-table>
  </div>

  <!-- sidenav삭제 -->
  <!--<mat-sidenav class="itfp-sidepanel" #sidenav position="end" mode="side" opened="false">-->
  <!--<app-intent-finder-policy-panel #infoPanel></app-intent-finder-policy-panel>-->
  <!--</mat-sidenav>-->
</mat-sidenav-container>
