<mat-toolbar class="mlt-toolbar">
  <span class="mlt-toolbar-title">Ending Post Position Dictionary</span>
</mat-toolbar>

<div class="mlt-mainbody">
  <section class="paraphrase-ending">
    <p>Edit Ending Post Position words</p>
    <div>
      <mat-form-field>
        <mat-select placeholder="Type" [(ngModel)]="type">
          <mat-option>None</mat-option>
          <mat-option value="E">Ending</mat-option>
          <mat-option value="P">Post Position</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width:200px; margin-right: 10px;">
        <input matInput [(ngModel)]="representativeWord" placeholder="RepresentativeWord">
      </mat-form-field>

      <mat-form-field style="width:200px; margin-right: 10px;">
        <input matInput [(ngModel)]="word" placeholder="Word">
      </mat-form-field>

      <button mat-raised-button (click)="onClickSearchButton(0)">Search</button>
    </div>
    <div>
      <button mat-button color="primary" *ngFor="let action of actionsArray"
              (click)="doAction(action)"
              [hidden]="action.hidden">
        <mat-icon class="color">{{action.icon}}</mat-icon>
        <span class="color">{{action.text}}</span>
      </button>
      <app-uploader-button [url]="'/paraphrase/endingPostPositionDic/uploadFiles/'+workspaceId"
                           #uploader
                           (preUploadCallback)=confirmUpload()
                           (uploadCallback)=onUploadFile()></app-uploader-button>

      <button mat-button color="accent"
              (click)="downloadFile()">
        <mat-icon class="color">file_download</mat-icon>
        <span class="color">Download a File</span>
      </button>
    </div>
    <div fxLayout="row">
      <div fxFlex>
        <app-table class="mlt-table" #tableComponent [headers]="header"
                   [rows]="endingPostPositionDicList"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputSelectedRow)="popUpsertDialog('edit', $event)"
                   (outputSelectedHeader)="search($event)"
                   (outputPaginator)="setPage($event)">
        </app-table>

      </div>
    </div>
  </section>
</div>
