<ng-container *ngIf="cbsInfo">
  <div class="cb-panel-toolbar">
    <mat-toolbar>
      <button mat-button *ngFor="let action of actions" [color]="'primary'" [hidden]="action.hidden"
              [disabled]="action.disabled" (click)="action.callback()">
        <span class="panel-button" [innerHTML]="action.text"></span>
      </button>
    </mat-toolbar>
    <h2 align="center">{{cbsInfo.name}}</h2>
  </div>

  <mat-tab-group>
    <mat-tab label="DA Instances">
      <div class="chatbot-panel-table">
        <app-table #tableComponent
                   [rows]="rows" [headers]="header" [dataSource]="dataSource"
                   [isShowPaginator]="false">
        </app-table>

        <ng-template let-row="row" #damsTemplate>
          <ng-container *ngFor="let dam of row.dai_exec_info">
            <a>{{dam.dam_name}}</a>
            <mat-icon [ngClass]="getDamIcon(dam.active)"
                      [innerHTML]="getDamIcon(dam.active)"></mat-icon>
          </ng-container>
        </ng-template>
      </div>
    </mat-tab>

    <mat-tab label="Intent Finder Policy">
      <div class="chatbot-panel-properties">
        <div class="full-data">
          <div class="left">
            <mat-icon>keyboard_arrow_right</mat-icon>
            <div class="title">Name</div>
          </div>
          <div class="right">{{intentFinderPolicyInfo?.name || '-'}}</div>
        </div>

        <div class="full-data">
          <div class="left">
            <mat-icon>keyboard_arrow_right</mat-icon>
            <div class="title">Language</div>
          </div>
          <div class="right">
            <img *ngIf="intentFinderPolicyInfo?.name !== 'none'"
                 [src]="getImage(intentFinderPolicyInfo)"/>
            <span *ngIf="intentFinderPolicyInfo?.name === 'none'">-</span>
          </div>
        </div>

        <div class="full-data">
          <div class="left">
            <mat-icon>keyboard_arrow_right</mat-icon>
            <div class="title">Default Skill</div>
          </div>
          <div class="right">{{intentFinderPolicyInfo?.default_skill || '-'}}</div>
        </div>

        <div class="full-data">
          <div class="left">
            <mat-icon>keyboard_arrow_right</mat-icon>
            <div class="title">Description</div>
          </div>
          <div class="right">{{intentFinderPolicyInfo?.description || '-'}}</div>
        </div>

        <div class="full-data">
          <div class="left">
            <mat-icon>keyboard_arrow_right</mat-icon>
            <div class="title">Steps</div>
          </div>
          <div class="right" *ngIf="intentFinderPolicyInfo?.name === 'none'">-</div>
        </div>

        <div *ngIf="intentFinderPolicyInfo?.name !== 'none'">
          <div class="right-img" *ngIf="intentFinderPolicyInfo?.customLength !== 0">
            <div class="content-data">
              <div class="steps-list-icon">&#x25b6;</div>
              <div class="step-list">
                <span class="step-title">Custom Scripts</span>
                <span class="step-length">{{intentFinderPolicyInfo?.customLength}}</span>
              </div>
            </div>
          </div>

          <div class="right-img" *ngIf="intentFinderPolicyInfo?.pcreLength !== 0">
            <div class="content-data">
              <div class="steps-list-icon">&#x25b6;</div>
              <div class="step-list">
                <span class="step-title">PCRE</span>
                <span class="step-length">{{intentFinderPolicyInfo?.pcreLength}}</span>
              </div>
            </div>
          </div>

          <div class="right-img" *ngIf="intentFinderPolicyInfo?.hmdLength !== 0">
            <div class="content-data">
              <div class="steps-list-icon">&#x25b6;</div>
              <div class="step-list">
                <span class="step-title">HMD</span>
                <span class="step-length">{{intentFinderPolicyInfo?.hmdLength}}</span>
              </div>
            </div>
          </div>

          <div class="right-img" *ngIf="intentFinderPolicyInfo?.dnnLength !== 0">
            <div class="content-data">
              <div class="steps-list-icon">&#x25b6;</div>
              <div class="step-list">
                <span class="step-title">DNN</span>
                <span class="step-length">{{intentFinderPolicyInfo?.dnnLength}}</span>
              </div>
            </div>
          </div>

          <div class="right-img" *ngIf="intentFinderPolicyInfo?.finalLength !== 0">
            <div class="content-data">
              <div class="steps-list-icon">&#x25b6;</div>
              <div class="step-list">
                <span class="step-title">Final Skill</span>
                <span class="step-length">{{intentFinderPolicyInfo?.finalLength}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-container>
