<div style="margin-top:20px;" fxLayout="row" fxLayoutAlign="space-around center"
     fxLayoutWrap="wrap">
  <p fxFlex="30%" *ngFor="let item of keywords"> {{item.keyword}}({{item.count}}) </p>
</div>
