<app-tools name="Intent Finder Instances" [actions]=actions>
  <app-form-control-input app-tools-left class="inline" [control]="filterKeyword" label="Search.."
                          type="text">
  </app-form-control-input>
  <div app-tools-right>
    <!--
        <button mat-button color="primary" class="mat-button" (click)="togglePanel()">
          {{panelToggleText}}
        </button>
    -->
  </div>
</app-tools>

<mat-sidenav-container class="m2u-mainbody">
  <div class="main-container">
    <app-table #tableComponent
               [rows]="rows" [headers]="header" [dataSource]="dataSource"
               [isServerPagination]="false"
               (outputCheckedRow)="whenCheckChanged($event)">
    </app-table>
  </div>

  <!-- sidenav삭제 -->
  <!--<mat-sidenav class="itfi-sidepanel" #sidenav position="end" mode="side" opened="false">-->
  <!--<app-intent-finder-instance-panel #infoPanel></app-intent-finder-instance-panel>-->
  <!--</mat-sidenav>-->
</mat-sidenav-container>
