<div id="waveSurfer"></div>
<div id="waveSurfer-timeline"></div>
<div id="waveSurfer-tools">
  <div class="volume">
    <mat-icon [hidden]="!(waveSurfer.volume < 0.3 || !waveSurfer.volume)">volume_mute</mat-icon>
    <mat-icon [hidden]="!(waveSurfer.volume >= 0.3 && waveSurfer.volume <= 0.7)">volume_down
    </mat-icon>
    <mat-icon [hidden]="!(waveSurfer.volume > 0.7)">volume_up</mat-icon>
    <mat-slider [min]="slider.min" [max]="slider.max" [step]="slider.step"
                [value]="waveSurfer.volume"
                (change)="setVolume($event.value)"></mat-slider>
  </div>
  <div class="range">
    <button mat-button color="white" (click)="waveSurfer.skipBackward(5);">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-button color="warn" (click)="waveSurfer.playPause();">
      <mat-icon>{{waveSurfer.isPlaying() ? 'pause' : 'play_arrow'}}</mat-icon>
    </button>
    <button mat-button color="white"
            (click)="waveSurfer.isPlaying() ? waveSurfer.stop() : waveSurfer.seekTo(0);">
      <mat-icon>stop</mat-icon>
    </button>
    <button mat-button color="white" (click)="waveSurfer.skipForward(5);">
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>
  <div class="rate">
    <button mat-button [disabled]="waveSurfer.playbackRate <= 0.51"
            (click)="setPlaybackRate(waveSurfer.playbackRate-0.1)">
      <mat-icon>fast_rewind</mat-icon>
    </button>
    <button mat-button [disabled]="waveSurfer.playbackRate >= 2.0"
            (click)="setPlaybackRate(waveSurfer.playbackRate+0.1)">
      <mat-icon>fast_forward</mat-icon>
    </button>
    <button mat-button class="current" disabled>
      x{{waveSurfer.playbackRate | number: '1.1-1'}}</button>
  </div>
</div>
