.mlt-mainbody .content-card {
  box-shadow: none !important;
}

.mlt-mainbody .content-card .input {
  margin-top: 21px;
  font-size: 14px;
  width: 70%;
}

.mlt-mainbody .content-card .select-box {
  margin-left: 20px;
  width: 200px;
}

.category-body {
  width: 890px;

  .category-input {
    width: 150px;
  }

  .category-refresh {
    width: 203px;
    height: 40px;
    margin-left: 20px;
    text-align: center;
    background-color: #a1b3D3;
    color: white;
    cursor: pointer;
  }
}

.category-list {
  height: 500px;
  margin-left: 20px;
  border: 1px solid #d3d3d3;
  overflow-y: auto;
  padding-top: 0px;
}

.category-name {
  width: 90%;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-line {
  margin-left: 20px;
  width: 225px;
}

.button-line .mat-raised-button {
  min-width: 35px;
  line-height: 30px;
}

.category {
  border-bottom: 1px solid #d3d3d3;
  cursor: pointer;
}
