
.main-container {
  margin-top: 20px;
  margin-left: 20px;
  // width: 880px;
}

/deep/ .root .layout .sidenav {
  box-shadow: 0 0 0 0 !important;
}

/deep/ .mat-toolbar-single-row {
  justify-content: space-between;
}

.chatbot-list {
  float: left;
  height: 662px;
  overflow-x: hidden;
}

.chatbot-list .mat-list-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height: 70px;
  padding: 0 16px;
  position: relative;
}

.test-chat-sidepanel {
  width: 25%;
  height: calc(100vh - 124px);
  color: black;
  border-left: 1.1px solid #d3d3d3;
  overflow: hidden;
}
