<app-tools #tools [showMoreVert]="false" [isOffSidePanel]="false">
  <div app-tools-right>
    <button mat-button color="primary" class="mat-button"
            (click)="togglePanel()">
      {{panelToggleText}}
    </button>
  </div>
</app-tools>

<mat-sidenav-container class="m2u-mainbody">
  <div class="main-container">
    <mat-list class="chatbot-list">
      <ng-container *ngFor="let chatbot of chatbots; let i = index;">
        <mat-list-item id="chatbot_{{i}}" (click)="fillInfo(chatbot,i)"
                       #test>
          {{chatbot.title}}
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
    <app-chat-main #chatMain [chatbot]="selectedChatbot"
                   (changeSpec)="changePanelWidth($event)"
                   (changeTalk)="setTalks($event)"></app-chat-main>
  </div>

  <mat-sidenav #sidenav class="test-chat-sidepanel" id="sidenav"
               position="end" mode="side"
               opened="true">
    <app-talk-panel #infoPanel [chatbot]="selectedChatbot"
                    [spec]="spec"
                    [talks]="talks"></app-talk-panel>
  </mat-sidenav>
</mat-sidenav-container>

