.add-content {
  margin: 10px;
  padding: 15px 20px !important;
}

.mat-list {
  .mat-list-item-name {
    display: inline-block;
  }

  .mat-list-item-ip {
    padding-top: 40px;
  }

  .mat-list-item-port {
    padding-top: 23px;
  }

  .mat-list-item-description {
    padding-top: 25px;
  }

  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 270px;
  }
}

.input-size {
  width: 270px;
}

.input-size-description {
  width: 270px;
  height: 70px;
}

.toggle-set {
  padding: 15px 0 10px 0;
}

.submit-button {
  margin-left: 20px;
}

.cancel-button {
  margin-left: 20px;
}

.inputdemoErrors .inputErrorsApp {
  min-height: 48px;
}

.inputdemoErrors mat-form-field > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}
