<app-tools [name]="dialogTitle" [goBack]="backPage" [showMoreVert]=false></app-tools>

<mat-sidenav-container class="m2u-mainbody">
  <div class="add-content">
    <form #f="ngForm" (ngSubmit)="submit()">

      <mat-list class="mat-list">
        <!--Name-->
        <mat-list-item class="mat-list-item-name">
          <mat-form-field>
            <input *ngIf="role!=='edit'" class="input-size" matInput required name="name"
                   [(ngModel)]="dam.name" [placeholder]="'Name'"
                   [formControl]="nameFormControl"
                   [errorStateMatcher]="formErrorStateMatcher" (change)="check()">
            <input *ngIf="role==='edit'" class="input-size" matInput name="name"
                   [(ngModel)]="dam.name" [placeholder]="'Name'" [disabled]="true">
            <mat-error [hidden]="!nameFormControl.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </mat-list-item>

        <!--description-->
        <mat-list-item class="mat-list-item-description">
          <mat-form-field mat-no-float>
            <textarea class="input-size-description" matInput name="description"
                      [(ngModel)]="dam.description"
                      [placeholder]="'Description'"></textarea>
          </mat-form-field>
        </mat-list-item>

        <!--ip-->
        <mat-list-item class="mat-list-item-ip">
          <mat-form-field>
            <input class="input-size" matInput required name="ip" id="ip"
                   [(ngModel)]="dam.ip" [placeholder]="'IP'"
                   [formControl]="ipFormControl"
                   [errorStateMatcher]="formErrorStateMatcher" (change)="check()">
            <mat-error *ngIf="ipFormControl.hasError('required')">
              IP is <strong>required.</strong>
            </mat-error>
            <mat-error *ngIf="ipFormControl.hasError('pattern')">
              Please enter a valid IP.
            </mat-error>
          </mat-form-field>
        </mat-list-item>

        <!--port-->
        <mat-list-item class="mat-list-item-port">
          <mat-form-field>
            <input class="input-size" matInput required [errorStateMatcher]="formErrorStateMatcher"
                   name="port" id="port"
                   [(ngModel)]="dam.port" [placeholder]="'Port'"
                   [formControl]="portFormControl" (change)="check()">
            <mat-error *ngIf="portFormControl.hasError('required')">
              Port is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="portFormControl.hasError('pattern')">
              Please enter a valid Port
            </mat-error>
          </mat-form-field>
        </mat-list-item>

        <div class="toggle-set">
          <!--active-->
          <mat-list-item>
            <mat-slide-toggle name="active" [(ngModel)]="dam.active" color="accent">Active
            </mat-slide-toggle>
          </mat-list-item>

          <!--default-->
          <!--<mat-list-item>-->
          <!--<mat-slide-toggle name="default" [(ngModel)]="dam.default" color="accent">-->
          <!--Default-->
          <!--</mat-slide-toggle>-->
          <!--</mat-list-item>-->
        </div>

        <mat-list-item>
          <p class="submit-button">
            <button mat-raised-button class="save-btn" [innerHTML]="getButtonName()"
                    [disabled]="submitButton" id="submit"></button>
          </p>
          <p class="cancel-button">
            <button mat-raised-button class="cancel-btn" type="button" [routerLink]="'..'">Cancel</button>
          </p>
        </mat-list-item>
      </mat-list>
    </form>
  </div>
</mat-sidenav-container>
