/deep/ .main {
  width: 1500px;
}

.engine-upsert-content::after {
  content: '';
  display: block;
  clear: both;
}

.engine-upsert-content-left {
  margin: 10px;
  padding: 15px 20px !important;
  width: 400px;
  height: 532px;
  float: left;

  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 300px;
  }

  .mat-list-item-category {
    margin-top: 20px;
    height: 300px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    overflow-y: auto;
    overflow-x: hidden;

    .category-zero {
      text-align: center;
      color: #d3d3d3;
      padding-top: 105px;
    }

    .category-cursor {
      cursor: pointer;
      width: 350px;
    }

    .category-cursor.selected {
      background: aliceblue;
    }

    .category-left {
      width: 60%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .category-right {
      width: 60%;
      color: #cccccc;
    }

    .category-delete-icon {
      color: #2979ff;
    }

    /deep/ .mat-list {
      position: absolute;
      top: 0px;
      width: 92%;
      margin: auto;
    }

    /deep/ .mat-list-item-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      height: 48px;
      padding: 0 16px;
      position: relative;
    }
  }

  .mat-list-item-category-input {
    margin-top: 20px;

    .category-input-size {
      width: 600px;
    }
  }
}

.mat-list-item-displayName {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;

  /deep/ .mat-list {
    margin: auto;
  }

  margin-top: 19px;
  height: 291px;
  width: 553px;
  padding-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;

  .displayName-zero {
    color: #d3d3d3;
    font-size: 20px;
    text-align: center;
    padding-top: 104px;
  }

  .displayName-input-edit {
    color: #2979ff;
    float: left;
    cursor: pointer;
  }

  .displayName-input-delete {
    color: #2979ff;
    float: left;
    cursor: pointer;
  }
}

.add-icon {
  color: #2979ff;
  font-size: 25px;
  cursor: pointer;
}

.displayName-add-list-item {
  margin-top: 59px;
}

.mat-list-item-displayName {
  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 450px !important;
  }
}

.engine-upsert-content-right {
  float: left;
  margin: 10px;
  padding: 15px 20px !important;
  width: 600px;
  height: 582px;

  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 270px;
  }

  .mat-list-item-bookmark {
    margin-top: 78px;
    height: 300px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    overflow-y: auto;
    overflow-x: hidden;

    .bookmark-zero {
      text-align: center;
      color: #d3d3d3;
      padding-top: 105px;
    }

    .bookmark-cursor {
      cursor: pointer;
      width: 600px;
    }

    .bookmark-cursor.selected {
      background: aliceblue;
    }

    .bookmark-left {
      width: 260%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .bookmark-right {
      width: 10%;
      color: #cccccc;
    }

    .bookmark-delete-icon {
      color: #2979ff;
    }

    /deep/ .mat-list {
      position: absolute;
      top: 0px;
      width: 92%;
      margin: auto;
    }

    /deep/ .mat-list-item-content {
      width: 95%;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      height: 48px;
      padding: 0 16px;
      position: relative;
    }
  }

  .mat-list-item-bookmark-input {
    margin-top: 20px;

    .category-input-size {
      width: 600px;
    }
  }
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 270px;
}

.option {
  margin-left: 15px;
  margin-top: 15px;
  width: 270px;
}

.mat-list-item-name {
  padding-top: 10px;
}

.mat-list-item-description {
  padding-top: 45px;
}

.input-size {
  width: 270px;
}

.input-size-description {
  width: 270px;
  height: 70px;
}

.submit-button {
  margin-left: 20px;
  margin-top: 50px !important;
}

.cancel-button {
  margin-left: 20px;
  margin-top: 50px !important;
}

.engine-upsert-content-bottom {
  float: left;
  width: 100%;

  .mat-list-item {
    margin-left: 250px;
  }
}

.category-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
