<p-growl [(value)]="msgs"></p-growl>
<div class="default-content-wrap">
  <div class="default-content-container">

    <!-- page header area -->
    <div class="content-header">
      <div class="content-header-title">
        <div class="header-title">Tasks</div>
        <div class="progress-content-wrap train-progress-bar" *ngIf="visibleTraining">
          <div class="progress-content-title">Train Progress:</div>
          <mat-progress-bar [value]="value" styleClass="progress-content-bar"></mat-progress-bar>
          <div class="progress-content-status">{{value}}%</div>
          <div class="title-button-wrap">
            <button mat-raised-button color="primary" class="btn-title" *ngIf="isTraining"
                    (click)="stopTraining()">
              Cancel
            </button>
          </div>
        </div>
        <div class="title-button-wrap">
          <button mat-raised-button color="primary" class="btn-title" (click)="trainOpen()">
            <i class="material-icons">school</i>Training
          </button>
        </div>
      </div>
    </div>

    <div class="common-dialog-content content-wrap content-grid">
      <div class="content-container common-dialog-wrap">

        <!--left div area -->
        <div class="content-grid-wrap task-default"
             [ngClass]="{'task-canvas': (selectedNode === null) && (selectedEdge === null)}">
          <div class="common-dialog-container content-task-wrap">
            <div class="task-title-wrap">
              <div class="task-title">Task Canvas</div>
              <div class="task-btn-wrap">
                <i class="material-icons btn-add" (click)="createNewTask()">add</i>
                <i class="material-icons btn-add-remove" (click)="removeTask()">remove</i>
              </div>
            </div>

            <!-- task chart area -->
            <div #taskDialogWrapper class="dialog-content-wrap">
              <jsplumb-surface [surfaceId]="surfaceId" [toolkitId]="toolkitId" [view]="view"
                               [renderParams]="renderParams"></jsplumb-surface>
              <jsplumb-miniview [surfaceId]="surfaceId"></jsplumb-miniview>
              <!--<jsplumb-controls [surfaceId]="surfaceId"></jsplumb-controls>-->
            </div>
          </div>
        </div>

        <!-- right div area-->
        <ng-container *ngIf="selectedNode">
          <div class="content-grid-wrap grid-task">
            <div class="common-dialog-container">
              <div class="task-property-wrap">
                <div class="task-title-wrap">
                  <div class="task-title">Task Property</div>
                </div>

                <div class="task-property">
                  <input type="text" placeholder="Task Name *" required
                         [(ngModel)]="selectedNode.text"
                         (blur)="saveTaskName()">
                  <div
                    [innerHTML]="selectedNode.task.taskGoal === '' ? 'Task Goal *' : (selectedNode.task.taskGoal | scriptTransform)"
                    (click)="openScriptEditModal('Task Goal', selectedNode.task.taskGoal, false)"></div>
                </div>
              </div>

              <div class="task-response-wrap">
                <div class="task-title-wrap">
                  <div class="task-title">Task Response</div>
                </div>
                <div class="task-content-container task-response-container task-response">
                  <div class="response-event-wrap">
                    <div class="response-event-btn"
                         [ngClass]="{'event_on': selectedTap === tapType.STARTEVENT}"
                         (click)="eventClick(tapType.STARTEVENT)">Start Event
                    </div>
                    <div class="response-event-btn"
                         [ngClass]="{'event_on': selectedTap === tapType.EVENT}"
                         (click)="eventClick(tapType.EVENT)">Event
                    </div>
                  </div>

                  <!-- first Tab area -->
                  <div class="response-wrap event-first">
                    <div class="response-container response-tree response-tree-wrap">
                      <div class="dialog-title-wrap">
                        <div class="dialog-title"></div>
                        <div class="tree-add">
                          <i class="material-icons" (click)="addTaskResponse()">add</i>
                          <i class="material-icons" (click)="removeTaskResponse()">remove</i>
                        </div>
                      </div>

                      <div class="dialog-tree tree-content-wrap tree-table">
                        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                          <!-- This is the tree node template for leaf nodes -->
                          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                                         (click)="onTreeSelected(node)">
                            <!-- use a disabled button to provide padding for tree leaf -->
                            <button mat-icon-button disabled></button>
                            {{node.name}}
                          </mat-tree-node>
                          <!-- This is the tree node template for expandable nodes -->
                          <mat-tree-node *matTreeNodeDef="let node;when: hasChild"
                                         matTreeNodePadding (click)="onTreeSelected(node)">
                            <button mat-icon-button matTreeNodeToggle
                                    [attr.aria-label]="'toggle ' + node.name">
                              <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                              </mat-icon>
                            </button>
                            {{node.name}}
                          </mat-tree-node>
                        </mat-tree>
                      </div>
                    </div>

                    <!-- condition area -->
                    <div class="response-container response-input-wrap">
                      <div class="response-condition response-content" style="height: 100%"
                           *ngIf="selectedTree && selectedTree.type === treeType.CONDITION">
                        <div class="common-input modal-input ui-g">
                          <div class="ui-g-12">
                            <div class="task-condition"
                                 [innerHTML]="selectedTree.startEventCondition === '' ? 'Condition *' : (selectedTree.startEventCondition | scriptTransform)"
                                 (click)="openScriptEditModal('Condition', selectedTree.startEventCondition, true)"></div>
                          </div>
                        </div>
                        <div class="common-input modal-input ui-g task-action"
                             (click)="openScriptEditModal('Action', selectedTree.startEventAction, true)">
                          <div class="ui-g-12">
                            <div
                              [innerHTML]="selectedTree.startEventAction === '' ? 'Action' : (selectedTree.startEventAction | scriptTransform)"></div>
                          </div>
                        </div>
                      </div>

                      <!-- utterance area -->
                      <div class="response-utterance response-content"
                           style="height: 100%"
                           *ngIf="selectedTree && selectedTree.type === treeType.UTTERANCE">
                        <div class="common-input modal-input ui-g input-dropdown">
                          <div class="ui-g-12">
                            <mat-form-field style="font-size: 14px; width: 90%; margin-left: 15px;">
                              <mat-select [(value)]="selectedIntent" placeholder="Intent List"
                                          (selectionChange)="changeUtterance()">
                                <ng-container
                                  *ngFor="let option of intentListOption; let i = index">
                                  <mat-option [value]='option.value'>{{option.label}}</mat-option>
                                </ng-container>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="common-input modal-input ui-g">
                          <textarea class="task-textarea" cols="30"
                                    placeholder="Extra Data"></textarea>
                        </div>

                        <div class="add-utterance">
                          <i class="material-icons">add</i>
                        </div>
                        <div class="common-input modal-input ui-g input-utterance">
                          <div class="ui-g-12 utterance-info">
                            <i class="material-icons">remove</i>
                            <input type="text" placeholder="utterance" required>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>

              </div>
            </div>

          </div>
        </ng-container>

      </div>
    </div>

  </div>
</div>


<!--popup-->
<div class="task-popup-default-wrap">
  <div class="popup-wrap">
    <div class="popup-container">
      <div class="popup-script">
        <div class="popup-default-container">
          <div class="mat-dialog-title">
            {{scriptInput.key}}
            <button mat-button mat-raised-button [color]="btnScript" (click)="scriptToggle()">
              Script Guide
            </button>
          </div>
          <div class="container">
            <div class="backdrop">
              <div #highlightDiv class="highlights"></div>
            </div>
            <textarea #writeScript rows="10" [(ngModel)]="scriptInput.script"
                      (ngModelChange)="handleInput($event)"
                      (scroll)="handleScroll($event)"
                      [mention]="scriptGuide"
                      [mentionConfig]="{labelKey:'function', mentionSelect: onMentionSelect}"></textarea>
          </div>

          <div class="popup-btn">
            <button mat-button mat-raised-button color="basic" style="margin-right: 5px"
                    (click)="popupClose()">
              Close
            </button>
            <ng-container *ngIf="scriptInput.key == 'Transition Condition'">
              <button mat-button mat-raised-button color="accent" style="margin-right: 5px"
                      (click)="deleteEdge()">
                Delete
              </button>
            </ng-container>
            <button mat-button mat-raised-button color="primary"
                    (click)="popupSave(scriptInput.script, scriptInput.key, scriptInput.isStartEvent)">
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="popup-script-guide" *ngIf="isScriptGuideOpen">
        <div class="popup-default-container">
          <ul>
            <li *ngFor="let script of scriptGuide">
              <b>{{script.function}}</b>
              <p>{{script.description}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




