.engine-panel {
  margin-top: 20px;

  .full-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    padding: 0 16px;
    position: relative;

    .panel-icon {
      min-width: 24px;
      color: #d3d3d3;
    }

    .left {
      color: rgba(0, 0, 0, .54);
      float: left;
      width: 166px;
    }

    .right {
      float: left;
      width: 258px;
    }

    .head-category {
      color: rgba(0, 0, 0, .54);
    }

    .category-list-icon {
      padding-left: 30px;
      color: #d3d3d3;
      padding-right: 8px;
    }

    .left-categories {
      float: left;
      width: 50%;
    }

    .right-categories {
      width: 50%;
    }

    .bookmark-list-icon {
      padding-left: 30px;
      color: #d3d3d3;
      padding-right: 8px;
    }

    .left-bookmarks {
      float: left;
      width: 300px;
    }
  }
}
