<app-tools [name]="title" [actions]=actions>
  <app-form-control-input app-tools-left class="inline" label="Search.."
                          type="text">
  </app-form-control-input>
</app-tools>

<mat-sidenav-container class="m2u-mainbody">
  <div class="main-container">
    <app-table #tableComponent
               [rows]="rows" [headers]="header" [dataSource]="dataSource"
               [isServerPagination]="true" [length]="totalCount"
               (outputCheckedRow)="whenCheckChanged"
               (outputPaginator)="setPage($event)">
    </app-table>
  </div>

</mat-sidenav-container>
