<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <button mat-button class="go-back" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <span class="train-title"> Training : {{selectedXdcDic?.name}} </span>

  <span class="mlt-label">Epoch Size</span>
  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="epoch" [(ngModel)]="epoch" (change)="readyToTrain()"
           [formControl]="epochFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <span class="mlt-label">Max Batch Size</span>
  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="max batch size" [(ngModel)]="max_batch_sz" (change)="readyToTrain()"
           [formControl]="maxBatchSzFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <span class="mlt-label">Train Max Size Prod</span>
  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="train max size prod" [(ngModel)]="train_max_sz" (change)="readyToTrain()"
           [formControl]="trainMaxSzFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <span class="mlt-label">Test Max Size Prod</span>
  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="test max size prod" [(ngModel)]="test_max_sz" (change)="readyToTrain()"
           [formControl]="testMaxSzFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <button mat-button *ngFor="let action of actions"
          (click)="doAction(action)" [disabled]="isTrain">
    <mat-icon [ngClass]="getClassButton()">{{action.icon}}</mat-icon>
    <span [ngClass]="getClassButton()">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">

  <section>
    <div class="mlt-title">XDC Training Progress</div>
    <div class="mlt-subtitle">Train Deep Neural Network models.</div>

    <div fxLayout="row" *ngFor="let training of trainings">
      <mat-card class="mlt-card" fxFlex="100%" fxFlex.gt-md="960px">
        <mat-card-title>{{training.name}}</mat-card-title>
        <mat-card-content>
          <p>
            <span>Progress: {{training.progress | number:'2.1-1'}}%</span>
            <span>Epoch: {{training.epoch}}</span>
            <span>Max Batch Size: {{training.maxBatchSz}}</span>
            <span>Train Max Size: {{training.trainMaxSz}}</span>
            <span>Test Max Size: {{training.testMaxSz}}</span>
          </p>
          <mat-progress-bar
            [mode]="(training.stopped || training.error) ? 'determinate' : 'buffer'"
            [value]="training.progress"
            [bufferValue]="training.progress">
          </mat-progress-bar>
          <p class="mlt-error" *ngIf="training.error">
            <span>{{training.error}}</span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="" [disabled]="training.stopped || training.error"
                  (click)="stopTraining(training.xdcKey)" type="button">Stop
          </button>
          <!--<button mat-raised-button color="accent"-->
          <!--[disabled]="!(training.stopped || training.error)"-->
          <!--(click)="deleteTraining(training.xdcKey)" type="button">Remove</button>-->
        </mat-card-actions>
      </mat-card>
    </div>
  </section>

  <section [hidden]="models.length === 0">
    <div class="mlt-title">Trained XDC Models</div>

    <div fxLayout="row" *ngFor="let model of models">
      <mat-card class="mlt-card" fxFlex="100%" fxFlex.gt-md="960px"
                *ngIf="model.name != 'baseline'">
        <mat-card-title>{{model.name}}</mat-card-title>
        <mat-card-content>
          <p>
            <span>Key : {{model.xdcKey}}</span>
          </p>
          <p>
            <span>Binary : {{model.xdcBinary}}</span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="button" color="accent"
                  (click)="deleteModel(model.xdcKey)">
            Remove
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
