.alert {
  width: 360px;
  background: #fafafa !important;
  margin: 0 auto;
  border-bottom: 0px !important;
}

.alert .error {
  background-color: #ff5c4f;
}

.alert .notice {
  background-color: #ffd700;
}

.alert .success {
  background-color: #2979ff;
}
