<section>
  <header>
    <h2>{{title}}</h2>
  </header>

  <form [formGroup]="model" (ngSubmit)="submit()">

    <main>
      <mat-form-field class="mlt-input" floatLabel="never">
        <input matInput formControlName="name" placeholder="name" type="text">
        <mat-error *ngIf="model.invalid">Please input dictionary name.</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field class="mlt-input" floatLabel="never">
        <input matInput formControlName="description" placeholder="description" type="text">
        <mat-error *ngIf="model.invalid">Please input dictionary name.</mat-error>
      </mat-form-field>
    </main>

    <footer>
      <button mat-button (click)="dialogRef.close()" type="button">Cancel</button>
      <button mat-button color="primary" type="submit">Submit</button>
    </footer>

  </form>
</section>
