<section>
  <header>
    <h2 *ngIf="data">Update Dictionary</h2>
    <h2 *ngIf="!data">Add Dictionary</h2>
  </header>

  <form [formGroup]="model" (ngSubmit)="submit(model)">
    <main>
      <mat-form-field>
        <input matInput name="name" type="text">
      </mat-form-field>


      <!--<app-form-control-section label="Name">-->
      <!--<app-form-control-input [groups]="model" name="name" type="text"-->
      <!--[errorParams]="{length:4}"></app-form-control-input>-->
      <!--</app-form-control-section>-->
      <!--<app-form-control-errors [control]="model"></app-form-control-errors>-->

    </main>

    <footer>
      <button mat-button (click)="dialogRef.close()" type="button">Cancel</button>
      <button mat-button color="primary" type="submit">Submit</button>
    </footer>

  </form>
</section>
