<h2 align="center" *ngIf="itfiInfo">{{itfiInfo?.name}}</h2>
<mat-tab-group *ngIf="itfiInfo">
  <mat-tab label="Detail">
    <div class="itfi-activity-status">
      <div class="content-data">
        <div class="left">Name</div>
        <div class="right">{{itfiInfo?.name || '-'}}</div>
      </div>
      <div class="content-data">
        <div class="left">IP</div>
        <div class="right">{{itfiInfo?.ip || '-'}}</div>
      </div>
      <div class="content-data">
        <div class="left">Port</div>
        <div class="right">{{itfiInfo?.port || '-'}}</div>
      </div>
      <div class="content-data">
        <div class="left">Policy Name</div>
        <div class="right">{{itfiInfo?.policyName || '-'}}</div>
      </div>
      <div class="content-data">
        <div class="left">Export Ip</div>
        <div class="right">{{itfiInfo?.export_ip || '-'}}</div>
      </div>
      <div class="content-data">
        <div class="left">Description</div>
        <div class="right">{{itfiInfo?.description || '-'}}</div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
