<mat-toolbar class="mlt-toolbar">
  <span class="mlt-toolbar-title">BasicQA Schedule</span>
</mat-toolbar>

<div class="mlt-mainbody">
  <section>
    <div class="mlt-title">Manual Execute</div>
    <mat-form-field class="mlt-select">
      <mat-select placeholder="Skill" [(ngModel)]="selectedSkill" (selectionChange)="checkValid()"
                  (click)="clearSelectSearchFormControlValue()">
        <div class="select-search-form">
          <input matInput placeholder="Search" class="select-search-form-input"
                 [formControl]="selectSearchFormControl">
        </div>
        <mat-option [value]='0'> All</mat-option>
        <mat-option *ngFor="let skill of filteredBasicQASkillList | async" [value]="skill.id">
          {{ skill.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="mlt-select">
      <mat-select placeholder="Clean" [(ngModel)]="clean" (selectionChange)="checkValid()">
        <mat-option [value]="true">True</mat-option>
        <mat-option [value]="false">False</mat-option>
      </mat-select>
    </mat-form-field>
    <span>
      <button id="fullIndexingButton" mat-raised-button
              style="margin-left: 20px; margin-bottom: 30px"
              [disabled]="disabled || !valid"
              (click)="fullIndexing()">Full Indexing</button>
    </span>
    <span>
      <button id="additionaIndexingButton" mat-raised-button class="margin-btn"
              style="margin-bottom: 30px" [disabled]="disabled || !valid"
              (click)="incrementalIndexing()">Incremental Indexing</button>
    </span>
    <ng-container *ngIf="progressStatus">
      <div fxLayout="row">
        <mat-card class="card" fxFlex="100%" fxFlex.gt-md="960px">
          <mat-card-content>
            <p>
              <span>Progress: {{indexing.progress | number:'2.1-1'}}%</span>
            </p>
            <mat-progress-bar
              [mode]="(indexing.stopped || indexing.error) ? 'determinate' : 'buffer'"
              [value]="indexing.progress"
              [bufferValue]="indexing.progress">
            </mat-progress-bar>
            <p class="error" *ngIf="indexing.error">
              <span>{{indexing.error}}</span>
            </p>
            <p>
              <button mat-raised-button style="margin-bottom: 30px"
                      (click)="abortIndexing()">Abort Indexing
              </button>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>

    <ng-container *ngIf="(!progressStatus) && (history != null)">
      <div fxLayout="row">
        <mat-card class="card" fxFlex="100%" fxFlex.gt-md="960px">
          <mat-card-content>
            <p>
              <ng-container *ngIf="history.stopYn"><span> {{history.type}}
                Progress: {{history.progress}}% (Total {{history.total}} Stopped)</span>
              </ng-container>
              <ng-container *ngIf="!history.stopYn"><span> {{history.type}}
                Progress: {{history.progress}}% (Total {{history.total}} Success)</span>
              </ng-container>
            </p>
            <ng-container *ngIf="history.stopYn">
              <mat-progress-bar
                mode="determinate"
                [value]="history.progress"
                [bufferValue]="0">
              </mat-progress-bar>
            </ng-container>
            <ng-container *ngIf="!history.stopYn">
              <mat-progress-bar
                mode="determinate"
                [value]="history.progress"
                [bufferValue]="100">
              </mat-progress-bar>
            </ng-container>
            <p>
              Created At: {{history.createAt}}
              <ng-container *ngIf="history.stopYn">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Stopped At: {{history.updateAt}}
              </ng-container>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </section>
</div>
