<app-tools *ngIf="itfi" [actions]=actions [name]="'Intent Finder Instance : ' + itfi.name"
           [goBack]="true" [clickFunction]="backPage"
           [showMoreVert]=false></app-tools>
<!--Content start-->

<mat-sidenav-container class="m2u-mainbody">
  <div class="itfi-detail" *ngIf="itfi">
    <mat-card class="mat-card-style">
      <div class="box-size">
        <div class="title">Intent Finder Instance</div>
        <div class="content-data">
          <div class="left">Name</div>
          <div class="right">{{itfi.name || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">IP</div>
          <div class="right">{{itfi.ip || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">Port</div>
          <div class="right">{{itfi.port || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">Policy Name</div>
          <div class="right">
            <span class="navigate" *ngIf="policyValid" (click)="navigateItfp()">{{itfi.policy_name || '-'}}</span>
            <span class="no-navigate" *ngIf="!policyValid">{{itfi.policy_name || '-'}}</span>
          </div>
        </div>
        <div class="content-data">
          <div class="left">Export Ip</div>
          <div class="right">{{itfi.export_ip || '-'}}</div>
        </div>
        <div class="content-data">
          <div class="left">Description</div>
          <div class="right">{{itfi.description || '-'}}</div>
        </div>
      </div>
    </mat-card>
  </div>
</mat-sidenav-container>
