<app-tools [actions]=actions [name]="dialogTitle" [showMoreVert]=false
           [goBack]="backPage"></app-tools>

<mat-sidenav-container class="m2u-mainbody">
  <mat-card class="info">
    <mat-card-title>Basic information</mat-card-title>
    <div class="infoContent">
      <mat-card-content>Chatbots: chorong</mat-card-content>
      <mat-card-content>Name: Weather_LB1</mat-card-content>
      <mat-card-content>Description: Blah Blah ...</mat-card-content>
      <mat-card-content>Version: Blah Blah ...</mat-card-content>
      <mat-card-content>Language: Korean, English (아이콘으로)</mat-card-content>
      <mat-card-content>State: RUNNING(아이콘으로)</mat-card-content>
      <mat-card-content>Manager: DAM510.1.2.4:9907</mat-card-content>
    </div>

    <mat-card-title>DA</mat-card-title>
    <div class="infoContent">
      <mat-card-content>Name: Exeutable: bbb.jar</mat-card-content>
      <mat-card-content>Type: Java</mat-card-content>
      <mat-card-content>DA Specification: version 2</mat-card-content>
      <mat-card-content>Full command: java -jar bbb.jar</mat-card-content>
    </div>

    <div class="runtime-table">
      <mat-card-title>Runtime Parameters</mat-card-title>
      <app-table #tableComponent
                 [headers]="header" [rows]="rows" [dataSource]="dataSource"
                 [isServerPagination]="false">
      </app-table>
    </div>
  </mat-card>
</mat-sidenav-container>
