<mat-toolbar class="mlt-toolbar">
  <span class="mlt-toolbar-title">AM Training</span>
  <mat-form-field class="mlt-select" style="width:200px;">
    <mat-select placeholder="File Group" [(ngModel)]="selectedFile"
                (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input"
               [formControl]="selectSearchFormControl">
      </div>
      <mat-option *ngFor="let code of filteredFileGroupCodes | async" [value]="code">
        {{ code.name }}
        <ng-container *ngIf="code.rate == 16000">
          <span style="font-size: 10px; color:rgba(0, 0, 0, .654);">{{code.purpose}}_16K</span>
        </ng-container>
        <ng-container *ngIf="code.rate == 8000">
          <span style="font-size: 10px; color:rgba(0, 0, 0, .654);">{{code.purpose}}_8K</span>
        </ng-container>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="mlt-select" style="width:100px">
    <mat-select placeholder="Train Type" [(ngModel)]="trainType">
      <mat-option value="D">DNN</mat-option>
      <mat-option value="L">LSTM</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="this.trainGroupFiles()" [disabled]="isTraining">
    <mat-icon color="primary">school</mat-icon>
    <span style="color: #3b78e7">Train</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">

  <section>
    <div class="mlt-title">STT AM Training Progress</div>
    <div class="mlt-subtitle">Train Speach To Text acoustic models.</div>

    <div fxLayout="row" *ngFor="let training of trainings">
      <mat-card class="mlt-card" fxFlex="100%" fxFlex.gt-md="960px">
        <mat-card-title>{{training.name}}</mat-card-title>
        <mat-card-content>
          <p>
            <span>Progress: {{training.progress | number:'2.1-1'}}%</span>
          </p>
          <mat-progress-bar
            [mode]="(training.stopped || training.error) ? 'determinate' : 'buffer'"
            [value]="training.progress"
            [bufferValue]="training.progress">
          </mat-progress-bar>
          <p class="mlt-error" *ngIf="training.error">
            <span>{{training.error}}</span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [disabled]="training.stopped || training.error"
                  (click)="stopTraining(training.sttKey)" type="button">Stop
          </button>
          <button mat-raised-button
                  [disabled]="!(training.stopped || training.error)"
                  (click)="removeTraining(training.sttKey)" type="button">Remove
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>

  <section [hidden]="models.length === 0">
    <div class="mlt-title">Trained STT Models</div>

    <div fxLayout="row" *ngFor="let model of models">
      <mat-card class="mlt-card" fxFlex="100%" fxFlex.gt-md="960px"
                *ngIf="model.name != 'baseline'">
        <mat-card-title>{{model.name}}</mat-card-title>
        <mat-card-content>
          <p>
            <span>Key : {{model.sttKey}}</span>
          </p>
          <p>
            <span>Binary : {{model.sttBinary}}</span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="button" (click)="removeModel(model.id)">
            Remove
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
