<div class="chatbot chatbot-content-container">
  <div class="chatbot-contents-wrap">
    <div *ngFor="let message of messageQueue">
      <app-chatting-default
        *ngIf="message.type === Type.SERVER && message.msgType === MessageType.TEXT"
        [message]="message.message"></app-chatting-default>
      <app-chatting-client
        *ngIf="message.type === Type.CLIENT && message.msgType === MessageType.TEXT"
        [message]="message.message"></app-chatting-client>
      <app-chatting-button
        *ngIf="message.type === Type.SERVER && message.msgType === MessageType.BUTTON"
        [message]="message.message"></app-chatting-button>
      <app-chatting-meta
        *ngIf="message.type === Type.SERVER && message.msgType === MessageType.META"
        [message]="message.message"></app-chatting-meta>
    </div>
  </div>
  <div class="chatbot-footer-container">
    <div class="chatbot-footer-wrap">
      <div class="chatbot-footer" [ngClass]="{'disabled': !isConversationOpened}">
        <textarea (keydown)="resize($event)" (keyup)="resize($event)" class="chatting-footer-input"
                  id="message" placeholder="메시지를 입력해주세요." autocorrect="off"
                  [(ngModel)]="footer_input" [disabled]="!isConversationOpened"></textarea>
        <div class="chatting-footer-button" [ngClass]="{'disabled': !isConversationOpened}"
             (click)="sendMessage()"></div>
      </div>
    </div>
  </div>
</div>
