<div class="chatting-default-container">
  <!--client-->
  <div class="chatting-default-wrap chatting-client">
    <div class="chatting-info-text client-info">
      <div class="chatting-info">
        <span class="chatting-time"></span>
        <span class="chatting-name">User</span>
      </div>
      <div class="client-text">{{message}}</div>
      <div class="client-triangle"></div>
    </div>
    <div class="chatting-info-text">
      <img src="./assets/img/chat_user.svg" alt="원안에 사람모양">
    </div>
  </div>
</div>
