<div class="chatbot-button-container">
  <ul>
    <!--<li>-->
    <!--<button>서울특별시</button>-->
    <!--</li>-->
    <!--<li>-->
    <!--<button>대구막창</button>-->
    <!--</li>-->
    <!--<li>-->
    <!--<button>부산오뎅</button>-->
    <!--</li>-->
    <!--<li>-->
    <!--<button>전주비빔밥</button>-->
    <!--</li>-->
    <!--<li>-->
    <!--<button>울릉도오징어</button>-->
    <!--</li>-->
    <!--<li>-->
    <!--<button>제주갈치</button>-->
    <!--</li>-->
    <li>
      <button (click)="sendButtonMessage($event)">서울특별시</button>
    </li>
    <li>
      <button (click)="sendButtonMessage($event)">대구막창</button>
    </li>
    <li>
      <button (click)="sendButtonMessage($event)">부산오뎅</button>
    </li>
    <li>
      <button (click)="sendButtonMessage($event)">전주비빔밥</button>
    </li>
    <li>
      <button (click)="sendButtonMessage($event)">울릉도오징어</button>
    </li>
    <li>
      <button (click)="sendButtonMessage($event)">제주갈치</button>
    </li>
  </ul>
</div>
