/* START Chatting Default */
@import "../../dialog-model-common";

.chatbot-button-container {
  width: calc(100% - 100px);
  margin: 0 50px;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    font-size: 0;

    button {
      font-size: 14px;
      margin: 5px 5px 0 0;
      padding: 0 10px;
      line-height: 30px;
      border: 1px solid $main-color;
      border-radius: 16px;
      color: $main-color;
      background: #FFFFFF;

      &:hover {
        background: $main-color;
        color: #FFFFFF;
      }
    }
  }
}

/* END Chatting Default */

