/* START Chatting Meta */
@import "../../dialog-model-common";

.meta-container {
  width: calc(100% - 105px);
  margin: 5px 0 0 50px;
  height: 35%;
  max-width: 420px;
  background-color: #FFFFFF;
  border: 1px solid $main-color;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  overflow: hidden;

  .map-link {
    text-align: center;
    font-size: 11px;
    line-height: 28px;
    border-top: 1px solid $main-color;
  }
}

.meta-info {
  padding: 10px;
}

.meta-title {
  font-weight: bold;
  margin-bottom: 2px;
}

.msg-btn {
  cursor: pointer;
  padding: 10px;
  background: $main-color;
  border: 1px $main-color solid;

  button {
    color: #FFFFFF;
    font-weight: bold;
  }
}

.meta-image {
  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

/* END Chatting Meta */
