<div class="chatting-default-container">
  <!--chatbot bubble-->
  <div class="chatting-default-wrap chatting-ddubot" *ngIf="message === ''">
    <div class="chatting-info-text">
      <img src="./assets/img/chat_bot.svg" alt="원안에 사람모양">
    </div>
    <div class="chatting-info-text ddubot-info">
      <div class="chatting-info">
        <span class="chatting-name">Chatbot</span>
        <span class="chatting-time"></span>
      </div>
      <div class="ddubot-text chatting-loading"> <!--loading-->
        <div class="chatting-loading-bubble">
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
        </div>
      </div>
      <div class="ddubot-triangle"></div>
      <div class="triangle"></div>
    </div>
  </div>

  <!--chatbot receive-->
  <div class="chatting-default-wrap chatting-ddubot" *ngIf="message !== ''">
    <div class="chatting-info-text">
      <img src="./assets/img/chat_bot.svg" alt="원안에 사람모양">
    </div>
    <div class="chatting-info-text ddubot-info">
      <div class="chatting-info">
        <span class="chatting-name">Chatbot</span>
        <span class="chatting-time"></span>
      </div>
      <div class="ddubot-text">{{message}}</div>
      <div class="ddubot-triangle"></div>
      <div class="triangle"></div>
    </div>
  </div>
</div>
