.mlt-toolbar-upsert {
  background-color: #ffffff;
  border-bottom: 1.1px solid #d3d3d3;
  justify-content: space-between;
  margin-top: 1px;
}

[hidden] {
  display: none !important;
}

.item-detail {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  width: 90%;

  .mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 2px;
    border-left: 1px solid #d3d3d3;
  }

  .mat-card-style {
    width: 100%;
    margin-top: 15px;

    .box-size {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 40px;

      .question-list {
        border-bottom: 1px solid #d3d3d3;
        margin-bottom: 20px;
      }

      .question-list:last-child {
        border-bottom: 0px;
        margin-bottom: 10px;
      }

      .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 40px;
        padding-left: 17px;
        background-color: #f3f3f3;
      }

      .content-data {
        display: flex;
        flex-direction: row;
        //align-items: center;
        box-sizing: border-box;
        min-height: 36px;
        padding: 0 16px;
        //margin: 5px 0px;
        position: relative;

        .left {
          color: rgba(0, 0, 0, .54);
          float: left;
          padding-right: 60px;
          width: 15%;
        }

        .right {
          float: left;
          width: 75%;
          word-break: break-all;

          p {
            margin: 0 0 0 0;
          }

          .layer-inline {
            width : 12%;
            height: 26px;
            display: inline-block;
            margin-right: 17px;
            text-align: center;
            background-color: #eeeeee;
            border-radius: 5px;
          }
        }

      }
    }
  }

}
