.chatbot-upsert {
  width: 80%;

  .information-group {
    margin-left: 15px;

    .mat-form-field {
      display: inline-block;
      position: relative;
      text-align: left;
      width: 300px;
      margin-bottom: 15px;
    }

    //mat-button-toggle css
    /deep/ .mat-button-toggle-group {
      overflow: hidden;
      border-radius: 5px;
    }

    /deep/ .mat-button-toggle-label-content {
      user-select: none;
      display: inline-block;
      line-height: 32px;
      padding: 0 30px;
      cursor: pointer;
    }

    .mat-button-toggle-checked {
      color: white;
      background-color: #2979ff;
    }

    .mat-list-item-lang {
      margin-top: 5px;
    }
  }

  .itf-group {
    margin-top: 20px;
    margin-left: 20px;
    width: 1000px;
    height: 500px;

    .mat-radio-outer-circle {
      box-sizing: border-box;
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      transition: border-color ease 280ms;
      width: 20px;
      margin-left: 250px;
      border-width: 2px;
      border-style: solid;
      border-radius: 50%;
    }

    .policy-radio-group {
      display: inline-flex;
      flex-direction: column;
    }

    .policy-radio-button {
      margin: 5px 5px 5px 20px;
    }

    .left-item {
      float: left;
      width: 300px;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;

      .policy-description {
        color: #a0a0a0;
        cursor: default;
        font-size: 13px;
      }
    }

    /deep/ .mat-list {
      display: block;
      padding-top: 0px;
    }

    .right-item {
      width: 360px;
      height: 100%;
      padding-left: 20px;
      padding-right: 50px;
      overflow-x: hidden;
      overflow-y: auto;

      .itf-not-defined {
        width: 230px !important;
      }

      .itf-defined {
        width: 356px !important;
      }

      .content-data {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        min-height: 36px;
        padding: 8px 16px;
        position: relative;

        .left {
          color: rgba(0, 0, 0, .54);
          float: left;
          padding-right: 23px;
          width: 166px;
        }

        .right {
          float: left;
          width: 458px;
          word-break: break-all;
        }
      }

      .step-run-style {
        width: 24px !important;
        font-size: 16px !important;

        .step-run-style-text {
          margin-left: 7px;
        }
      }

      .step-number {
        width: 0px !important;
        font-size: 15px !important;
      }

      .step-type {
        color: #a1a1a1;
        font-size: 13px;
      }

      .step-run-style {
        cursor: default;
      }

      .step-category-length {
        font-size: 13px;
        color: #a1a1a1;

        .step-category-length-icon {
          color: #297A80;
          cursor: default;
        }
      }
    }
  }

  .skill-mapping-group {
    margin-top: 20px;
    margin-left: 20px;
    width: 1000px;
    height: 500px;

    .skill-item-part {
      float: left;
      margin-right: 20px;

      .title {
        font-size: 16px;
        font-weight: lighter;
      }

      .checkAll {
        float: right !important;
        margin-right: 16px !important;
      }

      .not-mapped-item {
        //float: left;
        width: 300px;
        height: 200px;
        border-right: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-bottom: 30px;
      }

      .mapped-item {
        width: 300px;
        height: 200px;
        border-right: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-bottom: 30px;
      }
    }

    .da-item-part {
      float: left;
      margin-right: 20px;

      .dai-item {
        //float: left;
        margin-left: 20px;

        .title {
          font-size: 16px;
          font-weight: lighter;
        }

        .checkAll {
          float: right !important;
          margin-right: 16px !important;
        }

        .dai-list-item {
          width: 300px;
          height: 200px;
          border-right: 1px solid #d3d3d3;
          border-bottom: 1px solid #d3d3d3;
          overflow-x: hidden;
          overflow-y: scroll;
          margin-bottom: 30px;
        }
      }

      .da-item {
        //float: left;
        margin-left: 20px;

        .title {
          font-size: 16px;
          font-weight: lighter;
        }

        .checkAll {
          float: right !important;
          margin-right: 16px !important;
        }

        .da-list-item {
          width: 300px;
          //height: 500px;
          border-right: 1px solid #d3d3d3;
          overflow-x: hidden;
          //overflow-y: scroll;
          margin-bottom: 30px;

          /deep/ .mat-button-toggle-group {
            overflow: hidden;
            border-radius: 5px;
          }

          /deep/ .mat-button-toggle-label-content {
            user-select: none;
            display: inline-block;
            line-height: 32px;
            padding: 0 30px;
            cursor: pointer;
          }

          .mat-button-toggle-checked {
            color: white;
            background-color: #2979ff;
          }

          .input-size-name {
            width: 270px;
          }

          .cancel {
            margin-left: 20px;
          }

          .lang-group {
            margin: 5px 0 5px 15px
          }

          .select-da {
            margin-top: 20px;
            width: 270px;
          }

          .input-size-description {
            width: 270px;
            height: 70px;
          }

          .mat-form-size-270 {
            display: inline-block;
            position: relative;
            text-align: left;
            width: 270px;
          }

          .input-size-number {
            display: inline-block;
            position: relative;
            text-align: center;
            width: 29px;

            /deep/ .mat-form-field-wrapper {
              position: relative;
              width: 100%;
            }
          }
        }
      }
    }

    .runtime-item-part {
      //float: left;
      margin-left: 20px;
      height: 1000px;
      overflow-y: auto;

      .title {
        font-size: 16px;
        font-weight: lighter;
      }

      .checkAll {
        float: right !important;
        margin-right: 16px !important;
      }

      .dainstance-right-input-size {
        width: 300px;
      }
    }
  }


  .stt-models {
    width: 303px;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #d3d3d3;

    .stt-model-not-defined {
      text-align: center;
      margin-top: 180px;
      color: #d3d3d3;
    }
  }

  .chatbot-button-line {
    margin-top: 15px;
    margin-bottom: 3px;
  }
}

.margin-btn {
  margin-left: 10px;
  margin-right: 10px;
}
