<app-tools [name]="title" [showMoreVert]=false [goBack]="backPage"></app-tools>

<mat-sidenav-container class="m2u-mainbody">
  <mat-horizontal-stepper [linear]="true" #stepper class="chatbot-upsert"
                          (selectionChange)="changeStep($event)">
    <!-- [PART-1] Information -->
    <mat-step [stepControl]="informationGroup">
      <form [formGroup]="informationGroup" class="information-group">
        <ng-template matStepLabel>Information</ng-template>
        <mat-list-item>
          <mat-form-field>
            <input [hidden]="role === 'edit'" matInput placeholder="Name" formControlName="name"
                   [(ngModel)]="chatbotName" (change)="setTitle($event.target.value)" required>

            <input [hidden]="role !== 'edit'" matInput placeholder="Name" formControlName="name"
                   [(ngModel)]="chatbotName" required>

            <mat-error *ngIf="informationGroup?.get('name').hasError('required')">
              Name is <strong>required.</strong>
            </mat-error>
            <mat-error *ngIf="informationGroup?.get('name').hasError('variable')">
              Name is <strong>use alpha-numeric characters only.</strong>
            </mat-error>
            <mat-error *ngIf="informationGroup?.get('name').hasError('duplicated')">
              Name is <strong>duplicated.</strong>
            </mat-error>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <input matInput placeholder="Title" formControlName="title"
                   [(ngModel)]="chatbotTitle" required>
            <mat-error *ngIf="informationGroup.get('title').hasError('required')">
              Title is <strong>required.</strong>
            </mat-error>
            <mat-error *ngIf="informationGroup.get('title').hasError('variable')">
              Title is <strong>use alpha-numeric characters only.</strong>
            </mat-error>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="description">
          </textarea>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <input matInput formControlName="session_timeout"
                   [placeholder]="'Session Timeout'" [(ngModel)]="sessionTimeoutStr" required>
            <span matSuffix>seconds</span>
            <mat-error *ngIf="informationGroup.get('session_timeout').hasError('required')">
              Session timeout is <strong>required.</strong>
            </mat-error>
            <mat-error *ngIf="!informationGroup.get('session_timeout').hasError('required') &&
          informationGroup.get('session_timeout').hasError('isPositiveInteger')">
              Session timeout <strong>should be only a positive integer.</strong>
            </mat-error>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <input matInput placeholder="External System" formControlName="external_system_info">
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-slide-toggle formControlName="active" color="accent">Active
          </mat-slide-toggle>
        </mat-list-item>

        <div class="chatbot-button-line">
          <button mat-raised-button matStepperNext>Next</button>
          <button mat-raised-button class="cancel-btn" type="button" [routerLink]="'../'">CANCEL</button>
        </div>

      </form>
    </mat-step>

    <!-- [PART-2] ITFP -->
    <mat-step [stepControl]="itfGroup">
      <form [formGroup]="itfGroup" class="itf-group">
        <ng-template matStepLabel>Intent Finder Policy</ng-template>
        <div class="left-item">
          <mat-radio-group class="policy-radio-group"
                           labelPosition="after" formControlName="intent_finder_policy">
            <mat-radio-button class="policy-radio-button"
                              *ngFor="let itfp of itfpList"
                              [value]="itfp" (click)="selectItfPolicy(itfp)">
              {{itfp}}<br>
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="right-item">
          <mat-form-field [ngClass]="itfp !== null ? 'itf-defined' : 'itf-not-defined'">
            <input matInput required formControlName="default_skill"
                   [placeholder]="itfp !== null ?
                 'The skill to use when creating a new session' : 'Default Skill'"
                   (keyup)="isDone()">
            <mat-error *ngIf="itfGroup.get('default_skill').hasError('required')">
              Skill is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-list *ngIf="itfGroup.get('intent_finder_policy').value !== 'none'">
            <mat-list>
              <ng-container *ngIf="itfp !== null">
                <h2>Policy</h2>
                <div class="content-data">
                  <div class="left">
                    name :
                  </div>
                  <div class="right">
                    {{itfp['name']}}
                  </div>
                </div>
                <div class="content-data">
                  <div class="left">
                    lang :
                  </div>
                  <div class="right">
                    <img [src]="getImageURL(itfp['lang'])">
                  </div>
                </div>
              </ng-container>
            </mat-list>
            <ng-container *ngIf="itfp !== null">
              <h2>Steps</h2>
              <mat-list-item *ngFor="let step of itfp.steps; let index = index" name="step">
                <mat-chip mat-list-icon color="accent" class="step-run-style" selected="true">
                  <a class="step-run-style-text">{{step.stepRunStyle}}</a>
                </mat-chip>
                <span mat-list-icon class="step-number">{{step.seq}}.</span>
                <span class="step-text" mat-line>{{step.name}}</span>
                <span *ngIf="step.type === 'CLM_DNN_CLASSIFIER'">
                    {{step.dnn_cl_mod.cut_coefficient.toFixed(3)}}
              </span>
                <a mat-icon-button *ngIf="step.run_style === 'IFC_SKILL_FOUND_RETURN'">
                  <mat-icon class="step-run-style">keyboard_return</mat-icon>
                </a>

                <a mat-icon-button *ngIf="step.run_style ==='IFC_SKILL_FOUND_COLLECT_HINTS'
                || step.run_style === 'IFC_HINT'">
                  <mat-icon>arrow_downward</mat-icon>
                </a>

                <a mat-icon-button class="step-category-length"
                   [hidden]="step.categories.length === 0 || step.categories[0] === ''">
                  <mat-icon class="step-category-length-icon">import_contacts</mat-icon>
                  {{step.categories.length}}
                </a>

                <div class="step-type" mat-line>{{step.stepType}}</div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </ng-container>
          </mat-list>
        </div>
      </form>
      <div class="chatbot-button-line">
        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
        <button mat-raised-button class="margin-btn" matStepperNext>Next</button>
        <button mat-raised-button [disabled]="!doneFlag"
                [color]="doneFlag ? '' : ''"
                (click)="submit()">DONE
        </button>
        <button mat-raised-button class="cancel-btn" [routerLink]="'../'">CANCEL</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="sttModelGroup">
      <form [formGroup]="sttModelGroup">
        <ng-template matStepLabel>STT Models</ng-template>

        <mat-selection-list class="stt-models" #sttModels>
          <ng-container *ngIf="sttModelList.length > 0">
            <mat-list-option *ngFor="let sttModel of sttModelList" [value]="sttModel" #options>
              {{sttModel.model}}-{{sttModel.lang}}-{{sttModel.sample_rate}}
              <mat-divider></mat-divider>
            </mat-list-option>
          </ng-container>

          <ng-container *ngIf="sttModelList.length === 0">
            <div class="stt-model-not-defined">
              STT Models Not defined.
            </div>
          </ng-container>
        </mat-selection-list>

        <div class="chatbot-button-line">
          <button mat-raised-button class="margin-btn" color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button (click)="submit()">DONE</button>
          <button mat-raised-button class="cancel-btn" type="button" [routerLink]="'../'">CANCEL</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-sidenav-container>
