<p-growl [(value)]="msgs"></p-growl>

<div class="default-content-wrap intent-section">
  <div class="default-content-container">
    <div class="content-header">
      <div class="content-header-title content-header-train">
        <button mat-icon-button class="btn-back"
                *ngIf="selectedIntent!==null && selectedIntent!==undefined"
                (click)="backToList()">
          <i class="material-icons">reply</i>
        </button>
        <div class="header-title" *ngIf="!selectedIntent">Intents</div>
        <div class="header-title" *ngIf="selectedIntent">{{selectedIntent.intentName}}</div>
        <div class="progress-content-wrap train-progress-bar" *ngIf="visibleTraining">
          <div class="progress-content-title">Train Progress:</div>
          <p-progressBar [value]="value" styleClass="progress-content-bar"></p-progressBar>
          <div class="progress-content-status">{{value}}%</div>
          <div class="title-button-wrap">
            <button mat-raised-button color="primary" class="btn-title" (click)="stopTraining()"
                    *ngIf="isTraining">Cancel
            </button>
          </div>
        </div>
        <div class="title-button-wrap">
          <button mat-raised-button color="primary" class="btn-title" (click)="downloadIntent()">
            <i class="material-icons">cloud_download</i>Download
          </button>

          <label for="upload"><i class="material-icons">cloud_upload</i>Upload</label>
          <input #upload id="upload" class="btn-upload" type="file" multiple="false"
                 (change)="uploadIntents($event)"/>

          <button mat-raised-button color="primary" class="btn-title" (click)="trainOpen()">
            <i class="material-icons">school</i>Training
          </button>

          <button mat-raised-button color="primary" class="btn-title"
                  *ngIf="selectedIntent===null || selectedIntent===undefined"
                  (click)="addIntent()">
            <i class="material-icons">add</i>Add
          </button>
        </div>
      </div>
    </div>

    <!--default users intent-->
    <mat-tab-group #tabGroup class="default-tab"
                   *ngIf="selectedIntent===null || selectedIntent===undefined"
                   (focusChange)="onToggleIntentTabs($event)" [selectedIndex]="selectedIndex">
      <mat-tab label="Intent">
        <div class="content-wrap content-grid common-dialog-content default-user">
          <div class="content-container common-dialog-wrap">
            <div class="content-grid-wrap">
              <div class="intent-content-wrap common-dialog-container">
                <div class="intent-content-container dialog-content-wrap">
                  <div class="common-table-section">
                    <div class="common-table-header">
                      <div class="header-wrap-filter common-table">
                        <div class="common-input table-input">
                          <div class="filter-wrap">
                            <p-dropdown
                              styleClass="custom-dropdown"
                              [style]="{'width':'130px'}"
                              [options]="searchOptions"
                              [(ngModel)]="selectedSearchOption">
                            </p-dropdown>
                            <input type="text" class="filter-input"
                                   (input)="intentListDataTable.filter($event.target.value, selectedSearchOption,'contains')"
                                   placeholder="검색어를 입력해 주세요">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="common-table-contents">
                      <div class="table-wrap-rowgroup">
                        <p-dataTable #intentListDataTable [value]="intentList"
                                     styleClass="custom-row-table">
                          <p-column header="Intent" field="intentName"
                                    [style]="{'text-align':'left'}">
                            <ng-template let-col let-intent="rowData" pTemplate="body">
                              <div class="select-name"
                                   (click)="onSelectIntent(intent)">{{intent[col.field]}}</div>
                              <i class="material-icons icon-link" *ngIf="intent.sharedYn === 'Y'">link</i>
                            </ng-template>
                          </p-column>
                          <p-column header="Related Task" field="relatedTask"
                                    [style]="{'text-align':'left'}">
                          </p-column>
                          <p-column [style]="{'width':'50px'}">
                            <ng-template pTemplate="header">
                            </ng-template>
                            <ng-template let-intent="rowData" pTemplate="body" let-idx="rowIndex">
                              <div class="table-button">
                                <i class="material-icons icon-delete"
                                   (click)="onRemoveIntent(intent, idx)">delete</i>
                              </div>
                            </ng-template>
                          </p-column>
                          <p-column [style]="{'width':'50px'}">
                            <ng-template pTemplate="header">
                            </ng-template>
                            <ng-template let-intent="rowData" pTemplate="body" let-idx="rowIndex">
                              <div class="table-button" *ngIf="intent.sharedYn !== 'Y'">
                                <i class="material-icons icon-share"
                                   (click)="onShareIntent(intent, idx)">share</i>
                              </div>
                            </ng-template>
                          </p-column>
                          <ng-template pTemplate="emptymessage">
                            <div class="no-data">조회할 데이터가 없습니다.</div>
                          </ng-template>
                        </p-dataTable>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </mat-tab>
      <mat-tab label="Shared Intent">
        <div class="content-wrap content-grid common-dialog-content default-user">
          <div class="content-container common-dialog-wrap">
            <div class="content-grid-wrap">
              <div class="intent-content-wrap common-dialog-container">
                <div class="intent-content-container dialog-content-wrap">
                  <div class="common-table-section">
                    <div class="common-table-header">
                      <div class="header-wrap-filter common-table">
                        <div class="common-input table-input">
                          <div class="filter-wrap">
                            <p-dropdown
                              styleClass="custom-dropdown"
                              [style]="{'width':'130px'}"
                              [options]="searchOptions"
                              [(ngModel)]="selectedSearchOption">
                            </p-dropdown>
                            <input type="text" class="filter-input"
                                   (input)="sharedIntentListDataTable.filter($event.target.value, selectedSearchOption,'contains')"
                                   placeholder="검색어를 입력해 주세요">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="common-table-contents">
                      <div class="table-wrap-rowgroup">
                        <p-dataTable #sharedIntentListDataTable [value]="sharedIntentList"
                                     styleClass="custom-row-table">
                          <p-column header="Intent" field="intentName"
                                    [style]="{'text-align':'left'}">
                            <ng-template let-col let-intent="rowData" pTemplate="body">
                              <div class="select-name"
                                   (click)="onSelectIntent(intent)">{{intent[col.field]}}</div>
                            </ng-template>
                          </p-column>
                          <!--<p-column header="Related Task" field="relatedTask" [style]="{'text-align':'left'}">-->
                          <!--</p-column>-->
                          <p-column [style]="{'width':'50px'}">
                            <ng-template pTemplate="header">
                            </ng-template>
                            <ng-template let-intent="rowData" pTemplate="body" let-idx="rowIndex">
                              <div class="table-button">
                                <i class="material-icons icon-delete"
                                   (click)="onRemoveIntent(intent, idx)">delete</i>
                              </div>
                            </ng-template>
                          </p-column>
                          <p-column [style]="{'width':'50px'}">
                            <ng-template pTemplate="header">
                            </ng-template>
                            <ng-template let-intent="rowData" pTemplate="body" let-idx="rowIndex">
                              <div class="table-button">
                                <i class="material-icons icon-share"
                                   (click)="linkIntent(intent, idx)">share</i>
                                <!--<i class="material-icons icon-share" (click)="importIntent(intent, idx)">reply</i>-->
                              </div>
                            </ng-template>
                          </p-column>
                          <p-column [style]="{'width':'50px'}">
                            <ng-template pTemplate="header">
                            </ng-template>
                            <ng-template let-intent="rowData" pTemplate="body" let-idx="rowIndex">
                              <div class="table-button">
                                <i class="material-icons icon-share"
                                   (click)="importIntent(intent, idx)">reply</i>
                              </div>
                            </ng-template>
                          </p-column>
                          <ng-template pTemplate="emptymessage">
                            <div class="no-data">조회할 데이터가 없습니다.</div>
                          </ng-template>
                        </p-dataTable>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!--select users intent-->
    <div class="content-wrap content-grid common-dialog-content user-intent"
         *ngIf="selectedIntent!==null && selectedIntent!==undefined">
      <div class="content-container common-dialog-wrap">
        <div class="content-grid-wrap">
          <div class="intent-content-wrap common-dialog-container">
            <div class="dialog-content-wrap">
              <div class="common-table-section">
                <div class="common-table-contents">
                  <div class="table-wrap-rowgroup">
                    <p-dataTable [value]="[selectedIntent]"
                                 [editable]="true"
                                 styleClass="custom-row-table">
                      <p-column header="Intent" field="intentName"
                                [editable]="true"
                                [style]="{'text-align':'left'}">
                        <ng-template let-col let-intent="rowData" pTemplate="body">
                          <div>{{intent[col.field] === '' ? 'Please input Intent name'
                            : intent[col.field]}}</div>
                        </ng-template>
                        <ng-template let-col let-intent="rowData" pTemplate="editor">
                          <input type="text" [(ngModel)]="intent[col.field]"
                                 placeholder="Please input Intent name"
                                 (change)="saveIntent()"
                                 appendTo="body" *ngIf="intent.sharedYn !== 'Y' || onShared"/>
                          <input type="text" [(ngModel)]="intent[col.field]"
                                 placeholder="Please input Intent name"
                                 (change)="saveIntent()"
                                 appendTo="body" *ngIf="intent.sharedYn === 'Y' && !onShared"
                                 readonly/>
                        </ng-template>
                      </p-column>
                      <p-column header="Related Task" field="relatedTask"
                                [editable]="false"
                                [style]="{'text-align':'left'}">
                        <ng-template let-col let-intent="rowData" pTemplate="body">
                          <div>{{intent[col.field]}}</div>
                        </ng-template>
                      </p-column>
                    </p-dataTable>
                  </div>
                </div>
              </div>
            </div>
            <div class="dialog-content-wrap select-user-intent">
              <div class="common-table-section">
                <div class="common-table-header">
                  <div class="header-wrap-filter common-table">
                    <div class="common-input table-input">
                      <div class="filter-wrap">
                        <input #userSaysName type="text" class="says-input"
                               placeholder="Search User Says">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-wrap-list">
                  <div class="dialog-title-wrap user-says-title">
                    <div class="dialog-title">User Says</div>
                  </div>
                  <div class="table-wrap-rowgroup list-content-wrap">
                    <p-dataTable #intentUtterDataTable [value]="selectedIntent.intentUtter"
                                 [globalFilter]="userSaysName"
                                 [style]="{'padding-left':'30px'}">
                      <p-column field="num"
                                [style]="{'width':'30px', 'height':'36px', 'vertical-align':'top', 'padding-top':'10px'}">
                        1
                      </p-column>
                      <p-column field="userSay"
                                [style]="{'text-align':'left', 'width':'100%'}">
                        <ng-template let-col let-utter="rowData" pTemplate="body"
                                     let-idx="rowIndex">
                          <div class="user-says-input"
                               [ngClass]="{isSelected: (selectedUtterIndex!==-1)&&(idx===selectedUtterIndex)}"
                               (click)="onSelectUserSay(utter, idx)">{{utter[col.field]}}
                            <div>
                              <i class="material-icons icon-delete"
                                 (click)="removeUtter(utter, idx)">delete</i>
                              <i class="material-icons" (click)="paraphraseOpen()">highlight</i>
                            </div>
                          </div>
                          <div *ngIf="idx === selectedUtterIndex"
                               class="paraphrasing-wrap paraphrase-list-wrap">
                            <div class="common-input">
                              <div *ngFor="let para of paraphraseList">
                                <p-checkbox name="groupname" [value]="para" [label]="para"
                                            class="paraphrase-check"
                                            (onChange)="addParaphrase(para, $event)">
                                </p-checkbox>
                              </div>
                            </div>
                          </div>
                          <!--<button class="list-add" (click)="addUtter()">+</button>-->
                        </ng-template>
                      </p-column>
                      <!--<p-footerColumnGroup>-->
                      <!--<p-row>-->
                      <!--<p-column footer="+" colspan="3">-->
                      <!--<ng-template>-->
                      <!---->
                      <!--</ng-template>-->
                      <!--</p-column>-->
                      <!--</p-row>-->
                      <!--</p-footerColumnGroup>-->
                    </p-dataTable>
                    <div>
                      <button class="btn-add-hidden"></button>
                      <button class="list-add" (click)="addUtter()">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--edit users intent-->
        <div class="content-grid-wrap add-intent-wrap edit-intent">
          <div class="common-dialog-content" *ngIf="selectedUtterIndex !== -1">
            <div class="common-dialog-wrap" #editUserSayInputWrapper>
              <p-contextMenu [target]="userSayInput"
                             (itemClick)="onClickContextMenu($event)"
                             appendTo="body"
                             [model]="entityContextMenu"></p-contextMenu>
              <div class="common-dialog-container">
                <div class="common-corpus corpus-text">
                  <input type="text" styleClass="edit-input"
                         id="userSayInput"
                         #userSayInput
                         [(ngModel)]="selectedIntent.intentUtter[selectedUtterIndex].userSay"
                         (blur)="saveUtter()"
                         placeholder="Please enter User Say."
                         [disabled]="selectedIntent.sharedYn === 'Y' && !onShared">
                </div>
                <div class="common-corpus corpus-system">
                  <div class="corpus-system-title">
                    <div class="dialog-title-wrap">
                      <div class="dialog-title">태깅 결과</div>
                    </div>
                  </div>
                  <div class="corpus-system-content">
                    <div class="corpus-text-system">
                <span
                  *ngFor="let el of (selectedIntent.intentUtter[selectedUtterIndex].intentUtterData | mappedUserSay:selectedIntent.intentUtter[selectedUtterIndex].userSay)">
                  <span *ngIf="!el.isCorpus">{{el.text}}</span>
                  <button *ngIf="el.isCorpus" class="btn-word"
                          (click)="onSelectMappedValue(el.text)">
                      {{el.text}} <i class="material-icons" style="font-size: 14px"
                                     (click)="removeMappedValue($event, el.id)"
                                     *ngIf="selectedIntent.sharedYn !== 'Y' || onShared">clear</i>
                  </button>
                </span>
                    </div>
                    <div class="corpus-tagger-system">
                      <ul>
                        <li>
                          <div class="corpus-tagger-li"># {{selectedIntent.intentName}}</div>
                          <div class="corpus-tagger-li">(</div>
                          <div
                            *ngFor="let utter of selectedIntent.intentUtter[selectedUtterIndex].intentUtterData"
                            style="display: inline-block">
                            <p-dropdown
                              styleClass="custom-dropdown"
                              [options]="dialogEntityDropdownOptions"
                              (onChange)="onChangeUtterDataEntity(utter)"
                              [(ngModel)]="utter.entityId"
                              [disabled]="selectedIntent.sharedYn === 'Y' && !onShared">
                            </p-dropdown>
                            <div class="corpus-tagger-li">= "</div>
                            <div class="corpus-tagger-li corpus-intent">
                              <div class="">{{utter.mappedValue}}</div>
                            </div>
                            <div class="corpus-tagger-li">"</div>
                          </div>
                          <div class="corpus-tagger-li">)</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="common-corpus corpus-entities">
                  <div class="corpus-system-title">
                    <div class="dialog-title-wrap">
                      <div class="dialog-title">개체 태깅</div>
                    </div>
                  </div>
                  <div class="dialog-tree tree-table">
                    <p-treeTable [value]="dialogEntityList|entityTreeNode:true"
                                 (onNodeSelect)="entitySelected($event)"
                                 selectionMode="single">
                      <p-column>
                        <ng-template let-col let-node="rowData" pTemplate="body">
                          <input [(ngModel)]="node.data.name" type="text" disabled>
                        </ng-template>
                      </p-column>
                    </p-treeTable>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
