/* START Intent User */
@import "../../dialog-model-common";

.user-says-title {
  border: none;
  padding-top: 10px;

  .dialog-btn-wrap {
    margin: 0;
  }
}

.select-name {
  height: $input-height;
  text-decoration: underline;
  color: $link-color;
  cursor: pointer;
  display: inline-block;
}

.icon-link {
  line-height: 39px;
  vertical-align: bottom;
}

//.users-intent, .edit-intent{

//users-intent
.user-intent {
  .list-content-wrap {
    .user-says-input {
      height: 42px;
      padding: 7px 10px;
      border: $table-main-border;
      border-radius: 2px;
      margin-top: 10px;
      line-height: 30px;

      > div {
        display: inline-block;
        float: right;
      }

      i {
        vertical-align: baseline;
      }

      .btn-square {
        margin: 7px 0;

        &.icon-remove2 {
          font-size: 16px;
          color: $C6;
          border-color: $C6;
        }
      }

      .icon-delete {

      }

      &.isSelected {
        border-color: $main-color;
        color: $main-color;
      }
    }

    .paraphrase-list-wrap {
      display: none;

      .paraphrase-check {
        display: block;

      }
    }
  }

  .btn-add-hidden {
    width: 65px;
    overflow: hidden;
    border: none;
  }

  .list-add {
    width: calc(100% - 76px);
    border-color: $main-color;
    height: 42px;
    margin-top: 10px;
  }
}


// edit
.edit-intent {
  margin: 0 0 0 10px;
  overflow: auto;

  .common-corpus {
    margin-bottom: 20px;
  }

  .common-corpus.corpus-text {
    input {
      border-color: $main-color;
      color: $main-color;
    }
  }

  .corpus-text {
    input {
      font-size: 16px;
      width: calc(100% - 20px);
      height: $input-height;
      border: $table-main-border;
      border-radius: 2px;
      padding: 5px 10px;
      color: $C8;
    }
  }

  .corpus-tagger-title {
    font-size: $content-title-font;
    margin-bottom: 5px;
  }

  .corpus-entities {
    border: $table-main-border;
    border-radius: 2px;
    padding: 10px;

    .dialog-tree {
      padding-top: 10px;
    }
  }

  .corpus-system {
    .dialog-title-wrap {
      border: none;
    }

    .corpus-text-system {
      width: calc(100% - 20px);
      height: $input-height;
      border: $table-main-border;
      border-radius: 2px;
      padding: 7px 10px;
      color: $C3;
      font-size: $font-04;
      line-height: $input-height;

      .btn-word {
        margin: 0px;
        background: #FF00FF;
        color: $C10;
        padding: 5px 7px;
        line-height: 16px;

        i {
          vertical-align: text-top;
        }
      }
    }

    .corpus-tagger-system {
      ul {
        list-style: none;
        border: $table-main-border;
        border-radius: 2px;
        margin-top: 10px;
        padding: 0;
      }

      li {
        list-style: none;
        padding: 0 10px;
        width: 100%;
        //height: $input-height;
        border-top: $table-main-border;

        &:first-child {
          border: none;
        }
      }

      .custom-dropdown {
        border: none;
      }

      .corpus-tagger-li {
        display: inline-block;
        line-height: $input-height;
        vertical-align: top;
      }

      .corpus-intent {
        > div {
          display: inline-block;
          margin: 5px 0;
          padding: 3px;
          line-height: 15px;

          &:hover {
            border-color: #c0c0c0;
            background: #eeeeee;
            color: #212121;
          }
        }

        input {
          display: none;
          margin: 5px 0;
        }
      }
    }
  }

  .corpus-color {
    color: $C10;
    background-color: #FF00FF;
  }
}

.default-tab {
  height: calc(100% - 65px);

  /deep/ .mat-tab-body-wrapper {
    height: calc(100% - 50px);

    .content-wrap {
      height: calc(100% - 80px);
    }
  }
}

.intent-section {
  min-height: calc(100% - 30px);

  .intent-content-wrap {
    height: 100%;
    position: relative;
  }

  .intent-content-container {
    height: 100%;
  }

  //.dialog-btn-wrap{
  //  margin-top: 10px;
  //}
  //.dialog-content-wrap{
  //  margin: 30px 0;
  //}
  .table-button {
    max-width: 50px;

    i {
      font-size: $font-itag;
      padding: 5px;
      cursor: pointer;
    }

    &.row-delete {
      i {
        color: #f44336;
      }
    }

    .row-delete {
      color: #f44336;
    }

    .btn-add {
      background: $main-color;
      border-radius: 50%;
      color: #FFFFFF;
    }
  }

  .icon-delete {
    color: #f44336;
    vertical-align: middle;
    text-align: center;
  }

  .icon-share {
    color: $main-color;
    vertical-align: middle;
    text-align: center;
  }
}

/* END Intent User */
