.toolbars {
  background-color: white;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap
}

.arrowTool {
  display: flex;
}

.contentTool {
  margin: 0 0 0px 500px;
}

.info {
  box-shadow: none !important;
  padding: 24px 24px 12px 24px;
}

.dam-detail {
  margin-left: 40px;
  margin-top: 20px;

  .mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 2px;
    border-left: 1px solid #d3d3d3;
  }

  .mat-card-style {
    width: 700px;
    margin-top: 15px;

    .box-size {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 40px;
      padding-bottom: 10px;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 40px;
      padding-left: 17px;
      background-color: #f3f3f3;
    }

    .content-data {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      min-height: 36px;
      padding: 0 16px;
      margin: 5px 0px;
      position: relative;

      .left {
        color: rgba(0, 0, 0, .54);
        float: left;
        padding-right: 60px;
        width: 166px;
      }

      .right {
        float: left;
        width: 385px;
        word-break: break-all;
      }
    }
  }

  .mat-card-style-table {
    width: 90%;

    .box-size {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 25px;
      padding-bottom: 10px;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 40px;
      padding-left: 17px;
      background-color: #f3f3f3;
    }
  }

  .dam-table-detail {
    width: 90%;

    .agents {
      border: none;
      box-shadow: none !important;
      padding: 12px 24px 24px 7px;
    }
  }
}

.infoContent .active {
  vertical-align: super;
}

.agents {
  box-shadow: none !important;
  padding: 12px 24px 24px 24px;
}

.check_circle {
  color: #43f436;
  text-align: center;
  padding-left: 0px;
}

.block {
  color: #a0a0a0;
  text-align: center;
  padding-left: 0px;
}
