<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <button mat-button class="go-back" (click)="back('')">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mlt-toolbar-title"> {{title}} Model : {{model.name}} </span>
  </div>
</mat-toolbar>

<div class="mlt-mainbody">
  <app-version [(id)]="model.id" [(name)]="model.name" [(type)]="model.type"
               [(workspaceId)]="model.workspaceId"></app-version>
</div>
