<section>
  <header>
    <h2 *ngIf="role =='edit'">Update BasicQA Item</h2>
    <h2 *ngIf="role == 'add'">Add BasicQA Item</h2>
  </header>

  <main>
    <!-- 채널 -->
    <section>
      <mat-form-field class="select-box-left" style="width:100%" floatLabel="never">
        <mat-select placeholder="Channel" [(ngModel)]="selectedCategory1"
                    (click)="clearSelectOption('selectedCategory2', 0)">
          <mat-option *ngFor="let cate of contextCate; let i = index;" [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <!-- 대분류 -->
    <section>
      <mat-form-field class="select-box-left" style="width:100%" floatLabel="never">
        <mat-select placeholder="Category" [(ngModel)]="selectedCategory2"
                    (click)="clearSelectOption('selectedCategory2', 2)">
          <mat-option *ngFor="let cate of selectedCategory1.children; let i = index;"
                      [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <!-- 중분류 -->
    <section>
      <mat-form-field class="select-box-left" style="width:100%" floatLabel="never">
        <mat-select placeholder="SubCategory1" [(ngModel)]="selectedCategory3"
                    (click)="clearSelectOption('selectedCategory2', 3)">
          <mat-option *ngFor="let cate of selectedCategory2.children; let i = index;"
                      [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <!-- 소분류 -->
    <section>
      <mat-form-field class="select-box-left" style="width:100%" floatLabel="never">
        <mat-select placeholder="SubCategory2" [(ngModel)]="selectedCategory4">
          <mat-option *ngFor="let cate of selectedCategory3.children; let i = index;"
                      [value]="cate">
            {{ cate.catName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field style="width:100%" floatLabel="never">
        <textarea matInput placeholder="Question" [(ngModel)]="item.question" rows="1"
                  [formControl]="questionValidator" required
                  (keyup)="checkInvalid($event)"></textarea>
        <mat-error *ngIf="questionValidator.invalid">Enter a value</mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field style="width:100%" floatLabel="never">
        <textarea matInput placeholder="Answer" [(ngModel)]="item.answer" rows="1"
                  [formControl]="answerValidator" required
                  (keyup)="checkInvalid($event)"></textarea>
        <mat-error *ngIf="answerValidator.invalid">Enter a value</mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field style="width:100%" floatLabel="never">
        <input matInput placeholder="Src" [(ngModel)]="item.src" rows="1"
               [formControl]="srcValidator" required
               (keyup)="checkInvalid($event)">
        <mat-error *ngIf="srcValidator.invalid">Enter a value</mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field style="width:100%" floatLabel="never">
        <input matInput type="number" step="0.1" min="0" max="1" placeholder="Weight"
               [(ngModel)]="item.weight" [formControl]="weightValidator" required
               (change)="checkInvalid($event)">
        <mat-error *ngIf="weightValidator.invalid">Enter a value(max:1.0,min:0.0, decimal point:1)
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-radio-group name="user.activated" [(ngModel)]="item.useYn" [formControl]="useYnValidator"
                       (change)="checkInvalid($event)" required>
        <mat-radio-button value="Y">Use</mat-radio-button>
        <mat-radio-button value="N">Not Use</mat-radio-button>
      </mat-radio-group>
    </section>
    <section>
      <mat-radio-group name="mainYn" [(ngModel)]="item.mainYn" [formControl]="mainYnValidator"
                       (change)="checkInvalid($event)" required>
        <mat-radio-button value="Y">Main</mat-radio-button>
        <mat-radio-button value="N">Not Main</mat-radio-button>
      </mat-radio-group>
    </section>
  </main>
  <footer>
    <button mat-button (click)="dialogRef.close()" type="button">Cancel</button>
    <button *ngIf="role =='edit'" mat-button color="warn" type="button" (click)="removeItem()">
      Remove
    </button>
    <button *ngIf="role =='edit'" mat-button color="primary" type="button" [disabled]="disabled"
            (click)="updateItem()">Edit
    </button>
    <button *ngIf="role =='add'" mat-button color="primary" type="button" [disabled]="disabled"
            (click)="addItem()">Add
    </button>
  </footer>
</section>
