.item-option-first {
  width: 800px;
}

.item-option-second {
  width: 1000px;
}

.item-option-third {
  width: 800px;
}

[hidden] {
  display: none !important;
}

.select-search-form {
  height: 42px;
  padding-left: 10px;

  .select-search-form-input {
    height: 100%;
  }
}
