<div [style.width]="obj.w + 'px'" [style.height]="obj.h +'px'"
     class="flowchart-object flowchart-output">

  {{ obj.attr?.length }}

  <div>
    <div class="node-edit node-action" (click)="getNode()">
      <i class="fa fa-pencil-square-o"></i>
    </div>
    <div class="node-delete node-action" (click)="removeNode()">
      <i class="fa fa-times"></i>
    </div>
    <svg [attr.width]="obj.w" [attr.height]="obj.h">
      <rect [attr.x]="0" [attr.y]="0" [attr.width]="obj.w" [attr.height]="obj.h" class="outer"/>
      <rect [attr.x]="10" [attr.y]="10" [attr.width]="obj.w-20" [attr.height]="obj.h-20"
            class="inner"/>
      <text text-anchor="middle" [attr.x]="obj.w/2" [attr.y]="obj.h/2"
            dominant-baseline="central">{{obj.text}}</text>
    </svg>
  </div>
  <jtk-target port-type="task" filter=".outer" filter-negate="true"></jtk-target>
  <jtk-source port-type="task" filter=".outer" filter-negate="true"></jtk-source>
</div>
