<app-tools [showMoreVert]=false></app-tools>

<mat-sidenav-container class="m2u-mainbody">
  <div class="process-total">
    <app-process-total #totalProcess (tabClick)="getSupervisorServerGroupList()">
    </app-process-total>
  </div>
</mat-sidenav-container>
