<mat-toolbar class="mlt-toolbar">
  <button mat-button class="go-back" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>HMD model Test : {{selectedModel?.name}}</span>
</mat-toolbar>

<div class="mlt-mainbody">
  <section *ngIf="selectedModel.name !== '' || selectedModel.name !== undefined">
    <h2>Analyze text with HMD dictionary.</h2>
    <mat-card>
      <mat-card-content>
        <div class="label">Text</div>
        <mat-form-field floatLabel="never"
                        class="mlt-text-area-field">
            <textarea matInput placeholder="&nbsp;Enter text.."
                      class="mlt-text-area" [(ngModel)]="textData"></textarea>
        </mat-form-field>
      </mat-card-content>

      <div class="rolling" [hidden]="!loading" style="height:30px"></div>
      <mat-card-actions class="gray" [hidden]="loading">
        <button mat-raised-button type="submit"
                (click)="submit()">Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </section>

  <section [hidden]="testResultData.length == 0">
    <app-table #tableComponent [headers]="header" [rows]="testResultData" [length]="length"
               [dataSource]="dataSource" [isShowPaginator]="false"
               (outputSelectedHeader)="orderByHeader($event)"
    ></app-table>
  </section>
</div>
