<mat-toolbar class="mlt-toolbar">
  <span class="mlt-toolbar-title">LM Transcript</span>
  <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
          [hidden]="action.hidden">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <section>
    <h2>Transcript for {{transcript?.fileEntity?.name}}</h2>
    <!--<app-audio-player [url]="audioURL"></app-audio-player>-->
    <app-transcript-text #transcriptTextComponent [langCode]="langCode">
    </app-transcript-text>

    <app-git #gitComponent
             [getTitle]="'transcript'"
             [getCommitListUrl]="'/stt/lm/transcription/getCommitList'"
             [getDiffUrl]="'/stt/lm/transcription/getDiff'"
             [getFileByCommitUrl]="'/stt/lm/transcription/getFileByCommit'"
             [fileId]="transcript?.id"></app-git>
  </section>
</div>
