.skill-list-mainbody {
  height: 100%;
}

.skill-filter-wrap {
  background: #fff;
  height: calc(100% - 254px);
  border-bottom: 1px solid #CCC;
}

.skill-main-container {
  height: 400px;
  //height: 73%;
  //max-height: 73%;
}

.app-table-component {
  .maum-table {
    height: 100%;
    overflow-y: auto !important;
    .mat-row {
      max-height: 35px !important;
    }
  }
}

.connected-skill-mainbody {
  height: 50%;
}

.icon-field {
  text-align: right;
  margin-right: 10px;
}

.skill-search-wrap {
  overflow: hidden;
}

.option-list-select {
  float: left;
  margin: 10px 0 0 10px;

  .mat-form-field {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100px;
  }
}

.option-list-input {
  width: 40%;
  float: left;

  .skill-table-filter {
    width: calc(100% - 29px);
    height: 24px;
    margin: 15px 0 0 10px;

    .input {
      padding-left: 0;
    }
  }
}

.connected-skill-info {
  background: #fff;
  height: 29%;

  .maum-table {
    height: 155px !important;
  }

  .mat-tab-group {
    height: 100%;
  }

  .mat-tab-label {
    min-width: 135px !important;
  }

  .mat-ink-bar {
    width: 135px !important;
  }

  .mat-tab-body-wrapper {
    height: 83%;
  }

  .mat-tab-body-content {
    height: 100%;
    overflow-y: hidden !important;
  }
}

.skill-search-button {
  width: 45px;
  .mat-button {
    padding: 0 !important;
    min-width: 40px;
  }
}
