<mat-sidenav-container class="skill-list-mainbody">
  <div class="skill-filter-wrap">
    <div class="skill-search-wrap">
      <div class="option-list-select dialog-design-mat-form-field">
        <mat-form-field novalidate>
          <mat-select placeholder="{{'PLACEHOLDER.OPTION1' | translate}}" [(value)]="searchOptions[0]"
                      (selectionChange)="setOption($event, '0')">
            <mat-option *ngFor="let option of systemCodeList['group1Code']" [value]="option?.id">
              {{option?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
          <mat-form-field class="option2-select dialog-design-mat-form-field" novalidate>
            <mat-select placeholder="{{'PLACEHOLDER.OPTION2' | translate}}"
                        [value]="optionList[0]?.id"
                        (selectionChange)="setOption($event, '1')">
              <mat-option *ngFor="let option2 of optionList" [value]="option2?.id">
                {{option2?.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="option-list-input">
        <input class="skill-table-filter"
               placeholder="{{'PLACEHOLDER.SEARCH' | translate}}" type="text"
               [(ngModel)]="searchText"
               (keyup.enter)="keyupFunc()">
      </div>
      <div class="skill-search-button">
        <button mat-button
                (click)="searchButton?.callback()">
          <span style="color:#3b78e7">{{searchButton?.text}}</span>
        </button>
      </div>
    </div>
    <div class="icon-field">
      <mat-icon class="add-icon" (click)="addSkill()">add</mat-icon>
      <mat-icon class="remove-icon" (click)="deleteSkill()">remove</mat-icon>
    </div>
    <div class="skill-main-container dialog-design-mat-paginator dialog-design-mat-selector dialog-design-table">
      <app-table class="app-table-component default-skill-table dialog-desing-checkbox"
                 #tableComponent
                 [rows]="skills"
                 [headers]="headerAll"
                 [length]="lengthAll"
                 [dataSource]="dataSource"
                 [pageIndex]="pageParam?.pageIndex"
                 [custom_icon]="'redo'"
                 (outputCheckedRow)="editModel()"
                 (outputSelectedHeader)="setSort($event)"
                 (outputPaginator)="getPaginator($event)">
      </app-table>
    </div>
  </div>

  <ng-container *ngIf="selectedSkill !== undefined" class="connected-skill-mainbody">
    <div *ngIf="metaYn === false" class="connected-skill-info dialog-design-mat-tab">
      <mat-tab-group (selectedTabChange)="setTabName($event)">
        <mat-tab *ngFor="let name of generalTabLabels" label="{{name}}">
            <app-table
              class="app-table-component dialog-design-mat-paginator dialog-design-mat-selector dialog-design-table default-skill-table dialog-desing-checkbox"
                       #subTableComponent
                       [rows]="showSkillList"
                       [headers]="headerPart"
                       [length]="lengthPart"
                       [dataSource]="dataSourcePart"
                       [pageIndex]="subPageParam?.pageIndex"
                       (outputSelectedHeader)="setSubSort($event)"
                       (outputPaginator)="getSubPaginator($event)">
            </app-table>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div *ngIf="metaYn === true" class="connected-skill-info dialog-design-mat-tab">
      <mat-tab-group (selectedTabChange)="setTabName($event)">
        <mat-tab *ngFor="let name of metaTabLabels" label="{{name}}">
          <app-table
            class="app-table-component dialog-design-mat-paginator dialog-design-mat-selector dialog-design-table default-skill-table dialog-desing-checkbox"
                     #subTableComponent
                     [rows]="showSkillList"
                     [headers]="headerPart"
                     [length]="lengthPart"
                     [dataSource]="dataSourcePart"
                     [pageIndex]="subPageParam?.pageIndex"
                     (outputSelectedHeader)="setSubSort($event)"
                     (outputPaginator)="getSubPaginator($event)">
          </app-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-container>
</mat-sidenav-container>
