section {
  overflow: hidden;
}

form {
  height: 170px;
}

.skill-name-input {
  width:200px;
  margin-left:5px;
}

.select-meta-yn {
  margin-left:25px;

  .mat-radio-button ~ .mat-radio-button {
    margin-left:16px;
  }
}
