$color_1: #000;
$color_17: white;
$color_18: #ff8000;
$color_19: #222;
$color_20: #959f9d;
$color_21: #52627b;
$color_22: #2979f4;
$color_23: #fff;
$color_24: #637079;
$font_family_1: "Open Sans", sans-serif;
$background_color_1: #FFFFFF;
$background_color_8: #5C96BC;
$background_color_9: #e0e0e0;
$background_color_10: white;
$background_color_11: #8ea2b0;
$background_color_12: #2979f4;

/* You can add global styles to this file, and also import other style files */
@import "../../../../../../node_modules/jsplumbtoolkit/dist/css/syntax-highlighter.css";
@import "../../../../../../node_modules/jsplumbtoolkit/dist/css/jsplumbtoolkit-defaults.css";
@import "../../../../../../node_modules/jsplumbtoolkit/dist/css/jsplumbtoolkit-demo.css";
/* START Create Chatbot */
@import "../../dialog-model-design-common";
/* import the styles from the non-angular flowchart demo */
/* ------------------------ dialogs ----------------------------*/
/* ----------------------- drag/drop interactions -------------- */
/* ----------------------- node styles ------------------------- */
/*.controls {
  position:static;
}*/
.drop-hover {
  background-color: $background_color_1 !important;
}

.flowchart-object {
  position: absolute;
  text-align: center;
  font-size: 12px;
  z-index: 10;
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  min-width: 0;
  min-height: 0;
  text {
    stroke: none;
    fill: white;
    font-family: $font_family_1;
    font-size: 14px;
    font-weight: normal;
  }
}

.flowchart-object.flowchart-start[_ngcontent-c25] svg[_ngcontent-c25] {
  fill: #5BB7BF;
}

.flowchart-object.flowchart-task[_ngcontent-c26][_ngcontent-c26] svg[_ngcontent-c26][_ngcontent-c26] {
  fill: #89929f;
}

.flowchart-object.flowchart-task[_ngcontent-c26] svg[_ngcontent-c26] {
  fill: #89929f;
  //fill: #52627b;
}

.flowchart-object.flowchart-goto[_ngcontent-c27] svg[_ngcontent-c27] {
  fill: #89929f;
  //fill: $color_22;
}

.flowchart-object.flowchart-start svg {
  //fill:#2aa9c3;
  fill:#5BB7BF;
}

.flowchart-object.flowchart-task svg {
  fill: #89929f;
  //fill:#52627b;
}

//.flowchart-object.flowchart-goto svg {
//  fill:#2978F5;
//}

.flowchart-object.flowchart-end svg {
  fill:#692ab3;
}

.flowchart-object.flowchart-from svg {
  fill:#fa5a07;
}

.flowchart-object.flowchart-to svg {
  fill:#ad7515;
}

.flowchart-object:hover .outer {
  opacity:0.7;
}

.flowchart-object .drag-start {
  cursor:pointer;
}

.flowchart-object .node-edit {
  left:50%;
  margin-left:-20px;
}

.flowchart-object .node-delete {
  left:50%;
  margin-left:10px;
}

.flowchart-object .node-action {
  position: absolute;
  top: 24px;
  cursor: pointer;
  color: $color_17;
  z-index: 10000;
}

.flowchart-object .node-action:hover {
  color:#ff8000;
}

.flowchart-object.jtk-surface-selected-element .node-action {
  display:block;
}

.jtk-node svg {
    position: absolute;
    stroke: none;
    //fill: #5184a0;
    fill: #89929f;
    left: 0;
    top: 0;
}

.mintyGreen {
  svg {
    fill: #EBB54D !important;
  }
  path {
    fill: #EBB54D !important;
    stroke: #EBB54D !important;
  }
}

.data-float-box {
  display: table;
  width: 100%;
  overflow: auto;
  border-top: 1px solid #dde2e3;
  background: #fff;
  border-bottom: 1px solid #CCC;
}

.data-float-box .flowchart-data {
  display:inline-block;
  width:60%;
}

.data-float-box .flowchart-data:last-child {
  width:calc(40% - 15px);
  //width: 30%; TODO
  padding:0 0 0 15px;
}

.flowchart-data {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 50%;
  height: 220px;
  vertical-align: top;
  overflow-y: hidden;
  color: $C8;
  //@include radius(2px);
  .common-table {
    width: 100%;
    clear: both;
    text-align: left;
  }

  .title-box {
    margin: 0 0 12px 0;
    padding-bottom: 26px;
    span {
      float: left;
      color: $color_1;
      font-size: 15px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: -1px;
    }
    .control-node {
      width: 233px !important;
    }
    .title {
      max-width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: white;
      border: none !important;
    }
  }

  .title-box2 {
    padding-bottom: 38px;

    span {
      float: left;
      color: $color_1;
      font-size: 13px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: -1px;
    }

    .arrow {
      float: left;
      padding-top: 7px;
      padding-right: 6px;
      padding-left: 6px;
    }
  }

  .add-box {
    float: right;
    padding-top: 7px;
    padding-right: 6px;
    .material-icons {
      color: $color_22;
    }
  }

  .node {
    height: 175px;
    overflow: auto;

    .delete-box {
      float: right;
      padding-top: 4px;
    }
  }

  .edge {
    height: 132px;
    overflow: auto;

    .delete-box {
      float: right;
      padding-top: 4px;
    }
  }

  .textarea {
    width: calc(100% - 22px);
    height: 160px;
    resize: none;
    overflow: auto;
    margin-top: 0 !important;
  }

  dl.dl_lst {
    &:last-child {
      margin: 0;
    }
  }
}

.aLabel {
  font-size: 12px;
  color: $color_19;
  padding: 0.4em;
  border: 1px dotted gray;
  opacity: 0.8;
  cursor: pointer;
}

.aLabel.jtk-hover {
  background-color: $background_color_8;
  color: $color_17;
  border: 1px solid #286bda;
}

.material-icons {
  cursor: pointer;
}

.outer {
  //fill: gray;
  opacity: 0.3;
  cursor: pointer;
}

.inner {
  cursor: move !important;
}

.connection-drop {
  svg {
    fill: #CCC;
  }
  text {
    fill: black;
  }
}

.d-scenario-outline-flowchart {
  height: 100%;
  display: flex;
}

jsplumb-surface {
  flex: 1;
  border: none !important;
}

jsplumb-controls {
  left: 231px;
  position: absolute;
  color: $color_17;
  top: -3px;
  z-index: 1;
  width: 150px;
}

jsplumb-miniview {
  position: absolute;
  top: 15px !important;
  right: 15px !important;
  margin: 0 !important;
}

jsplumb.connect {
  paint-style: {
    stroke-style: "blue";
    line-width: 10;
  }
}

.jtk-surface {
  height: calc(100% - 5px);
  width: calc(100% - 5px);
  float: right;
}

.jtk-surface-canvas {
  width: 300% !important;
}

nav {
  background-color: $background_color_9;
  display: flex;
  a {
    padding: 12px;
    color: $color_1;
    margin: 8px 10px 8px;
    text-decoration: none;
    &:visited {
      padding: 12px;
      color: $color_1;
      margin: 8px 10px 8px;
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  a.active {
    background-color: $background_color_10;
  }
}

.jtk-miniview {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #d4d8dc;
  z-index: 100;
}

.sidebar {
  height: 570px;
  width: 120px;
  padding: 0;
  border-top: none;
  border-left: none;

  .sidebar-item {
    width: 80px;
  }
}

.controls {
  margin-top: 58px;
  i {
    background-color: $background_color_11;
  }
  i.selected-mode {
    color: $color_23;
    background-color: $background_color_12;
  }
}

.default-content-wrap {
  overflow: hidden;
  display: table;
  width: 100%;
  height: calc(100% - 56px);

  .flowchart-toolbar {
    position: absolute;
    top: 15px;
    left: 15px;
    margin: 0 !important;
    //position: relative;
    z-index: 1;
    //margin-top: 10px;
    //left: 10px;
    float: left;
  }

  .topic-sentence {
    margin-right: 10px;
  }

  .controls {
    margin-top: 10px;
    position: static;
  }

  input, textarea {
    font-size: 13px !important;
    border: 1px solid #92a1ac;
    box-shadow: none;

    &:focus {
      border: 1px solid #2979f4;
    }
  }

  .default-content-container {
    display: table-cell;
    width: 100%;
    vertical-align: top;
    background: #f8fafb;
  }
}

.dialog-design-toolbar {
  .mlt-toolbar-title {
    width: 395px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600 !important;
    letter-spacing: -1px;
  }

  .mlt-toolbar-action-buttons {
    height: 39px !important;
    margin-left: 10px;
  }

}

.save-button {
  //margin-left: auto;
}

.skill-information {
  width: 410px;
  height: 100%;
  float: left;
  // cursor: ew-resize;
  border-right: 1px solid #CCC;
  display: table-cell;
  min-width: 410px !important;
  border-right: 3px solid #dde2e3;
}

.skill-information-list {
  width: 20%;
  margin: 0 5px 0 0;
  padding: 4px 0 5px 10px;
  border-radius: 5px / 5px;
  display: table-cell;
  float: none;
  font-size: 13px;
  border: none;
}

.input-status {
  width: 100%;
  float: none;
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-underline {
    position: static;
  }

  .mat-form-field {
    width: calc(100% - 10px);
    padding: 0;
  }
}

.ui-g-12 {
  // float: left;
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-underline {
    position: static
  }

  .mat-form-field {
    width: 20%;
    padding-right: 10px;
    // padding: 0 10px 5px 0;
    float: left;
  }
}

.import-node-info-type {
  width: 20%;
  height: 25px;
  float: left;
  margin-right: 5px;
  padding-left: 5px;
  border: 1px solid #fff;
  border-radius: 5px / 5px;
}

.import-node-info-text {
  width: 65%;
  height: 25px;
  float: left;
  padding-left: 5px;
  border: 1px solid #fff;
  border-radius: 5px / 5px;
}

.dialogsButtonClass {
  width: 63px;
  height: 25px;
  background: white;
  border: 1px solid #fff;
  border-radius: 2px / 2px;
  margin-right: 5px;
}

.control-node {
  width: 240px;
  float: right;
  padding: 0;
  margin: 0;
  span {
    font-weight: normal !important;
    line-height: 20px !important;
  }
  .msg-cd-select-box {
    .mat-form-field-wrapper {padding-bottom: 5px;
      height: 20px;
    }
    .mat-form-field-underline {
      position: absolute;
    }
    .mat-select-value {
      padding-top: 7px;
    }
    .mat-select-arrow-wrapper {
      padding-top: 10px;
    }
    .mat-select-placeholder {
      height: 25px;
    }
    .mat-form-field {
      width: 140px;
      padding-right: 10px;
      float: left;
    }
  }
}

.sidenav-button {
  width: 20px;
  height: 100%;
  background: #dde2e3;
  .sidenav-button-icon {
    line-height: 800px;
    position: static;
    font-size: 18px;
  }
}

.scenario-simulator {
  height: 100% !important;
  #section02 {
    max-height: 880px !important;
    overflow-y: auto !important;
  }
}

.version-control {
  width: 345px;
  font-size: 10px;
  float: right;
  margin-left: auto;
  padding-left: 7px;

  .mat-form-field {
    width: 100%;
    height: 40px;
    font-size: 12px;
  }
}

.m2u-root {
  .m2u-main-container {
    overflow-y: auto;
  }
  .m2u-layout {
    .m2u-topnav {
      .m2u-brand {
        .m2u-brand-title {
          margin: 0;
        }
      }
      .m2u-tools {
        mat-icon {
          color: rgba(0,0,0,0.5);
        }
      }
    }
  }
}

.mat-icon {
  color: $color_22;
}

.mat-nav-list {
  .mat-icon {
    color: $color_21;
  }
}

//.mat-button {
//  background: $color_21;
//  font-size: 13px;
//  font-weight: 600;
//  .mat-button-wrapper {
//    >* {
//      line-height: 26px;
//    }
//  }
//}
//
//.mat-flat-button {
//  background: $color_21;
//  font-size: 13px;
//  font-weight: 600;
//  .mat-button-wrapper {
//    >* {
//      line-height: 26px;
//    }
//  }
//}

//.mat-icon-button {
//  background: $color_21;
//  font-size: 13px;
//  font-weight: 600;
//  width: 26px !important;
//  height: 26px !important;
//  margin: 2px !important;
//  line-height: 18px !important;
//  border-radius: 5px !important;
//  .mat-button-wrapper {
//    >* {
//      line-height: 26px;
//    }
//  }
//}

//.mat-stroked-button {
//  background: $color_21;
//  font-size: 13px;
//  font-weight: 600;
//  .mat-button-wrapper {
//    >* {
//      line-height: 26px;
//    }
//  }
//}

.mat-list-base {
  border: none !important;
  border-right: 1px solid #dde2e3 !important;
}

.dialog-desing-checkbox {
  .mat-checkbox-frame {
    border: 1px solid #92a1ac !important;
  }
}

.mat-fab {
  font-size: 13px;
  font-weight: 600;
  .mat-button-wrapper {
    >* {
      line-height: 26px;
    }
  }
}

.mat-mini-fab {
  font-size: 13px;
  font-weight: 600;
  .mat-button-wrapper {
    >* {
      line-height: 26px;
    }
  }
}

//.mat-raised-button {
//  font-size: 13px;
//  font-weight: 600;
//  .mat-button-wrapper {
//    >* {
//      line-height: 26px;
//    }
//  }
//}

.mat-button-wrapper {
  span {
    line-height: 34px;
  }
}

.dialog-design-table {
  mat-footer-row {
    border: none !important;
  }
  mat-header-row {
    min-height: 34px !important;
    border: none !important;
  }
  mat-row {
    border: none !important;
  }


  .mat-cell {
    color: $color_20;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #dde2e3;
    &:first-of-type {
      padding-left: 15px !important;
    }
  }

  .mat-footer-cell {
    color: $color_20;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #dde2e3;
    &:first-of-type {
      padding-left: 15px !important;
    }
  }

  .mat-header-cell {
    color: $color_21;
    font-size: 12px;
    font-weight: 600 !important;
    letter-spacing: -1px;
    border: none;
    border-bottom: 1px solid #dde2e3;
    background: #f8fafb;
    &:first-of-type {
      padding-left: 15px !important;
    }
  }
}

.flowChart {
  display: block;
  position: relative;
  height: calc(100% - 254px);
}

.data_floatBox {
  overflow: hidden;
  min-width: 600px;
  padding: 15px;
}

dl.dl_lst {
  display: table;
  clear: both;
  width: 100%;
  margin: 0 0 12px 0;
  dt {
    display: table-cell;
    width: 75px;
    min-width: 70px;
    padding: 0 5px 0 0;
    font-size: 13px;
    vertical-align: middle;
    letter-spacing: -1px;
  }
  dd {
    display: table-cell;
    position: relative;
    input {
      width: calc(100% - 30px);
      margin: 0 !important;
    }
  }
}

.dialog-design-mat-tab {
  .mat-tab-label {
    height: 40px !important;
    font-size: 13px;
    font-weight: 600;
    .mat-tab-label-content {
      padding: 7px 0 0 0;
    }
  }

  .mat-tab-link {
    font-size: 13px;
    font-weight: 600;
  }

  .mat-tab-label-active {
    opacity: 1.0 !important;
    .mat-tab-label-content {
      color: $color_22 !important;
    }
  }
}

.mat-checkbox-checkmark-path {
  stroke-width: 1px !important;
}

.option-list-select {
  display: table-cell;
  float: none !important;
  width: 200px !important;
  margin: 0 !important;
  padding: 0;
  vertical-align: top;

  .mat-form-field {
    width: 90px !important;
    &:nth-child(1) {
      margin: 0 !important;
    }
  }
  .mat-form-field-appearance-legacy  .mat-form-field-underline {
    position: absolute;
    top: 0;
    height: 34px !important;
    border-radius: 5px !important;
    border: 1px solid #92a1ac;
    background: none !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix {
    height: 30px;
    padding: 6px 0 0 0;
    border: none;
  }

  .mat-form-field-appearance-legacy  .mat-form-field-wrapper {
    height: 34px;
    margin: 3px 0 0 0;
    padding-bottom: 0;
    line-height: 32px;
    border: none;
    border-radius: 5px;
  }

  .mat-form-field-infix {
    border-top: none;
    padding: 0;
    margin: 0;
    width: 80px;
    border-top: 0 !important;
    border-bottom: 1px solid #ddd;
  }

  .mat-form-field-type-mat-select {
    &:not(.mat-form-field-disabled) {
      .mat-form-field-flex {
        padding: 0 0 0 5px;
      }
    }
  }
}

.icon-field {
  display: block;
  margin: 7px 0 0 0 !important;
  padding: 0 10px 3px 0;
  border-bottom: 1px solid #dde2e3;
}



.dialog-design-mat-paginator {
  .mat-paginator {
    font-size: 12px;
  }

  .mat-paginator-range-label {
    float: left !important;
    margin: 0 3px 0 5px !important;
    line-height: 30px;
  }

  .mat-paginator-page-size-label {
    float: left !important;
    line-height: 52px;
  }

  .mat-paginator-page-size {
    .mat-select-trigger {
      font-size: 12px;
    }
    display: inline-block !important;
    float: left !important;
  }

  .mat-paginator-outer-container {
    display: block !important;
  }

  .mat-paginator-container {
    display: inline-block !important;
    width: calc(100% - 16px) !important;
    margin: 0;
  }

  .mat-paginator-icon {
    width: 20px !important;
  }

  .mat-paginator-range-actions {
    display: inline-block !important;
    float: right !important;
    margin: 15px 0 0 0;

    .mat-icon-button {
      width: 30px;
      height: 30px;
      line-height: 20px;
      margin-left: 0 !important;
      path {
        color: $color_24;
      }
    }
  }
}

dialog-design-mat-selector {
  .mat-select-panel {
    .mat-optgroup-label {
      height: 34px;
      line-height: 32px;
    }
    .mat-option {
      height: 34px;
      line-height: 32px;
    }
  }

  .mat-select-trigger {
    height: 28px;
  }
}

.dialog-design-mat-form-field {
  .mat-form-field {
    line-height: 28px;
    float: left !important;
  }

  .mat-form-field-appearance-legacy {
    .mat-form-field-can-float {
      .mat-form-field-should-float {
        .mat-form-field-label {
          left: 3px;
          width: auto;
          padding: 0 7px;
          background: #fff;
          z-index: 999;
        }
      }
      .mat-input-server {
        &:focus {
          &+.mat-form-field-label-wrapper {
            .mat-form-field-label {
              left: 3px;
              width: auto;
              padding: 0 7px;
              background: #fff;
              z-index: 999;
            }
          }
        }
      }
    }
    .mat-form-field-disabled {
      .mat-form-field-underline {
        background: none;
      }
    }
  }

  .mat-form-field-label-wrapper {
    top: -7px;
  }

  .mat-form-field-appearance-legacy  .mat-form-field-underline {
    position: absolute;
    top: 0;
    height: 34px !important;
    border-radius: 5px !important;
    border: 1px solid #92a1ac;
    background: none !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix {
    height: 30px;
    padding: 6px 0 0 0;
    border: none;
  }

  .mat-form-field-appearance-legacy  .mat-form-field-wrapper {
    height: 34px;
    margin: 3px 0 0 0;
    padding-bottom: 0;
    line-height: 32px;
    border: none;
    border-radius: 5px;
  }
}

.skill-search-wrap {
  display: table;
  overflow: auto;
  width: calc(100% - 30px);
  padding: 15px;
  border-bottom: 1px solid #dde2e3;
}

.option-list-input {
  display: table-cell;
  float: none !important;
  width: auto !important;
  padding: 3px 0 0 0;
  .skill-table-filter {
    width: calc(100% - 20px) !important;
    margin: 0 !important;
    font-size: 13px !important;
  }
}

.skill-filter-wrap {
  border-bottom: 1px solid #dde2e3 !important;
  .mat-paginator-page-size-select {
    width: 45px !important;
  }
  .mat-paginator-page-size {
    margin-right: 0 !important;
  }
}

.mat-checkbox-indeterminate.mat-accent {
  .mat-checkbox-background {
    background: $color_22 !important;
  }
}
.mat-checkbox-checked.mat-accent {
  .mat-checkbox-background {
    background:$color_22 !important;
  }
}

.maum-table[_ngcontent-c16] {
  .id-cursor[_ngcontent-c16] {
    color: $color_22 !important;
    font-weight: normal !important;
  }
}
