<section>
  <header>
    <h2 *ngIf="!data">{{'TITLE.SKILL_ADD' | translate}}</h2>
  </header>

  <form [formGroup]="skillForm" (ngSubmit)="submit()">

    <mat-radio-group class="select-meta-yn" (change)="radioChange($event)">
      <mat-radio-button value="N" [checked]="true">{{'LABEL.GENERAL' | translate}}</mat-radio-button>
<!--      <mat-radio-button value="Y">{{'LABEL.META' | translate}}</mat-radio-button>-->
    </mat-radio-group>

    <main>
      <mat-form-field class="skill-name-input" floatLabel="never">
        <input matInput formControlName="name" placeholder="{{'PLACEHOLDER.INPUT_SKILL_NAME' | translate}}" type="text"
               [(ngModel)]="newSkillName">
        <!-- <mat-error *ngIf="model.invalid">Please input dictionary name.</mat-error> -->
      </mat-form-field>
    </main>

    <footer>
      <button mat-button color="primary" (click)="dialogRef.close()" type="button">{{'LABEL.CANCEL' | translate}}</button>
      <button mat-button color="primary" type="submit">{{'LABEL.SAVE' | translate}}</button>
    </footer>

  </form>
</section>
