<mat-toolbar class="mlt-toolbar">
  <span class="mlt-toolbar-title" style="cursor: pointer"
        (click)="showInfoPage()">{{'TITLE.MENU' | translate}}&nbsp;&nbsp;:&nbsp;&nbsp;{{selectedSkillInfo['skillName']}}</span>
  <form class="mlt-toolbar-action-buttons">
    <button mat-button [disabled] = "!selectedSkillName"
            *ngFor="let action of actions"
            (click)="action.callback()"
            [hidden]="action.hidden">
      <mat-icon color="primary">{{action.icon}}</mat-icon>
      <span style="color: #3b78e7">{{action.text}}</span>
    </button>
  </form>
  <div class="save-button">
    <button mat-button [disabled] = "!selectedSkillName"
            (click)="save?.callback()" type="button">
      <mat-icon color="primary">{{save?.icon}}</mat-icon>
      <span style="color: #3b78e7">{{save?.text}}</span>
    </button>
  </div>
  <input #designLoader type="file" accept="application/json" style="display: none"
         (change)="loadDesignFile($event)"/>
</mat-toolbar>


<div class="default-content-wrap">
  <!--  <div class="skill-information" [style.width.px]='width'>-->
  <div class="skill-information" [style.width.px]='width' [style.cursor]='cursor'>
    <app-d-skill-list-module (outputSelectedSkillInfo)="getSkillInfo($event)"
                             (outputImportMetaSkill)="importSkill($event)">
    </app-d-skill-list-module>
  </div>
  <div class="default-content-container">
    <!--    <div class="drag-bar">a</div>-->
    <!-- flow chart area -->
    <div class="flowchart-toolbar">
      <div class="topic-sentence">{{'TABLE.TOPIC' | translate}}&nbsp;&nbsp;:&nbsp;&nbsp;{{selectedSkillInfo['topicSentence']}}</div>
      <div class="controls">
        <i class="fa fa-arrows selected-mode" mode="pan" title="Pan Mode" (click)='panMode()'></i>
        <i class="fa fa-pencil" mode="select" title="Select Mode" (click)='selectMode()'></i>
        <i class="fa fa-home" reset="" title="Zoom To Fit" (click)='zoomToFit()'></i>
      </div>
    </div>
    <div class="d-scenario-outline-flowchart" [style.width]="'calc(100% - ' + (width + 2) + 'px)'">
      <!-- <div class="sidebar node-palette" jsplumb-palette selector="div"
           surfaceId="flowchartSurface" [typeExtractor]="typeExtractor" [dataGenerator]="dataGenerator">
        <div *ngFor="let nodeType of nodeTypes" class="sidebar-item"
             [attr.data-node-type]="nodeType.type" title="Drag to add new"
             [attr.jtk-width]="nodeType.w" [attr.jtk-height]="nodeType.h">{{nodeType.label}}
        </div>
      </div> -->
      <jsplumb-surface [surfaceId]="surfaceId" [toolkitId]="toolkitId" [view]="view"
                       [renderParams]="renderParams" [style.height]="showEditSpace ? '570px' : '790px'"></jsplumb-surface>
      <jsplumb-miniview [surfaceId]="surfaceId"></jsplumb-miniview>
      <!--      <jsplumb-controls [surfaceId]="surfaceId"></jsplumb-controls>-->
    </div>

    <div class="data-float-box" *ngIf="showEditSpace"
         [style.width]="'calc(100% - ' + (width + 2) + 'px)'">

      <!-- skill information area -->
      <div *ngIf="selectType == null">
        <div class="flowchart-data">
          <div class="title-box">
            <span>{{selectedSkillInfo['skillName']}}</span>
          </div>
          <div class="common-input node modal-input ui-g">
            <div class="skill-ui-g-12">
              <ng-container *ngFor="let item of tableTopic">
                <p class="skill-information-list">{{item.label}}</p>
                <ng-container *ngIf="item.type === 'input' || item.type === 'input_identifier'">
                  <input [(ngModel)]="selectedSkillInfo[item.attr]" style="width:67%; float:left;"
                         #upsertDialogName
                         type="text"
                         [placeholder]="item.type === 'input' ? ('PLACEHOLDER.INPUT'| translate) : ('PLACEHOLDER.INPUT_IDENTIFIER' | translate)"
                         required>
                </ng-container>
                <ng-form class="input-status" *ngIf="item.type === 'select'">
                  <mat-form-field [floatLabel]="'never'" novalidate>
                    <mat-select placeholder="{{'PLACEHOLDER.SELECTED' | translate}}"
                                [(value)]="selectedSkillInfo[item.attr]"
                                (selectionChange)="attrTypeChange($event, 'skill', item.attr)">
                      <mat-option *ngFor="let status of item.data?.options" value="{{status['id']}}">
                        {{status['name']}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-form>
                <!-- [(ngModel)]="currentNodeData?.attr[i].text" required> -->
              </ng-container>
            </div>
          </div>
        </div>
        <div class="flowchart-data">
          <div class="title-box">
            <span>{{'PLACEHOLDER.INPUT' | translate}}</span>
          </div>
          <textarea class="textarea" placeholder=""
                    [(ngModel)]="selectedSkillInfo['description']">
          </textarea>
        </div>
      </div>

      <!--select node area -->
      <div *ngIf="selectType == 'Node'">
        <div class="flowchart-data">
          <div class="title-box">
            <span>{{ currentNodeData?.text }}</span>
            <div class="control-node">
              <div class="endnode-check">
                <mat-checkbox class="endnode-checkbox"></mat-checkbox> {{'LABEL.FINISH' | translate}}
                <!--                <mat-checkbox *ngFor="let dic of test_dictionaries"-->
                <!--                              [disabled]="dic.disabled"-->
                <!--                              (click)="clickCheckbox(dic.value)">-->
                <!--                  {{dic.name}}-->
                <!--                </mat-checkbox>-->
              </div>
              <div *ngIf="!currentNodeData?.skillId" class="add-box">
                <i class="material-icons" (click)="appendNodeData()">add</i>
              </div>
            </div>
          </div>
          <div class="common-input node modal-input ui-g">
            <div class="ui-g-12">
              <ng-container
                *ngFor="let item of currentNodeData?.attr; index as i">
                <mat-form-field [floatLabel]="'never'" novalidate>
                  <mat-select placeholder="{{'PLACEHOLDER.SELECTED' | translate}}"
                              [(value)]="item['type']"
                              [disabled] = "!currentNodeData?.skillId ? false : true"
                              (selectionChange)="attrTypeChange($event, 'node', i)">
                    <mat-option *ngFor="let systemCode of systemCodeList['nodeCode']" value="{{systemCode['id']}}">
                      {{systemCode['name']}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <input style="width:65%; float:left;" #upsertDialogName
                       type="text"
                       [disabled] = "!currentNodeData?.skillId ? false : true"
                       placeholder="{{'PLACEHOLDER.INPUT' | translate}}"
                       [(ngModel)]="currentNodeData?.attr[i].text" required>
                <div *ngIf="i > 0 && !currentNodeData?.skillId" class="delete-box">
                  <i class="material-icons" style="margin-right: 7px;"
                     (click)="removeNodeData(i)">delete_forever</i>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="flowchart-data">
          <div class="title-box">
            <span>설명</span>
          </div>
          <textarea class="textarea" placeholder="{{'PLACEHOLDER.INPUT' | translate}}"
                    [disabled] = "!currentNodeData?.skillId ? false : true"
                    [value]="currentNodeData?.desc"
                    (input)="changeNodeTextarea($event)"></textarea>
        </div>
      </div>

      <!-- select edge area -->
      <div *ngIf="selectType == 'Edge'">
        <div class="flowchart-data">
          <div class="title-box">
            <span>{{ currentEdgeData.data.label }}</span>
            <span style="margin-left: 15px">[{{ currentEdgeData.data.type }}]</span>
            <div *ngIf="!currentEdgeData?.data.skillId" class="add-box">
              <i class="material-icons" (click)="appendEdgeData()">add</i>
            </div>
          </div>
          <div class="title-box2">
            <span>{{ currentEdgeData.source?.data.text }}</span>
            <i class="material-icons arrow">trending_flat</i>
            <span>{{ currentEdgeData.target?.data.text }}</span>
          </div>
          <div class="common-input edge modal-input ui-g">
            <div class="ui-g-12">
              <ng-container
                *ngFor="let item of currentEdgeData?.data.attr; index as i">
                <mat-form-field [floatLabel]="'never'" novalidate>
                  <mat-select placeholder="{{'PLACEHOLDER.SELECTED' | translate}}"
                              [(value)]="item['type']"
                              [disabled] = "!currentEdgeData?.data.skillId ? false : true"
                              (selectionChange)="attrTypeChange($event, 'edge', i)">
                    <mat-option *ngFor="let systemCode of systemCodeList['edgeCode']" value="{{systemCode['id']}}">
                      {{systemCode['name']}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <input style="width:65%; float:left;" #upsertDialogName type="text"
                       [disabled] = "!currentEdgeData?.data.skillId ? false : true"
                       placeholder="{{'PLACEHOLDER.ATTRIBUTE' | translate}}"
                       [(ngModel)]="currentEdgeData?.data.attr[i].text"
                       required>
                <div *ngIf="i > 0 && !currentEdgeData?.data.skillId" class="delete-box">
                  <i class="material-icons" (click)="removeEdgeData(i)">delete_forever</i>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="flowchart-data">
          <div class="title-box">
            <span>설명</span>
          </div>
          <textarea class="textarea" style="height: 146px; width: 90%;"
                    [disabled] = "!currentEdgeData?.data.skillId ? false : true"
                    placeholder="{{'PLACEHOLDER.INPUT' | translate}}" [value]="currentEdgeData?.data.desc"
                    (input)="changeEdgeTextarea($event)"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
