<section class="confirm">
  <header class="header">
    <h2 *ngIf="!title">Confirmation</h2>
    <h2 *ngIf="title" [innerHTML]="title"></h2>
  </header>
  <form (ngSubmit)="dialogRef.close(true)">
    <main>
      <p *ngIf="!message">Do you want to continue?</p>
      <p *ngIf="message" [innerHTML]="message"></p>
    </main>
    <footer>
      <button mat-button color="primary" (click)="dialogRef.close(false)" type="button">취소</button>
      <button mat-button color="primary" type="submit">이동</button>
      <button mat-button color="primary" (click)="isSave=true"
              type="save-submit">저장 후 이동</button>
    </footer>
  </form>
</section>
