<mat-toolbar class="mlt-toolbar dialog-design-toolbar">
  <span class="mlt-toolbar-title" style="cursor:pointer"
        [matTooltip]="selectedSkillInfo['skillName']"
        (click)="showInfoPage()">{{'TITLE.MENU' | translate}}&nbsp;&nbsp;:&nbsp;&nbsp;{{selectedSkillInfo['skillName']}}</span>
  <form class="mlt-toolbar-action-buttons">
    <button mat-button [disabled] = "(!selectedSkillName ||
    ((action.type !== 'simulation' && action.type !== 'skillList') && isOldVersion)) &&  action.type !== 'load'"
            *ngFor="let action of actions"
            (click)="action.callback()"
            [hidden]="action.hidden">
      <mat-icon color="primary">{{action.icon}}</mat-icon>
      <span style="color:#3b78e7">{{action.text}}</span>
    </button>
  </form>
  <div class="version-control">
    <mat-form-field [floatLabel]="'never'">
      <mat-select placeholder="{{'PLACEHOLDER.VERSION_HISTORY' | translate}}" [(ngModel)]="selectedCommit"
                  [disabled] = "!selectedSkillName || isSimulation"
                  (click)="getCommitList()"
                  (selectionChange)="changeVersion($event)">
        <mat-option *ngFor="let data of commitList" [value]="data">
          <strong>[{{data.commitTime}} ({{getShortId(data.hashKey)}})]</strong>
          <small>  updated by {{data.updaterId}}</small>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="save-button">
    <button mat-button [disabled] = "!selectedSkillName || isOldVersion"
            [hidden]="save?.hidden"
            (click)="save?.callback()">
      <mat-icon color="primary">{{save?.icon}}</mat-icon>
      <span style="color:#3b78e7">{{save?.text}}</span>
    </button>
  </div>
  <input #designLoader type="file" accept="application/json" style="display:none"
         (change)="loadDesignFile($event)"/>
</mat-toolbar>

<div class="default-content-wrap">
  <div class="skill-information" [style.display]='sideOpened'>
    <app-d-skill-list-module *ngIf="!isSimulation"
                             [systemCodeList]="systemCodeList"
                             [selectedSkill]="selectedSkillInfo"
                             (outputSelectedSkillInfo)="getSkillInfo($event)"
                             (outputImportMetaSkill)="importSkill($event)"
                             (outputMoveSkill)="checkChangedSkill($event)">
    </app-d-skill-list-module>
    <app-scenario-simulator class="scenario-simulator"
                            (nodeButtonClickCallback)="simulatorCallback($event)"
                            *ngIf="isSimulation" [scenario]="scenario">
    </app-scenario-simulator>
  </div>
  <div class="sidenav-button" [style.margin-left.px]="width"
       (click)="sidenavChange()">
    <i class="material-icons sidenav-button-icon"
       [style.display]='sideOpened'>fast_rewind</i>
    <i class="material-icons sidenav-button-icon"
       [style.display]="(sideOpened==='none')?'block':'none'">fast_forward</i>
  </div>

  <div class="default-content-container">
    <!--    <div class="drag-bar">a</div>-->
    <!-- flow chart area -->
	 <div class="flowChart">
    <div class="flowchart-toolbar">
      <div class="topic-sentence">{{'TABLE.TOPIC' | translate}}&nbsp;&nbsp;:&nbsp;&nbsp;<span>{{selectedSkillInfo['topicSentence']}}</span></div>
      <div class="controls">
        <i class="fa fa-arrows selected-mode" mode="pan" title="{{'TITLE.PAN_MODE' | translate}}" (click)='panMode()'></i>
        <i class="fa fa-pencil" mode="select" title="{{'TITLE.SELECT_MODE' | translate}}" (click)='selectMode()'></i>
        <i class="fa fa-home" reset="" title="{{'TITLE.ZOOM_TO_FIT' | translate}}" (click)='zoomToFit()'></i>
      </div>
    </div>
    <div class="d-scenario-outline-flowchart">
      <!-- <div class="sidebar node-palette" jsplumb-palette selector="div"
           surfaceId="flowchartSurface" [typeExtractor]="typeExtractor" [dataGenerator]="dataGenerator">
        <div *ngFor="let nodeType of nodeTypes" class="sidebar-item"
             [attr.data-node-type]="nodeType.type" title="Drag to add new"
             [attr.jtk-width]="nodeType.w" [attr.jtk-height]="nodeType.h">{{nodeType.label}}
        </div>
      </div> -->
      <jsplumb-surface [surfaceId]="surfaceId" [toolkitId]="toolkitId" [view]="view"
                       [renderParams]="renderParams"></jsplumb-surface>
      <jsplumb-miniview [surfaceId]="surfaceId"></jsplumb-miniview>
      <!--      <jsplumb-controls [surfaceId]="surfaceId"></jsplumb-controls>-->
    </div>
   </div>
    <div class="data-float-box" *ngIf="showEditSpace">
	<div class="data_floatBox">
      <!-- skill information area -->
      <ng-container *ngIf="selectType == null">
        <div class="flowchart-data">
          <div class="title-box">
            <span>{{selectedSkillInfo['skillName']}}</span>
          </div>
          <div class="common-input node modal-input ui-g">
            <div class="skill-ui-g-12">
				
              <ng-container *ngFor="let item of tableTopic">
				  <dl class="dl_lst">
                <dt class="skill-information-list">{{item.label}}</dt>
                <ng-container *ngIf="item.type === 'input' || item.type === 'input_identifier'">
					<dd>
                  <input [disabled]="isOldVersion"
                         [(ngModel)]="selectedSkillInfo[item.attr]"
                         #upsertDialogName
                         type="text"
                         [placeholder]="item.type === 'input' ? ('PLACEHOLDER.INPUT'| translate) :('PLACEHOLDER.INPUT_IDENTIFIER' | translate)"
                         required>
					</dd>
					
                </ng-container>
					  
				  <dd>
					<ng-form class="input-status dialog-design-mat-form-field dialog-design-mat-selector" *ngIf="item.type === 'select'">

					  <mat-form-field [floatLabel]="'never'" novalidate>
						<mat-select placeholder="{{'PLACEHOLDER.SELECTED' | translate}}"
                  [disabled]="isOldVersion"
									[(value)]="selectedSkillInfo[item.attr]"
									(selectionChange)="attrTypeChange($event, 'skill', item.attr)">
						  <mat-option *ngFor="let status of item.data?.options" value="{{status['id']}}">
							{{status['name']}}
						  </mat-option>
						</mat-select>
					  </mat-form-field>

					</ng-form>
					  </dd>
                <!-- [(ngModel)]="currentNodeData?.attr[i].text" required> -->
				  </dl>
              </ng-container>
				
            </div>
          </div>
        </div>
        <div class="flowchart-data">
          <div class="title-box">
            <span>{{'PLACEHOLDER.INPUT' | translate}}</span>
          </div>
          <textarea class="textarea" placeholder=""
                    [disabled]="isOldVersion"
                    [(ngModel)]="selectedSkillInfo['description']">
          </textarea>
        </div>
      </ng-container>

      <!--select node area -->
      <ng-container *ngIf="selectType == 'Node'">
        <div class="flowchart-data">
          <div class="title-box">
            <span class="title" [matTooltip]="currentNodeData['text']">{{ currentNodeData?.text }}</span>
            <div class="control-node dialog-design-mat-form-field dialog-design-mat-selector">
              <div *ngIf="!currentNodeData?.skillId" class="msg-cd-select-box">
                <mat-form-field [floatLabel]="'never'" novalidate>
                  <mat-select placeholder="{{'PLACEHOLDER.SELECTED' | translate}}"
                              [disabled] = "isOldVersion"
                              (selectionChange)="setMsgCd($event)"
                              [(ngModel)]="currentNodeData.msgCd">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let option of msgCdList" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="add-box"
                   [style.display] = "(currentNodeData?.skillId || currentNodeData?.commonMsgCd || isOldVersion) ? 'none' : 'block'">
                <i class="material-icons" (click)="appendNodeData()">add</i>
              </div>
            </div>
          </div>
          <div class="common-input node modal-input ui-g">
            <ng-container *ngFor="let item of currentNodeData?.attr; index as i">
              <div class="ui-g-12 dialog-design-mat-form-field dialog-design-mat-selector" (dblclick)="openWebEditor(currentNodeData?.attr[i], i)">
                <mat-form-field [floatLabel]="'never'" novalidate>
                  <mat-select placeholder="{{'PLACEHOLDER.SELECTED' | translate}}"
                              [value]="item['type']"
                              [disabled] = "currentNodeData?.skillId || currentNodeData?.commonMsgCd || isOldVersion"
                              (selectionChange)="attrTypeChange($event, 'node', i)">
                    <mat-option *ngFor="let systemCode of systemCodeList['nodeCode']" value="{{systemCode['id']}}">
                      {{systemCode['name']}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                  <input style="width:60%; float:left; cursor:pointer; margin-top: 6px;" #upsertDialogName
                         type="text"
                         [disabled] = "currentNodeData?.skillId || currentNodeData?.commonMsgCd || isOldVersion"
                         [matTooltip]="currentNodeData?.attr[i].msgCtt"
                         placeholder="{{'PLACEHOLDER.INPUT' | translate}}"
                         (input)="checkChangedMsgCd(currentNodeData?.attr[i])"
                         [(ngModel)]="currentNodeData?.attr[i].msgCtt" required>
                <div *ngIf="i >= 0 && !currentNodeData?.skillId" class="delete-box"
                     [matTooltip]="currentNodeData?.attr[i].msgCtt"
                     [style.display] = "(currentNodeData?.skillId || currentNodeData?.commonMsgCd || isOldVersion) ? 'none' : 'block'">
                  <i class="material-icons" *ngIf="currentNodeData?.attr[i].changed" [style.color]="'#dd4b39'"
                     style="margin-right:7px; margin-top: 6px;"
                     (click)="updateMsgCode(currentNodeData?.attr[i], i)">lens</i>
                  <i class="material-icons" *ngIf="!currentNodeData?.attr[i].changed" [style.color]="'#1caf33'"
                     style="margin-right:7px; margin-top: 6px;"
                     (click)="updateMsgCode(currentNodeData?.attr[i], i)">radio_button_unchecked</i>
                  <i class="material-icons" style="margin-right:7px; margin-top: 6px;"
                     (click)="removeNodeData(i)">delete_forever</i>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="flowchart-data">
          <div class="title-box">
            <span>설명</span>
          </div>
          <textarea class="textarea" placeholder="{{'PLACEHOLDER.INPUT' | translate}}"
                    [disabled] = "currentNodeData?.skillId || currentNodeData?.commonMsg || isOldVersion"
                    [value]="currentNodeData?.desc"
                    (input)="changeNodeTextarea($event)"></textarea>
        </div>
      </ng-container>

      <!-- select edge area -->
      <ng-container *ngIf="selectType == 'Edge'">
        <div class="flowchart-data">
          <div class="title-box">
            <span class="title" [matTooltip]="currentEdgeData['data']['label']">{{ currentEdgeData.data.label }}</span>
            <span style="margin-left:15px">[{{ currentEdgeData.data.type }}]</span>
            <div class="add-box"
                 [style.display] = "(currentEdgeData?.skillId || isOldVersion) ? 'none' : 'block'">
              <i class="material-icons" (click)="appendEdgeData()">add</i>
            </div>
          </div>
          <div class="title-box2">
            <span>{{ currentEdgeData.source?.data.text }}</span>
            <i class="material-icons arrow">trending_flat</i>
            <span>{{ currentEdgeData.target?.data.text }}</span>
          </div>
          <div class="common-input edge modal-input ui-g">
            <ng-container
              *ngFor="let item of currentEdgeData?.data.attr; index as i">
              <div class="ui-g-12 dialog-design-mat-form-field dialog-design-mat-selector">
                <mat-form-field [floatLabel]="'never'" novalidate>
                  <mat-select placeholder="{{'PLACEHOLDER.SELECTED' | translate}}"
                              [(value)]="item['type']"
                              [disabled] = "currentEdgeData?.data.skillId || isOldVersion"
                              (selectionChange)="attrTypeChange($event, 'edge', i)">
                    <mat-option *ngFor="let systemCode of systemCodeList['edgeCode']" value="{{systemCode['id']}}">
                      {{systemCode['name']}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <input style="width:65%; float:left; margin-top: 6px;" #upsertDialogName type="text"
                       [disabled] = "currentEdgeData?.data.skillId || isOldVersion"
                       placeholder="{{'PLACEHOLDER.ATTRIBUTE' | translate}}"
                       [(ngModel)]="currentEdgeData?.data.attr[i].text"
                       required>
                <div *ngIf="i >= 0 && !currentEdgeData?.data.skillId" class="delete-box"
                     [style.display] = "(currentEdgeData?.skillId || currentEdgeData?.commonMsgCd) ? 'none' : 'block'">
                  <i class="material-icons" style="margin-top: 6px;" (click)="removeEdgeData(i)">delete_forever</i>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="flowchart-data">
          <div class="title-box">
            <span>설명</span>
          </div>
          <textarea class="textarea" style="height:146px; width:90%;"
                    [disabled] = "currentEdgeData?.data.skillId || isOldVersion"
                    placeholder="{{'PLACEHOLDER.INPUT' | translate}}" [value]="currentEdgeData?.data.desc"
                    (input)="changeEdgeTextarea($event)"></textarea>
        </div>
      </ng-container>
		
	</div>	
    </div>
  </div>
</div>
