.session-search-input {
  font-size: 15px;
  padding-top: 20px;
  margin-right: 50px;
}

.userSearchInput {
  margin-left: 30px;
}

.analyse-button {
  margin-left: 35px;
}

.main-container {
  margin: 20px;
}

/deep/ .root .layout .sidenav {
  box-shadow: 0 0 0 0 !important;
}

