<div style="display:inline">
  <button mat-button class="mat-button" (click)="hiddenFileButton.click()">
    <form hidden="true">
      <input #hiddenFileButton id="file" name="file" type="file" (change)="addFiles($event)">
    </form>
    <mat-icon>file_upload</mat-icon>
    <span>{{title||'Upload a File'}}</span>
  </button>
</div>
