<mat-form-field class="input" [floatLabel]="'always'" [hidden]="!isFilter">
  <input matInput [placeholder]="filterPlaceholder" (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<mat-table class="table" [dataSource]="dataSource" matSort>
  <ng-container *ngFor="let col of headers;">
    <ng-container [matColumnDef]="col.attr">
      <ng-container>
        <ng-container *ngIf="col.checkbox">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox [(ngModel)]="isCheckedAll" (change)="onClickCheckAll()"></mat-checkbox>
            <div [style.height]="'1px'"></div>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox [(ngModel)]="row.isChecked"></mat-checkbox>
            <div [style.height]="'1px'"></div>
          </mat-cell>
        </ng-container>
        <ng-container *ngIf="(!col.checkbox) && (!col.isButton)">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{col.name}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row[col.attr]}}</mat-cell>
        </ng-container>
        <ng-container *ngIf="col.isButton">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{col.name}}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button (click)="colClick(row, col)">
              <span [ngClass]="getButtonClass(col)">{{col.buttonName}}</span>
            </button>
          </mat-cell>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <mat-header-row *matHeaderRowDef="getColumn(headers)"></mat-header-row>
  <mat-row *matRowDef="let row; columns: getColumn(headers)">
  </mat-row>
</mat-table>

<mat-paginator #paginator [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
