<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <button mat-button class="go-back" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="toolbar-title">DNN analyze : {{model.name}}</span>
  </div>
  <button mat-button (click)="gotoResult()" class="mbutton">
    <mat-icon style="color: #EB675E">forward</mat-icon>
    <span style="color: #EB675E">Result</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <!--업로드 한 테스트 문장 파일 목록-->
  <app-files style="width: 100%; height: 300px;"
             [type]="model.type" [name]="model.name" [workspaceId]="model.workspaceId"
             [id]="model.id"
             (selectFiles)=selectFiles($event)></app-files>
  <!--테스트 버튼-->
  <div class="btn-area">
    <button mat-button (click)="test()" [disabled]="!isTest"
            [ngClass]="isTest ? 'mat-button-back-enabled' : 'mat-button-back-disabled'"
            id="test-btn">
      <span [ngClass]="'mat-button-text'">Test</span>
    </button>
  </div>
</div>
