<!-- Sign-In Component -->
<form [formGroup]="user" (ngSubmit)="login()">
  <mat-card>
    <mat-card-content>
      <app-form-control-input style="margin-bottom:8px" [group]="user" name="username" label="Name"
                              type="text"></app-form-control-input>
      <app-form-control-input [group]="user" name="password" label="Password"
                              type="password"></app-form-control-input>
      <app-form-control-errors [control]="user"></app-form-control-errors>
    </mat-card-content>

    <mat-card-actions class="gray">
      <button mat-raised-button color="primary" type="submit">Sign-In</button>
      <button mat-raised-button type="button" *ngIf="checkEmailVerify"
              [routerLink]="['..','signup']">Sign-Up
      </button>
    </mat-card-actions>
  </mat-card>
</form>
