<div class="tree-container">
  <div [hidden]="!editable" class="tree-tools">
    <button mat-button (click)="addNode()">Add</button>
    <button mat-button [hidden]="!currentNode" (click)="editNode()">Edit</button>
    <button mat-button [hidden]="!(currentNode && currentNode.isLeaf)" (click)="removeNode()">
      Remove
    </button>
  </div>
  <div class="tree-content">
    <Tree #tree [hidden]="nodes && nodes.length === 0" [nodes]="nodes" [options]="treeOptions"
          (moveNode)="onTreeStructureChange($event)" (activate)="onCurrentNodeChange($event)"
          (deactivate)="onCurrentNodeBlur($event)">
      <ng-template #treeNodeTemplate let-node>
        {{node.data.name}}
        <!--마지막 node 이면서, children이 있을 때-->
        <ng-container *ngIf="node.data.count > 0 && node.data.children.length !== 0">
          <span>[{{node.data.count}}]</span>
        </ng-container>

        <!--마지막 node 이면서, children이 0개 일때-->
        <ng-container *ngIf="node.data.children.length === 0">
          <span>[{{node.data.count}}]</span>
        </ng-container>
      </ng-template>
    </Tree>
    <div class="tree-empty" [hidden]="!(nodes && nodes.length === 0)">
      There is no category information.
    </div>
  </div>

</div>
