$width: 300px;

.tree-container {
  width: $width;

  .tree-content {
    border: 1px solid #e5e5e5;
    border-bottom-width: 2px;
    margin-right: 10px;
    height: 400px;

    .tree-empty {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.8);
      text-align: center;
      margin: 50px 0;
      width: $width;
    }

    tree {
      padding: 8px 14px;
      min-width: $width - 28px;
      display: block;
      max-height: 374px;
      overflow: auto;

      .tree-node-loading {
        display: none
      }

      .node-content-wrapper {
        font-size: 14px;
      }

      .node-content-wrapper, .tree-children {
        position: relative;
      }

      .tree-children {

        .node-content-wrapper::before, .tree-children::after {
          content: "";
          position: absolute;
        }

        .node-content-wrapper::before {
          border-bottom: 1px solid lightgrey;
          border-left: 1px solid lightgrey;
          height: 28px;
          top: -13px;
          width: 20px;
          left: -28px;
        }
      }

      .tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
        width: 25px;
      }

      .tree-children::after {
        border-left: 1px solid lightgrey;
        height: 100%;
        top: -15px;
        left: -15px;
      }

      treenode:last-child > .tree-node > .tree-children::after {
        border-left: none;
      }

      .toggle-children {
        z-index: 1;
      }

      .tree-node-focused > .node-wrapper > .node-content-wrapper {
        background: #beebff
      }
    }
  }

  .tree-tools {
    cursor: default;

    button {
      font-size: 12px;
      color: #ffffff;
      margin: 5px;
      min-width: 50px;
    }
  }
}
