<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <button mat-button class="go-back" (click)="back('')">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mlt-toolbar-title">{{dictionaryName}} Test Result</span>
  </div>
</mat-toolbar>
<div class="mlt-mainbody">
  <!--파일 관리 목록-->
  <section class="table-section">
    <ag-grid-angular
      #agGrid style="width: 100%; height: 500px;" class="ag-theme-balham"
      id="myGrid"
      [enableColResize]="true"
      [enableCellChangeFlash]="true"
      [gridOptions]="gridOptions">
    </ag-grid-angular>
  </section>
</div>
