<mat-toolbar class="mlt-toolbar">
  <button mat-button class="go-back" (click)="backPage()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="mlt-toolbar-title"> HMD model {{selectedDictionary.name ? ': '
    + selectedDictionary.name : ''}} </span>
  <!--<div *ngIf="selectedDictionary?.hmdDicId !== undefined">-->
  <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
          [hidden]="action?.hidden || !isCreated">
    <mat-icon color="primary">{{action?.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action?.text}}</span>
  </button>

  <button mat-button [matMenuTriggerFor]="test" [hidden]="editable || !isCreated">
    <mat-icon color="primary">streetview</mat-icon>
    <span style="">Test</span>
  </button>
  <mat-menu #test="matMenu">
    <button class="mat-menu" mat-menu-item (click)="testWithFiles()">Test with files</button>
    <button class="mat-menu" mat-menu-item (click)="testWithText()">Test with text</button>
  </mat-menu>

  <ng-container *ngIf="editable">
    <app-uploader-button [url]="'/ta/hmd/dic/upload-files'"
                         [data]="selectedDictionary.hmdDicId" #uploader
                         (preUploadCallback)=confirmUpload()
                         (uploadCallback)=onUploadFile()></app-uploader-button>
  </ng-container>
  <!--</div>-->

</mat-toolbar>

<div class="mlt-mainbody">
  <div class="hmd-model-info-section">
    <form [formGroup]="infoGroup">
      <mat-form-field>
        <input [hidden]="model_actions.hidden" matInput formControlName="name"
               placeholder="HMD model name" [readonly]="false"
               [value]="selectedDictionary.name" (change)="changeModelName($event.target.value)">
        <input [hidden]="!model_actions.hidden" matInput formControlName="name"
               placeholder="HMD model name" [readonly]="'readOnly'"
               [value]="selectedDictionary.name" disabled="true">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="manDesc" placeholder="Description"
               [readonly]="isReadOnly"
               [(value)]="selectedDictionary.manDesc"
               (change)="changeModelDesc($event.target.value)">
      </mat-form-field>
      <button mat-button [hidden]="model_actions.hidden" class="mat-button-enable"
              (click)="doAction(model_actions)" [disabled]="model_actions.hidden">
        <mat-icon color="primary">{{model_actions.icon}}</mat-icon>
        <span class="mat-button-enable">{{model_actions.text}}</span></button>
    </form>
  </div>

  <section [hidden]="!isCreated">
    <!--<h2>{{selectedDictionary.name}}  {{' : ' +selectedDictionary.manDesc}}</h2>-->
    <h2>Dataset {{selectedDictionary.name}}</h2>
    <p>Edit dictionaries used in HMD process.</p>

    <div fxLayout="row">
      <app-tree fxFlex="none" [nodes]="categories" [editable]="editable"
                [callback]="categoryCallback" #appTree></app-tree>

      <div fxFlex>
        <!-- Rule 검색 -->
        <mat-form-field class="mlt-input" floatLabel="never">
          <input matInput placeholder="Rule" name="rule" (keyup)="getHmdDictionaryLineAllList(0)"
                 [(ngModel)]="searchRule">
        </mat-form-field>

        <ng-container *ngIf="editable">
          <button mat-button *ngFor="let ruleAction of ruleActions" (click)="doAction(ruleAction)"
                  [hidden]="ruleAction.hidden">
            <!--<mat-icon color="primary">{{ruleAction.icon}}</mat-icon>-->
            <span style="color: #3b78e7;font-size: 12px;">{{ruleAction.text}}</span>
          </button>


          <!-- rule ToolTip -->
          <button mat-button (mouseenter)="hmdTipEnter()" (mouseleave)="hmdTipLeave()">
            <mat-icon>help_outline</mat-icon>
            <span style="font-size: 12px;">HMD Syntax Tip</span>
          </button>

          <div class="hmdToolTip" [hidden]="!tipsVisible">
            <ul style="padding-left: 20px;margin-top: 5px;margin-bottom: 5px;">
              <li><b>기본규칙</b>perfect matching, 단어는 띄어쓰기 단위로 구분</li>
              <li><b>(단어)(단어)</b>And 조건으로 탐지</li>
              <li><b>(단어1|…|단어n)</b>Or 조건으로 탐지</li>
              <li><b>(A)(@B)</b>B는 A보다 뒤에 위치한 단어 탐지</li>
              <li><b>(A)(!B)</b>B가 문장 내에 존재하는 경우 stopword 처리</li>
              <li><b>(A)(+3B)</b>B는 A보다 뒤에 위치한 3어절 내에 있는 단어 탐지</li>
              <li><b>(A)(%B)</b>B가 문장 내에 있는 부분문자열이 B와 일치하는 경우 탐지</li>
            </ul>
          </div>

        </ng-container>

        <!-- app-table에 페이징 style를 별도로 적용하기 위한 예제 ex) [pageStyle]="{'margin-top':'200px'}"  -->
        <app-table class="mlt-table" #lineTableComponent [headers]="header"
                   [rows]="hmdDictionaryLineList"
                   [dataSource]="dataSource" [length]="pageLength"
                   (outputPaginator)="setPage($event)" (outputRowInput)="changeRule($event)">
        </app-table>

      </div>
    </div>

    <app-git #gitComponent
             hidden
             [getTitle]=selectedDictionary.name
             [getCommitListUrl]="'/ta/hmd/dic/getCommitList'"
             [getDiffUrl]="'/ta/hmd/dic/getDiff'"
             [getFileByCommitUrl]="'/ta/hmd/dic/getFileByCommit'"
             [fileId]="selectedDictionary?.id"></app-git>

  </section>

  <section [hidden]="selectedDictionary">
    <p>Select dictionary first.</p>
  </section>
</div>
