.hmdToolTip {
  position: absolute;
  top: 207px;
  right: 450px;
  width: 350px;
  border: 1px solid #0c0c0b;
  font-size: 12px;
}

.hmd-model-info-section {
  padding-left: 24px;
  padding-top: 24px;

  mat-form-field {
    padding-right: 50px;
  }
}
