<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <span class="mlt-toolbar-title"> Morpheme dictionaries </span>
  </div>
  <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
          [disabled]="action.disabled" [hidden]="action.hidden">
    <mat-icon
      [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.icon}}</mat-icon>
    <span
      [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <ag-grid-angular
    #agGrid style="padding: 24px; width: 95%; height: 600px;" class="ag-theme-balham"
    id="myGrid"
    [enableColResize]="true"
    [enableCellChangeFlash]="true"
    [gridOptions]="gridOptions">
  </ag-grid-angular>
</div>
