<app-tools [name]="title" [goBack]="backPage" [showMoreVert]=false></app-tools>
<div class="add-content">
  <form #f="ngForm" (ngSubmit)="submit()">
    <mat-list>
      <!-- name -->
      <mat-list-item class="mat-list-item-name">
        <mat-form-field>
          <input class="input-size" matInput required name="name"
                 [(ngModel)]="group.name" [placeholder]="'Name'"
                 [formControl]="nameFormControl">
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-list-item>

      <!-- description -->
      <mat-list-item class="mat-list-item-description">
        <mat-form-field>
        <input class="input-size" matInput required name="description"
               [placeholder]="'Description'">
        </mat-form-field>
      </mat-list-item>

      <!-- description -->
      <mat-list-item>
      </mat-list-item>

      <!-- owner -->
      <mat-list-item>
      </mat-list-item>

      <!-- button -->
      <mat-list-item>
        <p class="submit-button">
          <button mat-raised-button [color]="'primary'" [innerHTML]="getButtonName()"></button>
        </p>
        <p class="cancel-button">
          <button mat-raised-button type="button" [routerLink]="'../../groups'">Cancel</button>
        </p>
      </mat-list-item>
    </mat-list>
  </form>
</div>
