.add-content {
  margin: 10px;
  padding: 15px 20px !important;

  .mat-list .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 270px;
  }

  .mat-list-item-description {
    padding-top: 25px;
  }

  .input-size {
    width: 270px;
  }

  .input-size-description {
    width: 270px;
    height: 70px;
  }

  .mat-list-item-email {
    padding-top: 17.5px;
  }

  .mat-list-item-is-admin {
    margin-top: 20px;

    /deep/ .mat-list-item-content {
      height: 26px;
    }
  }

  .mat-list-item-permissions {
    height: 250px;

    /deep/ .mat-list-item-content {
      margin-top: 0px;
      display: table-footer-group;
      position: relative;
      text-align: left;
      width: fit-content;
      height: fit-content;
      padding: 0 0 0 14px;
    }
  }

  .mat-list-item-password {
    padding-top: 12px;
  }

  .toggle-set {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .submit-button {
    margin-left: 20px;
  }

  .cancel-button {
    margin-left: 20px;
  }
}
