<app-tools [actions]=actions name="Simple Classifier">
  <app-form-control-input app-tools-left class="inline" [control]="filterKeyword" label="Search.."
                          type="text">
  </app-form-control-input>
</app-tools>


<!--
<h2 *ngIf="page_title">{{page_title}}</h2>
<p *ngIf="page_description">{{page_description}}</p>
-->

<mat-sidenav-container class="m2u-mainbody">
  <button class="helpBtn" (mouseenter)="uploadTipEnter()" (mouseleave)="uploadTipLeave()">
    <mat-icon>help_outline</mat-icon>
    <span style="font-size: 12px;">File Upload Tip</span>
  </button>

  <div class="uploadToolTip" [hidden]="!tipsVisible">
    <ul style="padding-left: 20px;margin-top: 5px;margin-bottom: 5px;">
      <li>파일이름 형식은 파일이름__0 또는 파일이름__1로 구분</li>
      <li>0 : 한국어, 1 : 영어 로 구분</li>
    </ul>
  </div>
  <div class="main-container">
    <app-table #tableComponent
               [rows]="rows" [headers]="header" [dataSource]="dataSource"
               [isServerPagination]="false"
               (outputCheckedRow)="whenCheckChanged($event)">
    </app-table>
  </div>
  <input id='selectFile' type="file" (change)="onFileChange($event)" multiple="false"
         hidden="true"/>

  <!-- sidenav삭제 -->
  <!--<mat-sidenav class="sc-sidepanel" #sidenav position="end" mode="side" opened="false">-->
  <!--<app-simple-classifier-panel #infoPanel></app-simple-classifier-panel>-->
  <!--</mat-sidenav>-->
</mat-sidenav-container>
