.main-container {
  margin: 20px;
}

/deep/ .root .layout .sidenav {
  box-shadow: 0 0 0 0 !important;
}

/deep/ .mat-toolbar-single-row {
  justify-content: space-between;
}

.uploadToolTip {
  position: absolute;
  left: 360px;
  width: 300px;
  border: 1px solid #0c0c0b;
  font-size: 7px;
}

.helpBtn{
  margin-left: 450px;
  background: white;
  text-align: center;
  font-weight: 600;
  color: black;
  outline: 0;
  border: 0;
}

.sc-sidepanel {
  width: 25%;
  border-left: 1.1px solid #d3d3d3;

  /deep/ .mat-tab-labels {
    display: flex;
    justify-content: center;
  }
}

