::ng-deep .ag-theme-balham .ag-root {
  border: none;
}

mat-checkbox {
  margin: 22px 30px 12px 20px;
}

.checkbox-section {
  vertical-align: middle;
}

span {
  vertical-align: middle;
}

.app-btn {
  margin: 10px 50px 10px 10px;
  vertical-align: middle;
}

section {
  border-bottom: none !important;
}
