<div>
  <input type="file" id="selectFile1" #uploadFile multiple="false" (change)="getdata($event)"
         hidden="true"/>
  <!--파일 관리 목록-->
  <section class="table-section">
    <div>
      <!--액션 버튼-->
      <span>File list</span>
      <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
              [hidden]="action.hidden" [disabled]="action.disabled" class="mbutton"
              [id]="action.type">
        <mat-icon
          [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.icon}}</mat-icon>
        <span
          [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.text}}</span>
      </button>
      <app-uploader-button [url]="'/dictionary/test/upload-file'" accept=".txt"
                           [type]="file.type" #uploader
                           (preUploadCallback)=confirmUpload()
                           (uploadCallback)=onUploadFile()></app-uploader-button>
    </div>
    <ag-grid-angular
      #agGrid style="width: 98%; height: 300px;" class="ag-theme-balham"
      id="myGrid"
      [enableColResize]="true"
      [enableCellChangeFlash]="true"
      [gridOptions]="gridOptions">
    </ag-grid-angular>
  </section>
</div>
