.input {
  border: 1px solid #ccc;
  vertical-align: middle;
  margin-bottom: 0;
  text-indent: 8px;
  text-overflow: ellipsis;

  color: #222;
  font-size: 13px;
  background-color: #fff;
  display: block;
  height: 29px;
  line-height: 27px;
  width: 100%;

  &:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  &.ng-invalid.ng-touched {
    border-color: rgb(221, 75, 57);
  }
}

.textarea {
  max-width: 600px;
  min-height: 120px;
  padding: 8px;

  border: 1px solid #ccc;
  margin-top: 12px;

  color: #222;
  font-size: 14px;
  background-color: #fff;
  display: block;
  width: 100%;
  width: calc(100% - 16px);
  width: -webkit-calc(100% - 16px);
  width: -moz-calc(100% - 16px);

  &:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  &.ng-invalid.ng-touched {
    border-color: rgb(221, 75, 57);
  }
}

.select {
  input.ng-invalid.ng-touched + button {
    border-color: rgb(221, 75, 57);
  }

  button {
    max-width: 200px;
    border: 1px solid #ccc;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    height: 33px;
    line-height: 31px;
    border-radius: 0;

    small {
      color: rgba(0, 0, 0, .654);
      margin-left: 10px;
    }
  }
}

.radio {
  padding-top: 8px;
  display: block;

  mat-radio-button {
    label {
      min-width: 100px;
      font-size: 13px;
      margin-right: 26px;

      .mat-radio-container {
        top: 4px !important;
      }
    }
  }
}

app-form-control-section {
  .select, .radio, .checkbox, .input {
    margin-top: 8px;
  }
}

app-form-control-input {
  display: block;

  &.inline {
    vertical-align: middle;
    display: inline-block;
  }

  &.large {
    width: 100%;

    .input {
      max-width: 100%;
    }

    &.large-pr {
      .input {
        max-width: calc(100% - 10px);
        max-width: -webkit-calc(100% - 10px);
        max-width: -moz-calc(100% - 10px);
      }
    }
  }
}
