<div [ngSwitch]="type">
  <mat-radio-group class="radio" *ngSwitchCase="'radio'" [formControl]="control" [name]="name">
    <mat-radio-button *ngFor="let option of options" [name]="name"
                      [value]="option.value">{{option.key}}</mat-radio-button>
  </mat-radio-group>

  <div *ngSwitchCase="'select'" class="select">
    <input type="hidden" [formControl]="control" [name]="name">
    <button mat-button type="button" [mat-menu-trigger-for]="selectMenu">
      <span>{{selectedOption ? selectedOption.key : label}}
        <small *ngIf="selectedOption && selectedOption.desc">{{selectedOption.desc}}</small></span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #selectMenu>
      <button type="button" mat-menu-item *ngFor="let option of options"
              (click)="control.setValue(option.value)" [hidden]="option.hidden">
        <span>{{option.key}}
          <small>{{option.desc}}</small></span>
        <mat-icon class="primary" *ngIf="control.value == option.value">checked</mat-icon>
      </button>
    </mat-menu>
  </div>

  <mat-checkbox class="checkbox" *ngSwitchCase="'checkbox'" [formControl]="control"
                [name]="name">{{label}}</mat-checkbox>

  <textarea class="textarea" *ngSwitchCase="'textarea'" [formControl]="control" [name]="name"
            [placeholder]="placeholder || label" (keydown)="handleKeyDown($event)"
            (blur)="handleBlur($event)" (focus)="handleFocus($event)" tabindex="1"></textarea>

  <input class="input" *ngSwitchDefault [formControl]="control" [name]="name" [type]="type"
         [placeholder]="placeholder || label" (keydown)="handleKeyDown($event)"
         (blur)="handleBlur($event)" (focus)="handleFocus($event)" tabindex="1">

  <app-form-control-errors [control]="control" [label]="label"
                           [params]="errorParams"></app-form-control-errors>
</div>
