<mat-nav-list>
  <ng-container *ngFor="let child of sidebarChild">
    <ng-container *ngIf="child.path != ''">
      <ng-container *ngIf="child.data && child.data.nav.name !== 'Empty'">
        <mat-list-item [ngClass]="{'menu-active': child.path === currentPath}"
                       (mousedown)="click(child, $event)">
          <mat-icon [ngClass]="'mat-icon-'+dept">{{child.data.nav.icon}}</mat-icon>
          <mat-icon *ngIf="child.children">{{child.open ? 'expand_less' : 'expand_more'}}</mat-icon>
          <span mat-line>{{child.data.nav.name}}</span>
        </mat-list-item>
      </ng-container>
      <div *ngIf="child.children" [hidden]="child.open">
        <app-sidebar [sidebarChild]="child.children"
                     [parentPath]="parentPath+'/'+child.path"
                     [dept]="dept+1"></app-sidebar>
      </div>
    </ng-container>
  </ng-container>
</mat-nav-list>
