.mat-nav-list {
  height: calc(100% - 115px);
}

.mat-list-1 {
  font-size: 14px !important;
  margin-left: 10px !important;
  height: 40px !important;
}

.mat-icon-1 {
  height: 35px !important;
}

.mat-icon-1 {
  height: 35px !important;
  width: 31px !important;
  font-size: 20px !important;
}

.menu-active {
  .mat-line {
    color: #2979ff !important;
  }
}
