@charset "utf-8";
.wecoms_simple_web_edit{min-width:605px;min-height:400px;border:1px solid #000000; background: gray; max-height:400px;overflow: hidden;}
.wecoms-edit-menu{z-index:999;position:fixed;border:solid 1px;background:gray;color: white;padding: 2px;cursor: pointer;}
.wecoms-edit-menu p{-webkit-margin-before: 0em;-webkit-margin-after: 0em; margin: 3px 5px; font-size: 12px;}
.wecoms-edit-menu p:hover{color: yellow;}
.section_edit_template{padding: 10px; overflow-y: hidden; height: 220px; width: 97.5%;}
.section_html_template div{background: white; margin: 5px 5px 5px 11px; width: 97.5%;}
.section_html_template div p{background: white; padding: 5px; word-break: break-all; height: 90px; border: solid 1px #CCC; overflow-y: auto;}
.wecoms-edit-area{width: 100%;height:100%;min-width:350px;}
.wecoms-edit-area table {border-collapse: collapse;border-spacing:0; border:1px solid #000000; width: 100%}
.wecoms-edit-area table td{border:1px solid #000000;}
.wecoms-edit-area em {font-style: italic !important;}
.basic-edit-area{background: white; height: 218px; width: 98%; min-height: 218px; overflow-y: auto; border:1px solid #CCC; padding: 5px;}
#wecoms-toggle-color-menu {z-index:999;background-color:#FFFFFF;padding: 3px;position: absolute;}
.table-input-box{position: absolute;display: flex; background: #FAFAFA;z-index:999;}
.table-input-box input{width: 40px !important;margin: 3px; ime-mode:disabled !important; padding:0px !important;;}
.select_box{position: absolute;text-align: center;  list-style:none;z-index: 999; margin: 0px; padding: 0px; border : 1px solid;}
.select_box li{background: #FFFFFF; height: 15px;padding: 5px 1px;border-bottom : 1px solid;cursor: pointer;z-index: 999;font-size:12px;font-weight:normal;}
.color-menu-area{position: absolute;z-index: 999; background-color: #f7f8fb;border:1px solid gray;}
.color-menu-area .color-table-row{display: flex;}
.color-menu-area .color-table-cell{margin: 3px; cursor: pointer;}

#wecoms-simple-edit-menu {width: 0px; height: 0px;}
#wecoms-simple-edit-tool {width: 100%;height:auto;background: #f7f8fb;display: flex;}
#wecoms-simple-edit-tool button {border: none;text-align: center;cursor: pointer;background: #FAFAFA;margin-left: 3px;padding: 0px;}
#wecoms-simple-edit-tool .foreColor{background: url("/assets/img/web_editor/foreColor.png");width: 30px; height: 31px;}
#wecoms-simple-edit-tool .modifyFontName{background: url("/assets/img/web_editor/modifyFontName.png");width: 69px; height: 31px;}
#wecoms-simple-edit-tool .modifyFontSize{background: url("/assets/img/web_editor/modifyFontSize.png");width: 45px; height: 31px;}
#wecoms-simple-edit-tool .addImage{background: url("/assets/img/web_editor/addImage.png");width: 30px; height: 31px;}
#wecoms-simple-edit-tool .addTable{background: url("/assets/img/web_editor/addTable.png");width: 30px; height: 31px;}
#wecoms-simple-edit-tool .execCommandBold{background: url("/assets/img/web_editor/execCommandBold.png");width: 30px; height: 31px;}
#wecoms-simple-edit-tool .execCommandItalic{background: url("/assets/img/web_editor/execCommandItalic.png");width: 30px; height: 31px;}
#wecoms-simple-edit-tool .execCommandUnderline{background: url("/assets/img/web_editor/execCommandUnderline.png");width: 30px; height: 31px;}
#wecoms-simple-edit-tool .execCommandStrikeThrough{background: url("/assets/img/web_editor/execCommandStrikeThrough.png");width: 30px; height: 31px;}
#wecoms-simple-edit-tool .execCommandJustifyleft{background: url("/assets/img/web_editor/execCommandJustifyleft.png");width: 30px; height: 31px;}
#wecoms-simple-edit-tool .execCommandJustifyCenter{background: url("/assets/img/web_editor/execCommandJustifyCenter.png");width: 30px; height: 31px;}
#wecoms-simple-edit-tool .execCommandJustifyRight{background: url("/assets/img/web_editor/execCommandJustifyRight.png");width: 30px; height: 31px;}
#wecoms-simple-edit-tool .addSymbolTable{background: url("/assets/img/web_editor/addSymbolTable.png");width: 30px; height: 31px;}
#wecoms-simple-edit-tool .addLink{background: url("/assets/img/web_editor/addLink.png");width: 30px; height: 31px;}
#wecoms-simple-edit-tool .addCaption{background: url("/assets/img/web_editor/addCaption.png");width: 22px; height: 22px; padding: 10px; margin: 5px;}
#wecoms-simple-edit-tool .sampleBtn{background: url("/assets/img/web_editor/sampleBtn.png");width: 30px; height: 31px;}

.edit-pop {z-index:999; position: absolute; left: 50%; top: 20%;border:1px solid #000000;background: #FFFFFF; transform:translateX(-50%);}
.edit-pop-header {position:relative;height:30px;line-height:28px;color:#fff;background:#535d69;text-align:center;margin-bottom:5px;margin-top:0px;}
#edit-pop_attach-file { width: 450px; height: 300px; }
#edit-pop_attach-file #pop-attach-exit {float: right;margin-right: 5px;cursor: pointer;}
#edit-upload-file, #edit-file-link, #edit-file-search-form {text-align:center; padding: 5px;}
#edit-pop_attach-file select, #edit-file-search-form select {height: 25px; width: 80px;}
#edit-pop_attach-file input[type='text'] {width: 210px !important; height:25px !important; padding: 0px; border:1px solid #d8d8d8;}
#edit-pop_attach-file input[type='file'] {width: 210px !important; height:25px !important;}
#edit-pop_attach-file input[type='button'] {width: 40px !important; height:25px !important; padding: 0px;}
#edit-pop_attach-file iframe{display: none; height: 0; width: 0;}
#edit-file-data-table {width:450px; border-collapse: collapse;max-height: 150px;overflow-y: auto;overflow-x: hidden;}
#edit-file-data-table table{width:100%;}
#edit-file-data-table tbody{width: 100%;}
#edit-file-data-table thead th,
#edit-file-data-table tbody td {background:#fff;padding:0 6px; border-bottom:1px solid #dfdfdf;border-right:1px solid #d8d8d8; font-size:12px;height:26px;text-align:center;}
#edit-file-data-table tbody td {line-height:19px;}
#edit-file-data-table thead th:last-child,
#edit-file-data-table tbody td:last-child {border-right:none ;}
#edit-file-data-table thead th {color:#fff;background:#aeb8c2;font-weight:bold;}
#edit-file-data-table tbody th {color:#fff;background:#aeb8c2;font-weight:bold;text-align:center;border-bottom:1px solid #d8d8d8;}
#edit-file-data-table tbody td.left {text-align:left;}
#edit-file-data-table tr:last-child td {border-bottom:1px solid #afb1b4;}
#edit-file-link {position: absolute; bottom: 3px;left: 50%; transform:translateX(-50%);}

#edit-pop_symbol-table {width: 375px; height: 405px;}
#edit-pop_symbol-table #pop-symbol-exit {float: right;margin-right: 5px;cursor: pointer;}
#edit-pop_symbol-table input{}
#edit-symbol-tab ul {display: inline;}
#edit-symbol-tab ul li {float: left; text-decoration: none; list-style: none; font-size: 12px; margin-right: 5px; padding: 7px; cursor: pointer;}
#edit-symbol-table table {display: none; padding: 5px; border-collapse: separate !important; border-spacing:1px !important; border: none;}
#edit-symbol-table table td {padding: 2px;border:1px solid #d8d8d8;line-height:19px !important; width: 22px; cursor: pointer;height:19px !important; }
#edit-symbol-table .on {display: block;}
#edit-symbol-input {text-align: center; height: 22px;}
#edit-symbol-input #select-symbol-val {height:22px;width: 80%; border: 1px solid #dadada;box-sizing: border-box;border-radius: 3px;background: #fff;padding: 0 10px 2px;vertical-align: middle}

.select_box_btn {width:65px;-webkit-tap-highlight-color:transparent;background-color:#fff;border-radius:2px;border:solid 1px #bcbcbc;box-sizing:border-box;clear:both;cursor:pointer;display:inline-block;font-family:inherit;font-size:12px;font-weight:normal;height:30px;line-height:26px;outline:none;padding-left:10px;padding-right:25px;vertical-align:middle;position:relative;text-align:left !important;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;-webkit-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap;color:#2c2c2c;}
.select_box_btn:hover {border-color:#dbdbdb;}
.select_box_btn:after {border-bottom:2px solid #808080; border-right:2px solid #808080; content:''; display:block; height:5px; margin-top:-4px; pointer-events:none; position:absolute; right:10px; top:50%; -webkit-transform-origin:66% 66%; -ms-transform-origin:66% 66%; transform-origin:66% 66%; -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); -webkit-transition:all 0.15s ease-in-out; transition:all 0.15s ease-in-out; width:5px;}
/* .select_box_btn:active, .select_box_btn.open, .select_box_btn:focus {border-color:#dbdbdb;}
.select_box_btn.open:after {-webkit-transform:rotate(-135deg); -ms-transform:rotate(-135deg); transform:rotate(-135deg);}
.select_box_btn.open .list {max-height:236px; overflow-y:auto; opacity:1; pointer-events:auto; -webkit-transform:scale(1) translateY(0); -ms-transform:scale(1) translateY(0); transform:scale(1) translateY(0);}
.select_box_btn.disabled {border-color:#ededed; color:#999; pointer-events:none;}
.select_box_btn.disabled:after {border-color:#cccccc;}
.select_box_btn.wide {width:100%;}
.select_box_btn.wide .list {left:0 !important; right:0 !important;} */

.wecoms_simple_web_edit {
  border: 5px solid #fafafa; // #fbfbfb;
  background: #fafafa !important;
}

.editor-title {
  padding: 5px 0 10px 15px;
  // font-size: 30px;
  //color: #fbfbfb;
  background-color: #2979ff;
  overflow: hidden;

  .editor-title-text {
    font-size: 25px;
    color: white;
    margin: 8px 0 0 0;
    float: left;
  }
}

.total-web-editor {
  max-height: 585px;
  overflow: hidden;
}

.close-button {
  float: right;
  color: white;
  padding: 5px 10px 5px 10px;
  margin: 10px 5px 0 0 !important;
  font-size: 20px;
}

.text-area-div {
  height: 120px;
  background-color: #f8fafb;
  border-bottom: 1px solid #ddd;
  .textarea {
    width: 84%;
    height: 80%;
    float: left;
    margin: 10px 0 10px 14px;
    border: solid 1px #ccc;
    overflow-y: auto;
    resize: none;
    max-width: 575px !important;
    min-height: 80px;
    max-height: 83px;
  }
}

.title {
  width: 10%;
  height: 100%;
  float: left;
  background-color: #f8fafb;
  border-right: 1px solid #ddd;
  padding-left: 5px;
  padding-right: 5px;

  p {
    margin-top: 40%;
  }
}

.details-area {
  height: 400px;
}
