<div class="total-web-editor">
  <div class="additional-area">
    <div class="editor-title">
      <div class="editor-title-text">상세 내용</div>
      <i class="material-icons close-button" (click)="dialogRef.close(false)">close</i>
    </div>
    <div class="text-area-div">
      <div class="title">
        <p>{{title1}}</p>
      </div>
      <textarea class="textarea"
                [value]="text1"
                (input)="changeTextarea($event)"></textarea>
    </div>
  </div>
  <div class="details-area">
    <div class="title">
      <p>{{title2}}</p>
    </div>
    <div id="edit">
      <!--  <button (click)="getHtmlData()">클릭클릭</button>-->
    </div>
  </div>
</div>

<div id="editSymbolTablePopTemplate">
  <div id="edit-pop_symbol-table" class="edit-pop" >
    <p id="pop-symbol-header" class="edit-pop-header"><span>특수기호표</span><span id="pop-symbol-exit">X</span></p>
    <div id="edit-symbol-tab">
      <ul></ul>
    </div>
    <div id="edit-symbol-table">

    </div>
    <div id="edit-symbol-input">
      <input type="text" id="select-symbol-val" readOnly /> <input type="button" id="btn-add-symbol" value="확인"/>
    </div>
  </div>
</div>
