<section fxLayout="column" fxLayoutAlign="center">
  <div fxFlex="85%" fxLayout="row wrap" fxLayoutAlign="center top" fxLayoutGap="10px">

    <!--connection server start-->
    <div fxFlex="none">
      <mat-card class="box server">
        <mat-card-content>
          <h2>Connection server ({{svdList.length}})</h2>
          <p class="subtitle">
            <mat-icon>lightbulb_outline</mat-icon>
            Server Information
          </p>
          <ul>
            <li *ngFor="let svd of svdList">
              <div>
                Host: {{svd.host}}
              </div>
              <div>
                IP: {{svd.ip}}
              </div>
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <ul>
            <li>
              <mat-icon>exit_to_app</mat-icon>
              <span>Go to Process Monitoring</span>
            </li>
          </ul>
        </mat-card-actions>
      </mat-card>
    </div>
    <!--connection server end-->

    <!--chatbotList 가 존재할 경우 start-->
    <ng-container *ngIf="chatbotList.length !== 0">
      <div fxFlex="none" *ngFor="let chatbot of chatbotList">
        <mat-card [ngClass]="getClassName(chatbot)">
          <mat-card-content>
            <h2>Chatbot: {{chatbot.name}}</h2>

            <p class="subtitle">
              <mat-icon>lightbulb_outline</mat-icon>
              title
            </p>
            <ul>
              {{chatbot.title}}
            </ul>
            <p class="subtitle" style="cursor: pointer"
               (click)="navigateUrl('itfp', chatbot.intent_finder_policy)">
              <mat-icon>lightbulb_outline</mat-icon>
              <span>
                intent finder policy
              </span>
            </p>
            <ul style="cursor: pointer"
              (click)="navigateUrl('itfp', chatbot.intent_finder_policy)">
              {{chatbot.intent_finder_policy}}
            </ul>
            <p class="subtitle" style="cursor: pointer"
               (click)="navigateUrlQueryParams('m2u-builder/chatbots/' + chatbot.name + '/dais')">

              <mat-icon>lightbulb_outline</mat-icon>
              daInstances
            </p>
            <ul style="cursor: pointer"
                (click)="navigateUrlQueryParams('m2u-builder/chatbots/' + chatbot.name + '/dais')">
              <li *ngFor="let daInstance of chatbot.daInstances">
                <div>lang : <img [src]="getImageUrl(daInstance)"></div>
                <div>count : {{daInstance.count}}</div>
              </li>
              <li *ngIf="chatbot.daInstances.length === 0">
                Not defined.<br>
              </li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
            <ul>
              <li (click)="navigateUrlQueryParams('m2u-builder/chatbots/' + chatbot.name)">
                <mat-icon>exit_to_app</mat-icon>
                <span>Go to {{chatbot.name}} Detail</span>
              </li>
            </ul>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
    <!--chatbotList 가 존재할 경우 end-->

    <!--chatbotList가 0개 일 경우 start-->
    <ng-container *ngIf="chatbotList.length === 0">
      <div fxFlex="none">
        <mat-card class="box primary">
          <mat-card-content>
            <h2>Chatbot (0)</h2>

            <p class="subtitle">
              <mat-icon>lightbulb_outline</mat-icon>
              Please add chatbot
            </p>
            <p class="subtitle">
              <mat-icon>lightbulb_outline</mat-icon>
              Chatbot add step
            </p>
            <ol>
              <li>Dialog agent manager add</li>
              <li>Dialog agent add</li>
              <li>Simple classifier add</li>
              <li>Intent finder policy add</li>
              <li>Intent finder instance add</li>
              <li>Chatbot add</li>
              <li>Dialog agent instance add</li>
            </ol>
          </mat-card-content>
          <mat-card-actions>
            <ul>
              <li (click)="navigateUrl('chatbotadd')">
                <mat-icon>exit_to_app</mat-icon>
                <span>Go to Chatbot add</span>
              </li>
            </ul>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
    <!--chatbotList가 0개 일 경우 end-->

    <!--type03
    <div fxFlex="none">
      <mat-card class="box server">
        <mat-card-content>
          <h2>Connection server ({{svdList.length}})</h2>
          <p class="subtitle">
            <mat-icon>lightbulb_outline</mat-icon>
            Server Information
          </p>
          <ul>
            <li *ngFor="let svd of svdList">
              <div>
                Host: {{svd.host}}
              </div>
              <div>
                IP: {{svd.ip}}
              </div>
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <ul>
            <li (click)="navigateUrlQueryParams('m2u/monitoring/process')" class="type03">
              <mat-icon>exit_to_app</mat-icon>
              <span>Go to Process Monitoring</span>
            </li>
          </ul>
        </mat-card-actions>
      </mat-card>
    </div>
    type03-->
  </div>
</section>
