<mat-toolbar class="mlt-toolbar">
  <span class="mlt-toolbar-title">NQA Categories</span>
  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Channel" [(ngModel)]="selectedChannelId"
                (selectionChange)="onChannelSelected()"
                (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input"
               [formControl]="selectSearchFormControl">
      </div>
      <mat-option *ngFor="let channel of filteredChannelList | async" [value]="channel.id">
        {{ channel.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button *ngFor="let action of channelActionsArray" (click)="doAction(action)"
          [hidden]="action.hidden" [disabled]="action.disabled"
          [ngClass]="action.disabled ? 'disabled-btn' : ''">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>
  <button mat-button *ngFor="let action of categoryActionsArray" (click)="doAction(action)"
          [hidden]="action.hidden" [disabled]="action.disabled"
          [ngClass]="action.disabled ? 'disabled-btn' : ''">
  <mat-icon color="primary">{{action.icon}}</mat-icon>
  <span style="color: #3b78e7">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody" [hidden]="!isChannelSelected">
  <div class="main-container">
    <app-table #tableComponent
               [rows]="rows" [headers]="header" [dataSource]="dataSource"
               [isServerPagination]="false"
               (outputCheckedRow)="whenCheckChanged($event)">
    </app-table>
  </div>
</div>
