<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <button mat-button class="go-back" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mlt-toolbar-title">XDC model Test : {{selectedModel?.name}}</span>
  </div>
</mat-toolbar>

<div class="mlt-mainbody">
  <section *ngIf="selectedModel">
    <h2>Analyze text with XDC model.</h2>
    <p>Provide text to test XDC processing with {{selectedModel.name}}</p>

    <mat-card>
      <mat-card-content>
        <div class="label">Text</div>
        <mat-form-field floatLabel="never"
                        class="mlt-text-area-field">
            <textarea matInput placeholder="&nbsp;Enter text.."
                      class="mlt-text-area" [(ngModel)]="textData" (keyup)="isSubmit()"
                      [formControl]="textFormControl" [errorStateMatcher]="matcher"></textarea>
          <mat-error *ngIf="textFormControl.hasError('required')">Please input text.</mat-error>
        </mat-form-field>
      </mat-card-content>

      <div class="rolling" [hidden]="!loading" style="height:30px"></div>
      <mat-card-actions class="gray" [hidden]="loading">
        <button mat-raised-button color="primary"
                (click)="submit()" [disabled]="submitButton">Submit
        </button>
      </mat-card-actions>
    </mat-card>

  </section>

  <section [hidden]="rows.length === 0">
    <app-table #tableComponent [headers]="header" [rows]="rows" [isShowPaginator]="false"
               [dataSource]="dataSource"></app-table>
  </section>
</div>
