
mat-card {
  padding: 24px !important;

  mat-card-actions {
    background-color: #fff !important;
  }
}

.select-search-form {
  height: 42px;
  padding-left: 10px;

  .select-search-form-input {
    height: 100%;
  }
}
