<section>
  <header>
    <h2 *ngIf="role =='edit'">Update NQA Category</h2>
    <h2 *ngIf="role == 'add'">Add NQA Category</h2>
  </header>

  <main>
    <section>
      <mat-form-field style="width:100%" floatLabel="never">
        <input matInput placeholder="Name" [(ngModel)]="category.name" rows="1"
               [formControl]="categoryNameValidator" required
               (keyup)="checkInvalid($event)">
        <mat-error *ngIf="categoryNameValidator.invalid">Enter a value</mat-error>
      </mat-form-field>
    </section>
  </main>
  <footer>
    <button mat-button (click)="dialogRef.close()" type="button">Cancel</button>
    <button *ngIf="role =='edit'" mat-button color="warn" type="button" (click)="removeCategory()">
      Remove
    </button>
    <button *ngIf="role =='edit'" mat-button color="primary" type="button" [disabled]="disabled"
            (click)="editCategory()">Edit
    </button>
    <button *ngIf="role =='add'" mat-button color="primary" type="button" [disabled]="disabled"
            (click)="addQaCategory()">Add
    </button>
  </footer>
</section>
