.toolbars {
  background-color: white;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap
}

.arrowTool {
  display: flex;
}

.contentTool {
  margin: 0 0 0px 500px;
}

.info {
  box-shadow: none !important;
  height: 300px !important;
}

.infoContent {
  margin-left: 5px;
}

.chatbot-detail {
  overflow-y: auto;

  .mat-card-style {
    width: 700px;
    margin-top: 15px;
  }

  margin-left: 40px;
  margin-top: 20px;

  .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    padding-left: 17px;
    background-color: #f3f3f3;
  }

  .content-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    min-height: 36px;
    padding: 8px 16px;
    position: relative;

    .left {
      color: rgba(0, 0, 0, .54);
      float: left;
      padding-right: 60px;
      width: 178px;
    }

    .right {
      float: left;
      width: 458px;
      word-break: break-all;

      .navigate {
        cursor: pointer;
        color: #3367d6;
        font-weight: 600;
      }
    }
  }

  .intent-finder-table {
    margin-left: 15px;

    .header {
      width: 110px;
      text-align: center;
      border-bottom: 1px solid #d3d3d3;
      font-size: 13px;
    }

    .content {
      width: 100px;
      text-align: center;
      font-size: 15px;
    }

    .content-name {
      width: 100px;
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer !important;
      color: #3367d6;
    }

    .content-skill {
      width: 250px;
      text-align: center;
      font-size: 15px;
    }
  }

  .stt-model-table {
    margin-left: 15px;

    .header {
      width: 110px;
      text-align: center;
      border-bottom: 1px solid #d3d3d3;
      font-size: 13px;
      padding: 2px 0px 2px 0px;
    }

    .content {
      width: 100px;
      text-align: center;
      font-size: 15px;
      padding: 1px 45px 1px 45px;
    }

    .content-samplerate {
      width: 250px;
      text-align: center;
      font-size: 15px;
    }
  }

  .box-size {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 2px;
    border-left: 1px solid #d3d3d3;
  }
}

.check_circle {
  color: #43f436;
  text-align: center;
  padding-left: 0px;
}

.block {
  color: #a0a0a0;
  text-align: center;
  padding-left: 0px;
}
