<app-tools [name]="dialogTitle" [goBack]="backPage" [showMoreVert]=false></app-tools>

<mat-sidenav-container class="m2u-mainbody">
  <!-- left container -->
  <div class="sc-upsert-content-left">
    <mat-list class="mat-list">
      <!--Name-->
      <mat-list-item class="mat-list-item-name">
        <mat-form-field>
          <input *ngIf="role!=='edit'" class="input-size" matInput required name="name"
                 [(ngModel)]=sc.name [placeholder]="'Name'"
                 [formControl]="nameFormControl" autocomplete="off"
                 [errorStateMatcher]="formErrorStateMatcher" (change)="check()">
          <input *ngIf="role==='edit'" class="input-size" matInput name="name"
                 [(ngModel)]=sc.name [placeholder]="'Name'" [disabled]="true">
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="nameFormControl.hasError('duplicated')">
            Name is <strong>duplicated</strong>
          </mat-error>
        </mat-form-field>
      </mat-list-item>

      <!-- description -->
      <mat-list-item class="mat-list-item-description">
        <mat-form-field mat-no-float>
            <textarea class="input-size-description" matInput name="description"
                      [(ngModel)]="sc.description"
                      [placeholder]="'Description'"></textarea>
        </mat-form-field>
      </mat-list-item>

      <!-- skill -->
      <mat-list-item class="mat-list-item-skill-input">
        <mat-form-field>
          <input class="skill-input-size" matInput name="skill" [placeholder]="'Input Skill'"
                 [(ngModel)]="newSkill"
                 (keydown)="inputAddSkill($event)" (change)="check()">
        </mat-form-field>
        <mat-icon class="add-skill-icon" (click)="addSkill()">add_circle_outline</mat-icon>
      </mat-list-item>

      <mat-list-item class="mat-list-item-skill">
        <ng-container *ngIf="sc.skill_list.length === 0">
          <div class="skill-zero">Not Define Skill.<br>
            Add Skill.
          </div>
        </ng-container>
        <ng-container *ngIf="sc.skill_list.length !== 0">
          <mat-list [dragula]='"evented-bag"' [dragulaModel]='sc.skill_list'>
            <mat-list-item *ngFor="let skill of sc.skill_list; let i = index"
                           class="skill-cursor" id="skill{{i}}"
                           [ngClass]="skill===selectedSkill?'selected':''"
                           (click)="selectedSkill = skill">
              <div class="skill-left">
                {{skill.name}}
              </div>
              <div class="skill-right">
                {{skill.regex.length}}
              </div>
              <mat-icon class="skill-regex-icon">keyboard_arrow_right</mat-icon>
              <mat-icon class="skill-delete-icon" (click)="deleteSkill(i)">delete</mat-icon>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </ng-container>
      </mat-list-item>

      <!-- button -->
      <mat-list-item>
        <p class="submit-button">
          <button mat-raised-button (click)="submit()"
                  [innerHTML]="getButtonName()" [disabled]="submitButton"></button>
        </p>
        <p class="cancel-button">
          <button mat-raised-button class="cancel-btn" type="button" (click)="backPage()">Cancel</button>
        </p>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="sc-upsert-content-right">
    <mat-list class="mat-list">

      <!-- lang -->
      <mat-list-item>
        <mat-button-toggle-group class="mat-list-item-lang" [(ngModel)]="sc.lang">
          <ng-container *ngFor="let key of appEnum.langCodeKeys">
            <mat-button-toggle [value]="key">{{appEnum.langCode[key]}}</mat-button-toggle>
          </ng-container>
        </mat-button-toggle-group>
      </mat-list-item>

      <!-- pos, ner -->
      <mat-list-item>
        <mat-checkbox class="mat-list-item-checkbox-margin" [checked]="sc.pos_tagging"
                      (change)="sc.pos_tagging = !sc.pos_tagging">
          Use Part of Speech tagging
        </mat-checkbox>
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox class="mat-list-item-checkbox-margin" [checked]="sc.named_entity"
                      (change)="sc.named_entity = !sc.named_entity">
          Use Named-entity recognition tagging
        </mat-checkbox>
      </mat-list-item>

      <!-- skill description -->
      <mat-list-item class="mat-list-item-description">
        <mat-form-field mat-no-float>
           <textarea *ngIf="!selectedSkill" class="input-size-description" matInput
                     name="description"
                     [(ngModel)]="skill_description"
                     [placeholder]="'Skill Description'"></textarea>

          <textarea *ngIf="selectedSkill"
                    class="input-size-description" matInput name="sc_description"
                    [(ngModel)]="selectedSkill.skill_description"
                    [placeholder]="'Skill Description'"></textarea>
        </mat-form-field>
      </mat-list-item>

      <!-- regx -->
      <ng-container>
        <mat-list-item class="regex-add-list-item">
          <mat-form-field class="regex-add-input">
            <input class="regex-input-size" matInput [placeholder]="'Input RegExps'"
                   [(ngModel)]="newRegExp"
                   (keydown)="inputAddRegEx($event)" (change)="check()">
          </mat-form-field>
          <mat-icon class="add-regex-icon" (click)="addRegEx()">add_circle_outline</mat-icon>
        </mat-list-item>
        <mat-list-item class="mat-list-item-regex">
          <mat-list>
            <ng-container *ngIf="selectedSkill?.regex.length === 0">
              <div class="regex-zero">Not Define Regex.<br>
                Add Regex.
              </div>
            </ng-container>
            <ng-container *ngIf="selectedSkill?.regex.length !== 0">
              <mat-list-item *ngFor="let regEx of selectedSkill?.regex; let i = index">
                <mat-form-field>
                  <input class="regex-input-size" matInput name="regex-edit"
                         [placeholder]="'Regex' + (i+1)" [value]=regEx
                         (change)="editRegEx(i)" [disabled]="true">
                </mat-form-field>
                <mat-icon class="regex-input-edit" (click)="setEditableRegEx(i)">mode_edit
                </mat-icon>
                <mat-icon class="regex-input-delete" (click)="deleteRegEx(i)">delete</mat-icon>
                <mat-icon class="regex-input-test" (click)="testRegEx(i)">play_circle_filled</mat-icon>
              </mat-list-item>
            </ng-container>
          </mat-list>
        </mat-list-item>
      </ng-container>
    </mat-list>
    <div style="clear:both"></div>
  </div>

  <div class="sc-upsert-nlu-tagging">
    <h2>Nlu Tagging Result</h2>
    <mat-list-item class="mat-list-item-sentence-input">
      <mat-form-field class="sentence-input-form">
        <input class="sentence-input-size" matInput name="skill" [placeholder]="'Sentence'"
               [(ngModel)]="nluSentence"
               (keydown)="inputAddSentence($event)" (change)="check()">
      </mat-form-field>
      <button mat-raised-button (click)="getNluResult()">
        Test
      </button>
    </mat-list-item>
    <mat-list class="sc-upsert-nlu-tagging-result">
      <mat-list-item>Pos Tagging Result</mat-list-item>
      <mat-list-item class="result-detail"><span [innerHTML]="posResult"></span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Ner Tagging Result</mat-list-item>
      <mat-list-item class="result-detail"><span [innerHTML]="nerResult"></span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Pos&Ner Tagging Result</mat-list-item>
      <mat-list-item class="result-detail"><span [innerHTML]="posNerResult"></span></mat-list-item>
    </mat-list>
  </div>
</mat-sidenav-container>
