<section class="transcript">
  <header>
    <h2>{{row.sttAnalysisResultEntity.fileEntity.name}}</h2>
  </header>

  <main>
    <app-audio-player [url]="audioURL"></app-audio-player>

    <div class="evaluation-detail-dialog-head">
      Total: {{row.total}} Hit: {{row.hit}} Deletion: {{row.deletion}} Insertion: {{row.insertion}}
      Substitution:
      {{row.substitution}}
    </div>
    <div class="evaluation-detail-dialog-content">
      <pre class="eval-diff" diff [left]="transcriptResult" [right]="engineResult"></pre>
    </div>
  </main>

  <footer>
    <button mat-button (click)="dialogRef.close()" type="button">close</button>
  </footer>
</section>
