<app-tools [name]="title" [actions]=actions>
  <app-form-control-input app-tools-left class="inline" [control]="filterKeyword" label="Search.."
                          type="text">
  </app-form-control-input>
  <div app-tools-right>
    <button mat-button color="primary" class="mat-button">{{panelToggleText}}</button>
  </div>
</app-tools>


<h2 *ngIf="page_title">{{page_title}}</h2>
<p *ngIf="page_description">{{page_description}}</p>

<mat-sidenav-container class="m2u-mainbody">
  <div class="main-container">
    <!--<app-dialog-agent-view-table #tableComponent [header]="table.header" [rows]="table.rows" filter="search">-->
    <!--</app-dialog-agent-view-table>-->
    <app-table #tableComponent
               [rows]="rows" [headers]="headers" [dataSource]="dataSource"
               [isServerPagination]="false"
               (outputCheckedRow)="whenCheckChanged($event)">
    </app-table>
    <ng-template let-row="row" #runningTemplate>
      <ng-container *ngFor="let daai of row.daai_list">
        <a>{{daai.dam_name}}</a>
        <mat-icon [ngClass]="getIcon(daai.active)"
                  [innerHTML]="getIcon(daai.active)"></mat-icon>
      </ng-container>
    </ng-template>
  </div>

  <!-- sidenav삭제 -->
  <!--<mat-sidenav class="da-sidepanel" #sidenav position="end" mode="side" opened="false">-->
  <!--<app-da-panel #infoPanel></app-da-panel>-->
  <!--</mat-sidenav>-->
</mat-sidenav-container>
