<app-tools [actions]=actions [name]="chatbotName+': DA Instances'" [goBack]="backPage">
  <div app-tools-right>
    <button mat-button color="primary" class="mat-button"
            (click)="togglePanel()">{{panelToggleText}}</button>
  </div>
</app-tools>

<mat-sidenav-container class="m2u-mainbody">
  <app-table #tableComponent
             [rows]="rows" [headers]="header" [dataSource]="dataSource"
             [isServerPagination]="false"
             (outputCheckedRow)="whenCheckChanged($event)">
  </app-table>

  <ng-template let-row="row" #damsTemplate>
    <ng-container *ngFor="let dam of row.dai_exec_info">
      <a>{{dam.dam_name}}</a>
      <mat-icon [ngClass]="getDamIcon(dam.active)" [innerHTML]="getDamIcon(dam.active)"></mat-icon>
    </ng-container>
  </ng-template>
</mat-sidenav-container>
