.toolbars {
  background-color: white;

  /deep/ .mat-toolbar-single-row {
    justify-content: space-between;
  }

  .da-instance-title {
    margin-right: 230px;
  }

  .toolbar-action {
    padding-right: 10px;
  }
}

/deep/ .root .layout .sidenav {
  box-shadow: 0 0 0 0 !important;
}

.dai-sidepanel {
  width: 30% !important;
  border-left: 1.1px solid #d3d3d3 !important;

  /deep/ .mat-tab-labels {
    display: flex;
    justify-content: center;
  }
}

.cached {
  color: #43f436;
  text-align: center;
}

.stop {
  color: #a0a0a0;
  text-align: center;
}
