.main-container {
  margin: 20px;
}

/deep/ .root .layout .sidenav {
  box-shadow: 0 0 0 0 !important;
}

/deep/ mat-toolbar-row {
  justify-content: space-between;
}

.accounts-sidepanel {
  //width: 25% !important;
  //overflow-y: auto;
  min-width: 280px;
  min-height: 440px;

  /deep/ .mat-tab-labels {
    display: flex;
    justify-content: center;
  }
}

.accounts-name-row {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .idCursor {
    cursor: pointer;
    color: #3367d6;
    font-weight: 600;
  }
}
