<app-tools [name]=title [actions]=actions [showMoreVert]="true">
  <app-form-control-input app-tools-left class="inline" [control]="filterKeyword" label="Search.."
                          type="text">
  </app-form-control-input>
  <div app-tools-right>
    <button mat-button color="primary" class="mat-button"
            (click)="togglePanel()">{{panelToggleText}}</button>
  </div>
</app-tools>

<h2 *ngIf="page_title">{{page_title}}</h2>
<p *ngIf="page_description">{{page_description}}</p>

<mat-sidenav-container class="m2u-mainbody">
  <div class="main-container">
    <app-table #tableComponent
               [headers]="header" [rows]="rows" [dataSource]="dataSource"
               [isServerPagination]="false"
               (outputCheckedRow)="whenCheckChanged($event)">
    </app-table>
    <ng-template let-row="row" #accountsNameTemplate>
      <div class="accounts-name-row">
        <a class="idCursor" (click)="fillRowInfo(row)">{{row.username}}</a>
      </div>
    </ng-template>
  </div>
</mat-sidenav-container>
