.transcript-textarea {
  width: 100%;
  width: calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  overflow-y: auto;
  height: 450px;
  font-size: 16px;
  margin: 0px;
  padding: 10px;
  resize: vertical;
  border: 1px solid #b9b9b9;
  outline: none;

  u {
    text-decoration: none;
    background: rgba(255, 0, 0, 0.6);
    color: #fff;
  }
}

.transcript-aggregate {
  font-size: 15px;
  color: #999;
  padding: 5px 0;
}