<div class="m2u-root" fxLayout="row">
  <!-- for Other Components -->
  <div class="m2u-layout" fxFlex>

    <!-- body -->
    <mat-sidenav-container class="m2u-sidenav-main">

      <!-- top side navi contents -->
      <mat-sidenav class="m2u-sidenav" mode="over">
        <mat-list class="m2u-brand-side">
          <mat-list-item>
            <img mat-list-avatar src="/assets/img/maum_favicon/favicon64.ico">
            <span mat-line class="m2u-brand-title-side">MAUM.AI</span>
          </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>
      </mat-sidenav>

      <!-- top navi container -->
      <div class="m2u-main-container">
        <!-- top navi -->
        <mat-toolbar class="m2u-topnav" color="primary" [hidden]="hasNoLayout">
          <div class="m2u-brand" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
            <span class="m2u-brand-title" fxFlex="none" (click)="goHome()">MAUM.AI</span>
          </div>
        </mat-toolbar>

        <!-- contents -->
        <div fxLayout="row">
          <div fxFlex class="m2u-main">
            <section>
              <h2>Page not found</h2>
              <p>Sorry but the page you were trying to view does not exist!</p>
              <div>
                <button mat-raised-button color="accent" (click)="backPage()">Back home</button>
              </div>
            </section>
          </div>
        </div>

      </div>
    </mat-sidenav-container>
  </div>
</div>
