<mat-nav-list>
  <ng-container *ngFor="let item of siblingMenuItems">
    <ng-container *ngIf="item.visible">
      <mat-divider *ngIf="item.divider"></mat-divider>
      <!--
         [hidden]="!item.data.nav['isDialogHideMenu'] || dialogModelExist ? false : true"
      -->
      <!-- 링크는 없고, 자식 메뉴만 존재하는 경우 -->
      <mat-list-item
        *ngIf="item.routerLink == null && item.url == null && item.divider == false"
        [ngClass]="[item.selected ? 'active' : '',
           item.children.length > 0 ? 'hasChildren' : '',
           'depth-' + item.depth,
           item.styleClass ? item.styleClass : '']">
        <mat-icon *ngIf="!item.children && item.depth !==1" mat-list-icon
                  [ngClass]="{empty: !item.icon}">{{item.icon || 'dashboard'}}
        </mat-icon>
        <mat-icon *ngIf="item.children.length">
          {{item.open ? 'expand_more' : 'expand_less'}}
        </mat-icon>
        <mat-icon *ngIf="!item.children && item.icon && item.depth === 1">
          {{item.icon || 'dashboard'}}
        </mat-icon>
      </mat-list-item>

      <!-- 라우터 링크가 존재하는 경우 -->
      <mat-list-item *ngIf="item.routerLink"
                     [routerLink]="item.routerLink"
                     [routerLinkActive]="'active'"
                     [ngClass]="[item.selected ? 'active' : '',
           item.children.length > 0 ? 'hasChildren' : '',
           'depth-' + item.depth,
           item.styleClass ? item.styleClass : '']">
        <mat-icon *ngIf="!item.children && item.depth !==1" mat-list-icon
                  [ngClass]="{empty: !item.icon}">{{item.icon || 'dashboard'}}
        </mat-icon>
        <span mat-line>
          {{item.label}}
        </span>
        <mat-icon *ngIf="item.children.length">
          {{item.open ? 'expand_more' : 'expand_less'}}
        </mat-icon>
        <mat-icon *ngIf="!item.children && item.icon && item.depth === 1">
          {{item.icon || 'dashboard'}}
        </mat-icon>
      </mat-list-item>

      <!-- URL인 경우-->
      <mat-list-item *ngIf="item.url"
                     onClick="window.open(item.url, item.target)"
                     [ngClass]="['depth-' + item.depth, item.styleClass]">
        <span mat-line matBadge="item.badge">
          {{item.label}}
        </span>
      </mat-list-item>
    </ng-container>

    <div *ngIf="item.children?.length > 0" [hidden]="!item.open ? true : false">
      <app-sidebar [siblingMenuItems]="item.children"
                   [root]="root"
                   [parentPath]="parentPath+'/'+item.label"
                   [dialogModelExist]="false">
      </app-sidebar>
    </div>
  </ng-container>
</mat-nav-list>
