$app-primary-color: #ff79ff;
$sidenav-width: 320px;
$sidebar-width: 255px;
$sidebar-header-height: 64px;
:host \ng-deep\  {
  @import "~ag-grid-community/dist/styles/ag-grid.css";
  @import "~ag-grid-community/dist/styles/ag-theme-balham.css";
  @import "~ag-grid-community/dist/styles/ag-theme-fresh.css";
}

// #@
.m2u-mainbody {
  height: calc(100% - 64px);
  overflow: auto;
  background: white;
}

/* Dialog Settings App-wise Dialog Background */
.mat-overlay-dark-backdrop {
  background: #FAFAFA !important;
}

.cdk-overlay-container {
  pointer-events: none;
  top: 0px !important;
  left: 0;
  height: 100%;
  width: 100%;
}

mat-dialog-container {
  padding: 0 !important;

  header {
    display: block;
    padding: 10px 24px;
    text-align: left;

    h2 {
      font-size: 20px;
      margin: 0;
    }
  }

  main {
    display: block;
    min-width: 311px;
    padding: 20px;
    max-height: 600px;

    p {
      padding: 0;
      margin: 0 0 20px 0;
      color: rgba(0, 0, 0, .654);
      word-wrap: break-word;
      font-size: 14px;
      line-height: 180%;
    }
  }

  footer {
    display: block;
    text-align: right;
    padding: 0 16px;
    height: 46px;
    margin-top: 10px;
  }
}

.mat-menu-content {
  max-height: 200px;
}

.mat-menu-panel {
  background: #fff;
}

[mat-menu-item] {
  height: 36px !important;
  padding: 0 16px !important;
  font-size: 13px !important;

  mat-icon {
    font-size: 18px !important;
    margin: 0 0 0 10px !important;
    width: 22px;
    line-height: 24px;

    &.primary {
      font-weight: 600;
      color: $app-primary-color;
    }
  }

  small {
    color: rgba(0, 0, 0, .654);
    margin-left: 10px;
  }

  span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
  }
}

mat-card {
  mat-card-actions {
    margin: 0;
    margin: 0 -24px -24px -24px !important;
    padding: 18px 24px !important;
  }
}

.mat-icon {
  color: #0d4090;
}

.ngx-pagination {
  cursor: default;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;

  li {
    cursor: pointer;
  }
}

.test-result {
  padding: 10px 20px;
  background: #f5f5f5;
  margin: 20px 0;
  height: 300px;
  overflow: scroll;

  pre {
    width: 0px;
    font-size: 15px !important;

    .string {
      color: green;
    }

    .number {
      color: darkorange;
    }

    .boolean {
      color: blue;
    }

    .null {
      color: magenta;
    }

    .key {
      color: red;
    }
  }
}

app-tools {
  app-form-control-inline {
    margin-left: 14px;

    app-form-control-errors {
      display: none;
    }
  }
}

/************************************************************appcomponent start*/
.m2u-root {
  height: 100vh;
  overflow: hidden; //스크롤바 2개 생겼을 때, 해결 방안

  // 스크롤바를 삭제하기 위함
  .m2u-layout {
    .m2u-sidenav-main > mat-sidenav-content {
      overflow-y: auto;
    }

    .m2u-sidenav {
      width: $sidenav-width;
      -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12) !important;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12) !important;

      .m2u-brand-side {
        padding: 4px 0;
        cursor: pointer;

        img {
          width: 28px;
          height: 28px;
          padding: 6px;
        }

        .m2u-brand-title-side {
          color: rgba(0, 0, 0, 0.7);
          font-size: 16px;
          font-weight: bold;
        }
      }

      .brand-side + mat-divider {
        margin: 0 0 10px 0;
      }

      mat-nav-list {
        padding: 0;

        mat-list-item {
          height: 48px;

          transition: background-color 0.2s ease-in-out;

          &.active {
            background: rgba(0, 0, 0, 0.08);

            &:hover {
              background: rgba(0, 0, 0, 0.1);
            }
          }

          &:hover {
            background: rgba(0, 0, 0, 0.05);
          }

          .mat-list-text {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.75);
            margin-top: 1px;
          }

          mat-icon {
            width: 24px;
            height: 24px;
            padding: 8px;
            line-height: 24px;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }
    }

    .m2u-topnav {
      position: relative;
      z-index: 120;
      -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
      font-size: 16px;
      height: 48px !important;

      .m2u-brand {

        .m2u-brand-title {
          cursor: pointer;
          margin-left: 16px;
          font-size: 16px;
          line-height: 40px;
        }

        mat-icon {
          cursor: pointer;
          padding: 8px;
          width: 40px;
          height: 40px;
          margin-top: 13px;
        }
      }

      .m2u-tools {
        mat-icon {
          cursor: pointer;
        }
      }

      .mat-toolbar-row,
      .mat-toolbar-single-row {
        height: 55px !important;
      }
    }

    mat-sidenav-container {
      //height: 100%;
    }
  }

  .m2u-main-container {
    height: 100%;

    > div {
      height: 100%;
      height: calc(100vh - 48px);
      min-height: -webkit-calc(100vh - 48px);
      min-height: -moz-calc(100vh - 48px);
    }

    .m2u-main {
      background-color: white;
      height: 100%;
      width: 100vh;
      overflow-x: auto;

      section {
        display: block;
        padding: 16px;
        background-color: #FFFFFF;
        border-bottom: 1px solid #ddd;

        & > h2 {
          color: rgba(0, 0, 0, .987);
          margin: -8px 0 16px;
          bottom: -5px;
          font-weight: 400;
        }

        & > p {
          color: rgba(0, 0, 0, .654);
          bottom: -5px;
          margin: -8px 0 20px;
          position: relative;
          font-weight: 400;
          font-size: 14px;
        }
      }

      .dialogTitle {
        margin-right: 1800px;
      }
    }
  }

  .m2u-sidebar {
    width: $sidebar-width;
    color: rgba(0, 0, 0, 0.87) !important;
    font-size: 13px !important;
    border-right: 1.1px solid #d3d3d3;

    mat-list.m2u-sidebar-header {
      padding-top: 0 !important;
      cursor: pointer;

      [mat-list-item] {
        padding: 10px 0 0;
        height: 45px;
        color: #575858 !important;

        mat-icon {
          text-align: center;
          font-weight: bold;
        }

        .mat-list-text {
          padding-left: 0;
          font-size: 15px;
          font-weight: bold;
        }
      }
    }

    .m2u-sidebar-header + mat-divider {
      // margin: 0 0 10px 0;
    }

    mat-nav-list {
      padding: 0;

      mat-divider {
        margin: -1px;
      }

      .mat-list-item:hover {
        background-color: #DAEAFF;

        mat-icon {
          text-align: center;
          color: #575858;
        }

        span {
          color: #282828;
        }
      }

      .mat-list-item:not(:hover) {
        mat-icon {
          text-align: center;
          color: #575858;
        }

        span {
          color: #646464;
        }
      }

      .mat-list-item {
        height: 36px;

        mat-icon {
          width: 18px;
          height: 32px;
          padding: 9px;
          line-height: 32px;
          font-size: 18px;
          color: rgba(0, 0, 0, 0.54);
        }

        .mat-list-text {
          font-size: 13px;
          margin-top: 2px;
          color: rgba(0, 0, 0, 0.8);
          padding: 0 16px 0 8px;
        }

        .mat-list-item-content {

        }

        transition: background-color 0.2s ease-in-out;

        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }

      .depth-1 {
        mat-icon.empty {
          display: none;
        }

        mat-icon.empty + .mat-list-text {
          font-size: 11px;
          margin-top: 6px;
          color: rgba(255, 255, 255, 0.2);
        }
      }

      .depth-2 {
        //padding-left: 10px;
      }

      .depth-3 {
        padding-left: 10px;
      }
    }

    .active:not(.hasChildren) {
      background: #e0e0e0;

      .mat-list-text, mat-icon {
        color: #3b78e7;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }

    .active.hasChildren {
      background: #bfbfbf;

      &:hover {
        background: rgba(68, 68, 68, 0.4);
      }
    }
  }

  mat-list-item, [mat-list-item] {
    position: relative;

    .mat-list-item {
      height: 100% !important;
    }
  }

  [mat-ripple] {
    .mat-ripple-background {
      cursor: pointer;
    }
  }

  .mat-sidenav-backdrop {
    background: rgba(0, 0, 0, 0.2) !important;
  }

  .notification {
    text-align: center;
    background: #fff9ea;
    color: #4078c0;
    padding: 10px 24px;
    z-index: 101;
    position: relative;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .1), 0 3px 3px -2px rgba(0, 0, 0, .1), 0 1px 8px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .1), 0 3px 3px -2px rgba(0, 0, 0, .1), 0 1px 8px 0 rgba(0, 0, 0, .06);

    .message {
      font-weight: bold;
      font-size: 15px;
    }

    .createdAt {
      font-size: 12px;
      margin-left: 10px;
      font-weight: bold;
      opacity: 0.9;
    }

    .confirm {
      text-decoration: none;
      color: #4078c0;
      opacity: 0.9;
      margin-left: 10px;
      cursor: pointer;
      font-size: 14px;
    }
  }

}

/***********************************************************************************************************************/


app-tools {
  app-form-control-inline {
    margin-left: 14px;

    app-form-control-errors {
      display: none;
    }
  }
}

.mat-toolbar {
  background-color: white;
}


/***********************************************************************************************************************/
/**
mlt css를 위해서 아래 모두 추가 추후 정리가 필요
**/
//app.component.html 사용
.mlt-root {
  height: 100vh;
  overflow-y: hidden; //스크롤바 2개 생겼을 때, 해결 방안

  .mlt-layout {
    .mlt-sidenav {
      width: $sidenav-width;
      -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12) !important;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12) !important;

      .mlt-brand-side {
        padding: 4px 0;
        cursor: pointer;

        img {
          width: 28px;
          height: 28px;
          padding: 6px;
        }

        .mlt-brand-title-side {
          color: rgba(0, 0, 0, 0.7);
          font-size: 16px;
          font-weight: bold;
        }
      }

      .brand-side + mat-divider {
        margin: 0 0 10px 0;
      }

      mat-nav-list {
        padding: 0;

        mat-list-item {
          height: 48px;

          transition: background-color 0.2s ease-in-out;

          &.active {
            background: rgba(0, 0, 0, 0.08);

            &:hover {
              background: rgba(0, 0, 0, 0.1);
            }
          }

          &:hover {
            background: rgba(0, 0, 0, 0.05);
          }

          .mat-list-text {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.75);
            margin-top: 1px;
          }

          mat-icon {
            width: 24px;
            height: 24px;
            padding: 8px;
            line-height: 24px;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }
    }

    .mlt-topnav {
      position: relative;
      z-index: 120;
      -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
      font-size: 16px;
      height: 48px !important;

      .mlt-brand {

        .mlt-brand-title {
          cursor: pointer;
          margin-left: 16px;
          font-size: 16px;
          line-height: 40px;
        }

        mat-icon {
          cursor: pointer;
          padding: 8px;
          width: 40px;
          height: 40px;
          margin-top: 13px;
        }
      }

      .mlt-tools {
        mat-icon {
          cursor: pointer;
        }
      }

      mat-toolbar-row {
        height: 48px !important;
      }
    }

    mat-sidenav-container {
      //height: 100%;
    }
  }

  .mlt-main-container {
    height: 100%;

    > div {
      height: 100%;
      height: calc(100vh - 48px);
      min-height: -webkit-calc(100vh - 48px);
      min-height: -moz-calc(100vh - 48px);
    }

    .mlt-main {
      background-color: white;
      height: 100%;

      section {
        display: block;
        padding: 16px;
        background-color: #FFFFFF;
        border-bottom: 1px solid #ddd;

        & > h2 {
          color: rgba(0, 0, 0, .987);
          margin: -8px 0 16px;
          bottom: -5px;
          font-weight: 400;
        }

        & > p {
          color: rgba(0, 0, 0, .654);
          bottom: -5px;
          margin: -8px 0 20px;
          position: relative;
          font-weight: 400;
          font-size: 14px;
        }
      }

      .dialogTitle {
        margin-right: 1800px;
      }
    }
  }

  .mlt-sidebar {
    width: $sidebar-width;
    color: rgba(0, 0, 0, 0.87) !important;
    font-size: 13px !important;
    border-right: 1.1px solid #d3d3d3;

    mat-list.mlt-sidebar-header {
      padding-top: 0 !important;
      cursor: pointer;

      [mat-list-item] {
        padding: 8px 0 0;
        color: rgba(0, 0, 0, 0.6) !important;

        mat-icon {
          text-align: center;
          font-weight: bold;
        }

        .mat-list-text {
          padding-left: 0;
          font-size: 18px;
        }
      }
    }

    .mlt-sidebar-header + mat-divider {
      // margin: 0 0 10px 0;
    }

    mat-nav-list {
      padding: 0;

      mat-divider {
        margin: 10px 0;
      }

      .mat-list-item:hover {
        background-color: #DAEAFF;

        mat-icon {
          text-align: center;
          color: #282828;
        }

        span {
          color: #282828;
        }
      }

      .mat-list-item:not(:hover) {
        mat-icon {
          text-align: center;
          color: #a3a3a3;
        }

        span {
          color: #646464;
        }
      }

      .mat-list-item {
        mat-icon {
          width: 18px;
          height: 32px;
          padding: 9px;
          line-height: 32px;
          font-size: 18px;
          color: rgba(0, 0, 0, 0.54);
        }

        .mat-list-text {
          font-size: 13px;
          margin-top: 2px;
          color: rgba(0, 0, 0, 0.8);
          padding: 0 16px 0 8px;
        }

        .mat-list-item-content {

        }

        transition: background-color 0.2s ease-in-out;

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }

      .depth-1 {
        mat-icon.empty {
          display: none;
        }

        mat-icon.empty + .mat-list-text {
          font-size: 11px;
          margin-top: 6px;
          color: rgba(0, 0, 0, 0.7);
        }
      }

      .depth-2 {
        padding-left: 10px;
      }

      .depth-3 {
        padding-left: 20px;
      }
    }

    .active:not(.hasChildren) {
      background: rgba(59, 120, 231, 0.2);

      .mat-list-text, mat-icon {
        color: #3b78e7;
      }

      &:hover {
        background: rgba(59, 120, 231, 0.3);
      }
    }

    .active.hasChildren {
      background: rgba(0, 0, 0, 0.05);

      &:hover {
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  mat-list-item, [mat-list-item] {
    position: relative;

    .mat-list-item {
      height: 100% !important;
    }
  }

  [mat-ripple] {
    .mat-ripple-background {
      cursor: pointer;
    }
  }

  .mat-sidenav-backdrop {
    background: rgba(0, 0, 0, 0.2) !important;
  }

  .notification {
    text-align: center;
    background: #fff9ea;
    color: #4078c0;
    padding: 10px 24px;
    z-index: 101;
    position: relative;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .1), 0 3px 3px -2px rgba(0, 0, 0, .1), 0 1px 8px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .1), 0 3px 3px -2px rgba(0, 0, 0, .1), 0 1px 8px 0 rgba(0, 0, 0, .06);

    .message {
      font-weight: bold;
      font-size: 15px;
    }

    .createdAt {
      font-size: 12px;
      margin-left: 10px;
      font-weight: bold;
      opacity: 0.9;
    }

    .confirm {
      text-decoration: none;
      color: #4078c0;
      opacity: 0.9;
      margin-left: 10px;
      cursor: pointer;
      font-size: 14px;
    }
  }

}

/***********************************************************************************************************************/

//stt file-management
.mlt-toolbar {
  background-color: white;
  border-bottom: 1.1px solid #d3d3d3;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;

  .mlt-toolbar-title {
    letter-spacing: .005em;
    font: 400 18px/35px Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 600 !important;
  }

  .go-back {
    background-color: #FFFFFF;
    margin-left: 0px !important;

    mat-icon {
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }
}

.mlt-select {
  font-size: 14px;
  width: 10%;
  margin: 15px;
}

.mlt-mainbody {
  background: white;
  height: calc(100% - 64px);
  overflow: auto;
}

.mlt-input {
  margin-left: 15px;
  font-size: 14px;
}

.mlt-label {
  cursor: default;
  display: inline-block;
  margin-right: 5px;
  color: #3367d6;
  font-size: 14px;
  margin-left: 12px;
}

.mlt-label2 {
  cursor: default;
  margin: 12px 0 6px 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.mlt-text-area-field {
  width: 100%;
}

.text-area-field .text-area {
  height: 500px;
  border: 1px solid #d3d3d3;
}

.mlt-text-area {
  height: 150px;
  width: 90%;
  border: 1px solid #d3d3d3;
}

//stt transcription quality-assurance
.mlt-download {
  margin-bottom: 10px;
}

.mlt-transcript-bottom {
  width: 100%;
  border: 1px solid #d3d3d3;
}

.mlt-transcript-left-select {
  width: 50%;
  float: left;
  border-right: 1px solid #d3d3d3;
  margin-right: 20px;

  mat-select {
    font-size: 14px;

    .mat-select-value {
      font-weight: bold;
    }
  }
}

.mlt-transcript-right-select {
  width: 50%;
  float: left;

  mat-select {
    font-size: 14px;

    .mat-select-value {
      font-weight: bold;
    }
  }
}

.mlt-subtitle {
  color: rgba(0, 0, 0, .654);
  font-size: 14px;
  margin-bottom: 15px;
}

.mlt-title {
  font-size: 24px;
  font-weight: 400;
  margin: 0px;

  span {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  }
}

.mlt-card {
  margin-bottom: 14px;
}

.mlt-tip {
  border-top: 1px solid #eee;
  margin-top: 20px;

  p {
    cursor: pointer;
    font-size: 16px;
    color: #333;
    margin: 15px 0 10px 0;

    md-icon {
      vertical-align: -4px;
      font-size: 20px;
      color: #333;
    }

    small {
      margin-left: 10px;
      color: #777;
      font-size: 13px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #555;

    li {
      line-height: 160%;

      b {
        width: 124px;
        color: #333;
        display: inline-block;
      }
    }
  }
}

.mlt-left-select {
  width: 45%;
  float: left;
  border-right: 1px solid #d3d3d3;
  margin-right: 20px;
}

.mlt-right-select {
  width: 53%;
  float: left;
}

.mlt-button {
  margin-bottom: 10px;
  margin-right: 10px;
}

.mlt-not-disabled {
  color: #2979ff;
}

.mlt-workspace {
  margin-right: 10px;
}

.mlt-workspace .mat-select {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  height: 29px;
  outline: 0;
}

.mlt-workspace .mat-select-value-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  float: right;
  margin-right: 7px;
}

.mlt-workspace .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
  color: white;
}

.mlt-workspace .mat-form-field-underline {
  //position: absolute;
  //height: 0px;
  //width: 0px;
}

.mat-toolbar.mat-primary {
  background: #2979f4;
}

.mat-toolbar-multiple-rows {
  min-height: 50px !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 50px !important;
}

.mat-card-subtitle,
.mat-card-content ol li {
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.9);
}

.mat-card-content > :last-child:not(.mat-card-footer),
.mat-card > :last-child:not(.mat-card-footer) {
  margin: 0;
}

.mat-button, .mat-flat-button, .mat-icon-button,
.mat-stroked-button {
  background: #2979f4;
  color: #fff;
}

.mat-button .mat-button-wrapper > *,
.mat-fab .mat-button-wrapper > *,
.mat-flat-button .mat-button-wrapper > *,
.mat-icon-button .mat-button-wrapper > *,
.mat-mini-fab .mat-button-wrapper > *,
.mat-raised-button .mat-button-wrapper > *,
.mat-stroked-button .mat-button-wrapper > * {
  color: #fff !important;
}

.mat-button .mat-button-wrapper > *,
.mat-fab .mat-button-wrapper > *,
.mat-flat-button .mat-button-wrapper > *,
.mat-icon-button .mat-button-wrapper > *,
.mat-mini-fab .mat-button-wrapper > *,
.mat-raised-button .mat-button-wrapper > *,
.mat-stroked-button .mat-button-wrapper > * {
  color: rgb(41, 121, 244);
}

.mat-paginator-range-actions {
  .ng-star-inserted {
    background: #fff;

    path {
      color: #2979f4;
    }

  }

  .mat-icon-button {
    background: #fff;

    path {
      color: #2979f4;
    }
  }

}

ng-reflect-ng-class.active {
  background: rgb(41, 121, 244);
  color: #fff;
}

.mat-card-actions .mat-button:first-child,
.mat-card-actions .mat-raised-button:first-child {
  width: 100%;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  font-size: 24px;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text,
.mat-list-base .mat-list-item.mat-list-option .mat-list-item-content .mat-list-text,
.mat-list-base .mat-list-option.mat-list-item-with-avatar .mat-list-item-content .mat-list-text,
.mat-list-base .mat-list-option.mat-list-option .mat-list-item-content .mat-list-text {
  padding: 0;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  font-size: 14px;
}

.mat-list-base .mat-list-item .mat-list-text > *,
.mat-list-base .mat-list-option .mat-list-text > * {
  font-weight: unset !important;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary:last-child {
  margin: 0 0 0 10px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 56px !important;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: #fff;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  margin: 0 0 0 10px !important;
}

mat-cell:first-of-type,
mat-footer-cell:first-of-type,
mat-header-cell:first-of-type {
  padding-left: 10px !important;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  letter-spacing: 1px;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: #a5d215;
}

.mat-calendar-controls {
  .mat-calendar-previous-button, .mat-calendar-next-button {
    background: #fff;
  }

  .mat-calendar-period-button {
    background: #fff;
    color: #000;
  }

}

.mat-datepicker-toggle {
  .mat-icon-button {
    background: #a5d215;

  }

}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
  width: 100%;
}

.mat-button {
  background: #52627b;
  font-size: 13px;
  font-weight: 600;

  .mat-button-wrapper {
    > * {
      line-height: 26px;
    }
  }
}

.mat-raised-button {
  background: #52627b;
  color: white;
  font-size: 13px;
  font-weight: 600;

  .mat-button-wrapper {
    > * {
      line-height: 26px;
    }
  }
}

.mat-button-toggle {
  background-color: lightsteelblue;
  color: lightslategray;

  .mat-icon {
    color: lightslategray;
  }
}

.mat-button-toggle-checked {
  background-color: #52627b;
  color: aliceblue !important;

  .mat-icon {
    color: aliceblue;
  }
}

.mat-button-toggle-label-content {
  line-height: 40px !important;
  padding: 0 15px !important;
}

.cancel-btn {
  background: #fbfbfb;
  color: black;
  font-size: 13px;
  font-weight: 500;
}

.margin-btn {
  margin-left: 10px;
  margin-right: 10px;
}

.mat-toolbar .title {
  font-weight: 600 !important;
}
