<div class="m2u-root" fxLayout="row">
  <!-- for Other Components -->
  <div class="m2u-layout" fxFlex>

    <!-- body -->
    <mat-sidenav-container class="m2u-sidenav-main">
      <!-- top navi container -->
      <div class="m2u-main-container">
        <!-- top navi -->
        <mat-toolbar class="m2u-topnav" color="primary" [hidden]="hasNoLayout">
          <div class="m2u-brand" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
            <!-- 사이드 메뉴 버튼 삭제 (2019_03_08) -->
            <!--<mat-icon (click)="sideNav.toggle()">menu</mat-icon>-->
            <span class="m2u-brand-title" fxFlex="none" (click)="goHome()">MAUM.AI</span>
          </div>

          <div fxFlex>

          </div>

          <div class="m2u-tools" fxFlex="none" fxLayout="row" fxLayout-align="end center">
            <div fxFlex>
              <div style="padding-right: 10px">
                <button mat-button mat-stroked-button color="basic" (click)="refreshSignOutTime()">
                  {{autoSignOutSec | secondsToTime}}
                  <i class="material-icons">history</i>
                </button>
              </div>
            </div>

            <mat-icon fxFlex="none" style="padding-top: 9px" [matMenuTriggerFor]="matMenu" (click)="setCurrentUser()">
              account_circle
            </mat-icon>
            <mat-menu #matMenu="matMenu">
              <button mat-menu-item>
                <span style="font-weight:bolder;" (click)="profile()">
                  <ng-container *ngIf="user != null">
                    {{user.username}}님
                  </ng-container>
                </span>
              </button>
              <button mat-menu-item (click)="signOut()">
                <span>Logout</span>
              </button>
            </mat-menu>
          </div>
        </mat-toolbar>

        <!-- contents -->
        <div fxLayout="row">
          <!-- 1 depth -->
          <mat-nav-list style="border-right: 1.1px solid #d3d3d3; position:relative" [hidden]="hasNoLayout">
            <ng-container *ngFor="let item of tree; let i = index">
              <ng-container *ngIf="item.visible === true">
                <mat-divider *ngIf="item.divider"></mat-divider>
                <!-- 라우터 링크가 존재하는 경우 -->
                <mat-list-item *ngIf="item.routerLink"
                               id="sideNaviInside_{{i}}"
                               name="sideNavi"
                               mat-ripple
                               [routerLink]="item.routerLink"
                               [routerLinkActive]="'active'"
                               [ngClass]="item.selected ? 'active' : ''"
                               (mouseenter)="mouseEnterNavList(item)"
                               (mouseleave)="mouseLeaveNavList()">
                  <!--
                               // (click)="linkSetting(item.routerLink, 'sideNavi', i)"
                                      (mousedown)="goto(navs, item, i)"
                  -->
                  <mat-icon>{{item.icon}}</mat-icon>
                  <span style="width: 150px;padding-left: 5px;"
                        [hidden]="hideNavDepthFlag">{{item.label}}</span>
                </mat-list-item>
                <!-- URL인 경우-->
                <mat-list-item *ngIf="item.url"
                               id="sideNaviExternal_{{i}}"
                               name="sideNavi"
                               mat-ripple
                               onClick="window.open(item.url, item.target)"
                               [ngClass]="item.selected ? 'active' : ''"
                               (mouseenter)="mouseEnterNavList(item)"
                               (mouseleave)="mouseLeaveNavList()">
                  <!--
                                      (mousedown)="goto(navs, nav, i)"
                  -->
                  <mat-icon>{{item.icon}}</mat-icon>
                  <span style="width: 150px;padding-left: 5px;"
                        [hidden]="hideNavDepthFlag">{{item.label}}</span>
                </mat-list-item>
                <!-- 링크는 없고, 자식 메뉴만 존재하는 경우 -->
                <mat-list-item
                  *ngIf="item.url == null && item.routerLink == null && item.children?.length > 0"
                  id="sideNaviMenu_{{i}}"
                  name="sideNavi"
                  mat-ripple
                  (click)="select(item, 'sideNavi', i)"
                  (mouseenter)="mouseEnterNavList(item)"
                  (mouseleave)="mouseLeaveNavList()"
                  [ngClass]="item.selected ? 'active' : ''">
                  <mat-icon>{{item.icon}}</mat-icon>
                  <span style="width: 150px;padding-left: 5px;"
                        [hidden]="hideNavDepthFlag">{{item.label}}</span>
                </mat-list-item>
              </ng-container>
            </ng-container>
            <div style="width: 100%; height: 30px; cursor:pointer;">
              <i *ngIf="hideNavDepthFlag" class="material-icons" style="position: absolute;right: 0px;bottom: 0px;"
                 (mouseenter)="toggleMenu()">
                arrow_forward
              </i>
              <i *ngIf="!hideNavDepthFlag" class="material-icons" style="position: absolute;right: 0px;bottom: 0px;"
                 (mouseenter)="toggleMenu()">
                arrow_back
              </i>
            </div>
          </mat-nav-list>

          <!-- 2 depth-->
          <ng-container *ngIf="focusTree?.children.length > 0">
            <div class="m2u-sidebar" fxFlex="none">
              <mat-list class="m2u-sidebar-header">
                <a mat-list-item>
                  <mat-icon>{{focusTree?.icon}}</mat-icon>
                  <span mat-line>{{focusTree?.label}}</span>
                </a>
              </mat-list>

              <mat-divider></mat-divider>

              <app-sidebar [siblingMenuItems]="focusTree?.children"
                           [root]="sidebarChild"
                           [parentPath]="parentPath +'/' + currentSideBar['path'] + 'unused'"
                           [dialogModelExist]="dialogModelExist"></app-sidebar>
            </div>
          </ng-container>

          <!-- nested component... -->
          <div fxFlex class="m2u-main" [hidden]="isLoading" (mouseenter)="mouseEnterContent()">
            <router-outlet></router-outlet>
          </div>

          <!-- loading... -->
          <div class="rolling" fxFlex [hidden]="!isLoading"></div>
        </div>

      </div>
      <div [hidden]="hasNoLayout">
        <pre>
          {{current | prettyjson}}
        </pre>
        <pre>
          {{currentPathTree | prettyjson}}
        </pre>
      </div>

    </mat-sidenav-container>
  </div>
</div>
