.itfi-test {
  margin-left: 40px;
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
}

.itfi-test .first {
  width: 301px;
  float: left;
}

.itfi-test .second {
  width: 310px;
  float: left;
}

.itfi-test .arrow {
  margin-left: 5px;
  width: 100px;
}

.itfi-test .result-icon {
  float: left;
}

.itfi-test .third {
  float: left;
  width: 450px;
}

.itfi-test .steps {
  height: 700px;
  width: 300px;
  float: left;
  border: 1px solid #d3d3d3;
  overflow-y: auto;
}

.itfi-test .itfi-test-title {
  display: flex;
  margin-top: 13px;
}

.itfi-test .itfi-test-title .used-icon-text {
  color: #2979ff;
}

.itfi-test .used-text {
  margin-left: 7px;
  color: #ff4081;
}

.itfi-test .steps .step-number {
  width: 0 !important;
  font-size: 15px !important;
}

.itfi-test .steps .step-text {
  width: 90%;
  text-overflow: ellipsis;
}

.itfi-test .steps .step-run-style {
  width: 24px !important;
  font-size: 16px !important;
}

.itfi-test .steps .step-run-style-text {
  margin-left: 7px;
}

.itfi-test .steps .step-type {
  color: #a1a1a1;
  font-size: 13px;
}

.itfi-test .steps .step-category-length {
  font-size: 13px;
  color: #a1a1a1;
}

.itfi-test .steps .step-run-style-icon {
  cursor: default;
}

.itfi-test .steps .step-category-length-icon {
  color: #297A80;
  cursor: default;
}

.itfi-form {
  float: left;
  margin-left: 20px;
}

.itfi-form .mat-list-item {
  margin-top: 25px;
}

.itfi-form .mat-list-item .mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 270px;
}

.itfi-test .result-icon {
  float: left;
  font-size: 98px !important;
  margin-top: 207px !important;
  color: #2979ff;
}

.itfi-test .itfi-test-result-skill {
  float: left;
  width: 400px;
  height: 400px;
  overflow-y: auto;
  border: 1px solid #d3d3d3
}

.itfi-test .itfi-test-result-nlu {
  float: left;
  width: 400px;
  height: 400px;
  overflow-y: auto;
  margin-top: 100px;
  border: 1px solid #d3d3d3
}
