<app-tools *ngIf="itfi" [actions]=actions [name]="'Test: '+itfi.name" [goBack]="backPage"
           [showMoreVert]=false></app-tools>

<mat-sidenav-container class="m2u-mainbody">
  <div class="itfi-test">
    <div class="first">
      <div class="itfi-test-title">
        <mat-icon class="used-icon-text">low_priority</mat-icon>
        <span class="used-icon-text">Steps</span>
      </div>
      <mat-list class="steps">
        <mat-list-item *ngFor="let step of itfp.steps;" name="step">
          <mat-chip mat-list-icon color="accent" class="step-run-style" selected="true">
            <a class="step-run-style-text">{{step.stepRunStyle}}</a>
          </mat-chip>
          <span mat-list-icon class="step-number">{{step.seq}}.</span>
          <span class="step-text" mat-line>{{step.name}}</span>

          <span *ngIf="step.type === 'CLM_DNN_CLASSIFIER'">
                    {{step.dnn_cl_mod.cut_coefficient.toFixed(3)}}
        </span>

          <a mat-icon-button *ngIf="step.run_style === 'IFC_SKILL_FOUND_RETURN'">
            <mat-icon class="step-run-style-icon">keyboard_return</mat-icon>
          </a>

          <a mat-icon-button *ngIf="step.run_style ==='IFC_SKILL_FOUND_COLLECT_HINTS'
                || step.run_style === 'IFC_HINT'">
            <mat-icon>arrow_downward</mat-icon>
          </a>

          <a mat-icon-button class="step-category-length"
             [hidden]="step.categories.length === 0 || step.categories[0] === ''">
            <mat-icon class="step-category-length-icon">import_contacts</mat-icon>
            {{step.categories.length}}
          </a>

          <div class="step-type" mat-line>{{step.stepType}}</div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="second">
      <mat-list class="itfi-form">
        <form [formGroup]="utterForm">
          <mat-list-item class="mat-list-item">
            <mat-form-field>
              <input class="input-size" matInput required
                     formControlName="utter" [placeholder]="'Utter'" (keyup)="isValid()"/>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item class="mat-list-item">
            <mat-form-field>
              <input class="input-size" matInput required
                     formControlName="lang" [placeholder]="'Language'"/>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item class="mat-list-item">
            <mat-form-field>
              <mat-select [placeholder]="'Input Type'" formControlName="input_type"
                          (selectionChange)="isValid()">
                <mat-option *ngFor="let inputType of inputTypes" [value]="inputType">
                  {{inputType}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>


          <mat-list-item class="mat-list-item">
            <button mat-raised-button color="primary" (click)="submit()"
                    [disabled]="testButtonFlag">
              Test
            </button>
          </mat-list-item>
        </form>
      </mat-list>
    </div>

    <ng-container *ngIf="!resultFlag">
      <div class="arrow">
        <mat-icon class="result-icon">arrow_forward</mat-icon>
      </div>

      <div class="third">
        <div class="itfi-test-title">
          <mat-icon class="used-icon-text">visibility</mat-icon>
          <span class="used-icon-text">Result Skill</span>
          <span class="used-text">: [{{findSkill?.skill || ""}}] on {{findSkill?.step}} </span>
        </div>
        <div class="itfi-test-title">
          <mat-icon class="used-icon-text">visibility</mat-icon>
          <span class="used-icon-text">Result Hints</span>
          <span class="used-text">:</span>
          <span class="used-text" *ngIf="findHints.length == 0">Not Found</span>
          <span class="used-text" *ngFor="let hint of findHints">
            [{{hint.skill}}] on {{hint.step || ""}}, </span>
        </div>
        <mat-list class="test-result">
          <pre [innerHTML]="resultSkill | prettyjson"></pre>
        </mat-list>
        <div class="itfi-test-title">
          <mat-icon class="used-icon-text">receipt</mat-icon>
          <span class="used-icon-text">Result NLU</span>
        </div>
        <mat-list class="test-result">
          <pre [innerHTML]="resultNlu | prettyjson"></pre>
        </mat-list>
      </div>
    </ng-container>

  </div>
</mat-sidenav-container>
