<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <button mat-button class="go-back" (click)="back('')">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mlt-toolbar-title"> Morpheme : {{dictionary?.name}}</span>
  </div>
  <button mat-button *ngFor="let action of actions" (click)="doAction(action)"
          [disabled]="action.disabled" [hidden]="action.hidden" class="mbutton" [id]="action.type">
    <mat-icon
      [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.icon}}</mat-icon>
    <span
      [ngClass]="action.disabled ? 'mat-button-disabled':'mat-button-enable'">{{action.text}}</span>
  </button>
  <div *ngIf="bMigration">
    <button mat-button (click)="getNLP()">
      <mat-icon
        [ngClass]="mactions.disabled ? 'mat-button-disabled':'mat-button-enable'">{{mactions.icon}}</mat-icon>
      <span
        [ngClass]="mactions.disabled ? 'mat-button-disabled':'mat-button-enable'">{{mactions.text}}</span>
    </button>
  </div>
  <button mat-button (click)="nlpTest()" class="mbutton">
    <mat-icon style="color: #EB675E">forward</mat-icon>
    <span style="color: #EB675E">Test</span>
  </button>

</mat-toolbar>

<input type="file" id="selectFile" #uploadFile multiple="false" (change)="getData($event)"
       hidden="true"/>


<div class="mlt-mainbody">
  <section class="table-section">
    <mat-chip-list>
      <mat-chip *ngFor="let dic of dictionaries" id="{{dic.name}}" (click)="selectFilter(dic)">
        {{dic.name}}
      </mat-chip>
    </mat-chip-list>

    <span class="info">
    Only non-null values will be saved.
    </span>
    <ag-grid-angular
      #agGrid style="width: 95%; height: 500px;" class="ag-theme-balham"
      id="myGrid"
      [rowData]="row_data"
      [enableColResize]="true"
      [enableCellChangeFlash]="true"
      [gridOptions]="gridOptions">
    </ag-grid-angular>
    <div class="mlt-tip" [hidden]="!editable" style="margin-left: 10px;">
      <p>
        <mat-icon>help_outline</mat-icon>
        Add Tip
      </p>
      <ul>
        <li>It is added as the next item in the selected row. </li>
        <li>If no row is selected, it is added to the last line in a morpheme dictionary.</li>
      </ul>
    </div>
  </section>
</div>
