<button mat-raised-button color="accent" (click)="downloadHzcBackup()">Download Hazelcast Data</button>
<button mat-button color="accent" type="button" (click)="hiddenFileButton.click()">
  <form hidden="true">
    <input #hiddenFileButton id="file" type="file" (change)="uploadHzcInitData()">
  </form>
  <mat-icon>file_upload</mat-icon>
  <span>Upload Hazelcast Data</span>
</button>
