/deep/ .main {
  width: 1500px;
}

.itfi-upsert {
  margin-top: 10px;
  display: inline-flex;

  .itfi-left {
    width: 350px;
    float: left;
  }

  .itfi-right {
    width: 350px;
    float: left;
  }

  .mat-list-item {
    margin-top: 25px;
  }

  .mat-list-item-select {
    margin-top: 25px;
  }

  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }

  .example-radio-button {
    margin: 5px;
  }

  .example-selected-value {
    margin: 15px 0;
  }

  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 270px;
  }

  .itfi-upsert-button {
    margin-left: 20px;
    margin-top: 200px;

    .cancel-button {
      margin-left: 10px;
    }
  }

  margin-left: 10px;
  //padding: 15px 35px !important;
  height: 800px;

  .input-size {
    width: 270px;
  }

  .input-size-description {
    width: 270px;
    height: 70px;
  }


  .itfi-upsert-classifier-left {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 20px;
    width: 310px;
    height: 500px;
    float: left;
    overflow-y: auto;

    .undefined-classifier {
      margin-top: 72px;
      vertical-align: middle;
      text-align: center;
      color: #d3d3d3;
    }

    .list-left-item {
      width: 260%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .list-right-item {
      color: #cccccc;
    }

    .right-arrow-icon {
      min-width: 24px;
      color: #cccccc;
    }

    .right-delete-icon {
      color: #2979ff;
    }

    .list-item {
      height: 40px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.inputdemoErrors .inputErrorsApp {
  min-height: 48px;
}

.inputdemoErrors mat-form-field > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}

.go-back {
  background-color: #FFFFFF;
  margin-left: 0px !important;

  mat-icon {
    color: rgba(0, 0, 0, 0.87) !important;
  }
}

.cancel-btn{
  background: #fbfbfb;
  color: black;
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}

