<p-growl [(value)]="msgs"></p-growl>
<div class="default-content-wrap">
  <div class="default-content-container">
    <div class="content-header">
      <div class="content-header-title">
        <div class="header-title">Tasks</div>
        <div class="progress-content-wrap train-progress-bar" *ngIf="visibleTraining">
          <div class="progress-content-title">Train Progress:</div>
          <mat-progress-bar [value]="value" styleClass="progress-content-bar"></mat-progress-bar>
          <div class="progress-content-status">{{value}}%</div>
          <div class="title-button-wrap">
            <button mat-raised-button color="primary" class="btn-title" *ngIf="isTraining"
                    (click)="stopTraining()">Cancel
            </button>
          </div>
        </div>
        <div class="title-button-wrap">
          <button mat-raised-button color="primary" class="btn-title" (click)="trainOpen()">
            <i class="material-icons">school</i>Training
          </button>
        </div>
      </div>
    </div>

    <div class="common-dialog-content content-wrap content-grid">
      <div class="content-container common-dialog-wrap">
        <!--default task-->
        <div class="content-grid-wrap task-default"
             [ngClass]="{'task-canvas': (selectedTask === null) && (selectedLink === null)}">
          <div class="common-dialog-container content-task-wrap">
            <div class="task-title-wrap">
              <div class="task-title">Task Canvas</div>
              <div class="task-btn-wrap">
                <i class="material-icons btn-add" (click)="createNewTask()">add</i>
                <i class="material-icons btn-add-remove" (click)="removeTask()">remove</i>
              </div>
            </div>
            <div #taskDialogWrapper class="dialog-content-wrap"></div>
            <div class="task-global-wrap">
              <button mat-button mat-raised-button class="btn-global"
                      [ngClass]="{'btn-global-on' : ((selectedTask!==null) && (selectedTask.taskName === globalTask.taskName))}"
                      (click)="toggleGlobalTask()">
                Global Task
                <i class="material-icons">&#xE894;</i>
              </button>
            </div>
          </div>
        </div>

        <!--new task-->
        <div class="content-grid-wrap grid-task" *ngIf="selectedTask!==null"
             [ngStyle]="{display: (selectedTask !== null && (selectedTask.taskName !== globalTask.taskName))?'inline-block':'none'}">
          <div class="common-dialog-container">
            <div class="task-property-wrap">
              <div class="task-title-wrap">
                <div class="task-title">Task Property</div>
              </div>
              <div class="task-property">
                <input type="text" placeholder="Task Name *"
                       [(ngModel)]="selectedTask.taskName"
                       (ngModelChange)="onTaskNameChanged()"
                       (blur)="saveTask()" required>
                <div
                  [innerHTML]="selectedTask.taskGoal === '' ? 'Task Goal *' : (selectedTask.taskGoal | scriptTransform)"
                  (click)="openScriptEditModal('Task Goal', selectedTask.taskGoal, false)"></div>
              </div>
            </div>
            <div class="task-response-wrap">
              <div class="task-title-wrap">
                <div class="task-title">Task Response</div>
              </div>
              <div class="task-content-container task-response-container task-response">
                <div class="response-event-wrap">
                  <div class="response-event-btn event_on"
                       (click)="eventClick($event, RESPONSE_EVENT.FIRST)">Start Event
                  </div>
                  <div class="response-event-btn"
                       (click)="eventClick($event, RESPONSE_EVENT.SECOND)">Event
                  </div>
                </div>
                <!--first Event-->
                <div class="response-wrap event-first">
                  <div class="response-container response-tree response-tree-wrap">
                    <div class="dialog-title-wrap">
                      <div class="dialog-title"></div>
                      <div class="tree-add">
                        <i class="material-icons" (click)="addTaskResponse(true, false)">add</i>
                        <i class="material-icons"
                           (click)="removeTaskResponse(true, false)">remove</i>
                      </div>
                    </div>
                    <div class="dialog-tree tree-content-wrap tree-table"
                         (click)="clickTreeWrapperBackground($event)">
                      <p-treeTable #startEventTreeTable
                                   [value]="selectedTask.startEvent | taskStartEventTreeNode:true:false"
                                   selectionMode="single"
                                   [(selection)]="selectedNode"
                                   (onNodeSelect)="onNodeSelected($event)">
                        <p-column>
                          <ng-template let-col let-node="rowData" pTemplate="body">
                            <div class="response-tree-input">
                              <input [(ngModel)]="node.data.name" type="text" disabled>
                            </div>
                          </ng-template>
                        </p-column>
                      </p-treeTable>
                    </div>
                  </div>
                  <div class="response-container response-input-wrap">
                    <div class="response-condition response-content" style="height: 100%"
                         *ngIf="selectedNode!==null && selectedNode!==undefined">
                      <div class="common-input modal-input ui-g">
                        <div class="ui-g-12">
                          <div class="task-condition"
                               [innerHTML]="selectedNode.data.original.startEventCondition === '' ? 'Condition *' : (selectedNode.data.original.startEventCondition | scriptTransform)"
                               (click)="openScriptEditModal('Condition', selectedNode.data.original.startEventCondition, true)"></div>
                        </div>
                      </div>
                      <div class="common-input modal-input ui-g task-action">
                        <div class="ui-g-12"
                             (click)="openScriptEditModal('Action', selectedNode.data.original.startEventAction, true)">
                          <div
                            [innerHTML]="selectedNode.data.original.startEventAction === '' ? 'Action' : (selectedNode.data.original.startEventAction | scriptTransform)"></div>
                        </div>
                      </div>
                    </div>
                    <div class="response-utterance response-content"
                         style="height: 100%"
                         *ngIf="selectedNode && selectedNode!==null">
                      <div class="common-input modal-input ui-g input-dropdown">
                        <div class="ui-g-12">
                          <p-dropdown
                            styleClass="gray-dropdown"
                            [style]="{'width':'100%'}"
                            [options]="intentListOption"
                            (onChange)="intentChanged(true)"
                            [(ngModel)]="selectedNode.data.original.intentId">
                          </p-dropdown>
                        </div>
                      </div>
                      <div class="common-input modal-input ui-g">
                        <textarea class="task-textarea" cols="30" rows="10"
                                  [(ngModel)]="selectedNode.data.original.extraData"
                                  (blur)="extraDataChanged(true)"
                                  placeholder="Extra Data"></textarea>
                      </div>
                      <div class="add-utterance">
                        <i class="material-icons" (click)="addUtterance(true)">add</i>
                      </div>
                      <div class="common-input modal-input ui-g input-utterance">
                        <div class="ui-g-12 utterance-info"
                             *ngFor="let utter of selectedNode.data.original.startEventUtterData;let idx=index;">
                          <i class="material-icons" (click)="removeUtterance(idx, true)">remove</i>
                          <input [ngModel]="utter.startEventUtterData"
                                 (change)="utterChanged(idx, $event.target.value, true)"
                                 type="text"
                                 placeholder="utterance" required>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--second Event-->
                <div class="response-wrap event-second">
                  <div class="response-container response-tree response-tree-wrap">
                    <div class="dialog-title-wrap">
                      <div class="dialog-title"></div>
                      <div class="tree-add">
                        <i class="material-icons " (click)="addTaskResponse(false, false)">add</i>
                        <i class="material-icons "
                           (click)="removeTaskResponse(false, false)">remove</i>
                      </div>
                    </div>
                    <div class="dialog-tree tree-content-wrap tree-table"
                         (click)="clickTreeWrapperBackground($event)">
                      <p-treeTable #eventTreeTable
                                   [value]="selectedTask.event | taskEventTreeNode:false:false"
                                   selectionMode="single"
                                   [(selection)]="selectedNode"
                                   (onNodeSelect)="onNodeSelected($event)">
                        <p-column>
                          <ng-template let-col let-node="rowData" pTemplate="body">
                            <div class="response-tree-input">
                              <input [(ngModel)]="node.data.name" type="text" disabled>
                            </div>
                          </ng-template>
                        </p-column>
                      </p-treeTable>
                    </div>
                  </div>
                  <div class="response-container" style="height: 100%">
                    <div class="response-intention response-content"
                         *ngIf="selectedNode!==null && selectedNode!==undefined">
                      <div class="common-input modal-input ui-g input-dropdown">
                        <div class="ui-g-12">
                          <p-dropdown
                            styleClass="custom-dropdown gray-dropdown"
                            [style]="{'width':'100%'}"
                            [options]="intentListOption"
                            (onChange)="intentChanged(false)"
                            [(ngModel)]="selectedNode.data.original.intentId">
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                    <div class="response-condition response-content" style="height: 100%"
                         *ngIf="selectedNode !== null && selectedNode !== undefined">
                      <div class="common-input modal-input ui-g">
                        <div class="ui-g-12">
                          <div class="task-condition"
                               [innerHTML]="selectedNode.data.original.eventCondition === '' ? 'Condition *' : (selectedNode.data.original.eventCondition | scriptTransform)"
                               (click)="openScriptEditModal('Condition', selectedNode.data.original.eventCondition, false)"></div>
                        </div>
                      </div>
                      <div class="common-input modal-input ui-g task-action">
                        <div class="ui-g-12"
                             (click)="openScriptEditModal('Action', selectedNode.data.original.eventAction, false)">
                          <div
                            [innerHTML]="selectedNode.data.original.eventAction === '' ? 'Action' : (selectedNode.data.original.eventAction | scriptTransform)"></div>
                        </div>
                      </div>
                      <textarea class="task-textarea" cols="30" rows="10"
                                [(ngModel)]="selectedNode.data.original.extraData"
                                (blur)="extraDataChanged(false)"
                                placeholder="Extra Data"></textarea>
                    </div>
                    <div class="response-utterance response-content"
                         style="height: 100%"
                         *ngIf="selectedNode!==null && selectedNode!==undefined">
                      <div class="common-input modal-input ui-g input-dropdown">
                        <div class="ui-g-12">
                          <p-dropdown
                            styleClass="custom-dropdown gray-dropdown"
                            [style]="{'width':'100%'}"
                            [options]="intentListOption"
                            (onChange)="intentChanged(false)"
                            [(ngModel)]="selectedNode.data.original.intentId">
                          </p-dropdown>
                        </div>
                      </div>
                      <textarea class="task-textarea" cols="30" rows="10"
                                [(ngModel)]="selectedNode.data.original.extraData"
                                (blur)="extraDataChanged(false)"
                                placeholder="Extra Data"></textarea>
                      <div class="add-utterance">
                        <i class="material-icons" (click)="addUtterance(false)">add</i>
                      </div>
                      <div class="common-input modal-input ui-g input-utterance">
                        <div class="ui-g-12 utterance-info"
                             *ngFor="let utter of selectedNode.data.original.eventUtterData;let idx=index;">
                          <i class="material-icons" (click)="removeUtterance(idx, false)">remove</i>
                          <input [ngModel]="utter.eventUtterData"
                                 (change)="utterChanged(idx, $event.target.value, false)"
                                 type="text"
                                 placeholder="utterance" required>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--global task-->
        <div class="content-grid-wrap grid-task global-task"
             *ngIf="selectedTask!==null"
             [ngStyle]="{display: (selectedTask !== null && (selectedTask.taskName === globalTask.taskName))?'inline-block':'none'}">
          <div class="common-dialog-container">
            <div class="task-property-wrap">
              <div class="task-title-wrap">
                <div class="task-title">Task Property</div>
              </div>
              <div class="task-property">
                <input type="text" value="Global_Task" disabled>
              </div>
            </div>
            <div class="task-response-wrap">
              <div class="task-title-wrap">
                <div class="task-title">Task Response</div>
              </div>
              <div class="task-content-container task-response-container">
                <div class="response-wrap">
                  <div class="response-container response-tree">
                    <div class="dialog-title-wrap">
                      <div class="dialog-title"></div>
                      <div class="tree-add">
                        <i class="material-icons " (click)="addTaskResponse(true, true)">add</i>
                        <i class="material-icons "
                           (click)="removeTaskResponse(true, true)">remove</i>
                      </div>
                    </div>
                    <div class="dialog-tree tree-content-wrap tree-table"
                         (click)="clickTreeWrapperBackground($event)">
                      <p-treeTable #globalTreeTable
                                   [value]="globalTask.startEvent | taskStartEventTreeNode:true:true"
                                   selectionMode="single"
                                   [(selection)]="selectedNode"
                                   (onNodeSelect)="onNodeSelected($event)">
                        <p-column>
                          <ng-template let-col let-node="rowData" pTemplate="body">
                            <div class="response-tree-input">
                              <input [(ngModel)]="node.data.name" type="text" disabled>
                            </div>
                          </ng-template>
                        </p-column>
                      </p-treeTable>
                    </div>
                  </div>
                  <div class="response-container" style="height: 100%">
                    <div class="response-condition response-content" style="height: 100%"
                         *ngIf="selectedNode!==null && selectedNode!==undefined">
                      <div class="common-input modal-input ui-g">
                        <div class="ui-g-12">
                          <div class="task-condition"
                               [innerHTML]="selectedNode.data.original.startEventCondition === '' ? 'Condition *' : (selectedNode.data.original.startEventCondition | scriptTransform)"
                               (click)="openScriptEditModal('Condition', selectedNode.data.original.startEventCondition, true)"></div>
                        </div>
                      </div>
                      <div class="common-input modal-input ui-g task-action">
                        <div class="ui-g-12"
                             (click)="openScriptEditModal('Action', selectedNode.data.original.startEventAction, true)">
                          <div
                            [innerHTML]="selectedNode.data.original.startEventAction === '' ? 'Action' : (selectedNode.data.original.startEventAction | scriptTransform)"></div>
                        </div>
                      </div>
                    </div>
                    <div class="response-utterance response-content"
                         style="height: 100%"
                         *ngIf="selectedNode!==null && selectedNode!==undefined">
                      <div class="common-input modal-input ui-g input-dropdown">
                        <div class="ui-g-12">
                          <p-dropdown
                            styleClass="custom-dropdown gray-dropdown"
                            [style]="{'width':'100%'}"
                            [options]="intentListOption"
                            [(ngModel)]="selectedNode.data.original.intentId"
                            optionLabel="name">
                          </p-dropdown>
                        </div>
                      </div>
                      <div class="common-input modal-input ui-g">
                        <textarea class="task-textarea" cols="30" rows="10"
                                  [(ngModel)]="selectedNode.data.original.extraData"
                                  (blur)="extraDataChanged(true)"
                                  placeholder="Extra Data"></textarea>
                      </div>
                      <div class="add-utterance">
                        <i class="material-icons" (click)="addUtterance(true)">add</i>
                      </div>
                      <div class="common-input modal-input ui-g input-utterance">
                        <div class="ui-g-12 utterance-info"
                             *ngFor="let utter of selectedNode.data.original.startEventUtterData;let idx=index;">
                          <i class="material-icons" (click)="removeUtterance(idx, true)">remove</i>
                          <input [ngModel]="utter.startEventUtterData"
                                 (change)="utterChanged(idx, $event.target.value, true)"
                                 type="text"
                                 placeholder="utterance" required>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--popup-->
<div class="task-popup-default-wrap">
  <div class="popup-wrap">
    <div class="popup-container">
      <div class="popup-script">
        <div class="popup-default-container">
          <div class="mat-dialog-title">
            {{scriptInput.key}}
            <button mat-button mat-raised-button [color]="btnScript" (click)="scriptToggle()">
              Script Guide
            </button>
          </div>
          <div class="container">
            <div class="backdrop">
              <div #highlightDiv class="highlights"></div>
            </div>
            <textarea #writeScript rows="10" [(ngModel)]="scriptInput.script"
                      (ngModelChange)="handleInput($event)" (scroll)="handleScroll($event)"
                      [mention]="scriptGuide"
                      [mentionConfig]="{labelKey:'function', mentionSelect: onMentionSelect}"></textarea>
          </div>

          <div class="popup-btn">
            <button class="btn-close" (click)="popupClose()">Close</button>
            <button mat-button mat-raised-button color="primary"
                    (click)="popupSave(scriptInput.script, scriptInput.key, scriptInput.isStartEvent)">
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="popup-script-guide" *ngIf="isScriptGuideOpen">
        <div class="popup-default-container">
          <ul>
            <li *ngFor="let script of scriptGuide">
              <b>{{script.function}}</b>
              <p>{{script.description}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




