/* START Task */
@import "../../dialog-model-common";

#common-dialog-section.task-section {
  min-height: 700px;
}

.task-canvas {
  width: calc(100% - 40px);
}

.grid-task {
  margin-left: 10px;

  .common-dialog-container {
    height: 100%;
  }
}

.task-default {
  .task-title-wrap {
    border: none;
  }

  .content-task-wrap {
    height: 100%;
  }

  .dialog-content-wrap {
    border: $table-main-border;
    width: 100%;
    height: calc(100% - 110px);
    margin: 20px 0;
    border-radius: 15px;
  }

  .new-task-icon {
    background: $main-color;
    color: $C0;
  }

  .btn-global {
    padding: 0 20px;
    border-radius: 20px;
    border: $table-main-border;
    color: $C8;
    font-weight: bold;

    &.btn-global-on {
      background: $main-color;
      border-color: $main-color;
      color: $C0;
    }
  }
}

.common-dialog-content.common-task {
  display: none;
  margin: 0 0 0 10px;
}

.task-content-container {
  padding-top: 7px;
}

//task response
.task-response-wrap {
  height: calc(100% - 260px);
}

.task-response-container {
  height: calc(100% - 34px);
}

.response-event-wrap {
  border-bottom: 1px solid $C1;
}

.response-event-btn {
  display: inline-block;
  font-size: $content-title-font;
  padding: 0 40px 7px 5px;
  cursor: pointer;
}

.event_on {
  color: $main-color;
}

.event-second, .response-condition, .response-utterance, .response-intention {
  display: none;
  width: calc(100% - 2px);
  overflow-y: auto;
}

.response-intention {
  overflow: visible;

  .common-input.input-dropdown {
    overflow: visible;
  }
}

.response-tree {
  border: $table-main-border;
  border-radius: 5px;
  //padding:5px 0;
  height: 100%;

  .dialog-btn-wrap {
    margin-right: 5px;
  }

  .dialog-tree {
    padding: 10px;
    height: calc(100% - 62px);
  }

  .response-tree-input {
    display: inline-block;
  }
}

.response-content {
  padding: 0 8px;

  i {
    border: 1px solid $main-color;
    color: $main-color;
    border-radius: 3px;
  }

  .add-utterance {
    margin-top: 10px;
    text-align: right;
  }

  .utterance-info {
    margin-top: 10px;

    i {
      margin: 3px 2px 0 0;
      vertical-align: top;
    }

    input {
      display: inline-block;
      width: calc(100% - 50px);
      margin-bottom: 0;
    }
  }
}

.global-task {
  .response-wrap {
    height: calc(100% - 40px);
  }

  .task-textarea {
    margin-top: 0;
  }

  .response-condition {
    .task-action {
      height: calc(100% - 144px);
      margin-top: 10px;
    }
  }
}

.script-list-wrap {
  border-radius: 2px;

  ul {
    height: 420px;
    width: 365px;
    background: $C1;
    overflow: scroll;
  }

  li {
    padding: 5px 10px;
  }
}

.utterance-btn-wrap {
  .utter-title {
    float: left;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
  }

  width: 100%;
  height: 30px;
  padding: 5px 0px;
  margin-right: 5px;
  margin-bottom: 8px;
  float: right;
  text-align: right;
}

.utter-input {
  height: 24px;
  border: 1px solid $C2;
  width: calc(100% - 50px);
  border-radius: 2px;
  padding: 0 10px;
  color: $C8;
  display: inline-block;
}

.task-title-wrap {
  width: 100%;
  height: 26px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;

  .task-title {
    font-size: $font-title;
    display: inline-block;
    color: $title-color;
  }

  .task-btn-wrap {
    float: right;
    display: inline-block;

    i {
      font-size: $font-itag;
      padding: 5px;
    }
  }
}

//task property
.task-property-wrap {
  height: 260px;
}

.task-property {
  padding: 15px 0;

  input {
    width: calc(100% - 20px);
  }

  div {
    border: 1px #cccccc solid;
    margin-top: 20px;
    height: 125px;
    width: calc(100% - 20px);
    padding: 5px 10px;
    border-radius: 5px;
    color: #828282;
  }
}

//task response
.task-response-wrap {
  height: calc(100% - 260px);

  .task-condition {
    width: calc(100% - 24px);
    margin-bottom: 10px;
    height: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #828282;
    border: 1px #E2E2E2 solid;
    font-size: 16px;
    overflow: auto;
  }

  .common-input {
    overflow: auto;

    .ui-g-12 {
      padding: 0;
    }
  }

  .task-action {
    //margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #828282;
    border: 1px #E2E2E2 solid;
    height: calc(100% - 144px);
    width: calc(100% - 24px);
    font-size: 16px;
    min-height: 50px;
  }

  .input-dropdown {
    overflow: visible;
  }

  .input-utterance {
    //height:calc(100% - 60px);
    width: 100%;
    display: inline-block;
  }

  .task-textarea {
    min-width: calc(100% - 22px);
    max-width: calc(100% - 22px);
    min-height: 20px;
    max-height: 20px;
    margin-top: 10px;
    border: 1px #E2E2E2 solid;
    font-family: Roboto;
    resize: none;
  }
}

.task-response {
  height: calc(100% - 33px);
}

.response-event-wrap {
  border-bottom: 1px #CCCCCC solid;
  padding: 10px 0;

  .response-event-btn {
    display: inline-block;
    font-size: $font-sub-title;
    margin: 0 40px 0 5px;
    cursor: pointer;
    color: $title-color;
  }

  .event_on {
    color: rgba(41, 121, 255, 0.85);
  }
}

.response-wrap {
  font-size: 0;
  margin: 10px 0;
  height: calc(100% - 80px);
}

.event-first {
  .response-condition {
    .task-action {
      height: calc(100% - 134px);
    }
  }
}

.event-second {
  display: none;
  width: 100%;

  .response-condition {
    .task-action {
      height: calc(100% - 176px);
    }
  }
}

.response-container {
  vertical-align: top;
  display: inline-block;
  width: 49%;
  height: calc(100% - 2px);

  .response-tree-container {
    height: calc(100% - 30px);
    margin: 15px 5px;
    border: $content-title-border;
    border-radius: 5px;
  }

  .tree-add {
    text-align: right;
    border-bottom: $content-title-border;

    i {
      font-size: $font-itag;
      padding: 10px;
    }
  }

  .tree-content-wrap {
    font-size: $font-input;
    overflow: auto;
  }

  .response-input-container {
    height: calc(100% - 30px);
    margin: 15px 5px;

  }

}

.global-wrap {
  .response-wrap {
    height: 100%;
  }
}

// popup
.task-popup-default-wrap {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 1000;
  left: 0;

  .mat-dialog-content {
    padding: 10px;
    margin: 0;
  }

  .mat-dialog-title {
    border-bottom: $popup-title-border;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .popup-wrap {
    display: table-cell;
    vertical-align: middle;

  }

  .popup-container {
    width: 600px;
    background: #FFFFFF;
    margin: 0 auto;

    .backdrop, textarea {
      font: 16px/20px 'Open Sans', sans-serif;
      letter-spacing: 1px;
    }

    .container {
      height: 175px;
      display: block;
      margin: 0 auto;
      transform: translateZ(0);
      -webkit-text-size-adjust: none;
      border: 1px solid transparent;
      padding: 10px;
      border: $content-title-border;
    }

    .backdrop {
      position: absolute;
      z-index: 1;
      background-color: #fff;
      overflow: auto;
      pointer-events: none;
      transition: transform 1s;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
    }

    .highlights {
      white-space: pre-wrap;
      word-wrap: break-word;
      color: transparent;
      width: 100%;
      height: 100%;
      overflow: auto;
    }

    textarea {
      padding: 0;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      border: none;
      display: block;
      position: absolute;
      z-index: 2;
      margin: 0;
      border-radius: 0;
      color: #444;
      background-color: transparent;
      overflow: auto;
      resize: none;
      transition: transform 1s;
    }

    textarea:focus {
      outline: none;
      box-shadow: none;
    }

    mark {
      border-radius: 3px;
      color: transparent;
      background-color: #b1d5e5;
    }
  }

  .popup-btn {
    margin-top: 10px;
    text-align: right;
  }
}

.popup-default {
  display: inline-block;
  padding: 20px 35px 60px;
}

.icon-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #FFFFFF;
  color: $main-color;

  i {
    font-weight: bold;
  }
}

.mat-button.mat-primary .mat-button-focus-overlay, .mat-icon-button.mat-primary .mat-button-focus-overlay {
  background-color: transparent;
}

.popup-script {
  display: inline-block;
  width: 600px;
  vertical-align: top;
  background: #FFFFFF;
  padding: 20px;

  .mat-dialog-title {
    button {
      float: right;
    }
  }

  .popup-default-container {
    .mat-dialog-content {

    }
  }
}

.popup-script-guide {
  display: inline-block;
  width: 350px;
  padding: 15px;
  padding-left: 0;
  vertical-align: top;
  background: #FFFFFF;

  .popup-default-container {
    height: 277px;
    background: #CCCCCC;
    box-shadow: $border-shadow;
    overflow: auto;
    border-radius: 5px;
  }

  ul, li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 10px;
  }

  li {
    padding: 5px;
  }
}

.popup-log-wrap {
  height: calc(100% - 40px);

  .popup-default-container {
    height: 100%;
  }

  .mat-dialog-content {
    padding-right: 0;
    height: calc(100% - 73px);
    max-height: calc(100% - 73px);
    width: calc(100% - 10px);
  }

  .log-content-wrap {
    height: 100%;
    overflow: auto;
  }

  .log-content-container {
    height: auto;
    width: calc(100% - 10px);
    margin-right: 10px;
  }
}

/* END Task */

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a {
  display: block;
  padding: 5px 15px 5px 25px;
  clear: both;
  font-weight: 400;
  line-height: 40px;
  color: #333333;
  white-space: nowrap
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

