$app-primary-color: #ff79ff;
$sidenav-width: 320px;
$sidebar-width: 255px;
$sidebar-header-height: 64px;
$min-width: 1220px;

/* SDS aseet common style*/
/* START Style Common */

//font
$font-popup-button: 14px;
$font-popup-table: 16px;
$font-input: 16px;
$font-popup-add: 34px;
$font-title: 20px;
$font-sub-title: 17px;
$font-itag: 20px;

//color
$main-color: #2979ff;
$negative-color: #F48431;
$popup-title-border: 1px #CCCCCC solid;
$content-title-border: 1px #d3d3d3 solid;
$title-color: rgba(0, 0, 0, 0.6);
$border-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
//height
$content-input-height: 20px;

//<-- 통합 admin style.common.scss copy
//gray brightness
$C0: #FFFFFF;
$C1: #F2F2F2;
$C2: #E2E2E2;
$C3: #CECECE;
$C4: #BCBCBC;
$C5: #AAAAAA;
$C6: #999999;
$C7: #6D6D6D;
$C8: #4C4C4C;
$C9: #282828;
$C10: #000000;

//input,table
$button-height: 36px;
$input-height: 36px;
$input-table-height: 28px;
$table-th-height: 40px;
$table-td-height: 40px;
$table-tap-height: 34px;
$table-tap-width: 140px;

//font color
$font-color: $C8;
$link-color: #4491bc;

//table color
$table-main-border: 1px solid $C2;
$table-sub-border: 1px double $C4;
$table-main-border-color: $C2;
$table-sub-border-color: $C4;

//font
$font-family: 'Roboto', 'Apple SD Gothic NEO', '맑은 고딕', Malgun Gothic, '돋움', Dotum;
$font-01: 11px;
$font-02: 12px;
$font-03: 13px;
$font-04: 14px;
$content-title-font: 16px;

//-->

//btn-close
.btn-close {
  margin-right: 5px;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  background-color: #FFFFFF;
  font-size: $font-popup-button;
  font-weight: 500;
  color: #000;
  box-shadow: $border-shadow;
}

*::-webkit-input-placeholder {
  color: #828282 !important;
}

*::-moz-placeholder {
  color: #828282 !important;
}

*:-ms-input-placeholder {
  color: #828282 !important;
}

*:-moz-placeholder {
  color: #828282 !important;
}

*:focus {
  outline: none !important;
}

/* END Style Common */
.block-ui-wrapper {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0) !important;
  z-index: 30000;
  cursor: wait;
}

.loader {
  margin: 7px auto;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.1) !important;
  border-right: 1.1em solid rgba(0, 0, 0, 0.1) !important;
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.1) !important;
  border-left: 1.1em solid rgba(255, 255, 255, 0) !important;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

/* Dialog Settings App-wise Dialog Background */
.test-result {
  padding: 10px 20px;
  background: #f5f5f5;
  margin: 20px 0;
  max-height: 300px;
  overflow: scroll;

  pre {
    width: 0px;
    font-size: 15px !important;

    .string {
      color: green;
    }

    .number {
      color: darkorange;
    }

    .boolean {
      color: blue;
    }

    .null {
      color: magenta;
    }

    .key {
      color: red;
    }
  }
}

.mat-elevation-z8 {
  box-shadow: none;
}

// content-wrap
.default-content-wrap {
  height: 100%;

  input, textarea {
    height: $content-input-height;
    //height: 20px; TODO
    display: block;
    padding: 5px 10px;
    border: 1px #cccccc solid;
    font-size: $font-input;
    border-radius: 5px;
    color: #828282;
  }

  select {
    background: #FFFFFF;
    height: 32px;
    display: block;
    border: 1px #cccccc solid;
    font-size: $font-input;
    color: #828282;
  }

  .default-content-container {
    height: 100%;
  }

  .content-header {
    border-bottom: $content-title-border;
  }

  .content-header-title {
    padding: 12px 27px;
    height: 40px;
    line-height: 40px;
    color: $title-color;
    font-size: $font-title;
    font-weight: bold;

    .header-title, .title-button-wrap {
      display: inline-block;
      vertical-align: top;
    }
  }

  .content-wrap {
    padding: 40px 27px;
    height: calc(100% - 147px);

    .content-container {
      height: 100%;
    }
  }

  .content-grid-wrap {
    display: inline-block;
    width: calc(50% - 55px);
    height: calc(100% - 40px);
    vertical-align: top;
    box-shadow: $border-shadow;
    padding: 20px;
  }
}

// button
.btn-back {
  .mat-button-wrapper {
    i {
      vertical-align: sub;
    }
  }
}

.title-button-wrap {
  height: 40px;
  float: right;

  .btn-title {
    line-height: 40px;

    i {
      margin-right: 5px;
    }
  }
}

.title-button-wrap {
  button {
    vertical-align: top;
  }

  label {
    cursor: pointer;
    vertical-align: top;
    font-weight: 500;
    padding: 12px 16px;
    font-size: 14px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, .014), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    background: $main-color;

    i {
      vertical-align: top;
      padding: 8px 3px 8px 0;
    }
  }

  .btn-upload {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

//tree-table
.tree-table {
  //overflow:scroll;
  table, .ui-widget-content {
    border: none;
  }

  thead {
    display: none;
  }

  tbody {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  .ui-treetable-toggler {
    background: #E2E2E2;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 5px;
  }

  input {
    display: inline-block;
    width: 120px;
    height: 18px;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 2px;
    padding: 7px;
    background: #FFFFFF;
    font-size: 14px;
  }

  .btn-download {
    padding: 0;
    background: $main-color;
    border-radius: 18px;
    width: 36px;
    height: 36px;
    color: #FFFFFF;
  }

  .ui-state-highlight {
    background: none;

    input {
      border-color: $main-color;
      color: $main-color;
    }

    a {
      color: #222222;
    }
  }

  .ui-treetable .ui-treetable-row.ui-treetable-row-selectable:not(.ui-state-highlight):hover {
    background: transparent;
  }
}

/* dropdown */
p-dropdown {
  font-size: 0;
}

.common-edit-entity {
  .custom-dropdown {
    color: $C8;

    input.ui-dropdown-label, .ui-dropdown-item, .ui-dropdown-label {
      color: $C8;
    }
  }
}

.custom-dropdown {
  height: $input-height;
  line-height: calc(#{$input-height} - 2px);
  border-color: $C2;
  color: $C5;
  font-size: $font-02;
  border-radius: 2px;

  .ui-dropdown-trigger {
    border-color: transparent;

    .fa {
      line-height: 33px;
      margin-top: 0px;
      //margin-right:0.3em;
      padding-right: 0.5em;
      color: $C5;
    }

    > .fa-caret-down::before {
      content: "\f107"
    }
  }

  .ui-dropdown-item {
    text-align: left;
    color: $C6
  }

  > .ui-widget-content .ui-state-highlight {
    background-color: $main-color;
    color: $C0;
  }

  label.ui-dropdown-label {
    font-size: 16px;
    color: $C6;
    padding: 0 20px 0 10px;
    text-align: left;
  }

  &.ui-dropdown.ui-state-focus {
    box-shadow: 0px 0px 5px $C1;
  }
}

.ui-dropdown:not(.ui-state-disabled):hover {
  border-color: $C2;
}

.ui-shadow {
  box-shadow: none;
}

.ui-corner-all {
  border-radius: 0;
}

.gray-dropdown {
  border-color: $C2;

  &.ui-dropdown:not(.ui-state-disabled):hover {
    border-color: $C2;
  }
}

.modal-input, .table-input {
  .gray-dropdown {
    border-radius: 2px;
    border-color: $C2;
  }
}

.corpus-system {
  .custom-dropdown {
    border: none;
    line-height: 36px;
    height: 36px;
    vertical-align: top;

    &.ui-dropdown.ui-state-focus {
      box-shadow: none;
    }

    &.ui-dropdown:not(.ui-state-disabled):hover {
      background: $C0;
    }

    label.ui-dropdown-label {
      color: $C8;
      line-height: 20px;
      margin: 5px 0;
      padding: 3px 20px 3px 10px;

      &:hover {
        border-color: #c0c0c0;
        background: #eeeeee;
        color: #212121;
      }
    }

    .fa {
      line-height: 25px;
      color: $C8;
    }
  }
}

.intent-dropdown {
  height: 24px;
  line-height: 22px;
  vertical-align: top;

  .ui-dropdown-trigger {
    .fa {
      line-height: 22px;
    }
  }

}

//table
.common-table-section {
  .ui-state-default {
    color: $C8;
  }

  .custom-row-table {
    .ui-widget-content {
      border: none;

      &.ui-state-highlight {
        color: $C8;
        background-color: $C0;
      }
    }

    .ui-datatable-tablewrapper {
      .table-wrap-rowgroup {
        .table-button {
          span {
            width: 26px;
            height: 26px;
            display: inline-block;
            vertical-align: middle;
            font-size: 17px;
            line-height: 25px;
            background-color: $C2;
            margin: 0 5px;
            border-radius: 2px;
            cursor: pointer;

            &:hover {
              background-color: $main-color;
              color: $C0
            }
          }
        }
      }

      tr > th {
        font-weight: bold;
        background: $C0;
        border-bottom: $table-sub-border;
        border-right: $table-main-border;
      }

      tr > td {
        border-right: $table-main-border;
        border-bottom: $table-main-border;
      }

      .ui-datatable-odd {
        background-color: #fbfbfb;
      }

      .ui-widget-content:hover {
        background-color: #f6f6f6;
        color: $C8;
      }
    }
  }

  .ui-datatable .ui-editable-column input {
    height: 28px;
    border-radius: 2px;
  }

  .ui-datatable .ui-datatable-data > tr > td.ui-editable-column.ui-cell-editing {
    padding: 0 6px;
  }

  .ui-datatable .ui-selection-column .ui-chkbox-box, .ui-datatable .ui-selection-column .ui-radiobutton-box {
    margin: 0 auto;

    .ui-clickable {
      color: $C0;
    }
  }

  .ui-datatable .ui-datatable-thead > tr > th {
    border-top-width: 0;
  }

  .ui-datatable th.ui-sortable-column:not(.ui-state-active):hover {
    background: none;
    border-bottom: $table-sub-border;
    color: $C8;
  }

  .gray-dropdown {
    &.ui-dropdown:not(.ui-state-disabled):hover {
      border-color: $C2;
    }

  }

  .ui-datatable .ui-datatable-data > tr > td.ui-editable-column {
    padding: 0 10px;
  }

  .common-table-section .ui-datatable .ui-datatable-data > tr > td.ui-editable-column.ui-cell-editing {
    padding: 0 10px;
  }

  .common-table-contents {
    .gray-dropdown {
      height: $input-table-height;
      line-height: calc(#{$input-table-height} - 2px);

      .ui-dropdown-trigger {
        border-color: transparent;

        .fa {
          line-height: calc(#{$input-table-height} - 2px);
        }
      }
    }
  }

  .ui-datatable .ui-datatable-footer {
    border: none;
    border-bottom: $table-sub-border;
    background: transparent;
    cursor: pointer;
    height: $table-td-height;
    line-height: $table-td-height;
    padding: 0;
    font-size: $font-02;

    &:hover {
      background-color: $C1;
    }
  }

  .ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active {
    background: #FFFFFF;
    color: $main-color
  }
}

//table-header
.common-table-header {
  .button-wrap {
    float: right;
    display: inline-block;

    button {
      margin-left: 5px;
    }
  }

  .table-input {
    font-size: 0;
  }

  .common-title {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    line-height: $input-height;
    vertical-align: top;
  }

  .dropdown-text {
    height: $input-height;
    line-height: $input-height;
    display: inline-block;
    vertical-align: top;
    text-indent: 10px;
    font-size: $font-04;
  }

  .filter-wrap {
    height: $input-height;
    display: inline-block;
    font-size: 0;
    width: 100%;

    input {
      border: 1px solid $C2;
      line-height: calc(#{$input-height} - 3px);
      padding: 0 10px;
      width: calc(100% - 165px);
      height: calc(#{$input-height} - 3px);
      color: $C8;
      vertical-align: top;
      border-radius: 2px;
      display: inline-block;
      margin-left: 10px;
      font-size: 16px;
    }

    .says-input {
      width: calc(100% - 24px);
      margin: 20px 0 0;
    }
  }

  .table-header-calendar {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    font-size: 0;

    p-calendar {
      width: 105px;
      display: inline-block;
      font-size: $font-02;

      input {
        font-size: $font-02;
      }
    }

    .term-bar {
      font-size: $font-02;
      padding: 0 3px;
    }

    input {
      height: $input-height;
    }

    .btn-etc {
      padding: 0 5px;
      width: 60px;
      vertical-align: top;
      margin-left: 3px;
    }
  }

  .batch-select {
    margin-right: 20px;
  }

  .common-table {
    margin-bottom: 20px;
  }

  .filter-detail-wrap {
    margin-top: 10px;
    border-radius: 2px;
    border: 1px dashed #dbd8ce;
    padding: 0 6px 6px;

    .filter-detail {
      font-size: $font-02;
      line-height: 30px;
      display: inline-block;
      background-color: $main-color;
      border-radius: 2px;
      padding: 0 10px;
      cursor: pointer;
      color: $C0;
      margin: 6px 6px 0 0;
    }

    span {
      vertical-align: middle;
      display: inline-block;
      font-weight: bold;
      margin-left: 7px;

      &:first-child {
        font-weight: normal;
        margin-left: 0;
      }
    }

    .filter-cancel {
      margn-left: 10px;
      font-size: 10px;
    }
  }
}

//table-content
.common-table-contents {
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    border-spacing: 0;
    border-top: $table-sub-border;
    border-bottom: $table-sub-border;

    tr {
      color: $font-color;
      height: $table-td-height;
      line-height: $table-td-height;

      &:last-child {
        td {
          border-bottom: none;
        }
      }

      th, td {
        padding: 0 10px;

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }

      th {
        font-weight: bold;
        background: $C0;
        border-bottom: $table-sub-border;
        border-right: $table-main-border;
        font-size: 16px;
      }

      td {
        border-right: $table-main-border;
        border-bottom: $table-main-border;
        font-size: $font-04;
      }
    }

    .require {
      color: $negative-color;
    }
  }

  .table-wrap-rowgroup {
    .table-button {
      span {
        width: 26px;
        height: 26px;
        display: inline-block;
        vertical-align: middle;
        font-size: 17px;
        line-height: 25px;
        background-color: $C2;
        margin: 0 5px;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
          background-color: $main-color;
          color: $C0
        }
      }
    }
  }

  .no-data {
    width: 100%;
    color: $font-color;
    line-height: 50px;
    text-align: center;
    bordrer: none;

    &:hover {
      background: $C0;
      bordrer: none;
    }
  }

  .table-no-data {
    .ui-datatable-tablewrapper, table {
      border-bottom: none;

      .ui-widget-content:hover {
        background: $C0;
      }
    }

  }
}

.intent-content-container {
  .common-table-section {
    height: 100%;

    .common-table-contents {
      height: calc(100% - 60px);
      overflow: auto;
    }
  }
}

.intent-content-wrap {
  .select-user-intent {
    height: calc(100% - 90px);
    overflow: auto;
  }
}

.intent-section {
  .user-intent {
    .list-content-wrap {
      table, .ui-widget-content, tr, th, td {
        border: none;
        background: $C0;
      }

      thead {
        display: none;
      }

      .ui-widget-content {
        margin-top: 10px;

        &:first-child {
          margin-top: 0;
        }
      }

      .ui-datatable-tfoot {
        border-radius: 2px;
        margin-top: 10px;

        .ui-state-default {
          border: none;

          td {
            padding: 15px 10px 0 40px;
          }
        }

        .ui-column-footer {
          border-radius: 2px;
          border: $table-main-border;
          display: block;
          width: 100%;
        }
      }
    }
  }
}
