<mat-toolbar class="mlt-toolbar">
  <button mat-button class="go-back" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="mlt-toolbar-title">HMD analyze result : {{modelName}} </span>
  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Sentence" (keyup)="getAllHmdResults(0)"
           [(ngModel)]="inputSentence">
  </mat-form-field>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Category" (keyup)="getAllHmdResults(0)"
           [(ngModel)]="inputCategory">
  </mat-form-field>

  <button mat-button *ngFor="let action of actions" (click)="doAction(action)">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <section>
    <div class="mlt-title">HMD Analysis Result</div>
    <app-table #tableComponent [rows]="hmdResults" [headers]="header"
               [dataSource]="dataSource" [length]="pageLength"
               (outputPaginator)="setPage($event)"
               (outputSelectedHeader)="search($event)"></app-table>
  </section>
</div>
