<mat-toolbar class="mrc-toolbar-detail">
  <div>
    <a class="mrc-toolbar-title">MRC Passage Detail</a>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="goEdit()">Edit</button>
    <button mat-raised-button color="primary" (click)="goList()">List</button>
    <button mat-raised-button color="primary" (click)="goQAs()">Q&As</button>
  </div>
</mat-toolbar>

<div class="mlt-mainbody">
  <div class="passage-detail">
    <div class="right">
      <mat-card class="mat-card-style">
        <div class="box-size">
          <mat-card-title class="title">Passage information</mat-card-title>
          <div class="content-data">
            <mat-card-content class="left">Headings</mat-card-content>
            <mat-card-content class="right">{{passageEntity.headings}}</mat-card-content>
          </div>
          <div class="content-data">
            <mat-card-content class="left">Passage</mat-card-content>
            <mat-card-content class="right" [innerHTML]="passageEntity.passage"></mat-card-content>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="right">
      <mat-card class="mat-card-style">
        <div class="box-size">
          <mat-card-title class="title">Passage Question information</mat-card-title>
          <ng-container *ngFor="let question of passageEntity.questionEntities">
            <div class="question-list">
              <div class="content-data">
                <mat-card-content class="left">Question</mat-card-content>
                <mat-card-content class="right">{{question.question || '-'}}</mat-card-content>
              </div>
              <div class="content-data">
                <mat-card-content class="left">Answer</mat-card-content>
                <ng-container *ngIf="question.answerEntity;else null_answer">
                  <mat-card-content class="right"
                                    [innerHTML]="question.answerEntity.answer || '-'"></mat-card-content>
                </ng-container>
                <ng-template #null_answer>
                  <mat-card-content class="right">-</mat-card-content>
                </ng-template>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="passageEntity.questionCnt === '0'">
            <div class="question-list">
              <div class="content-data">
                <mat-card-content class="left">No Question is registered.</mat-card-content>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-card>
    </div>
  </div>
</div>
