<mat-toolbar class="mlt-toolbar">
  <button mat-button class="go-back" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="mlt-toolbar-title">XDC analyze result : {{modelName}} </span>
  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Sentence" (keyup)="getAllXdcResults(0)"
           [(ngModel)]="inputSentence">
  </mat-form-field>

  <mat-form-field class="mlt-input" floatLabel="never">
    <input matInput placeholder="Category" (keyup)="getAllXdcResults(0)"
           [(ngModel)]="inputCategory">
  </mat-form-field>

  <button mat-button *ngFor="let action of actions" (click)="doAction(action)">
    <mat-icon color="primary">{{action.icon}}</mat-icon>
    <span style="color: #3b78e7">{{action.text}}</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody">
  <section class="xdc-result">
    <div class="mlt-title">XDC Analysis Result</div>
    <app-table #tableComponent [rows]="xdcResults" [headers]="header"
               [dataSource]="dataSource" [length]="pageLength"
               (outputPaginator)="setPage($event)"
               (outputSelectedHeader)="search($event)"></app-table>
  </section>
  <section class="xdc-word-result">
    <div class="mlt-title">XDC Word Results</div>
    <app-table #tableWordComponent [rows]="wordResults" [headers]="wordHeader"
               [dataSource]="dataSource2" [length]="wordPageLength"
               (outputPaginator)="setWordPage($event)"
               (outputSelectedHeader)="searchWord($event)"></app-table>
  </section>
</div>
