/** not modulized vendors **/
@import '~diff2html/dist/diff2html.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '../node_modules/dragula/dist/dragula.css';
@import '~angular-tree-component/dist/angular-tree-component.css';

.d2h-file-wrapper {
  border-radius: 0;
  border-color: #ccc;
  border-top: 0;
  background: #fff;
  margin: 0;
  padding: 0 10px 15px 10px;
}

.d2h-file-header {
  background: #fff;
}

.d2h-code-side-linenumber {
  cursor: default;
}

.d2h-diff-table {
  border-bottom: 1px solid #ddd;
}

.diff {
  min-height: 300px;

  .diff-tools {
    margin-bottom: 20px;
  }

  button {
    width: 90%;
    max-width: 226px;
  }

  .diff-select {
    .select button {
      max-width: 100% !important;
      width: 100%;
    }

    > div:first-of-type .select button {
      border-right: 0;
    }
  }

  .diff-empty {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-top: 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
  }

  .diff-commit {
    color: #444;
    font-size: 13px;

    > div {
      border: 1px solid #ddd;
      padding: 0 14px;
      border-top: 0;

      &:first-of-type {
        border-right: 0;
      }
    }

    .author {
      font-size: 15px;

      small {
        color: #333;
        font-size: 12px;
      }
    }

    .message {
      b {
      }

      line-height: 180%;
    }
  }
}

/** end of vendors **/

/* material icon */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/assets/MaterialIcons-Regular.woff2) format('woff2'),
  url(/assets/MaterialIcons-Regular.woff) format('woff'),
  url(/assets/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* angular material theming */
@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-blue, A400, A100, A700);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

/* global styles */
html {
}

*[hidden] {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.rolling {
  background: url(/assets/img/rolling.svg) center center no-repeat;
}

.mat-drawer-content {
  overflow: hidden !important;
}

.mat-button-enable {
  //color: #3b78e7;
}

.mat-button-disabled {
  color: #777777;
}

.mat-button-text {
  color: white;
}

.mat-button-back-enabled {
  background-color: #3b78e7;
}

.mat-button-back-disabled {
  background-color: #777777;
}

// sds progress
.progress-content-container {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 31px);
}

.progress-content-wrap {
  height: 40px;
  font-size: 0;
  margin-bottom: 5px;

  .progress-content-title {
    width: 120px;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
  }

  .progress-content-status {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
  }

  .progress-content-bar {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 280px);
    height: 20px;
    margin: 10px 5px;

    .ui-progressbar-value {
      background: #3B5E7C;
    }
  }

  &.train-progress-bar {
    display: inline-block;
    vertical-align: middle;
    width: 39%;
    margin-left: 10px;

    .progress-content-title {
      width: 100px;
    }

    .progress-content-bar {
      margin: 10px 2px;
      width: calc(100% - 210px);
    }

    .title-button-wrap {
      button {
        line-height: 30px;
        margin: 5px 0;
        min-width: 65px;
        padding: 0;
      }
    }
  }
}


/* Internet Explorer 10+, Microsoft Edge Browser */
_:-ms-lang(x), mat-progress-spinner circle {
  stroke-dasharray: 125px !important;
}
