<mat-toolbar class="mlt-toolbar">
  <div class="mtitle">
    <button mat-button class="go-back" (click)="back('')">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <!--POS 사전 정보-->
    <span class="mlt-toolbar-title">{{dictionaryName}} Morpheme Dictionary Test</span>
  </div>
</mat-toolbar>
<div class="mlt-mainbody">
  <div class="test-area">
    <div class="test-left">
      <!--업로드 한 테스트 문장 파일 목록-->
      <app-test-file style="width: 100%; height: 300px;"
                     (selectFiles)=selectFiles($event)></app-test-file>
      <div>
        <!--테스트 결과-->
        <app-pos-test-result [(dictionaryId)]="dictionaryId" [dictionaryType]="dictionaryType"
                             [(testState)]="testStat"
                             style="width: 100%; height: 500px;"></app-pos-test-result>
      </div>
    </div>
    <div class="test-right">
      <mat-card>
        <mat-card-content>
          <div>
            <!--사전 적용 영역-->
            <div class="checkbox-title">
              <span><b>morhpeme dictionary list</b></span>
            </div>
            <div class="checkbox-contents">
              <mat-checkbox *ngFor="let dic of test_dictionaries"
                            [disabled]="dic.disabled"
                            (click)="clickCheckbox(dic.value)">
                {{dic.name}}
              </mat-checkbox>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="btn-area">
        <!--테스트 버튼-->
        <button mat-button (click)="test()" [disabled]="!isTest"
                [ngClass]="isTest ? 'mat-button-back-enabled' : 'mat-button-back-disabled'"
                id="test-btn">
          <span [ngClass]="'mat-button-text'">Test</span>
        </button>

        <!--리셋 버튼-->
        <button mat-button (click)="reset()" [disabled]="!isReset"
                [ngClass]="isReset ? 'mat-button-back-enabled' : 'mat-button-back-disabled'"
                id="reset-btn">
          <span [ngClass]="'mat-button-text'">Reset</span>
        </button>
      </div>
    </div>
  </div>
</div>
