<div class="default-content-wrap">
  <div class="default-content-container">
    <div class="content-header">
      <div class="content-header-title">
        <button mat-icon-button class="btn-back" (click)="btnBack()">
          <i class="material-icons">reply</i>
        </button>
        <div class="header-title" *ngIf="!isCopyModel">Create Model</div>
        <div class="header-title" *ngIf="isCopyModel">Copy Model</div>
        <div class="title-button-wrap">
          <button mat-raised-button color="primary" class="btn-title" (click)="btnCreate()"
                  [disabled]="!dialogModel?.modelName || dialogModel?.modelName === ''">
            <i class="material-icons">add</i>Create
          </button>
        </div>
      </div>
    </div>
    <div class="content-wrap">
      <div class="content-container">
        <div class="create-setting-wrap">
          <div class="create-setting-dialog">
            <input type="text" [(ngModel)]="dialogModel.modelName" placeholder="Dialog Model Name *"
                   required>
            <input type="text" [(ngModel)]="dialogModel.description"
                   placeholder="Dialog Model Description">
          </div>
          <div class="create-load">
            <div *ngIf="isCopyModel">
              <div class="create-radio radio-exist">Load Exist Dialog Model</div>
              <div class="create-input radio-input-exist">
                <input type="text" [(ngModel)]="sourceDialogModel.modelName" disabled>
              </div>
            </div>
            <div *ngIf="!isCopyModel">
              <div class="create-radio radio-upload">Upload Dialog Model</div>
              <div class="create-input radio-input-upload">
                <input id="filetext" type="text" [(ngModel)]="uploadModelFileName" disabled>
                <input #upload id="upload" type="file" class="btn-upload-input"
                       (change)="uploadFile($event)"/>
                <label for="upload"><i class="material-icons">&#xE2C6;</i></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
