<div class="default-content-wrap">
  <div class="default-content-container">
    <div class="content-header">
      <div class="content-header-title">
        <div class="header-title">Model</div>
        <div class="title-button-wrap">
          <button mat-raised-button color="primary" class="btn-title" (click)="moveCreate()">
            <i class="material-icons">add</i>Create
          </button>
        </div>
      </div>
    </div>
    <div class="content-wrap content-grid">
      <div class="content-container">
        <div class="content-grid-wrap">
          <div class="content-model-wrap">
            <div class="content-model-container">
              <mat-dialog-content>
                <div class="model-filter-wrap">
                  <input class="table-filter" matInput
                         (keyup)="applyFilterIntent($event.target.value)"
                         placeholder="Search Model Name">
                </div>
                <div class=" mat-elevation-z8 model-list">
                  <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    </ng-container>

                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    </ng-container>

                    <ng-container matColumnDef="create">
                      <mat-header-cell *matHeaderCellDef>Created At</mat-header-cell>
                    </ng-container>

                    <ng-container matColumnDef="setting">
                      <mat-header-cell *matHeaderCellDef class="table-button"></mat-header-cell>
                    </ng-container>
                    <ng-container matColumnDef="copy">
                      <mat-header-cell *matHeaderCellDef class="table-button"></mat-header-cell>
                    </ng-container>
                    <ng-container matColumnDef="download">
                      <mat-header-cell *matHeaderCellDef class="table-button"></mat-header-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  </mat-table>

                  <mat-table #table [dataSource]="dataSource" class="model-content-lists">
                    <ng-container matColumnDef="name">
                      <mat-cell *matCellDef="let element">
                        {{element.modelName}}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="id">
                      <mat-cell *matCellDef="let element">
                        {{element.creatorId}}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <mat-cell *matCellDef="let element" class="model-status">
                        {{element.status}}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="create">
                      <mat-cell *matCellDef="let element">
                        {{element.createdAt}}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="setting">
                      <mat-cell *matCellDef="let element" class="table-button">
                        <i class="material-icons"
                           (click)="moveSetting($event, element)">settings</i>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="copy">
                      <mat-cell *matCellDef="let element" class="table-button">
                        <i class="material-icons"
                           (click)="moveCopy($event, element)">content_copy</i>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="download">
                      <mat-cell *matCellDef="let element" class="table-button">
                        <i class="material-icons" (click)="downloadModel($event, element)">file_download</i>
                      </mat-cell>
                    </ng-container>

                    <mat-row *matRowDef="let row; columns: displayedColumns;"
                             (click)="rowModel($event)"
                             class="table-content-row">
                    </mat-row>
                  </mat-table>
                </div>
              </mat-dialog-content>
            </div>
          </div>
        </div>
        <div class="content-grid-wrap progress-wrapper">
          <div class="progress-title-wrap">
            <div class="progress-title">All Train Progress</div>
          </div>
          <div class="progress-content-container">
            <div class="progress-content-wrap" *ngFor="let training of trainingProgressList">
              <div class="progress-content-title">{{training.modelName}}</div>
              <mat-progress-bar [value]="training.progress"
                                styleClass="progress-content-bar"></mat-progress-bar>
              <div class="progress-content-status">{{training.progress}}%</div>
              <div class="title-button-wrap">
                <button mat-raised-button color="primary" class="btn-title"
                        (click)="stopTraining(training.key)">Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
