/* START Create and Setting Style*/
@import "../../dialog-model-common";

//create and setting
.create-setting-wrap {
  width: 500px;
  padding: 0 25px;

  input {
    display: block;
    width: calc(100% - #{$content-input-height});
    height: $content-input-height;
    padding: 5px 10px;
    font-size: $font-input;
    margin: 0 0 25px;
  }
}

.btn-delete {
  margin-right: 5px;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  background-color: #FFFFFF;
  font-size: $font-popup-button;
  font-weight: 500;
  box-shadow: $border-shadow;
  color: #f44336;

  i {
    line-height: 36px;
    vertical-align: top;
  }
}

//create
.create-load {
  margin-bottom: 30px;

  .create-radio {
    display: block;
    color: #828282;
    margin-bottom: 10px;
  }
}

.radio-input-upload {
  input {
    display: inline-block;
    width: calc(100% - 70px);
    margin: 0 5px 0 0;
  }

  i {
    border-radius: 50%;
    background: $main-color;
    padding: 5px;
    color: #FFF;
    vertical-align: bottom;
    font-size: $font-itag;
    margin: 2px 0;
  }

  .btn-upload-input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

}

/* END Create and Setting Style */
