<div class="default-content-wrap">
  <div class="default-content-container">
    <div class="content-header">
      <div class="content-header-title">
        <button mat-icon-button class="btn-back" (click)="btnBack()">
          <i class="material-icons">reply</i>
        </button>
        <div class="header-title">Setting Model</div>
        <div class="title-button-wrap">
          <button mat-raised-button color="primary" class="btn-title" (click)="modelSave()"
                  [disabled]="selectedDialogModel?.modelName === ''">
            <i class="material-icons">save</i>Save
          </button>
        </div>
      </div>
    </div>
    <div class="content-wrap">
      <div class="content-container">
        <div class="create-setting-wrap">
          <div class="create-setting-dialog">
            <input type="text" [(ngModel)]="selectedDialogModel.modelName"
                   placeholder="Dialog Model Name *" required>
            <input type="text" [(ngModel)]="selectedDialogModel.description"
                   placeholder="Dialog Model Description">
          </div>
          <div class="create-setting-button">
            <button class="btn-delete" (click)="modelDelete()">
              <i class="material-icons">delete</i>
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
