/* START All Model Style*/
@import "../../dialog-model-common";

.content-model-wrap {
  height: 100%;
  position: relative;
  overflow: hidden;

  .content-model-container {
    height: 100%;
  }

  .model-filter-wrap {
    width: 100%;
    height: 40px;

    .table-filter {
      width: calc(100% - 22px);
      height: 24px;
      padding: 7px 10px;
      margin: 0;
      font-size: $font-input;
    }
  }

  .mat-elevation-z8 {
    height: calc(100% - 40px);
  }

  .model-list {
    .mat-header-row, .mat-row {
      padding: 0 0 0 15px;
    }

    .mat-header-cell {
      font-size: $font-popup-table;
      color: #CCC;
      font-weight: normal;
      text-align: left;
    }

    .mat-row {
      &:hover {
        background: #e4edfd;
      }
    }
  }

  .model-content-lists {
    height: calc(100% - 57px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.table-button {
  max-width: 30px;

  i {
    font-size: $font-itag;
    padding: 5px;
    cursor: pointer;
  }
}

.default-content-wrap .content-grid-wrap.progress-wrapper {
  margin-left: 20px;
  overflow: hidden;
}

.progress-title-wrap {
  width: 100%;
  height: 26px;
  padding-bottom: 5px;

  .progress-title {
    font-size: $font-title;
    display: inline-block;
    color: $title-color;
  }
}

/* END All Model Style */
