<app-tools [name]="dialogTitle" [goBack]="backPage" [showMoreVert]=false></app-tools>
  <form #f="ngForm" (ngSubmit)="submit()">

      <!--Name-->
    <div class="sc-upsert-content-left">
      <mat-list class="mat-list">
      <mat-list-item class="mat-list-item-name">
        <mat-form-field>
          <input *ngIf="role!=='edit'" class="input-size" matInput required name="name"
                 [(ngModel)]="account.username" [placeholder]="'Name'"
                 [formControl]="nameFormControl"
                 [errorStateMatcher]="matcher">
          <input *ngIf="role==='edit'" class="input-size" matInput required name="name"
                 [(ngModel)]="account.username" [placeholder]="'Name'" [disabled]="true">
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-list-item>

      <!--email-->
      <mat-list-item class="mat-list-item-email">
        <mat-form-field>
          <input class="input-size" matInput required name="email"
                 [(ngModel)]="account.email" [placeholder]="'Email'"
                 [formControl]="emailFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid Email
          </mat-error>
        </mat-form-field>
      </mat-list-item>

      <!--password-->
      <mat-list-item class="mat-list-item-password">
        <mat-form-field>
          <input *ngIf="role!=='edit'" class="input-size" matInput required name="password"
                 [(ngModel)]="account.password" type="password"
                 [placeholder]="'Password'"
                 [formControl]="passwordFormControl"
                 [errorStateMatcher]="matcher">
          <input *ngIf="role==='edit'" class="input-size" matInput name="password"
                 [(ngModel)]="account.password" type="password"
                 [placeholder]="'New Password'"
                 [formControl]="passwordFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('pattern')">
            8~20 characters(least 1 uppercase, 1 lowercase, and 1 number)
          </mat-error>
        </mat-form-field>
      </mat-list-item>


      <mat-list-item *ngIf="role==='edit'" class="mat-list-item-password">
        <mat-form-field>
          <input class="input-size" matInput name="confirmPassword"
                 [(ngModel)]="confirmPassword" type="password"
                 [placeholder]="'Confirm Password'"
                 [formControl]="confirmPasswordFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-list-item>


        <div class="toggle-set">
        <mat-list-item>
          <mat-slide-toggle name="activated" [(ngModel)]="account.activated" color="accent">
            Activated
          </mat-slide-toggle>
        </mat-list-item>
      </div>

      <mat-list-item>
        <p class="submit-button">
          <button mat-raised-button [innerHTML]="getButtonName()"></button>
        </p>
        <p class="cancel-button">
          <button *ngIf="role==='edit'" mat-raised-button class="cancel-btn" type="button" [routerLink]="'../../../accounts'">Cancel</button>
          <button *ngIf="role!=='edit'" mat-raised-button class="cancel-btn" type="button" [routerLink]="'../../accounts'">Cancel</button>
        </p>
      </mat-list-item>
      </mat-list>
    </div>

    <div class="sc-upsert-content-right">
      <mat-list class="mat-list">
      <mat-list-item class="mat-list-item-is-admin">
        <mat-checkbox name="isAdmin" [(ngModel)]="isAdmin">Administrator</mat-checkbox>
      </mat-list-item>

      <mat-list-item *ngIf="isAdmin !== undefined && !isAdmin" class="mat-list-item-permissions">
        <app-accounts-upsert-table #tableComponent [header]="table.header||''" [rows]="table.rows"
                                   [paginationOff]="true" [inUpsert]="true">
        </app-accounts-upsert-table>
      </mat-list-item>
      </mat-list>
    </div>
  </form>
