.sc-upsert-content-left {
  margin: 10px;
  padding: 15px 20px !important;
  width: 325px;
  float: left;

  .mat-list .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 270px;
    margin-right: 100px;
  }

  .mat-list-item-description {
    padding-top: 25px;
  }

  .input-size {
    width: 270px;
  }

  .input-size-description {
    width: 270px;
    height: 70px;
  }

  .mat-list-item-name {
    padding-top: 17.5px;
  }

  .mat-list-item-email {
    padding-top: 40px;
  }

  .mat-list-item-password {
    padding-top: 40px;
  }

  .toggle-set {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .submit-button {
    margin-left: 20px;
  }

  .cancel-button {
    margin-left: 20px;
  }
}

.sc-upsert-content-right{
  float: left;
  width: 553px;
  margin: 10px;
  padding: 15px 20px !important;

  .mat-list-item-is-admin {
    display: inline-block;

    /deep/ .mat-list-item-content {
      height: 26px;
    }
  }

  .mat-list-item-permissions {
    display: inline-block;
    height: 400px;

    /deep/ .mat-list-item-content {
      display: table-footer-group;
      position: relative;
      text-align: left;
      width: fit-content;
      height: fit-content;
      padding: 0 0 0 14px;
    }
  }

}
