@import "../../../../../../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../../../../../../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";

.mlt-toolbar {
  .disabled-div {
    button {
      background-color: #a0a0a0;
      disabled: true;
    }
  }

  button.disabled-btn {
    background-color: #a0a0a0;
    disabled: true;
  }
}
.nqa-item-list {
  width: 100%;

  .left {
    width: 70%;
    float: left;

    .ag-theme-balham {
      width: 100%;
      height: 700px;
    }
  }

  .right {
    width: 30%;
    float: left;

    .nqa-item-list-panel {
      width: 100% !important;

      .indexed-keyword2 {
        overflow: auto;
        height: 300px;

        .indexed-keyword {
          height: 25px;
          margin-bottom: 5px;
        }
      }

      .indexed-keyword-list {
        overflow: auto;
        height: 720px;

        .indexed-keyword {
          height: 25px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.select-search-form {
  height: 42px;
  padding-left: 10px;

  .select-search-form-input {
    height: 100%;
  }
}
