<mat-toolbar class="mlt-toolbar">
  <span class="mlt-toolbar-title">NQA Sets</span>
  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Channel" [(ngModel)]="selectedChannelId"
                (selectionChange)="onChannelSelected()">
      <mat-option *ngFor="let channel of channelList" [value]="channel.id">
        {{ channel.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="mlt-select" floatLabel="never">
    <mat-select placeholder="Category" [(ngModel)]="selectedCategoryId"
                (selectionChange)="onCategorySelected()"
                (click)="clearSelectSearchFormControlValue()">
      <div class="select-search-form">
        <input matInput placeholder="Search" class="select-search-form-input"
               [formControl]="selectSearchFormControl">
      </div>
      <mat-option *ngFor="let category of filteredCategoryList | async" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Upload a File -->
  <app-uploader-button [url]="'/nqa/qa-sets/upload-files/'+this.selectedChannelId+'/'+this.selectedCategoryId"
                       #uploader
                       [ngClass]="uploadBtnEnable ? '' : 'disabled-div'"
                       accept=".xlsx"
                       (preUploadCallback)=confirmUpload()
                       (uploadCallback)=onUploadFile()></app-uploader-button>
  <!-- Download a File -->
  <button mat-button color="accent"
          [disabled]="downloadBtnEnable ? false : true"
          (click)="downloadFile()"
          id="down-btn">
    <mat-icon class="color">file_download</mat-icon>
    <span class="color">Download a File</span>
  </button>
</mat-toolbar>

<div class="mlt-mainbody" [hidden]="!isCategorySelected">
  <!--<section>-->
    <!--<mat-card-title>Upload Files</mat-card-title>-->
    <!--<p>Upload excel files(.xlsx) to fill NQA data.</p>-->

    <!--<app-uploader [url]="'/nqa/qa-sets/upload-files/'+selectedChannelId"-->
                  <!--accept=".xlsx"-->
                  <!--[groupId]="selectedCode"-->
                  <!--(preUploadCallback)=confirmUpload()-->
                  <!--(uploadCallback)=onUploadFile()></app-uploader>-->

  <!--</section>-->
  <div class="nqa-item-list">
    <div class="left">
      <section>
        <p>Edit QA Sets Used in NQA
          <button mat-button color="primary" *ngFor="let action of qaSetActionsArray"
                  (click)="doAction(action)"
                  [hidden]="action.hidden">
            <mat-icon class="color">{{action.icon}}</mat-icon>
            <span class="color">{{action.text}}</span>
          </button>
        </p>

        <ag-grid-angular
          #agGrid class="ag-theme-balham"
          id="myGrid"
          [enableColResize]="true"
          [enableCellChangeFlash]="true"
          (gridReady)="onGridReady($event)"
          [gridOptions]="gridOptions"
          (rowSelected)="onRowSelected($event)">
        </ag-grid-angular>
      </section>
    </div>
    <div class="right">
      <mat-tab-group class="nqa-item-list-panel">
        <mat-tab label="Q&A">
          <mat-list>
            <h3 mat-subheader>Answers (Total index : {{indexedAnswerKeywordsCnt}})</h3>
            <mat-list class="indexed-keyword2">
              <mat-list-item class="indexed-keyword" *ngFor="let key of indexedAnswerKeywords"
                             (click)="filterByKeyword(key[0], 'answer')">{{key[0] + '(' + key[1]
              + ')'}}</mat-list-item>
            </mat-list>
            <mat-divider style="margin-top:15px"></mat-divider>
            <h3 mat-subheader>Questions (Total index : {{indexedQuestionKeywordsCnt}})</h3>
            <mat-list class="indexed-keyword2">
              <mat-list-item class="indexed-keyword" *ngFor="let key of indexedQuestionKeywords"
                             (click)="filterByKeyword(key[0], 'questionStringfy')">{{key[0] + '('
              + key[1] + ')'}}</mat-list-item>
            </mat-list>
          </mat-list>
        </mat-tab>
        <mat-tab label="Layers">
          <mat-list class="indexed-keyword-list">
            <h3 mat-subheader>Layer1</h3>
            <mat-list-item class="indexed-keyword"
                           *ngFor="let key of objectKeys(indexedLayer1Keywords)"
                           (click)="filterByKeyword(key, 'layer1.name')">{{key + '('
              + indexedLayer1Keywords[key] + ')'}}</mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Layer2</h3>
            <mat-list-item class="indexed-keyword"
                           *ngFor="let key of objectKeys(indexedLayer2Keywords)"
                           (click)="filterByKeyword(key, 'layer2.name')">{{key + '('
              + indexedLayer2Keywords[key] + ')'}}</mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Layer3</h3>
            <mat-list-item class="indexed-keyword"
                           *ngFor="let key of objectKeys(indexedLayer3Keywords)"
                           (click)="filterByKeyword(key, 'layer3.name')">{{key + '('
              + indexedLayer3Keywords[key] + ')'}}</mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Layer4</h3>
            <mat-list-item class="indexed-keyword"
                           *ngFor="let key of objectKeys(indexedLayer4Keywords)"
                           (click)="filterByKeyword(key, 'layer4.name')">{{key + '('
              + indexedLayer4Keywords[key] + ')'}}</mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Layer5</h3>
            <mat-list-item class="indexed-keyword"
                           *ngFor="let key of objectKeys(indexedLayer5Keywords)"
                           (click)="filterByKeyword(key, 'layer5.name')">{{key + '('
              + indexedLayer5Keywords[key] + ')'}}</mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Layer6</h3>
            <mat-list-item class="indexed-keyword"
                           *ngFor="let key of objectKeys(indexedLayer6Keywords)"
                           (click)="filterByKeyword(key, 'layer6.name')">{{key + '('
              + indexedLayer6Keywords[key] + ')'}}</mat-list-item>
          </mat-list>
        </mat-tab>
        <mat-tab label="Attr & Tag">
          <mat-list class="indexed-keyword-list">
            <h3 mat-subheader>Tags</h3>
            <mat-list-item class="indexed-keyword"
                           *ngFor="let key of objectKeys(indexedTagKeywords)"
                           (click)="filterByKeyword(key, 'tag')">{{key + '('
            + indexedTagKeywords[key] + ')'}}</mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Attribute1</h3>
            <mat-list-item class="indexed-keyword"
                           *ngFor="let key of objectKeys(indexedAttr1Keywords)"
                           (click)="filterByKeyword(key, 'attr1')">{{key + '('
            + indexedAttr1Keywords[key] + ')'}}</mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Attribute2</h3>
            <mat-list-item class="indexed-keyword"
                           *ngFor="let key of objectKeys(indexedAttr2Keywords)"
                           (click)="filterByKeyword(key, 'attr2')">{{key + '('
            + indexedAttr2Keywords[key] + ')'}}</mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Attribute3</h3>
            <mat-list-item class="indexed-keyword"
                           *ngFor="let key of objectKeys(indexedAttr3Keywords)"
                           (click)="filterByKeyword(key, 'attr3')">{{key + '('
            + indexedAttr3Keywords[key] + ')'}}</mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Attribute4</h3>
            <mat-list-item class="indexed-keyword"
                           *ngFor="let key of objectKeys(indexedAttr4Keywords)"
                           (click)="filterByKeyword(key, 'attr4')">{{key + '('
            + indexedAttr4Keywords[key] + ')'}}</mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Attribute5</h3>
            <mat-list-item class="indexed-keyword"
                           *ngFor="let key of objectKeys(indexedAttr5Keywords)"
                           (click)="filterByKeyword(key, 'attr5')">{{key + '('
              + indexedAttr5Keywords[key] + ')'}}</mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Attribute6</h3>
            <mat-list-item class="indexed-keyword"
                           *ngFor="let key of objectKeys(indexedAttr6Keywords)"
                           (click)="filterByKeyword(key, 'attr6')">{{key + '('
              + indexedAttr6Keywords[key] + ')'}}</mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
