/* START Home style*/
@import "../../dialog-model-common";

// test
.test-section {
  .content-wrap {
    height: calc(100% - 145px);
  }

  .content-container {
    font-size: 0;
    margin: 0 auto;
    text-align: center;
    height: 100%;
  }

  .test-wrap {
    box-shadow: $border-shadow;
    padding: 20px;
    font-size: 14px;
    text-align: left;
  }

  .content-chatting-wrap {
    position: relative;
    display: inline-block;
    vertical-align: top;
    //max-width: 480px;
    width: calc(33% - 60px);
    margin-right: 20px;
    height: calc(100% - 43px);

    textarea {
      padding: 0;
    }
  }
}

.content-etc-wrap {
  display: inline-block;
  vertical-align: top;
  //min-width: 760px;
  //max-width: 860px;
  width: 67%;
  height: 100%;

  .mat-tab-group {
    height: 100%;
    display: block;
  }

  .mat-tab-body-wrapper {
    height: calc(100% - 49px);
  }

  .test-entity-intent-wrap {
    height: 40%;
    font-size: 0;

    .test-wrap {
      width: calc(50% - 52px);
      display: inline-block;
      vertical-align: top;
      height: calc(100% - 40px);

      .test-title-wrap {
        border-bottom: $content-title-border;
      }
    }

    .test-entity-wrap {
      margin-right: 20px;
    }
  }
}

.test-title-wrap {
  width: 100%;
  height: 26px;
  padding-bottom: 5px;

  .test-title {
    font-size: $font-title;
    display: inline-block;
    color: $title-color;
  }

  .test-btn-wrap {
    float: right;
    display: inline-block;

    i {
      font-size: $font-title;
      color: $main-color;
      cursor: pointer;
      margin-left: 2px;
    }
  }
}

.info {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.content-etc-log {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.test-task-wrap {
  height: calc(60% - 63px);
  width: calc(100% - 42px);
  margin: 0 auto 20px;

  .test-content-wrap {
    width: 100%;
    height: calc(100% - 47px);
    margin: 10px 0 5px;
    border-radius: 15px;
    border: $content-title-border;
  }
}

.test-entity-intent-container {
  width: 100%;
  overflow: hidden;
  height: calc(100% - 32px);

  .mat-header-row {
    height: 40px;
    min-height: 40px;

    .mat-header-cell {
      font-size: 15px;
    }
  }

  .table-content-lists {
    overflow: auto;
    height: calc(100% - 35px);

    .mat-row {
      height: 30px;
      min-height: 30px;
    }

    .mat-cell {
      color: #bdbdbd;
    }
  }
}

.test-log-wrap {
  width: calc(100% - 42px);
  height: calc(100% - 44px);

  .test-log-container {
    width: 100%;
    overflow: auto;
    margin: 10px 0 0;
    height: calc(100% - 42px);
  }

  .test-log {
    width: calc(100% - 12px);
    margin-right: 10px;
  }
}

/* END Home style*/
