<p-growl [(value)]="msgs"></p-growl>

<div class="default-content-wrap test-section">
  <div class="default-content-container">
    <div class="content-header">
      <div class="content-header-title">
        <div class="header-title">Dialog Model Test</div>
        <div class="progress-content-wrap train-progress-bar" *ngIf="visibleTraining">
          <div class="progress-content-title">Train Progress:</div>
          <p-progressBar [value]="value" styleClass="progress-content-bar"></p-progressBar>
          <div class="progress-content-status">{{value}}%</div>
          <div class="title-button-wrap">
            <button mat-raised-button color="primary" class="btn-title" (click)="stopTraining()"
                    *ngIf="isTraining">Cancel
            </button>
          </div>
        </div>
        <div class="title-button-wrap">
          <button mat-raised-button [color]="isLogOn ? 'primary' : 'default'" class="btn-title"
                  (click)="moveLog()">
            <i class="material-icons">description</i>Log
          </button>
        </div>
      </div>
    </div>
    <div class="content-wrap">
      <div class="content-container">
        <div class="content-chatting-wrap test-wrap">
          <app-chatbot
            #dialogTestChatbot
            [messageQueue]="testMessages"
            [isConversationOpened]="isConversationOpened"
            (sendMessageHandler)="willSendMessage($event)">
          </app-chatbot>
        </div>
        <div class="content-etc-wrap">
          <div class="info">
            <div class="test-task-wrap test-wrap">
              <div class="test-title-wrap">
                <div class="test-title">Tasks</div>
                <div class="test-btn-wrap">
                  <i class="material-icons" (click)="moveTask()">settings</i>
                </div>
              </div>
              <div #dialogModelTaskContainer class="test-content-wrap"></div>
            </div>
            <div class="test-entity-intent-wrap">
              <div class="test-intent-wrap test-wrap">
                <div class="test-title-wrap">
                  <div class="test-title">Intents</div>
                  <div class="test-btn-wrap">
                    <i class="material-icons" (click)="moveIntent()">settings</i>
                  </div>
                </div>
                <div class="test-content-wrap test-entity-intent-container">
                  <mat-table>
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef>Intent</mat-header-cell>
                    </ng-container>
                    <ng-container matColumnDef="value">
                      <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  </mat-table>
                  <mat-table #intentTable [dataSource]="intentDataSource"
                             class="table-content-lists">
                    <ng-container matColumnDef="name">
                      <mat-cell *matCellDef="let element;"> {{element.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="value">
                      <mat-cell *matCellDef="let element;"> {{element.value}} </mat-cell>
                    </ng-container>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
              </div>
              <div class="test-entity-wrap test-wrap">
                <div class="test-title-wrap">
                  <div class="test-title">Entities</div>
                  <div class="test-btn-wrap">
                    <i class="material-icons" (click)="moveEntity()">settings</i>
                  </div>
                </div>
                <div class="test-content-wrap test-entity-intent-container">
                  <mat-table>
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef>Entity</mat-header-cell>
                    </ng-container>
                    <ng-container matColumnDef="value">
                      <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  </mat-table>
                  <mat-table #entityTable [dataSource]="entitiesDataSource"
                             class="table-content-lists">
                    <ng-container matColumnDef="name">
                      <mat-cell *matCellDef="let element;"> {{element.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="value">
                      <mat-cell *matCellDef="let element;"> {{element.value}} </mat-cell>
                    </ng-container>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
              </div>
            </div>
          </div>
          <div class="content-etc-log" style="display:none;">
            <div class="test-log-wrap test-wrap">
              <div class="test-title-wrap">
                <div class="test-title">Dialog</div>
                <div class="test-btn-wrap">
                  <i class="material-icons" (click)="downloadLog()">file_download</i>
                </div>
              </div>
              <div #logContainer class="test-content-wrap test-log-container">
                <div class="test-log" [innerHtml]="errorLog"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

